{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Asset API",
    "description": "The API for the Rapidata Asset service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/asset/compress": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Compresses an uploaded image and returns the WebP result.",
        "description": "Compression metrics are returned in response headers: X-Original-Size, X-Compressed-Size,\n X-Processing-Time-Ms, X-Original-Dimensions, X-Output-Dimensions.",
        "parameters": [
          {
            "name": "library",
            "in": "query",
            "description": "The compression library to use.",
            "schema": {
              "$ref": "#/components/schemas/CompressionLibrary"
            }
          },
          {
            "name": "quality",
            "in": "query",
            "description": "The compression quality from 1 to 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 85
            }
          },
          {
            "name": "maxdim",
            "in": "query",
            "description": "The maximum dimension (width or height) of the output image.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 800
            }
          }
        ],
        "requestBody": {
          "description": "The image file to compress.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/asset/file": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Uploads a file to our system and returns the new file name used internally.",
        "requestBody": {
          "description": "The file to upload",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/asset/url": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Downloads a file from the provided URL, stores it in our system and returns the new file name used internally.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The url of the file to upload.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileFromUrlEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/asset/batch-upload/{batchUploadId}/abort": {
      "post": {
        "tags": [
          "BatchUpload"
        ],
        "summary": "Aborts the specified batch upload.",
        "description": "URLs already processed will not be reverted. Only remaining URLs are prevented from processing.",
        "parameters": [
          {
            "name": "batchUploadId",
            "in": "path",
            "description": "The identifier of the batch upload to abort.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/asset/batch-upload": {
      "post": {
        "tags": [
          "BatchUpload"
        ],
        "summary": "Creates a batch upload and queues processing for each URL.",
        "description": "Each URL is processed asynchronously. Use the batch upload status or result endpoints to track progress.",
        "requestBody": {
          "description": "The list of URLs to include in the batch upload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchUploadEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBatchUploadEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/asset/batch-upload/{batchUploadId}": {
      "get": {
        "tags": [
          "BatchUpload"
        ],
        "summary": "Gets the full result of a batch upload including all items.",
        "parameters": [
          {
            "name": "batchUploadId",
            "in": "path",
            "description": "The identifier of the batch upload to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBatchUploadResultEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/asset/batch-upload/status": {
      "get": {
        "tags": [
          "BatchUpload"
        ],
        "summary": "Gets aggregated status for batch uploads identified by IDs or a correlation ID.",
        "parameters": [
          {
            "name": "batchUploadIds",
            "in": "query",
            "description": "The identifiers of the batch uploads to query.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "correlationId",
            "in": "query",
            "description": "A client-supplied identifier to look up related batch uploads.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBatchUploadStatusEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BatchUploadStatus": {
        "enum": [
          "Processing",
          "Completed",
          "Aborted"
        ]
      },
      "BatchUploadUrlStatus": {
        "enum": [
          "Pending",
          "Completed",
          "Failed"
        ]
      },
      "CompressionLibrary": {
        "enum": [
          "ImageSharp",
          "NetVips"
        ]
      },
      "CreateBatchUploadEndpoint_Input": {
        "required": [
          "urls"
        ],
        "type": "object",
        "properties": {
          "urls": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                }
              }
            ],
            "description": "The URLs to download and process."
          },
          "correlationId": {
            "type": "string",
            "description": "Optional client-supplied identifier to group related batch uploads.",
            "nullable": true
          }
        }
      },
      "CreateBatchUploadEndpoint_Output": {
        "required": [
          "batchUploadId"
        ],
        "type": "object",
        "properties": {
          "batchUploadId": {
            "type": "string",
            "description": "The identifier of the created batch upload."
          }
        }
      },
      "GetBatchUploadResultEndpoint_Output": {
        "required": [
          "batchUploadId",
          "status",
          "totalCount",
          "completedCount",
          "failedCount",
          "items"
        ],
        "type": "object",
        "properties": {
          "batchUploadId": {
            "type": "string",
            "description": "The identifier of the batch upload."
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BatchUploadStatus"
              }
            ],
            "description": "The current status of the batch upload."
          },
          "totalCount": {
            "type": "integer",
            "description": "The total number of URLs in the batch.",
            "format": "int32"
          },
          "completedCount": {
            "type": "integer",
            "description": "The number of URLs that have been successfully processed.",
            "format": "int32"
          },
          "failedCount": {
            "type": "integer",
            "description": "The number of URLs that failed to process.",
            "format": "int32"
          },
          "items": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetBatchUploadResultEndpoint_UrlOutput"
                }
              }
            ],
            "description": "The individual results for each URL in the batch."
          }
        }
      },
      "GetBatchUploadResultEndpoint_UrlOutput": {
        "required": [
          "url",
          "status"
        ],
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "fileName": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/BatchUploadUrlStatus"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GetBatchUploadStatusEndpoint_Output": {
        "required": [
          "status",
          "totalCount",
          "completedCount",
          "failedCount",
          "completedBatches"
        ],
        "type": "object",
        "properties": {
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BatchUploadStatus"
              }
            ],
            "description": "The aggregated status across all queried batch uploads."
          },
          "totalCount": {
            "type": "integer",
            "description": "The total number of URLs across all queried batches.",
            "format": "int32"
          },
          "completedCount": {
            "type": "integer",
            "description": "The number of URLs that have been successfully processed.",
            "format": "int32"
          },
          "failedCount": {
            "type": "integer",
            "description": "The number of URLs that failed to process.",
            "format": "int32"
          },
          "completedBatches": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The identifiers of batch uploads that have fully completed."
          }
        }
      },
      "IFormFile": {
        "type": "string",
        "format": "binary"
      },
      "UploadFileEndpoint_Output": {
        "required": [
          "fileName",
          "warnings",
          "wasCompressed"
        ],
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "description": "The generated file name used internally to reference the uploaded asset.\n This is not the original file name and should be used for all subsequent operations on this asset."
          },
          "warnings": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Any warnings that might have occurred during the upload."
          },
          "wasCompressed": {
            "type": "boolean",
            "description": "Whether the uploaded file was compressed during processing."
          },
          "originalSizeBytes": {
            "type": "integer",
            "description": "The original size of the uploaded file in bytes, if available. This may be null if the size could not be determined.",
            "format": "int64"
          },
          "finalSizeBytes": {
            "type": "integer",
            "description": "The final size of the stored file in bytes after processing (e.g., compression), if available.\n This may be null if the size could not be determined. If compression was applied, this size may be smaller than the original size.",
            "format": "int64"
          }
        }
      },
      "UploadFileFromUrlEndpoint_Output": {
        "required": [
          "fileName",
          "warnings",
          "wasCompressed"
        ],
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "description": "The generated file name used internally to reference the uploaded asset.\n This is not the original file name and should be used for all subsequent operations on this asset."
          },
          "warnings": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Any warnings that might have occurred during the upload."
          },
          "wasCompressed": {
            "type": "boolean",
            "description": "Whether the uploaded file was compressed during processing."
          },
          "originalSizeBytes": {
            "type": "integer",
            "description": "The original size of the uploaded file in bytes, if available. This may be null if the size could not be determined.",
            "format": "int64"
          },
          "finalSizeBytes": {
            "type": "integer",
            "description": "The final size of the stored file in bytes after processing (e.g., compression), if available.\n This may be smaller than the original size if compression was applied.",
            "format": "int64"
          }
        }
      },
      "ValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "JWT Authorization header using the Bearer scheme",
        "scheme": "bearer",
        "bearerFormat": "Json Web Token"
      },
      "OpenIdConnect": {
        "type": "openIdConnect",
        "description": "OpenId Connect connection flow",
        "openIdConnectUrl": "https://auth.rabbitdata.ch/.well-known/openid-configuration"
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth2 authorization header using the Bearer scheme",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.rabbitdata.ch/connect/authorize",
            "tokenUrl": "https://auth.rabbitdata.ch/connect/token",
            "refreshUrl": "https://auth.rabbitdata.ch/connect/token",
            "scopes": {
              "openid": "OpenID",
              "profile": "Profile",
              "email": "Email"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "Bearer": [ ],
      "OpenIdConnect": [
        "openid",
        "profile",
        "email"
      ],
      "OAuth2": [
        "openid",
        "profile",
        "email"
      ]
    }
  ]
}