{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Audience API",
    "description": "The API for the Rapidata Audience service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/audience/{audienceId}/owner": {
      "patch": {
        "tags": [
          "Audience"
        ],
        "summary": "Changes the owner of the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The new owner information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAudienceOwnerEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Creates a new empty audience.",
        "requestBody": {
          "description": "The properties of the audience to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAudienceEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAudienceEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}": {
      "delete": {
        "tags": [
          "Audience"
        ],
        "summary": "Deletes the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Returns the audience with the specified id.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Audience"
        ],
        "summary": "Patches an existing audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The audience properties to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAudienceEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAudienceEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/state-recalculation/{recalculationId}": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Returns the audience state recalculation with the given id.",
        "parameters": [
          {
            "name": "recalculationId",
            "in": "path",
            "description": "The unique identifier of the recalculation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceStateRecalculationByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}/user-metrics": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Gets the count of users in each state for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceUserStateMetricsResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}/state-recalculation": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Returns the most recent audience state recalculation for the given audience, regardless of state.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLatestAudienceStateRecalculationEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}/initialize-users": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Uploads a CSV file containing user IDs and scores, then processes it in the background\n to seed the audience with those users.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience to initialize.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A CSV file with columns: userId, score.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}/pause-distillation": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Pauses the distillation campaign for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}/jobs": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Queries jobs for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "created_at",
                  "-created_at",
                  "status",
                  "-status"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "job_id",
            "in": "query",
            "description": "Filter by job_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "definition_id",
            "in": "query",
            "description": "Filter by definition_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryJobsResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audiences": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Queries all audiences visible to the caller.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "created_at",
                  "-created_at",
                  "status",
                  "-status",
                  "qualified_user_count",
                  "-qualified_user_count"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "is_public",
            "in": "query",
            "description": "Filter by is_public.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "is_distilling",
            "in": "query",
            "description": "Filter by is_distilling.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_mail",
            "in": "query",
            "description": "Filter by owner_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryAudiencesEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}/rebuild-distilling-campaign": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Rebuilds the distilling campaign for the specified audience.",
        "description": "Recalculates campaign filters and selections based on the audience's current settings\n (demographic filters, exit conditions, etc.).",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}/recreate-external-audiences": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Recreates external audiences for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Configuration for which external audiences to recreate.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecreateExternalAudiencesEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}/resume-distillation": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Resumes the distillation campaign for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}/recruit": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Starts recruiting users for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}/boost-config": {
      "patch": {
        "tags": [
          "Audience"
        ],
        "summary": "Updates the boost configuration for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The boost configuration values to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBoostConfigEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBoostConfigEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}/example": {
      "post": {
        "tags": [
          "Examples"
        ],
        "summary": "Adds a new example to an audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The example data to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddExampleToAudienceEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddExampleToAudienceEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/example/{exampleId}": {
      "delete": {
        "tags": [
          "Examples"
        ],
        "summary": "Deletes the specified audience example.",
        "parameters": [
          {
            "name": "exampleId",
            "in": "path",
            "description": "The unique identifier of the example to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAudienceExampleEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}/examples": {
      "get": {
        "tags": [
          "Examples"
        ],
        "summary": "Queries all examples for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "sort_index",
                  "-sort_index"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "Filter by visibility.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "is_common_sense",
            "in": "query",
            "description": "Filter by is_common_sense.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryExamplesForAudienceEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audience/{audienceId}/example/{exampleId}": {
      "patch": {
        "tags": [
          "Examples"
        ],
        "summary": "Updates an example's properties within an audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exampleId",
            "in": "path",
            "description": "The unique identifier of the example to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The example properties to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAudienceExampleEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddExampleToAudienceEndpoint_Input": {
        "required": [
          "asset",
          "payload",
          "randomCorrectProbability"
        ],
        "type": "object",
        "properties": {
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAssetInput"
              }
            ],
            "description": "The asset to use for the example."
          },
          "payload": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IExamplePayload"
              }
            ],
            "description": "The payload to use for the example."
          },
          "truth": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IExampleTruth"
              }
            ],
            "description": "The ground truth for the example."
          },
          "randomCorrectProbability": {
            "type": "number",
            "description": "The probability for an answer to be correct when randomly guessing.",
            "format": "double"
          },
          "explanation": {
            "type": "string",
            "description": "An explanation for the users if they answer the example incorrectly.",
            "nullable": true
          },
          "context": {
            "type": "string",
            "description": "An optional textual context that provides additional information to the user.",
            "nullable": true
          },
          "contextAsset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAssetInput"
              }
            ],
            "description": "An optional asset that provides additional context to the user."
          },
          "sortIndex": {
            "type": "integer",
            "description": "The sort index that controls the serving order of this example within the audience.\n When null, the next sort index is automatically calculated.",
            "format": "int32"
          },
          "featureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                },
                "nullable": true
              }
            ],
            "description": "The feature flags to enable for the example."
          },
          "isCommonSense": {
            "type": "boolean",
            "description": "Whether this example should be treated as commonsense validation.\n When true, incorrect answers are not accepted and the example affects global score.\n When null, AI auto-detection will determine if the example is common sense.",
            "nullable": true
          },
          "visibility": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ExampleVisibility"
              }
            ],
            "description": "Controls who can see this example. Public examples are visible to all customers.\n Private examples are only visible to the customer who created them and admins.\n Defaults to Private."
          }
        },
        "description": "Input model for adding an example to an audience."
      },
      "AddExampleToAudienceEndpoint_Output": {
        "type": "object",
        "properties": {
          "recalculationId": {
            "type": "string",
            "description": "The id of the audience state recalculation dispatched as a result of adding this example.\n Null when the example addition cannot transition any user's state (e.g. the audience\n already has more examples than MaxDistillingResponses + 1).",
            "nullable": true
          }
        }
      },
      "AudienceJobState": {
        "enum": [
          "Submitted",
          "Running",
          "Completed",
          "Failed",
          "ManualApproval"
        ]
      },
      "AudienceStateRecalculationPhase": {
        "enum": [
          "RecalculatingUsers",
          "Finalizing",
          "Done"
        ]
      },
      "AudienceStateRecalculationState": {
        "enum": [
          "Pending",
          "Processing",
          "Completed",
          "Failed",
          "Aborted"
        ]
      },
      "AudienceStatus": {
        "enum": [
          "Created",
          "Pending",
          "Recruiting",
          "Ready"
        ]
      },
      "BoostLevel": {
        "enum": [
          "None",
          "Stable",
          "Distilling",
          "Global"
        ]
      },
      "ChangeAudienceOwnerEndpoint_Input": {
        "required": [
          "ownerId",
          "ownerMail"
        ],
        "type": "object",
        "properties": {
          "ownerId": {
            "type": "string",
            "description": "The unique identifier of the new owner.",
            "format": "uuid"
          },
          "ownerMail": {
            "type": "string",
            "description": "The email address of the new owner."
          }
        }
      },
      "CreateAudienceEndpoint_Input": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name to give the newly created audience."
          },
          "description": {
            "type": "string",
            "description": "An optional markdown-supported description of the audience's purpose.",
            "nullable": true
          },
          "filters": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IAudienceFilter"
                },
                "nullable": true
              }
            ],
            "description": "The filters to apply to any orders created for this audience.\n A filter can be used to restrict the audience to a specific subset of users."
          },
          "graduationScore": {
            "type": "number",
            "description": "The score used to determine whether a user graduates from the distilling campaign.",
            "format": "double"
          },
          "demotionScore": {
            "type": "number",
            "description": "Score below which a graduated user is demoted back to distilling.\n Must be less than or equal to GraduationScore. Defaults to null (uses GraduationScore).",
            "format": "double"
          },
          "minimumSizeForActivation": {
            "type": "integer",
            "description": "The minimum number of users required for an audience to be activated.",
            "format": "int64"
          },
          "logo": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ExistingAssetInput"
              }
            ],
            "description": "An optional logo image for the audience. Must be an existing image asset."
          },
          "maxDistillingResponses": {
            "type": "integer",
            "description": "Maximum responses before user exits the distilling campaign.\n Defaults to 10. Set to null to disable this exit condition.",
            "format": "uint32"
          },
          "dropMinResponses": {
            "type": "integer",
            "description": "Minimum responses before the drop score check applies.\n Users need at least this many responses before they can be kicked out for low score.\n Defaults to 3. Set to null to apply drop score check from the first response.",
            "format": "uint32"
          },
          "dropScore": {
            "type": "number",
            "description": "Score floor - users below this score exit the distilling campaign\n (only after completing DropMinResponses).\n Defaults to 0.2. Set to null to disable this exit condition.",
            "format": "double"
          },
          "isDistillingCampaignSticky": {
            "type": "boolean",
            "description": "Whether the distilling campaign should be sticky (users stay until filters don't match).\n Defaults to true (Temporary sticky)."
          },
          "maxDistillingSessions": {
            "type": "integer",
            "description": "Maximum sessions (rapid retrievals) before user exits the distilling campaign.\n Defaults to null (disabled). Set to a value to enable session-based exit condition.",
            "format": "uint32"
          },
          "inactivityDropDays": {
            "type": "integer",
            "description": "Number of days of inactivity before a distilling user is dropped.\n Defaults to null (disabled).",
            "format": "uint32"
          },
          "minSubmissionRate": {
            "type": "number",
            "description": "Minimum submission rate (responses / sessions) before a user is dropped.\n Defaults to null (disabled).",
            "format": "double"
          },
          "minSessionsForSubmissionRate": {
            "type": "integer",
            "description": "Minimum number of sessions before the submission rate check applies.\n Defaults to null (applies from first session).",
            "format": "uint32"
          },
          "minSubmissionRateGraduated": {
            "type": "number",
            "description": "Minimum submission rate for graduated users. If null, MinSubmissionRate applies to graduated users.\n Set a lower value to be more lenient with graduated users.",
            "format": "double"
          },
          "distillingRetrievalMode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DistillingRetrievalMode"
              }
            ],
            "description": "The retrieval mode used by the distilling campaign to select rapids for users.\n Defaults to Shuffled."
          },
          "minDistillingForGlobalBoost": {
            "type": "integer",
            "description": "Minimum distilling users before disabling global boost.\n Defaults to 200. Admin-only override.",
            "format": "int32"
          },
          "minGraduatedForDistillingBoost": {
            "type": "integer",
            "description": "Minimum graduated users before disabling distilling boost.\n Defaults to 100. Admin-only override.",
            "format": "int32"
          }
        }
      },
      "CreateAudienceEndpoint_Output": {
        "required": [
          "audienceId"
        ],
        "type": "object",
        "properties": {
          "audienceId": {
            "type": "string",
            "description": "The unique identifier of the newly created audience."
          }
        }
      },
      "DeleteAudienceExampleEndpoint_Output": {
        "type": "object",
        "properties": {
          "recalculationId": {
            "type": "string",
            "description": "The id of the audience state recalculation dispatched as a result of this deletion.\n Null when the deletion cannot transition any user's state (e.g. the audience still has\n more examples than MaxDistillingResponses + 1 after the delete).",
            "nullable": true
          }
        }
      },
      "DistillingRetrievalMode": {
        "enum": [
          "Random",
          "Shuffled",
          "Sequential"
        ]
      },
      "ExampleBoxShape": {
        "type": "object",
        "properties": {
          "xMin": {
            "type": "number",
            "format": "double"
          },
          "yMin": {
            "type": "number",
            "format": "double"
          },
          "xMax": {
            "type": "number",
            "format": "double"
          },
          "yMax": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ExampleCategory": {
        "required": [
          "label",
          "value"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "ExampleScrubRange": {
        "required": [
          "start",
          "end"
        ],
        "type": "object",
        "properties": {
          "start": {
            "type": "integer",
            "format": "int32"
          },
          "end": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ExampleTranscriptionWord": {
        "required": [
          "word",
          "wordIndex"
        ],
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "wordIndex": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ExampleVisibility": {
        "enum": [
          "Private",
          "Public"
        ]
      },
      "ExistingAssetInput": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ]
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "FeatureFlag": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "FileType": {
        "enum": [
          "Unknown",
          "Image",
          "Video",
          "Audio"
        ]
      },
      "GetAudienceByIdEndpoint_Output": {
        "required": [
          "id",
          "name",
          "status",
          "qualifiedUserCount",
          "filters",
          "createdAt",
          "ownerMail",
          "isPublic",
          "isDistilling",
          "distillingCampaignId",
          "graduationScore",
          "distillingRetrievalMode",
          "boostLevel"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the audience."
          },
          "name": {
            "type": "string",
            "description": "The name of the audience."
          },
          "description": {
            "type": "string",
            "description": "The markdown-supported description of the audience.",
            "nullable": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AudienceStatus"
              }
            ],
            "description": "The current status of the audience."
          },
          "qualifiedUserCount": {
            "type": "integer",
            "description": "The number of users that have qualified for this audience.",
            "format": "int64"
          },
          "filters": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IAudienceFilter"
                }
              }
            ],
            "description": "The filters applied to this audience."
          },
          "logo": {
            "type": "string",
            "description": "The URL of the audience logo, if any.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the audience was created.",
            "format": "date-time"
          },
          "ownerMail": {
            "type": "string",
            "description": "The email of the audience owner."
          },
          "isPublic": {
            "type": "boolean",
            "description": "Whether the audience is publicly visible."
          },
          "isDistilling": {
            "type": "boolean",
            "description": "Whether the audience is currently distilling users."
          },
          "distillingCampaignId": {
            "type": "string",
            "description": "The id of the distilling campaign associated with the audience."
          },
          "minGraduatedForDistillingBoost": {
            "type": "integer",
            "description": "Minimum graduated users before disabling distilling boost.",
            "format": "int32"
          },
          "minDistillingForGlobalBoost": {
            "type": "integer",
            "description": "Minimum distilling users before disabling global boost.",
            "format": "int32"
          },
          "graduationScore": {
            "type": "number",
            "description": "The score used to determine whether a user graduates from the distilling campaign.",
            "format": "double"
          },
          "demotionScore": {
            "type": "number",
            "description": "Score below which a graduated user is demoted back to distilling.",
            "format": "double"
          },
          "maxDistillingResponses": {
            "type": "integer",
            "description": "Maximum responses before user exits the distilling campaign.",
            "format": "uint32"
          },
          "dropMinResponses": {
            "type": "integer",
            "description": "Minimum responses before the drop score check applies.",
            "format": "uint32"
          },
          "dropScore": {
            "type": "number",
            "description": "Score floor - users below this score exit the distilling campaign.",
            "format": "double"
          },
          "maxDistillingSessions": {
            "type": "integer",
            "description": "Maximum sessions before user exits the distilling campaign.",
            "format": "uint32"
          },
          "inactivityDropDays": {
            "type": "integer",
            "description": "Number of days of inactivity before a distilling user is dropped.",
            "format": "uint32"
          },
          "minSubmissionRate": {
            "type": "number",
            "description": "Minimum submission rate before a user is dropped.",
            "format": "double"
          },
          "minSessionsForSubmissionRate": {
            "type": "integer",
            "description": "Minimum number of sessions before the submission rate check applies.",
            "format": "uint32"
          },
          "minSubmissionRateGraduated": {
            "type": "number",
            "description": "Minimum submission rate for graduated users.",
            "format": "double"
          },
          "distillingRetrievalMode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DistillingRetrievalMode"
              }
            ],
            "description": "The retrieval mode used by the distilling campaign to select rapids for users."
          },
          "boostLevel": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostLevel"
              }
            ],
            "description": "The current boost level applied to the audience."
          },
          "randomAdmissionProbability": {
            "type": "number",
            "description": "The probability of admitting a random user to the audience.",
            "format": "double"
          },
          "health": {
            "type": "number",
            "description": "The health score of the audience.",
            "format": "double"
          },
          "graduated": {
            "type": "integer",
            "description": "The number of graduated users.",
            "format": "int64"
          },
          "dropped": {
            "type": "integer",
            "description": "The number of dropped users.",
            "format": "int64"
          }
        }
      },
      "GetAudienceStateRecalculationByIdEndpoint_Output": {
        "required": [
          "id",
          "audienceId",
          "state",
          "phase",
          "processedCount",
          "changedCount",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the recalculation."
          },
          "audienceId": {
            "type": "string",
            "description": "The audience this recalculation belongs to."
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AudienceStateRecalculationState"
              }
            ],
            "description": "The current state of the recalculation."
          },
          "phase": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AudienceStateRecalculationPhase"
              }
            ],
            "description": "The current phase within the recalculation lifecycle."
          },
          "lastProcessedUserId": {
            "type": "string",
            "description": "The id of the last user that was processed (progress cursor).",
            "nullable": true
          },
          "processedCount": {
            "type": "integer",
            "description": "The number of users processed so far.",
            "format": "int64"
          },
          "changedCount": {
            "type": "integer",
            "description": "The number of users whose state was changed by the recalculation.",
            "format": "int64"
          },
          "errorMessage": {
            "type": "string",
            "description": "Error message populated when the recalculation transitioned to Failed.",
            "nullable": true
          },
          "startedAt": {
            "type": "string",
            "description": "When the recalculation began processing (null while still Pending).",
            "format": "date-time",
            "nullable": true
          },
          "lastHeartbeatAt": {
            "type": "string",
            "description": "Timestamp of the last heartbeat received from the worker.",
            "format": "date-time",
            "nullable": true
          },
          "completedAt": {
            "type": "string",
            "description": "When the recalculation reached a terminal state (Completed, Failed, Aborted).",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "When the recalculation was created.",
            "format": "date-time"
          }
        }
      },
      "GetAudienceUserStateMetricsResult": {
        "required": [
          "usersPerState"
        ],
        "type": "object",
        "properties": {
          "usersPerState": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "GetLatestAudienceStateRecalculationEndpoint_Output": {
        "required": [
          "id",
          "audienceId",
          "state",
          "phase",
          "processedCount",
          "changedCount",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the recalculation."
          },
          "audienceId": {
            "type": "string",
            "description": "The audience this recalculation belongs to."
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AudienceStateRecalculationState"
              }
            ],
            "description": "The current state of the recalculation."
          },
          "phase": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AudienceStateRecalculationPhase"
              }
            ],
            "description": "The current phase within the recalculation lifecycle."
          },
          "lastProcessedUserId": {
            "type": "string",
            "description": "The id of the last user that was processed (progress cursor).",
            "nullable": true
          },
          "processedCount": {
            "type": "integer",
            "description": "The number of users processed so far.",
            "format": "int64"
          },
          "changedCount": {
            "type": "integer",
            "description": "The number of users whose state was changed by the recalculation.",
            "format": "int64"
          },
          "errorMessage": {
            "type": "string",
            "description": "Error message populated when the recalculation transitioned to Failed.",
            "nullable": true
          },
          "startedAt": {
            "type": "string",
            "description": "When the recalculation began processing (null while still Pending).",
            "format": "date-time",
            "nullable": true
          },
          "lastHeartbeatAt": {
            "type": "string",
            "description": "Timestamp of the last heartbeat received from the worker.",
            "format": "date-time",
            "nullable": true
          },
          "completedAt": {
            "type": "string",
            "description": "When the recalculation reached a terminal state (Completed, Failed, Aborted).",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "When the recalculation was created.",
            "format": "date-time"
          }
        }
      },
      "IAssetInput": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IAssetInputExistingAssetInput"
          },
          {
            "$ref": "#/components/schemas/IAssetInputMultiAssetInput"
          },
          {
            "$ref": "#/components/schemas/IAssetInputTextAssetInput"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ExistingAssetInput": "#/components/schemas/IAssetInputExistingAssetInput",
            "MultiAssetInput": "#/components/schemas/IAssetInputMultiAssetInput",
            "TextAssetInput": "#/components/schemas/IAssetInputTextAssetInput"
          }
        }
      },
      "IAssetInputExistingAssetInput": {
        "required": [
          "name",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ExistingAssetInput"
            ],
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ]
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetInputMultiAssetInput": {
        "required": [
          "assets",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "MultiAssetInput"
            ],
            "type": "string"
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAssetInput"
            }
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ]
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetInputTextAssetInput": {
        "required": [
          "text",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextAssetInput"
            ],
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ]
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IAssetModelFileAssetModel"
          },
          {
            "$ref": "#/components/schemas/IAssetModelMultiAssetModel"
          },
          {
            "$ref": "#/components/schemas/IAssetModelNullAssetModel"
          },
          {
            "$ref": "#/components/schemas/IAssetModelTextAssetModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "FileAsset": "#/components/schemas/IAssetModelFileAssetModel",
            "MultiAsset": "#/components/schemas/IAssetModelMultiAssetModel",
            "NullAsset": "#/components/schemas/IAssetModelNullAssetModel",
            "TextAsset": "#/components/schemas/IAssetModelTextAssetModel"
          }
        }
      },
      "IAssetModelFileAssetModel": {
        "required": [
          "fileName",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileAsset"
            ],
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetModelMultiAssetModel": {
        "required": [
          "assets",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "MultiAsset"
            ],
            "type": "string"
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAssetModel"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetModelNullAssetModel": {
        "required": [
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NullAsset"
            ],
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetModelTextAssetModel": {
        "required": [
          "text",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextAsset"
            ],
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAudienceFilter": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IAudienceFilterAndAudienceFilter"
          },
          {
            "$ref": "#/components/schemas/IAudienceFilterCountryAudienceFilter"
          },
          {
            "$ref": "#/components/schemas/IAudienceFilterLanguageAudienceFilter"
          },
          {
            "$ref": "#/components/schemas/IAudienceFilterNotAudienceFilter"
          },
          {
            "$ref": "#/components/schemas/IAudienceFilterOrAudienceFilter"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "AndFilter": "#/components/schemas/IAudienceFilterAndAudienceFilter",
            "CountryFilter": "#/components/schemas/IAudienceFilterCountryAudienceFilter",
            "LanguageFilter": "#/components/schemas/IAudienceFilterLanguageAudienceFilter",
            "NotFilter": "#/components/schemas/IAudienceFilterNotAudienceFilter",
            "OrFilter": "#/components/schemas/IAudienceFilterOrAudienceFilter"
          }
        }
      },
      "IAudienceFilterAndAudienceFilter": {
        "required": [
          "filters",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AndFilter"
            ],
            "type": "string"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAudienceFilter"
            }
          }
        }
      },
      "IAudienceFilterCountryAudienceFilter": {
        "required": [
          "countries",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CountryFilter"
            ],
            "type": "string"
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IAudienceFilterLanguageAudienceFilter": {
        "required": [
          "languages",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LanguageFilter"
            ],
            "type": "string"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IAudienceFilterNotAudienceFilter": {
        "required": [
          "filter",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NotFilter"
            ],
            "type": "string"
          },
          "filter": {
            "$ref": "#/components/schemas/IAudienceFilter"
          }
        }
      },
      "IAudienceFilterOrAudienceFilter": {
        "required": [
          "filters",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OrFilter"
            ],
            "type": "string"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAudienceFilter"
            }
          }
        }
      },
      "IExamplePayload": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IExamplePayloadClassifyExamplePayload"
          },
          {
            "$ref": "#/components/schemas/IExamplePayloadCompareExamplePayload"
          },
          {
            "$ref": "#/components/schemas/IExamplePayloadLineExamplePayload"
          },
          {
            "$ref": "#/components/schemas/IExamplePayloadLocateExamplePayload"
          },
          {
            "$ref": "#/components/schemas/IExamplePayloadScrubExamplePayload"
          },
          {
            "$ref": "#/components/schemas/IExamplePayloadTranscriptionExamplePayload"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ClassifyExamplePayload": "#/components/schemas/IExamplePayloadClassifyExamplePayload",
            "CompareExamplePayload": "#/components/schemas/IExamplePayloadCompareExamplePayload",
            "LineExamplePayload": "#/components/schemas/IExamplePayloadLineExamplePayload",
            "LocateExamplePayload": "#/components/schemas/IExamplePayloadLocateExamplePayload",
            "ScrubExamplePayload": "#/components/schemas/IExamplePayloadScrubExamplePayload",
            "TranscriptionExamplePayload": "#/components/schemas/IExamplePayloadTranscriptionExamplePayload"
          }
        }
      },
      "IExamplePayloadClassifyExamplePayload": {
        "required": [
          "categories",
          "title",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassifyExamplePayload"
            ],
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExampleCategory"
            }
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IExamplePayloadCompareExamplePayload": {
        "required": [
          "criteria",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareExamplePayload"
            ],
            "type": "string"
          },
          "criteria": {
            "type": "string"
          }
        }
      },
      "IExamplePayloadLineExamplePayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LineExamplePayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IExamplePayloadLocateExamplePayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocateExamplePayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IExamplePayloadScrubExamplePayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ScrubExamplePayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IExamplePayloadTranscriptionExamplePayload": {
        "required": [
          "title",
          "transcription",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TranscriptionExamplePayload"
            ],
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "transcription": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExampleTranscriptionWord"
            }
          }
        }
      },
      "IExampleTruth": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IExampleTruthClassifyExampleTruth"
          },
          {
            "$ref": "#/components/schemas/IExampleTruthCompareExampleTruth"
          },
          {
            "$ref": "#/components/schemas/IExampleTruthLineExampleTruth"
          },
          {
            "$ref": "#/components/schemas/IExampleTruthLocateExampleTruth"
          },
          {
            "$ref": "#/components/schemas/IExampleTruthScrubExampleTruth"
          },
          {
            "$ref": "#/components/schemas/IExampleTruthTranscriptionExampleTruth"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ClassifyExampleTruth": "#/components/schemas/IExampleTruthClassifyExampleTruth",
            "CompareExampleTruth": "#/components/schemas/IExampleTruthCompareExampleTruth",
            "LineExampleTruth": "#/components/schemas/IExampleTruthLineExampleTruth",
            "LocateExampleTruth": "#/components/schemas/IExampleTruthLocateExampleTruth",
            "ScrubExampleTruth": "#/components/schemas/IExampleTruthScrubExampleTruth",
            "TranscriptionExampleTruth": "#/components/schemas/IExampleTruthTranscriptionExampleTruth"
          }
        }
      },
      "IExampleTruthClassifyExampleTruth": {
        "required": [
          "correctCategories",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassifyExampleTruth"
            ],
            "type": "string"
          },
          "correctCategories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IExampleTruthCompareExampleTruth": {
        "required": [
          "winnerId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareExampleTruth"
            ],
            "type": "string"
          },
          "winnerId": {
            "type": "string"
          }
        }
      },
      "IExampleTruthLineExampleTruth": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LineExampleTruth"
            ],
            "type": "string"
          }
        }
      },
      "IExampleTruthLocateExampleTruth": {
        "required": [
          "boundingBoxes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocateExampleTruth"
            ],
            "type": "string"
          },
          "boundingBoxes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExampleBoxShape"
            }
          },
          "requiredPrecision": {
            "type": "number",
            "format": "double"
          },
          "requiredCompleteness": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "IExampleTruthScrubExampleTruth": {
        "required": [
          "validRanges",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ScrubExampleTruth"
            ],
            "type": "string"
          },
          "validRanges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExampleScrubRange"
            }
          }
        }
      },
      "IExampleTruthTranscriptionExampleTruth": {
        "required": [
          "correctWords",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TranscriptionExampleTruth"
            ],
            "type": "string"
          },
          "correctWords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExampleTranscriptionWord"
            }
          },
          "strictGrading": {
            "type": "boolean",
            "nullable": true
          },
          "requiredPrecision": {
            "type": "number",
            "format": "double"
          },
          "requiredCompleteness": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "IFormFile": {
        "type": "string",
        "format": "binary"
      },
      "IMetadataInput": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IMetadataInputTextMetadataInput"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "TextMetadataInput": "#/components/schemas/IMetadataInputTextMetadataInput"
          }
        }
      },
      "IMetadataInputTextMetadataInput": {
        "required": [
          "text",
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextMetadataInput"
            ],
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IMetadataModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IMetadataModelClassificationMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelCountMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelFileTypeMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelImageDimensionMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelLocationMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelOriginalFilenameMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelSourceUrlMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelStreamsMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelTextMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelVideoDurationMetadataModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ClassificationMetadata": "#/components/schemas/IMetadataModelClassificationMetadataModel",
            "CountMetadata": "#/components/schemas/IMetadataModelCountMetadataModel",
            "FileTypeMetadata": "#/components/schemas/IMetadataModelFileTypeMetadataModel",
            "ImageDimensionMetadata": "#/components/schemas/IMetadataModelImageDimensionMetadataModel",
            "LocationMetadata": "#/components/schemas/IMetadataModelLocationMetadataModel",
            "OriginalFilenameMetadata": "#/components/schemas/IMetadataModelOriginalFilenameMetadataModel",
            "SourceUrlMetadataModel": "#/components/schemas/IMetadataModelSourceUrlMetadataModel",
            "StreamsMetadata": "#/components/schemas/IMetadataModelStreamsMetadataModel",
            "TextMetadata": "#/components/schemas/IMetadataModelTextMetadataModel",
            "VideoDurationMetadata": "#/components/schemas/IMetadataModelVideoDurationMetadataModel"
          }
        }
      },
      "IMetadataModelClassificationMetadataModel": {
        "required": [
          "classification",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassificationMetadata"
            ],
            "type": "string"
          },
          "classification": {
            "type": "string"
          }
        }
      },
      "IMetadataModelCountMetadataModel": {
        "required": [
          "count",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CountMetadata"
            ],
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IMetadataModelFileTypeMetadataModel": {
        "required": [
          "fileType",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileTypeMetadata"
            ],
            "type": "string"
          },
          "fileType": {
            "$ref": "#/components/schemas/FileType"
          }
        }
      },
      "IMetadataModelImageDimensionMetadataModel": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ImageDimensionMetadata"
            ],
            "type": "string"
          },
          "height": {
            "type": "integer",
            "format": "int32"
          },
          "width": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IMetadataModelLocationMetadataModel": {
        "required": [
          "x",
          "y",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocationMetadata"
            ],
            "type": "string"
          },
          "x": {
            "type": "number",
            "format": "float"
          },
          "y": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "IMetadataModelOriginalFilenameMetadataModel": {
        "required": [
          "originalFilename",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OriginalFilenameMetadata"
            ],
            "type": "string"
          },
          "originalFilename": {
            "type": "string"
          }
        }
      },
      "IMetadataModelSourceUrlMetadataModel": {
        "required": [
          "url",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SourceUrlMetadataModel"
            ],
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "IMetadataModelStreamsMetadataModel": {
        "required": [
          "hasVideo",
          "hasAudio",
          "hasSubtitles",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "StreamsMetadata"
            ],
            "type": "string"
          },
          "hasVideo": {
            "type": "boolean"
          },
          "hasAudio": {
            "type": "boolean"
          },
          "hasSubtitles": {
            "type": "boolean"
          }
        }
      },
      "IMetadataModelTextMetadataModel": {
        "required": [
          "text",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextMetadata"
            ],
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IMetadataModelVideoDurationMetadataModel": {
        "required": [
          "duration",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "VideoDurationMetadata"
            ],
            "type": "string"
          },
          "duration": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MetadataInputCollection": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/IMetadataInput"
        }
      },
      "MetadataModelCollection": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/IMetadataModel"
        }
      },
      "MetadataVisibilities": {
        "type": "array",
        "items": {
          "enum": [
            "None",
            "Users",
            "Customers",
            "Admins",
            "Dashboard",
            "All"
          ],
          "type": "string"
        }
      },
      "PagedResultOfQueryJobsResult": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryJobsResult"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "QueryAudiencesEndpoint_Output": {
        "required": [
          "id",
          "name",
          "status",
          "qualifiedUserCount",
          "filters",
          "createdAt",
          "ownerMail",
          "isPublic",
          "isDistilling"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the audience."
          },
          "name": {
            "type": "string",
            "description": "The name of the audience."
          },
          "description": {
            "type": "string",
            "description": "The markdown-supported description of the audience.",
            "nullable": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AudienceStatus"
              }
            ],
            "description": "The current status of the audience."
          },
[...]
