{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Campaign API",
    "description": "The API for the Rapidata Campaign service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/campaign/cache/campaigns": {
      "get": {
        "tags": [
          "Cache"
        ],
        "summary": "Returns the current state of the in-memory campaign cache.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignCacheEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/cache/user-scores": {
      "get": {
        "tags": [
          "Cache"
        ],
        "summary": "Returns the current state of the in-memory default user score cache.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserScoreCacheEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/boost": {
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Changes the boost configuration.",
        "requestBody": {
          "description": "The boost configuration to apply.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBoostEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": true
      }
    },
    "/campaign/boost/insights": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Returns an attributed view of the aggregated boosting profile.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostInsightsEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/boost/status": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Returns the current boost status including active and inactive campaigns.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostStatusEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/{campaignId}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieves the details of a specific campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The ID of the campaign.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Campaign"
        ],
        "summary": "Updates the specified campaign's properties.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The identifier of the campaign to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The properties to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/boost/{externalCampaignId}/fast-bid-multiplier": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Returns the fast bid multiplier currently applied to an external booster campaign.",
        "description": "Returns the downstream system's default (1.0) if the multiplier has never been set\n for the campaign.",
        "parameters": [
          {
            "name": "externalCampaignId",
            "in": "path",
            "description": "The external booster campaign id to read.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFastBidMultiplierEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Sets the fast bid multiplier for a single external booster campaign to an arbitrary value.",
        "description": "Bypasses the level→multiplier mapping. Intended for live testing and one-off\n operational tweaks. Value must be in [0, 50]; 0 effectively pauses delivery on the\n campaign without changing its status. The response reports the multiplier the\n downstream system confirms is applied.",
        "parameters": [
          {
            "name": "externalCampaignId",
            "in": "path",
            "description": "The external booster campaign id to update.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The desired multiplier value.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetFastBidMultiplierEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetFastBidMultiplierEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/monitor": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Exercises the rapid-bag pipeline with a synthetic user profile so the health of\n the campaign monitoring path can be probed externally.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/campaign/{campaignId}/pause": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Pauses the specified campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The identifier of the campaign to pause.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/boost/preheat": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Triggers a preheat pass for the boost subsystem so warm caches are ready before\n traffic spikes.",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Queries campaigns with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "priority",
                  "-priority",
                  "status",
                  "-status",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "priority",
            "in": "query",
            "description": "Filter by priority.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_mail",
            "in": "query",
            "description": "Filter by owner_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryCampaignsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/{campaignId}/resume": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Resumes the specified campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The identifier of the campaign to resume.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/boost/global-level": {
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Sets or clears the manual global boost level.",
        "requestBody": {
          "description": "The manual global boost level to apply. Null clears the manual override.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetManualGlobalBoostLevelEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/external-audiences": {
      "get": {
        "tags": [
          "ExternalAudience"
        ],
        "summary": "Queries the cached external audiences available for targeting.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id",
                  "name",
                  "-name",
                  "count",
                  "-count"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Filter by count.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryExternalAudiencesEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/external-audiences/sync": {
      "post": {
        "tags": [
          "ExternalAudience"
        ],
        "summary": "Enqueues a background job that synchronises external audiences with the cache.",
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AudienceBoostModel": {
        "required": [
          "externalAudienceId",
          "level"
        ],
        "type": "object",
        "properties": {
          "externalAudienceId": {
            "type": "integer",
            "format": "int32"
          },
          "level": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "BoostingControlMode": {
        "enum": [
          "Manual",
          "Automatic"
        ]
      },
      "BoostingProfileModel": {
        "required": [
          "globalBoostLevel",
          "prospectBlacklist",
          "distillingBoosts",
          "labelingBoosts"
        ],
        "type": "object",
        "properties": {
          "globalBoostLevel": {
            "type": "integer",
            "format": "int32"
          },
          "minAutoAdjustLevel": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "maxAutoAdjustLevel": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "languageBoosts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              }
            ],
            "deprecated": true
          },
          "prospectBlacklist": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "distillingBoosts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceBoostModel"
            }
          },
          "labelingBoosts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceBoostModel"
            }
          }
        }
      },
      "BoostMode": {
        "enum": [
          "Automatic",
          "Manual"
        ]
      },
      "BoostStatusModel": {
        "enum": [
          "Active",
          "Inactive",
          "Partial",
          "Unknown"
        ]
      },
      "CampaignStatusModel": {
        "enum": [
          "Created",
          "Preview",
          "Active",
          "Analysis",
          "Paused",
          "Completed",
          "SpendLimited"
        ]
      },
      "ChangeBoostEndpoint_Input": {
        "required": [
          "isManual"
        ],
        "type": "object",
        "properties": {
          "isManual": {
            "type": "boolean",
            "description": "Whether the manual overwrite should be applied."
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the boost is active. Deprecated in favor of Level.",
            "deprecated": true
          },
          "level": {
            "type": "integer",
            "description": "The boost level. Takes precedence over IsActive when set.",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "ComparisonOperator": {
        "enum": [
          "Equal",
          "NotEqual",
          "LessThan",
          "LessThanOrEqual",
          "GreaterThan",
          "GreaterThanOrEqual"
        ]
      },
      "DeviceType": {
        "enum": [
          "Unknown",
          "Phone",
          "Tablet"
        ]
      },
      "FeatureFlag": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "GetBoostInsightsEndpoint_AudienceOutput": {
        "required": [
          "externalAudienceId",
          "contributors"
        ],
        "type": "object",
        "properties": {
          "externalAudienceId": {
            "type": "integer",
            "format": "int32"
          },
          "contributors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetBoostInsightsEndpoint_ContributorOutput"
            }
          }
        }
      },
      "GetBoostInsightsEndpoint_ContributorOutput": {
        "required": [
          "campaignId",
          "campaignName"
        ],
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "campaignName": {
            "type": "string"
          }
        }
      },
      "GetBoostInsightsEndpoint_GlobalBoostOutput": {
        "required": [
          "effectiveLevel",
          "contributors"
        ],
        "type": "object",
        "properties": {
          "effectiveLevel": {
            "type": "integer",
            "format": "int32"
          },
          "contributors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetBoostInsightsEndpoint_LevelContributorOutput"
            }
          }
        }
      },
      "GetBoostInsightsEndpoint_LanguageBoostOutput": {
        "required": [
          "language",
          "contributors"
        ],
        "type": "object",
        "properties": {
          "language": {
            "type": "string"
          },
          "contributors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetBoostInsightsEndpoint_ContributorOutput"
            }
          }
        }
      },
      "GetBoostInsightsEndpoint_LevelContributorOutput": {
        "required": [
          "campaignId",
          "campaignName",
          "level"
        ],
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "campaignName": {
            "type": "string"
          },
          "level": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetBoostInsightsEndpoint_LeveledAudienceOutput": {
        "required": [
          "externalAudienceId",
          "effectiveLevel",
          "contributors"
        ],
        "type": "object",
        "properties": {
          "externalAudienceId": {
            "type": "integer",
            "format": "int32"
          },
          "effectiveLevel": {
            "type": "integer",
            "format": "int32"
          },
          "contributors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetBoostInsightsEndpoint_LevelContributorOutput"
            }
          }
        }
      },
      "GetBoostInsightsEndpoint_Output": {
        "required": [
          "mode",
          "manualOverrideLevel",
          "globalBoost",
          "prospectBlacklist",
          "distillingBoosts",
          "labelingBoosts"
        ],
        "type": "object",
        "properties": {
          "mode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostMode"
              }
            ],
            "description": "The current boost mode."
          },
          "manualOverrideLevel": {
            "type": "integer",
            "description": "The manual override level, if manual mode is active.",
            "format": "int32",
            "nullable": true
          },
          "globalBoost": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GetBoostInsightsEndpoint_GlobalBoostOutput"
              }
            ],
            "description": "Global boost insight with contributing campaigns."
          },
          "languageBoosts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetBoostInsightsEndpoint_LanguageBoostOutput"
                },
                "nullable": true
              }
            ],
            "description": "Language-specific boost insights.",
            "deprecated": true
          },
          "audienceBoosts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetBoostInsightsEndpoint_AudienceOutput"
                },
                "nullable": true
              }
            ],
            "description": "Audience boost insights.",
            "deprecated": true
          },
          "prospectBlacklist": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetBoostInsightsEndpoint_AudienceOutput"
                }
              }
            ],
            "description": "Prospect blacklist insights."
          },
          "distillingBoosts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetBoostInsightsEndpoint_LeveledAudienceOutput"
                }
              }
            ],
            "description": "Distilling boost insights."
          },
          "labelingBoosts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetBoostInsightsEndpoint_LeveledAudienceOutput"
                }
              }
            ],
            "description": "Labeling boost insights."
          }
        }
      },
      "GetBoostStatusEndpoint_Output": {
        "required": [
          "status",
          "mode",
          "activeCampaigns",
          "inactiveCampaigns",
          "unknownCampaigns"
        ],
        "type": "object",
        "properties": {
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostStatusModel"
              }
            ],
            "description": "The current boost status."
          },
          "mode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostMode"
              }
            ],
            "description": "The current boost mode."
          },
          "activeCampaigns": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The list of active campaign identifiers."
          },
          "inactiveCampaigns": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The list of inactive campaign identifiers."
          },
          "unknownCampaigns": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            ],
            "description": "The list of unknown campaign identifiers."
          }
        }
      },
      "GetCampaignByIdEndpoint_Output": {
        "required": [
          "id",
          "name",
          "status",
          "priority",
          "boostingProfile",
          "boostingControlMode",
          "hasBooster",
          "boostLevel",
          "stickyConfig",
          "filters",
          "selections",
          "featureFlags",
          "ownerMail",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the campaign."
          },
          "name": {
            "type": "string",
            "description": "The name of the campaign."
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CampaignStatusModel"
              }
            ],
            "description": "The current status of the campaign."
          },
          "priority": {
            "type": "integer",
            "description": "The priority level of the campaign.",
            "format": "int32"
          },
          "boostingProfile": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostingProfileModel"
              }
            ],
            "description": "The boosting profile configuration."
          },
          "boostingControlMode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostingControlMode"
              }
            ],
            "description": "The boosting control mode."
          },
          "hasBooster": {
            "type": "boolean",
            "description": "Whether the campaign has a booster."
          },
          "boostLevel": {
            "type": "integer",
            "description": "The campaign's effective boost level (0-10). 0 when no boost is active.\n Lets clients render and edit the level without unpacking the boosting profile.",
            "format": "int32"
          },
          "requiresBooster": {
            "type": "boolean",
            "description": "Whether the campaign requires a booster.",
            "deprecated": true
          },
          "stickyConfig": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StickyConfigModel"
              }
            ],
            "description": "The sticky behavior configuration."
          },
          "filters": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ICampaignFilterModel"
                }
              }
            ],
            "description": "The targeting filters for this campaign."
          },
          "selections": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ICampaignSelectionModel"
                }
              }
            ],
            "description": "The rapid selections for this campaign."
          },
          "featureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                }
              }
            ],
            "description": "The feature flags configured for this campaign."
          },
          "ownerMail": {
            "type": "string",
            "description": "The email of the campaign owner."
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the campaign was created.",
            "format": "date-time"
          }
        }
      },
      "GetCampaignCacheEndpoint_CampaignEntry": {
        "required": [
          "id",
          "name",
          "status",
          "priority",
          "filterCount",
          "selectionCount",
          "userScoreDimensionCount",
          "featureFlagCount",
          "rateLimitCount",
          "isPreviewEnabled",
          "boostingControlMode"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/CampaignStatusModel"
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "filterCount": {
            "type": "integer",
            "format": "int32"
          },
          "selectionCount": {
            "type": "integer",
            "format": "int32"
          },
          "userScoreDimensionCount": {
            "type": "integer",
            "format": "int32"
          },
          "featureFlagCount": {
            "type": "integer",
            "format": "int32"
          },
          "rateLimitCount": {
            "type": "integer",
            "format": "int32"
          },
          "isPreviewEnabled": {
            "type": "boolean"
          },
          "boostingControlMode": {
            "$ref": "#/components/schemas/BoostingControlMode"
          }
        }
      },
      "GetCampaignCacheEndpoint_Output": {
        "required": [
          "count",
          "campaigns"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of cached campaigns.",
            "format": "int32"
          },
          "campaigns": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetCampaignCacheEndpoint_CampaignEntry"
                }
              }
            ],
            "description": "The list of cached campaign summaries."
          }
        }
      },
      "GetFastBidMultiplierEndpoint_Output": {
        "required": [
          "externalCampaignId",
          "bidMultiplierValue"
        ],
        "type": "object",
        "properties": {
          "externalCampaignId": {
            "type": "integer",
            "description": "The external campaign id reported by the downstream system.",
            "format": "int32"
          },
          "bidMultiplierValue": {
            "type": "number",
            "description": "The current bid multiplier reported for the campaign.",
            "format": "double"
          }
        }
      },
      "GetUserScoreCacheEndpoint_Output": {
        "required": [
          "count",
          "scores"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of cached user scores.",
            "format": "int32"
          },
          "scores": {
            "allOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "number",
                  "format": "double"
                }
              }
            ],
            "description": "The cached dimension-to-score mappings."
          }
        }
      },
      "ICampaignFilterModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ICampaignFilterModelAndFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelAudienceStateFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelCampaignCooldownFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelCampaignIdFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelCampaignSessionCountFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelCountryFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelDemographicFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelDeviceFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelLanguageFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelNewUserFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelNotFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelOrFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelResponseCountFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelUserActionRestrictionFilterModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterModelUserScoreFilterModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "AndFilter": "#/components/schemas/ICampaignFilterModelAndFilterModel",
            "AudienceStateFilter": "#/components/schemas/ICampaignFilterModelAudienceStateFilterModel",
            "CampaignCooldownFilter": "#/components/schemas/ICampaignFilterModelCampaignCooldownFilterModel",
            "CampaignIdFilter": "#/components/schemas/ICampaignFilterModelCampaignIdFilterModel",
            "CampaignSessionCountFilter": "#/components/schemas/ICampaignFilterModelCampaignSessionCountFilterModel",
            "CountryFilter": "#/components/schemas/ICampaignFilterModelCountryFilterModel",
            "DemographicFilter": "#/components/schemas/ICampaignFilterModelDemographicFilterModel",
            "DeviceFilter": "#/components/schemas/ICampaignFilterModelDeviceFilterModel",
            "LanguageFilter": "#/components/schemas/ICampaignFilterModelLanguageFilterModel",
            "NewUserFilter": "#/components/schemas/ICampaignFilterModelNewUserFilterModel",
            "NotFilter": "#/components/schemas/ICampaignFilterModelNotFilterModel",
            "OrFilter": "#/components/schemas/ICampaignFilterModelOrFilterModel",
            "ResponseCountFilter": "#/components/schemas/ICampaignFilterModelResponseCountFilterModel",
            "UserActionRestrictionFilter": "#/components/schemas/ICampaignFilterModelUserActionRestrictionFilterModel",
            "UserScoreFilter": "#/components/schemas/ICampaignFilterModelUserScoreFilterModel"
          }
        }
      },
      "ICampaignFilterModelAndFilterModel": {
        "required": [
          "filters",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AndFilter"
            ],
            "type": "string"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignFilterModel"
            }
          }
        }
      },
      "ICampaignFilterModelAudienceStateFilterModel": {
        "required": [
          "audienceId",
          "allowedStates",
          "includeUnknownState",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AudienceStateFilter"
            ],
            "type": "string"
          },
          "audienceId": {
            "type": "string"
          },
          "allowedStates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimplifiedAudienceUserState"
            }
          },
          "includeUnknownState": {
            "type": "boolean"
          }
        }
      },
      "ICampaignFilterModelCampaignCooldownFilterModel": {
        "required": [
          "cooldown",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CampaignCooldownFilter"
            ],
            "type": "string"
          },
          "cooldown": {
            "$ref": "#/components/schemas/ICooldownDurationModel"
          }
        }
      },
      "ICampaignFilterModelCampaignIdFilterModel": {
        "required": [
          "campaignIds",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CampaignIdFilter"
            ],
            "type": "string"
          },
          "campaignIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ICampaignFilterModelCampaignSessionCountFilterModel": {
        "required": [
          "sessionCount",
          "operator",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CampaignSessionCountFilter"
            ],
            "type": "string"
          },
          "sessionCount": {
            "type": "integer",
            "format": "uint32"
          },
          "operator": {
            "$ref": "#/components/schemas/ComparisonOperator"
          }
        }
      },
      "ICampaignFilterModelCountryFilterModel": {
        "required": [
          "countries",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CountryFilter"
            ],
            "type": "string"
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ICampaignFilterModelDemographicFilterModel": {
        "required": [
          "identifier",
          "values",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "DemographicFilter"
            ],
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ICampaignFilterModelDeviceFilterModel": {
        "required": [
          "deviceTypes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "DeviceFilter"
            ],
            "type": "string"
          },
          "deviceTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeviceType"
            }
          }
        }
      },
      "ICampaignFilterModelLanguageFilterModel": {
        "required": [
          "languages",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LanguageFilter"
            ],
            "type": "string"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ICampaignFilterModelNewUserFilterModel": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NewUserFilter"
            ],
            "type": "string"
          }
        }
      },
      "ICampaignFilterModelNotFilterModel": {
        "required": [
          "filter",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NotFilter"
            ],
            "type": "string"
          },
          "filter": {
            "$ref": "#/components/schemas/ICampaignFilterModel"
          }
        }
      },
      "ICampaignFilterModelOrFilterModel": {
        "required": [
          "filters",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OrFilter"
            ],
            "type": "string"
          },
          "filters": { }
        }
      },
      "ICampaignFilterModelResponseCountFilterModel": {
        "required": [
          "dimension",
          "responseCount",
          "operator",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ResponseCountFilter"
            ],
            "type": "string"
          },
          "dimension": {
            "type": "string"
          },
          "responseCount": {
            "type": "integer",
            "format": "uint32"
          },
          "operator": {
            "$ref": "#/components/schemas/ComparisonOperator"
          }
        }
      },
      "ICampaignFilterModelUserActionRestrictionFilterModel": {
        "required": [
          "requiredActions",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "UserActionRestrictionFilter"
            ],
            "type": "string"
          },
          "requiredActions": { }
        }
      },
      "ICampaignFilterModelUserScoreFilterModel": {
        "required": [
          "dimension",
          "lowerbound",
          "upperbound",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "UserScoreFilter"
            ],
            "type": "string"
          },
          "dimension": {
            "type": "string"
          },
          "lowerbound": {
            "type": "number",
            "format": "double"
          },
          "upperbound": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ICampaignSelectionModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ICampaignSelectionModelAbTestSelectionModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionModelAudienceSelectionModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionModelCappedSelectionModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionModelConditionalValidationSelectionModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionModelDemographicSelectionModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionModelEnforcingSelectionModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionModelLabelingSelectionModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionModelShufflingSelectionModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionModelStaticSelectionModel"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionModelValidationSelectionModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "AbTestSelection": "#/components/schemas/ICampaignSelectionModelAbTestSelectionModel",
            "AudienceSelection": "#/components/schemas/ICampaignSelectionModelAudienceSelectionModel",
            "CappedSelection": "#/components/schemas/ICampaignSelectionModelCappedSelectionModel",
            "ConditionalValidationSelection": "#/components/schemas/ICampaignSelectionModelConditionalValidationSelectionModel",
            "DemographicSelection": "#/components/schemas/ICampaignSelectionModelDemographicSelectionModel",
            "EnforcingSelection": "#/components/schemas/ICampaignSelectionModelEnforcingSelectionModel",
            "LabelingSelection": "#/components/schemas/ICampaignSelectionModelLabelingSelectionModel",
            "ShufflingSelection": "#/components/schemas/ICampaignSelectionModelShufflingSelectionModel",
            "StaticSelection": "#/components/schemas/ICampaignSelectionModelStaticSelectionModel",
            "ValidationSelection": "#/components/schemas/ICampaignSelectionModelValidationSelectionModel"
          }
        }
      },
      "ICampaignSelectionModelAbTestSelectionModel": {
        "required": [
          "a",
          "b",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AbTestSelection"
            ],
            "type": "string"
          },
          "a": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignSelectionModel"
            }
          },
          "b": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignSelectionModel"
            }
          }
        }
      },
      "ICampaignSelectionModelAudienceSelectionModel": {
        "required": [
          "audienceId",
          "effort",
          "retrievalMode",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AudienceSelection"
            ],
            "type": "string"
          },
          "audienceId": {
            "type": "string"
          },
          "effort": {
            "type": "integer",
            "format": "int32"
          },
          "retrievalMode": {
            "$ref": "#/components/schemas/RetrievalMode"
          },
          "maxIterations": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "ICampaignSelectionModelCappedSelectionModel": {
        "required": [
          "selections",
          "maxRapids",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CappedSelection"
            ],
            "type": "string"
          },
          "selections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignSelectionModel"
            }
          },
          "maxRapids": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ICampaignSelectionModelConditionalValidationSelectionModel": {
        "required": [
          "validationChances",
          "dimensions",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ConditionalValidationSelection"
            ],
            "type": "string"
          },
          "validationChances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationChanceModel"
            }
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ICampaignSelectionModelDemographicSelectionModel": {
        "required": [
          "keys",
          "maxRapids",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "DemographicSelection"
            ],
            "type": "string"
          },
          "keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "probability": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "maxRapids": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ICampaignSelectionModelEnforcingSelectionModel": {
        "required": [
          "selections",
          "minSelections",
          "minRapids",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "EnforcingSelection"
            ],
            "type": "string"
          },
          "selections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignSelectionModel"
            }
          },
          "minSelections": {
            "type": "integer",
            "format": "int32"
          },
          "minRapids": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ICampaignSelectionModelLabelingSelectionModel": {
        "required": [
          "effortBudget",
          "retrievalMode",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LabelingSelection"
            ],
            "type": "string"
          },
          "amount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "effortBudget": {
            "type": "integer",
            "format": "int32"
          },
          "retrievalMode": {
            "$ref": "#/components/schemas/RetrievalMode"
          },
          "maxIterations": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "ICampaignSelectionModelShufflingSelectionModel": {
        "required": [
          "selections",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ShufflingSelection"
            ],
            "type": "string"
          },
          "selections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignSelectionModel"
            }
          }
        }
      },
      "ICampaignSelectionModelStaticSelectionModel": {
        "required": [
          "rapidIds",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "StaticSelection"
            ],
            "type": "string"
          },
          "rapidIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ICampaignSelectionModelValidationSelectionModel": {
        "required": [
          "validationSetId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ValidationSelection"
            ],
            "type": "string"
          },
          "validationSetId": {
            "type": "string"
          },
          "amount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "effortBudget": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "ICooldownDurationModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ICooldownDurationModelFixedCooldownDurationModel"
          },
          {
            "$ref": "#/components/schemas/ICooldownDurationModelRandomCooldownDurationModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "FixedCooldownDuration": "#/components/schemas/ICooldownDurationModelFixedCooldownDurationModel",
            "RandomCooldownDuration": "#/components/schemas/ICooldownDurationModelRandomCooldownDurationModel"
          }
        }
      },
      "ICooldownDurationModelFixedCooldownDurationModel": {
        "required": [
          "duration",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FixedCooldownDuration"
            ],
            "type": "string"
          },
          "duration": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ICooldownDurationModelRandomCooldownDurationModel": {
        "required": [
          "minDuration",
          "maxDuration",
          "seedByUserId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "RandomCooldownDuration"
            ],
            "type": "string"
          },
          "minDuration": {
            "type": "string",
            "format": "date-time"
          },
          "maxDuration": {
            "type": "string",
            "format": "date-time"
          },
          "seedByUserId": {
            "type": "boolean"
          }
        }
      },
      "QueryCampaignsEndpoint_Output": {
        "required": [
          "id",
          "name",
          "status",
          "priority",
          "hasBooster",
          "boostLevel",
          "boostingControlMode",
          "ownerMail",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the campaign."
          },
          "name": {
            "type": "string",
            "description": "The name of the campaign."
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CampaignStatusModel"
              }
            ],
            "description": "The current status of the campaign."
          },
          "priority": {
            "type": "integer",
            "description": "The priority level of the campaign.",
            "format": "int32"
          },
          "hasBooster": {
            "type": "boolean",
            "description": "Whether the campaign has a booster."
          },
          "boostLevel": {
            "type": "integer",
            "description": "The campaign's effective boost level (0-10). 0 when no boost is active.\n Lets clients render and edit the level without unpacking the boosting profile.",
            "format": "int32"
          },
          "boostingControlMode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostingControlMode"
              }
            ],
            "description": "How the campaign's boost is controlled — Manual (user-editable) or Automatic\n (managed by an owning service; boost edits are rejected by the API)."
          },
          "requiresBooster": {
            "type": "boolean",
            "description": "Whether the campaign requires a booster.",
            "deprecated": true
          },
          "ownerMail": {
            "type": "string",
            "description": "The email of the campaign owner."
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the campaign was created.",
            "format": "date-time"
          }
        }
      },
      "QueryCampaignsEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryCampaignsEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "QueryExternalAudiencesEndpoint_Output": {
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The external audience identifier.",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "The name of the external audience."
          },
          "count": {
            "type": "integer",
            "description": "The number of users in the audience.",
            "format": "int64",
            "nullable": true
          }
        }
      },
      "QueryExternalAudiencesEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryExternalAudiencesEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "RetrievalMode": {
        "enum": [
          "Random",
          "Shuffled",
          "Sequential"
        ]
      },
      "SetFastBidMultiplierEndpoint_Input": {
        "required": [
          "multiplier"
        ],
        "type": "object",
        "properties": {
          "multiplier": {
            "type": "number",
            "description": "The bid multiplier to apply. Must be in [0, 50].",
            "format": "double"
          }
        }
      },
      "SetFastBidMultiplierEndpoint_Output": {
        "required": [
          "externalCampaignId",
          "appliedMultiplier"
        ],
        "type": "object",
        "properties": {
          "externalCampaignId": {
            "type": "integer",
            "description": "The external campaign id reported by the downstream system.",
            "format": "int32"
          },
          "appliedMultiplier": {
            "type": "number",
            "description": "The bid multiplier the downstream system reports as currently applied.",
            "format": "double"
          }
        }
      },
      "SetManualGlobalBoostLevelEndpoint_Input": {
        "type": "object",
        "properties": {
          "level": {
            "type": "integer",
            "description": "The global boost level. Null disables manual mode and returns to automatic.",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "SimplifiedAudienceUserState": {
        "enum": [
          "Distilling",
          "Graduated",
          "Dropped"
        ]
      },
      "StickyConfigModel": {
        "required": [
          "isEnabled",
          "bypassFilters",
          "bypassPrioritySelection",
          "blockOtherStickyCampaigns",
          "clearOnPause"
        ],
        "type": "object",
        "properties": {
          "isEnabled": {
            "type": "boolean"
          },
          "dimension": {
            "type": "string"
          },
          "bypassFilters": {
            "type": "boolean"
          },
          "bypassPrioritySelection": {
            "type": "boolean"
          },
          "blockOtherStickyCampaigns": {
            "type": "boolean"
          },
          "clearOnPause": {
            "type": "boolean"
          }
        }
      },
      "UpdateCampaignEndpoint_Input": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The new name for the campaign."
          },
          "priority": {
            "type": "integer",
            "description": "The new priority value for the campaign.",
            "format": "int32"
          },
          "requiresBooster": {
            "type": "boolean",
            "description": "Legacy on/off toggle for boosting. Translates server-side to BoostLevel = 3\n when true and BoostLevel = 0 (clear) when false. New clients should send\n BoostLevel directly; this field is kept for backwards compatibility.",
            "deprecated": true
          },
          "boostLevel": {
            "type": "integer",
            "description": "The campaign's boost level. Set 1-10 to boost (the audience service decides whether\n the boost manifests as global, distilling, or labeling based on the campaign's\n filters). Set 0 to clear any existing boost. Ignored when BoostingProfile is\n also set (explicit profile wins).",
            "format": "int32"
          },
          "boostingProfile": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostingProfileModel"
              }
            ],
            "description": "The boosting profile configuration. Takes precedence over BoostLevel and\n RequiresBooster when set. Prefer BoostLevel — it lets the server derive\n the right profile (including filtered-audience creation) from the campaign's filters."
          },
          "stickyConfig": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StickyConfigModel"
              }
            ],
            "description": "The sticky behavior configuration."
          },
          "filters": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ICampaignFilterModel"
                }
              }
            ],
            "description": "The targeting filters for the campaign."
          },
          "selections": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ICampaignSelectionModel"
                }
              }
            ],
            "description": "The rapid selections for the campaign."
          },
          "featureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                }
              }
            ],
            "description": "The feature flags for the campaign."
          }
        }
      },
      "ValidationChanceModel": {
        "required": [
          "userScoreThreshold",
          "chance",
          "rapidCount"
        ],
        "type": "object",
        "properties": {
          "userScoreThreshold": {
            "type": "number",
            "format": "double"
          },
          "chance": {
            "type": "number",
            "format": "double"
          },
          "rapidCount": {
            "type": "integer",
            "format": "int32"
          },
          "selections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignSelectionModel"
            },
            "nullable": true
          }
        }
      },
      "ValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "OpenIdConnect": {
        "type": "openIdConnect",
        "description": "OpenID Connect connection flow",
        "openIdConnectUrl": "https://auth.rabbitdata.ch/.well-known/openid-configuration"
      }
    }
  },
  "security": [
    {
      "OpenIdConnect": [
        "openid",
        "profile",
        "email",
        "offline_access"
      ]
    }
  ]
}