{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Campaign API",
    "description": "The API for the Rapidata Campaign service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/campaign/cache/campaigns": {
      "get": {
        "tags": [
          "Cache"
        ],
        "summary": "Returns the current state of the in-memory campaign cache.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignCacheEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/cache/user-scores": {
      "get": {
        "tags": [
          "Cache"
        ],
        "summary": "Returns the current state of the in-memory default user score cache.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserScoreCacheEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/boost": {
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Changes the boost configuration.",
        "requestBody": {
          "description": "The boost configuration to apply.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBoostEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": true
      }
    },
    "/campaign/program": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Creates a program campaign from the given stream program.",
        "description": "The program is validated before the campaign is persisted; a malformed graph\n (missing root, dangling references, cycles, unreachable nodes) is rejected. The\n campaign starts in the Created status; move it to Active to start serving sessions.",
        "requestBody": {
          "description": "The campaign and its stream program.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProgramCampaignEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProgramCampaignEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/boost/insights": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Returns an attributed view of the aggregated boosting profile.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostInsightsEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/boost/status": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Returns the current boost status including active and inactive campaigns.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostStatusEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/{campaignId}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieves the details of a specific campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The ID of the campaign.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Campaign"
        ],
        "summary": "Updates the specified campaign's properties.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The identifier of the campaign to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The properties to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/boost/{externalCampaignId}/fast-bid-multiplier": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Returns the fast bid multiplier currently applied to an external booster campaign.",
        "description": "Returns the downstream system's default (1.0) if the multiplier has never been set\n for the campaign.",
        "parameters": [
          {
            "name": "externalCampaignId",
            "in": "path",
            "description": "The external booster campaign id to read.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFastBidMultiplierEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Sets the fast bid multiplier for a single external booster campaign to an arbitrary value.",
        "description": "Bypasses the level→multiplier mapping. Intended for live testing and one-off\n operational tweaks. Value must be in [0, 50]; 0 effectively pauses delivery on the\n campaign without changing its status. The response reports the multiplier the\n downstream system confirms is applied.",
        "parameters": [
          {
            "name": "externalCampaignId",
            "in": "path",
            "description": "The external booster campaign id to update.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The desired multiplier value.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetFastBidMultiplierEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetFastBidMultiplierEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/monitor": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Exercises the rapid-bag pipeline with a synthetic user profile so the health of\n the campaign monitoring path can be probed externally.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/campaign/{campaignId}/pause": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Pauses the specified campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The identifier of the campaign to pause.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/boost/preheat": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Triggers a preheat pass for the boost subsystem so warm caches are ready before\n traffic spikes.",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Queries campaigns with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "priority",
                  "-priority",
                  "status",
                  "-status",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "priority",
            "in": "query",
            "description": "Filter by priority.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_mail",
            "in": "query",
            "description": "Filter by owner_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryCampaignsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/{campaignId}/resume": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Resumes the specified campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The identifier of the campaign to resume.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/boost/global-level": {
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Sets or clears the manual global boost level.",
        "requestBody": {
          "description": "The manual global boost level to apply. Null clears the manual override.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetManualGlobalBoostLevelEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/{campaignId}/program": {
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Replaces the campaign's stream program.",
        "description": "The program is validated before it is persisted; a malformed graph is rejected.\n The program's version is bumped and republished — running sessions pick up the new\n program on their next response.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The identifier of the program campaign.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The replacement stream program.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStreamProgramEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/external-audiences": {
      "get": {
        "tags": [
          "ExternalAudience"
        ],
        "summary": "Queries the cached external audiences available for targeting.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id",
                  "name",
                  "-name",
                  "count",
                  "-count"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Filter by count.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryExternalAudiencesEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/external-audiences/sync": {
      "post": {
        "tags": [
          "ExternalAudience"
        ],
        "summary": "Enqueues a background job that synchronises external audiences with the cache.",
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/owner-tier-overrides": {
      "post": {
        "tags": [
          "OwnerTierOverride"
        ],
        "summary": "Creates an owner-tier override.",
        "description": "The pattern must be an exact email (user@domain.com) or a wildcard domain\n (*@domain.com), and at least one of the override values must be set.",
        "requestBody": {
          "description": "The override to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOwnerTierOverrideEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOwnerTierOverrideEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "OwnerTierOverride"
        ],
        "summary": "Returns all owner-tier overrides.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QueryOwnerTierOverridesEndpoint_Output"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/owner-tier-overrides/{ownerTierOverrideId}": {
      "delete": {
        "tags": [
          "OwnerTierOverride"
        ],
        "summary": "Deletes an owner-tier override.",
        "parameters": [
          {
            "name": "ownerTierOverrideId",
            "in": "path",
            "description": "The id of the override to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "tags": [
          "OwnerTierOverride"
        ],
        "summary": "Replaces an owner-tier override.",
        "description": "The pattern must be an exact email (user@domain.com) or a wildcard domain\n (*@domain.com), and at least one of the override values must be set.",
        "parameters": [
          {
            "name": "ownerTierOverrideId",
            "in": "path",
            "description": "The id of the override to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The new pattern and override values.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOwnerTierOverrideEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AudienceBoost": {
        "required": [
          "externalAudienceId",
          "level"
        ],
        "type": "object",
        "properties": {
          "externalAudienceId": {
            "type": "integer",
            "format": "int32"
          },
          "level": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "BoostingControlMode": {
        "enum": [
          "Manual",
          "Automatic"
        ]
      },
      "BoostingProfile": {
        "required": [
          "globalBoostLevel",
          "prospectBlacklist",
          "distillingBoosts",
          "labelingBoosts"
        ],
        "type": "object",
        "properties": {
          "globalBoostLevel": {
            "type": "integer",
            "format": "int32"
          },
          "minAutoAdjustLevel": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "maxAutoAdjustLevel": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "languageBoosts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              }
            ],
            "deprecated": true
          },
          "prospectBlacklist": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "distillingBoosts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceBoost"
            }
          },
          "labelingBoosts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceBoost"
            }
          }
        }
      },
      "BoostMode": {
        "enum": [
          "Automatic",
          "Manual"
        ]
      },
      "BoostStatus": {
        "enum": [
          "Active",
          "Inactive",
          "Partial",
          "Unknown"
        ]
      },
      "CampaignStatus": {
        "enum": [
          "Created",
          "Preview",
          "Active",
          "Analysis",
          "Paused",
          "Completed",
          "SpendLimited"
        ]
      },
      "ChangeBoostEndpoint_Input": {
        "required": [
          "isManual"
        ],
        "type": "object",
        "properties": {
          "isManual": {
            "type": "boolean",
            "description": "Whether the manual overwrite should be applied."
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the boost is active. Deprecated in favor of Level.",
            "deprecated": true
          },
          "level": {
            "type": "integer",
            "description": "The boost level. Takes precedence over IsActive when set.",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "ComparisonOperator": {
        "enum": [
          "Equal",
          "NotEqual",
          "LessThan",
          "LessThanOrEqual",
          "GreaterThan",
          "GreaterThanOrEqual"
        ]
      },
      "CreateOwnerTierOverrideEndpoint_Input": {
        "required": [
          "pattern"
        ],
        "type": "object",
        "properties": {
          "pattern": {
            "type": "string",
            "description": "The owner-email pattern this override applies to: an exact email (user@domain.com)\n or a wildcard domain (*@domain.com). Exact matches win over wildcard matches."
          },
          "priorityOverride": {
            "type": "integer",
            "description": "The priority matching owners' jobs are created with. Null for no priority override.",
            "format": "int32",
            "nullable": true
          },
          "boostOverride": {
            "type": "integer",
            "description": "The global boost level matching owners' campaigns are created with (0-10). Null for none.",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "CreateOwnerTierOverrideEndpoint_Output": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the created override."
          }
        }
      },
      "CreateProgramCampaignEndpoint_Input": {
        "required": [
          "name",
          "priority",
          "rootNodeId",
          "nodes",
          "maxRapids",
          "maxDurationSeconds"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the campaign."
          },
          "priority": {
            "type": "integer",
            "description": "The priority weight the campaign competes with for sessions.",
            "format": "int32"
          },
          "rootNodeId": {
            "type": "string",
            "description": "The node the program's evaluation enters at."
          },
          "nodes": {
            "allOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/IProgramNode"
                }
              }
            ],
            "description": "The program's decision graph, keyed by node id."
          },
          "maxRapids": {
            "type": "integer",
            "description": "The session ends after this many counted responses.",
            "format": "int32"
          },
          "maxDurationSeconds": {
            "type": "integer",
            "description": "The session ends after this many seconds.",
            "format": "int32"
          }
        }
      },
      "CreateProgramCampaignEndpoint_Output": {
        "required": [
          "campaignId"
        ],
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The id of the created campaign."
          }
        }
      },
      "DeviceType": {
        "enum": [
          "Unknown",
          "Phone",
          "Tablet"
        ]
      },
      "FeatureFlag": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "GetBoostInsightsEndpoint_AudienceOutput": {
        "required": [
          "externalAudienceId",
          "contributors"
        ],
        "type": "object",
        "properties": {
          "externalAudienceId": {
            "type": "integer",
            "format": "int32"
          },
          "contributors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetBoostInsightsEndpoint_ContributorOutput"
            }
          }
        }
      },
      "GetBoostInsightsEndpoint_ContributorOutput": {
        "required": [
          "campaignId",
          "campaignName"
        ],
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "campaignName": {
            "type": "string"
          }
        }
      },
      "GetBoostInsightsEndpoint_GlobalBoostOutput": {
        "required": [
          "effectiveLevel",
          "contributors"
        ],
        "type": "object",
        "properties": {
          "effectiveLevel": {
            "type": "integer",
            "format": "int32"
          },
          "contributors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetBoostInsightsEndpoint_LevelContributorOutput"
            }
          }
        }
      },
      "GetBoostInsightsEndpoint_LanguageBoostOutput": {
        "required": [
          "language",
          "contributors"
        ],
        "type": "object",
        "properties": {
          "language": {
            "type": "string"
          },
          "contributors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetBoostInsightsEndpoint_ContributorOutput"
            }
          }
        }
      },
      "GetBoostInsightsEndpoint_LevelContributorOutput": {
        "required": [
          "campaignId",
          "campaignName",
          "level"
        ],
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "campaignName": {
            "type": "string"
          },
          "level": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetBoostInsightsEndpoint_LeveledAudienceOutput": {
        "required": [
          "externalAudienceId",
          "effectiveLevel",
          "contributors"
        ],
        "type": "object",
        "properties": {
          "externalAudienceId": {
            "type": "integer",
            "format": "int32"
          },
          "effectiveLevel": {
            "type": "integer",
            "format": "int32"
          },
          "contributors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetBoostInsightsEndpoint_LevelContributorOutput"
            }
          }
        }
      },
      "GetBoostInsightsEndpoint_Output": {
        "required": [
          "mode",
          "manualOverrideLevel",
          "globalBoost",
          "prospectBlacklist",
          "distillingBoosts",
          "labelingBoosts"
        ],
        "type": "object",
        "properties": {
          "mode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostMode"
              }
            ],
            "description": "The current boost mode."
          },
          "manualOverrideLevel": {
            "type": "integer",
            "description": "The manual override level, if manual mode is active.",
            "format": "int32",
            "nullable": true
          },
          "globalBoost": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GetBoostInsightsEndpoint_GlobalBoostOutput"
              }
            ],
            "description": "Global boost insight with contributing campaigns."
          },
          "languageBoosts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetBoostInsightsEndpoint_LanguageBoostOutput"
                },
                "nullable": true
              }
            ],
            "description": "Language-specific boost insights.",
            "deprecated": true
          },
          "audienceBoosts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetBoostInsightsEndpoint_AudienceOutput"
                },
                "nullable": true
              }
            ],
            "description": "Audience boost insights.",
            "deprecated": true
          },
          "prospectBlacklist": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetBoostInsightsEndpoint_AudienceOutput"
                }
              }
            ],
            "description": "Prospect blacklist insights."
          },
          "distillingBoosts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetBoostInsightsEndpoint_LeveledAudienceOutput"
                }
              }
            ],
            "description": "Distilling boost insights."
          },
          "labelingBoosts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetBoostInsightsEndpoint_LeveledAudienceOutput"
                }
              }
            ],
            "description": "Labeling boost insights."
          }
        }
      },
      "GetBoostStatusEndpoint_Output": {
        "required": [
          "status",
          "mode",
          "activeCampaigns",
          "inactiveCampaigns",
          "unknownCampaigns"
        ],
        "type": "object",
        "properties": {
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostStatus"
              }
            ],
            "description": "The current boost status."
          },
          "mode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostMode"
              }
            ],
            "description": "The current boost mode."
          },
          "activeCampaigns": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The list of active campaign identifiers."
          },
          "inactiveCampaigns": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The list of inactive campaign identifiers."
          },
          "unknownCampaigns": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            ],
            "description": "The list of unknown campaign identifiers."
          }
        }
      },
      "GetCampaignByIdEndpoint_Output": {
        "required": [
          "id",
          "name",
          "status",
          "priority",
          "boostingProfile",
          "boostingControlMode",
          "hasBooster",
          "boostLevel",
          "stickyConfig",
          "filters",
          "selections",
          "featureFlags",
          "ownerMail",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the campaign."
          },
          "name": {
            "type": "string",
            "description": "The name of the campaign."
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CampaignStatus"
              }
            ],
            "description": "The current status of the campaign."
          },
          "priority": {
            "type": "integer",
            "description": "The priority level of the campaign.",
            "format": "int32"
          },
          "boostingProfile": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostingProfile"
              }
            ],
            "description": "The boosting profile configuration."
          },
          "boostingControlMode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostingControlMode"
              }
            ],
            "description": "The boosting control mode."
          },
          "hasBooster": {
            "type": "boolean",
            "description": "Whether the campaign has a booster."
          },
          "boostLevel": {
            "type": "integer",
            "description": "The campaign's effective boost level (0-10). 0 when no boost is active.\n Lets clients render and edit the level without unpacking the boosting profile.",
            "format": "int32"
          },
          "requiresBooster": {
            "type": "boolean",
            "description": "Whether the campaign requires a booster.",
            "deprecated": true
          },
          "stickyConfig": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StickyConfig"
              }
            ],
            "description": "The sticky behavior configuration."
          },
          "filters": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ICampaignFilter"
                }
              }
            ],
            "description": "The targeting filters for this campaign."
          },
          "selections": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ICampaignSelection"
                }
              }
            ],
            "description": "The rapid selections for this campaign."
          },
          "featureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                }
              }
            ],
            "description": "The feature flags configured for this campaign."
          },
          "ownerMail": {
            "type": "string",
            "description": "The email of the campaign owner."
          },
          "organizationId": {
            "type": "string",
            "description": "The id of the organization that owns the entity.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the campaign was created.",
            "format": "date-time"
          }
        }
      },
      "GetCampaignCacheEndpoint_CampaignEntry": {
        "required": [
          "id",
          "name",
          "status",
          "priority",
          "filterCount",
          "selectionCount",
          "userScoreDimensionCount",
          "featureFlagCount",
          "rateLimitCount",
          "isPreviewEnabled",
          "boostingControlMode"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/CampaignStatus"
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "filterCount": {
            "type": "integer",
            "format": "int32"
          },
          "selectionCount": {
            "type": "integer",
            "format": "int32"
          },
          "userScoreDimensionCount": {
            "type": "integer",
            "format": "int32"
          },
          "featureFlagCount": {
            "type": "integer",
            "format": "int32"
          },
          "rateLimitCount": {
            "type": "integer",
            "format": "int32"
          },
          "isPreviewEnabled": {
            "type": "boolean"
          },
          "boostingControlMode": {
            "$ref": "#/components/schemas/BoostingControlMode"
          }
        }
      },
      "GetCampaignCacheEndpoint_Output": {
        "required": [
          "count",
          "campaigns"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of cached campaigns.",
            "format": "int32"
          },
          "campaigns": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetCampaignCacheEndpoint_CampaignEntry"
                }
              }
            ],
            "description": "The list of cached campaign summaries."
          }
        }
      },
      "GetFastBidMultiplierEndpoint_Output": {
        "required": [
          "externalCampaignId",
          "bidMultiplierValue"
        ],
        "type": "object",
        "properties": {
          "externalCampaignId": {
            "type": "integer",
            "description": "The external campaign id reported by the downstream system.",
            "format": "int32"
          },
          "bidMultiplierValue": {
            "type": "number",
            "description": "The current bid multiplier reported for the campaign.",
            "format": "double"
          }
        }
      },
      "GetUserScoreCacheEndpoint_Output": {
        "required": [
          "count",
          "scores"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of cached user scores.",
            "format": "int32"
          },
          "scores": {
            "allOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "number",
                  "format": "double"
                }
              }
            ],
            "description": "The cached dimension-to-score mappings."
          }
        }
      },
      "ICampaignFilter": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ICampaignFilterAndFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterAudienceStateFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterCampaignCooldownFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterCampaignIdFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterCampaignSessionCountFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterCountryFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterDemographicFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterDeviceFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterLanguageFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterNewUserFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterNotFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterOrFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterResponseCountFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterUserActionRestrictionFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterUserScoreFilter"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "AndFilter": "#/components/schemas/ICampaignFilterAndFilter",
            "AudienceStateFilter": "#/components/schemas/ICampaignFilterAudienceStateFilter",
            "CampaignCooldownFilter": "#/components/schemas/ICampaignFilterCampaignCooldownFilter",
            "CampaignIdFilter": "#/components/schemas/ICampaignFilterCampaignIdFilter",
            "CampaignSessionCountFilter": "#/components/schemas/ICampaignFilterCampaignSessionCountFilter",
            "CountryFilter": "#/components/schemas/ICampaignFilterCountryFilter",
            "DemographicFilter": "#/components/schemas/ICampaignFilterDemographicFilter",
            "DeviceFilter": "#/components/schemas/ICampaignFilterDeviceFilter",
            "LanguageFilter": "#/components/schemas/ICampaignFilterLanguageFilter",
            "NewUserFilter": "#/components/schemas/ICampaignFilterNewUserFilter",
            "NotFilter": "#/components/schemas/ICampaignFilterNotFilter",
            "OrFilter": "#/components/schemas/ICampaignFilterOrFilter",
            "ResponseCountFilter": "#/components/schemas/ICampaignFilterResponseCountFilter",
            "UserActionRestrictionFilter": "#/components/schemas/ICampaignFilterUserActionRestrictionFilter",
            "UserScoreFilter": "#/components/schemas/ICampaignFilterUserScoreFilter"
          }
        }
      },
      "ICampaignFilterAndFilter": {
        "required": [
          "filters",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AndFilter"
            ],
            "type": "string"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignFilter"
            }
          }
        }
      },
      "ICampaignFilterAudienceStateFilter": {
        "required": [
          "audienceId",
          "allowedStates",
          "includeUnknownState",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AudienceStateFilter"
            ],
            "type": "string"
          },
          "audienceId": {
            "type": "string"
          },
          "allowedStates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimplifiedAudienceUserState"
            }
          },
          "includeUnknownState": {
            "type": "boolean"
          }
        }
      },
      "ICampaignFilterCampaignCooldownFilter": {
        "required": [
          "cooldown",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CampaignCooldownFilter"
            ],
            "type": "string"
          },
          "cooldown": {
            "$ref": "#/components/schemas/ICooldownDuration"
          }
        }
      },
      "ICampaignFilterCampaignIdFilter": {
        "required": [
          "campaignIds",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CampaignIdFilter"
            ],
            "type": "string"
          },
          "campaignIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ICampaignFilterCampaignSessionCountFilter": {
        "required": [
          "sessionCount",
          "operator",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CampaignSessionCountFilter"
            ],
            "type": "string"
          },
          "sessionCount": {
            "type": "integer",
            "format": "uint32"
          },
          "operator": {
            "$ref": "#/components/schemas/ComparisonOperator"
          }
        }
      },
      "ICampaignFilterCountryFilter": {
        "required": [
          "countries",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CountryFilter"
            ],
            "type": "string"
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ICampaignFilterDemographicFilter": {
        "required": [
          "identifier",
          "values",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "DemographicFilter"
            ],
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ICampaignFilterDeviceFilter": {
        "required": [
          "deviceTypes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "DeviceFilter"
            ],
            "type": "string"
          },
          "deviceTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeviceType"
            }
          }
        }
      },
      "ICampaignFilterLanguageFilter": {
        "required": [
          "languages",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LanguageFilter"
            ],
            "type": "string"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ICampaignFilterNewUserFilter": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NewUserFilter"
            ],
            "type": "string"
          }
        }
      },
      "ICampaignFilterNotFilter": {
        "required": [
          "filter",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NotFilter"
            ],
            "type": "string"
          },
          "filter": {
            "$ref": "#/components/schemas/ICampaignFilter"
          }
        }
      },
      "ICampaignFilterOrFilter": {
        "required": [
          "filters",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OrFilter"
            ],
            "type": "string"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignFilter"
            }
          }
        }
      },
      "ICampaignFilterResponseCountFilter": {
        "required": [
          "dimension",
          "responseCount",
          "operator",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ResponseCountFilter"
            ],
            "type": "string"
          },
          "dimension": {
            "type": "string"
          },
          "responseCount": {
            "type": "integer",
            "format": "uint32"
          },
          "operator": {
            "$ref": "#/components/schemas/ComparisonOperator"
          }
        }
      },
      "ICampaignFilterUserActionRestrictionFilter": {
        "required": [
          "requiredActions",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "UserActionRestrictionFilter"
            ],
            "type": "string"
          },
          "requiredActions": { }
        }
      },
      "ICampaignFilterUserScoreFilter": {
        "required": [
          "dimension",
          "lowerbound",
          "upperbound",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "UserScoreFilter"
            ],
            "type": "string"
          },
          "dimension": {
            "type": "string"
          },
          "lowerbound": {
            "type": "number",
            "format": "double"
          },
          "upperbound": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ICampaignSelection": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ICampaignSelectionAbTestSelection"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionAudienceSelection"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionCappedSelection"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionConditionalValidationSelection"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionDemographicSelection"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionEnforcingSelection"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionLabelingSelection"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionShufflingSelection"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionStaticSelection"
          },
          {
            "$ref": "#/components/schemas/ICampaignSelectionValidationSelection"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "AbTestSelection": "#/components/schemas/ICampaignSelectionAbTestSelection",
            "AudienceSelection": "#/components/schemas/ICampaignSelectionAudienceSelection",
            "CappedSelection": "#/components/schemas/ICampaignSelectionCappedSelection",
            "ConditionalValidationSelection": "#/components/schemas/ICampaignSelectionConditionalValidationSelection",
            "DemographicSelection": "#/components/schemas/ICampaignSelectionDemographicSelection",
            "EnforcingSelection": "#/components/schemas/ICampaignSelectionEnforcingSelection",
            "LabelingSelection": "#/components/schemas/ICampaignSelectionLabelingSelection",
            "ShufflingSelection": "#/components/schemas/ICampaignSelectionShufflingSelection",
            "StaticSelection": "#/components/schemas/ICampaignSelectionStaticSelection",
            "ValidationSelection": "#/components/schemas/ICampaignSelectionValidationSelection"
          }
        }
      },
      "ICampaignSelectionAbTestSelection": {
        "required": [
          "a",
          "b",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AbTestSelection"
            ],
            "type": "string"
          },
          "a": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignSelection"
            }
          },
          "b": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignSelection"
            }
          }
        }
      },
      "ICampaignSelectionAudienceSelection": {
        "required": [
          "audienceId",
          "effort",
          "retrievalMode",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AudienceSelection"
            ],
            "type": "string"
          },
          "audienceId": {
            "type": "string"
          },
          "effort": {
            "type": "integer",
            "format": "int32"
          },
          "retrievalMode": {
            "$ref": "#/components/schemas/RetrievalMode"
          },
          "maxIterations": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "ICampaignSelectionCappedSelection": {
        "required": [
          "selections",
          "maxRapids",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CappedSelection"
            ],
            "type": "string"
          },
          "selections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignSelection"
            }
          },
          "maxRapids": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ICampaignSelectionConditionalValidationSelection": {
        "required": [
          "validationChances",
          "dimensions",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ConditionalValidationSelection"
            ],
            "type": "string"
          },
          "validationChances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationChance"
            }
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ICampaignSelectionDemographicSelection": {
        "required": [
          "keys",
          "maxRapids",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "DemographicSelection"
            ],
            "type": "string"
          },
          "keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "probability": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "maxRapids": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ICampaignSelectionEnforcingSelection": {
        "required": [
          "selections",
          "minSelections",
          "minRapids",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "EnforcingSelection"
            ],
            "type": "string"
          },
          "selections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignSelection"
            }
          },
          "minSelections": {
            "type": "integer",
            "format": "int32"
          },
          "minRapids": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ICampaignSelectionLabelingSelection": {
        "required": [
          "effortBudget",
          "retrievalMode",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LabelingSelection"
            ],
            "type": "string"
          },
          "amount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "effortBudget": {
            "type": "integer",
            "format": "int32"
          },
          "retrievalMode": {
            "$ref": "#/components/schemas/RetrievalMode"
          },
          "maxIterations": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "ICampaignSelectionShufflingSelection": {
        "required": [
          "selections",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ShufflingSelection"
            ],
            "type": "string"
          },
          "selections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICampaignSelection"
            }
          }
        }
      },
      "ICampaignSelectionStaticSelection": {
        "required": [
          "rapidIds",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "StaticSelection"
            ],
            "type": "string"
          },
          "rapidIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ICampaignSelectionValidationSelection": {
        "required": [
          "validationSetId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ValidationSelection"
            ],
            "type": "string"
          },
          "validationSetId": {
            "type": "string"
          },
          "amount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "effortBudget": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "ICooldownDuration": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ICooldownDurationFixedCooldownDuration"
          },
          {
            "$ref": "#/components/schemas/ICooldownDurationRandomCooldownDuration"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "FixedCooldownDuration": "#/components/schemas/ICooldownDurationFixedCooldownDuration",
            "RandomCooldownDuration": "#/components/schemas/ICooldownDurationRandomCooldownDuration"
          }
        }
      },
      "ICooldownDurationFixedCooldownDuration": {
        "required": [
          "duration",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FixedCooldownDuration"
            ],
            "type": "string"
          },
          "duration": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ICooldownDurationRandomCooldownDuration": {
        "required": [
          "minDuration",
          "maxDuration",
          "seedByUserId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "RandomCooldownDuration"
            ],
            "type": "string"
          },
          "minDuration": {
            "type": "string",
            "format": "date-time"
          },
          "maxDuration": {
            "type": "string",
            "format": "date-time"
          },
          "seedByUserId": {
            "type": "boolean"
          }
        }
      },
      "IProgramAction": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IProgramActionCompleteAction"
          },
          {
            "$ref": "#/components/schemas/IProgramActionServeRapidAction"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "CompleteAction": "#/components/schemas/IProgramActionCompleteAction",
            "ServeRapidAction": "#/components/schemas/IProgramActionServeRapidAction"
          }
        }
      },
      "IProgramActionCompleteAction": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompleteAction"
            ],
            "type": "string"
          }
        }
      },
      "IProgramActionServeRapidAction": {
        "required": [
          "routingId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ServeRapidAction"
            ],
            "type": "string"
          },
          "routingId": {
            "type": "string"
          },
          "retrievalMode": {
            "$ref": "#/components/schemas/RetrievalMode"
          }
        }
      },
      "IProgramNode": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IProgramNodeActionNode"
          },
          {
            "$ref": "#/components/schemas/IProgramNodeCasesNode"
          },
          {
            "$ref": "#/components/schemas/IProgramNodeWeightedSplitNode"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ActionNode": "#/components/schemas/IProgramNodeActionNode",
            "CasesNode": "#/components/schemas/IProgramNodeCasesNode",
            "WeightedSplitNode": "#/components/schemas/IProgramNodeWeightedSplitNode"
          }
        }
      },
      "IProgramNodeActionNode": {
        "required": [
          "action",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ActionNode"
            ],
            "type": "string"
          },
          "action": {
            "$ref": "#/components/schemas/IProgramAction"
          }
        }
      },
      "IProgramNodeCasesNode": {
        "required": [
          "cases",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CasesNode"
            ],
            "type": "string"
          },
          "cases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProgramCase"
            }
          },
          "defaultNodeId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IProgramNodeWeightedSplitNode": {
        "required": [
          "branches",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "WeightedSplitNode"
            ],
            "type": "string"
          },
          "branches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WeightedBranch"
            }
          }
        }
      },
      "IProgramPredicate": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IProgramPredicateAccuracyPredicate"
          },
          {
            "$ref": "#/components/schemas/IProgramPredicateAnsweredCountPredicate"
          },
          {
            "$ref": "#/components/schemas/IProgramPredicateConsecutiveCorrectPredicate"
          },
          {
            "$ref": "#/components/schemas/IProgramPredicateConsecutiveIncorrectPredicate"
          },
          {
            "$ref": "#/components/schemas/IProgramPredicateCorrectCountPredicate"
          },
          {
            "$ref": "#/components/schemas/IProgramPredicateTimeElapsedPredicate"
          },
          {
            "$ref": "#/components/schemas/IProgramPredicateUserAttributePredicate"
          },
          {
            "$ref": "#/components/schemas/IProgramPredicateUserScorePredicate"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "AccuracyPredicate": "#/components/schemas/IProgramPredicateAccuracyPredicate",
            "AnsweredCountPredicate": "#/components/schemas/IProgramPredicateAnsweredCountPredicate",
            "ConsecutiveCorrectPredicate": "#/components/schemas/IProgramPredicateConsecutiveCorrectPredicate",
            "ConsecutiveIncorrectPredicate": "#/components/schemas/IProgramPredicateConsecutiveIncorrectPredicate",
            "CorrectCountPredicate": "#/components/schemas/IProgramPredicateCorrectCountPredicate",
            "TimeElapsedPredicate": "#/components/schemas/IProgramPredicateTimeElapsedPredicate",
            "UserAttributePredicate": "#/components/schemas/IProgramPredicateUserAttributePredicate",
            "UserScorePredicate": "#/components/schemas/IProgramPredicateUserScorePredicate"
          }
        }
      },
      "IProgramPredicateAccuracyPredicate": {
        "required": [
          "comparison",
          "threshold",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AccuracyPredicate"
            ],
            "type": "string"
          },
          "comparison": {
            "$ref": "#/components/schemas/ProgramComparison"
          },
          "threshold": {
            "type": "number",
            "format": "double"
          },
          "minimumAnswered": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IProgramPredicateAnsweredCountPredicate": {
        "required": [
          "comparison",
          "value",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AnsweredCountPredicate"
            ],
            "type": "string"
          },
          "comparison": {
            "$ref": "#/components/schemas/ProgramComparison"
          },
          "value": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IProgramPredicateConsecutiveCorrectPredicate": {
        "required": [
          "comparison",
          "value",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ConsecutiveCorrectPredicate"
            ],
            "type": "string"
          },
          "comparison": {
            "$ref": "#/components/schemas/ProgramComparison"
          },
          "value": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IProgramPredicateConsecutiveIncorrectPredicate": {
        "required": [
          "comparison",
          "value",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ConsecutiveIncorrectPredicate"
            ],
            "type": "string"
          },
          "comparison": {
            "$ref": "#/components/schemas/ProgramComparison"
          },
          "value": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IProgramPredicateCorrectCountPredicate": {
        "required": [
          "comparison",
          "value",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CorrectCountPredicate"
            ],
            "type": "string"
          },
          "comparison": {
            "$ref": "#/components/schemas/ProgramComparison"
          },
          "value": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IProgramPredicateTimeElapsedPredicate": {
        "required": [
          "comparison",
          "seconds",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TimeElapsedPredicate"
            ],
            "type": "string"
          },
          "comparison": {
            "$ref": "#/components/schemas/ProgramComparison"
          },
          "seconds": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IProgramPredicateUserAttributePredicate": {
        "required": [
          "attribute",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "UserAttributePredicate"
            ],
            "type": "string"
          },
          "attribute": {
            "$ref": "#/components/schemas/UserAttribute"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IProgramPredicateUserScorePredicate": {
        "required": [
          "comparison",
          "threshold",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "UserScorePredicate"
            ],
            "type": "string"
          },
          "comparison": {
            "$ref": "#/components/schemas/ProgramComparison"
          },
          "threshold": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ProgramCase": {
        "required": [
          "predicate",
          "nodeId"
        ],
        "type": "object",
        "properties": {
          "predicate": {
            "$ref": "#/components/schemas/IProgramPredicate"
          },
          "nodeId": {
            "type": "string"
          }
        }
      },
      "ProgramComparison": {
        "enum": [
          "GreaterThanOrEqual",
          "GreaterThan",
          "LessThanOrEqual",
          "LessThan",
          "Equal"
        ]
      },
      "QueryCampaignsEndpoint_Output": {
        "required": [
          "id",
          "name",
          "status",
          "priority",
          "hasBooster",
          "boostLevel",
          "boostingControlMode",
          "ownerMail",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the campaign."
          },
          "name": {
            "type": "string",
            "description": "The name of the campaign."
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CampaignStatus"
              }
            ],
            "description": "The current status of the campaign."
          },
          "priority": {
            "type": "integer",
            "description": "The priority level of the campaign.",
            "format": "int32"
          },
          "hasBooster": {
            "type": "boolean",
            "description": "Whether the campaign has a booster."
          },
          "boostLevel": {
            "type": "integer",
            "description": "The campaign's effective boost level (0-10). 0 when no boost is active.\n Lets clients render and edit the level without unpacking the boosting profile.",
            "format": "int32"
          },
          "boostingControlMode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BoostingControlMode"
              }
            ],
            "description": "How the campaign's boost is controlled — Manual (user-editable) or Automatic\n (managed by an owning service; boost edits are rejected by the API)."
          },
          "requiresBooster": {
            "type": "boolean",
            "description": "Whether the campaign requires a booster.",
            "deprecated": true
          },
          "ownerMail": {
            "type": "string",
            "description": "The email of the campaign owner."
          },
          "organizationId": {
            "type": "string",
            "description": "The id of the organization that owns the entity.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the campaign was created.",
            "format": "date-time"
          }
        }
      },
      "QueryCampaignsEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryCampaignsEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "QueryExternalAudiencesEndpoint_Output": {
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The external audience identifier.",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "The name of the external audience."
          },
          "count": {
            "type": "integer",
            "description": "The number of users in the audience.",
            "format": "int64",
            "nullable": true
          }
        }
      },
      "QueryExternalAudiencesEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryExternalAudiencesEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "QueryOwnerTierOverridesEndpoint_Output": {
        "required": [
          "id",
          "pattern",
          "ownerMail",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the override."
          },
          "pattern": {
            "type": "string",
            "description": "The owner-email pattern the override applies to."
          },
          "priorityOverride": {
            "type": "integer",
            "description": "The priority matching owners' jobs are created with, or null.",
            "format": "int32",
            "nullable": true
          },
          "boostOverride": {
            "type": "integer",
            "description": "The global boost level matching owners' campaigns are created with, or null.",
            "format": "int32",
            "nullable": true
          },
          "ownerMail": {
            "type": "string",
            "description": "The email of the admin who created the override."
          },
          "createdAt": {
            "type": "string",
            "description": "When the override was created.",
            "format": "date-time"
          }
        }
      },
      "RetrievalMode": {
        "enum": [
          "Random",
          "Shuffled",
          "Sequential"
        ]
      },
      "SetFastBidMultiplierEndpoint_Input": {
        "required": [
          "multiplier"
        ],
        "type": "object",
        "properties": {
          "multiplier": {
            "type": "number",
            "description": "The bid multiplier to apply. Must be in [0, 50].",
            "format": "double"
          }
        }
      },
      "SetFastBidMultiplierEndpoint_Output": {
        "required": [
          "externalCampaignId",
          "appliedMultiplier"
        ],
        "type": "object",
        "properties": {
          "externalCampaignId": {
            "type": "integer",
            "description": "The external campaign id reported by the downstream system.",
            "format": "int32"
          },
          "appliedMultiplier": {
            "type": "number",
            "description": "The bid multiplier the downstream system reports as currently applied.",
            "format": "double"
          }
        }
[...]
