{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Campaign API",
    "description": "The API for the Rapidata Campaign service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/campaign/cache/campaigns": {
      "get": {
        "tags": [
          "Cache"
        ],
        "summary": "Returns the current state of the in-memory campaign cache.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignCacheEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/cache/user-scores": {
      "get": {
        "tags": [
          "Cache"
        ],
        "summary": "Returns the current state of the in-memory default user score cache.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserScoreCacheEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaign/monitor": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "The monitor endpoint is used to monitor the health of the service",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Queries orders based on a filter, page, and sort criteria.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "The parameters for filtering, paging, and sorting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfCampaignQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfCampaignQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfCampaignQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/campaign/{campaignId}/pause": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Pauses a campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "id of the campaign that should be paused",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/campaign/{campaignId}/resume": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Resumes a campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "id of the campaign that should be paused",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/campaign/{campaignId}": {
      "patch": {
        "tags": [
          "Campaign"
        ],
        "summary": "Updates a campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "id of the campaign to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "model containing the updates",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/campaign/{campaignId}/priority": {
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Updates the priority of a campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "id of the campaign to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "model containing the new priority",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePriorityModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePriorityModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePriorityModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/campaign/boost/status": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Gets the status of the boost.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostResult"
                }
              }
            }
          }
        }
      }
    },
    "/campaign/boost": {
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Updates the boost with manual boosts.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBoostModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBoostModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBoostModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BoostingProfile": {
        "type": "object",
        "properties": {
          "globalBoostLevel": {
            "type": "integer",
            "format": "int32"
          },
          "languageBoosts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "kayzenAudienceIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "CampaignQueryResult": {
        "required": [
          "id",
          "ownerMail",
          "name",
          "status",
          "priority",
          "boostingProfile",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "ownerMail": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/CampaignStatus"
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "boostingProfile": {
            "$ref": "#/components/schemas/BoostingProfile"
          },
          "requiresBooster": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CampaignStatus": {
        "enum": [
          "Created",
          "Preview",
          "Active",
          "Analysis",
          "Paused",
          "Completed"
        ]
      },
      "ChangeBoostModel": {
        "required": [
          "isManual"
        ],
        "type": "object",
        "properties": {
          "isManual": {
            "type": "boolean",
            "description": "If the manual overwrite should be applied"
          },
          "isActive": {
            "type": "boolean",
            "description": "If manual is set to true it will overrule the system with this."
          },
          "level": {
            "type": "integer",
            "description": "The boost level. Takes precedence over IsActive when set.",
            "format": "int32"
          }
        },
        "description": "The model to update the manual boost status. or putting it back to autopilot."
      },
      "Filter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "nullable": true
          },
          "value": { },
          "operator": {
            "$ref": "#/components/schemas/FilterOperator"
          },
          "logic": {
            "$ref": "#/components/schemas/LogicOperator"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            }
          }
        }
      },
      "FilterOperator": {
        "enum": [
          "Eq",
          "Neq",
          "Gt",
          "Gte",
          "Lt",
          "Lte",
          "Contains",
          "StartsWith",
          "EndsWith",
          "In",
          "NotContains"
        ]
      },
      "GetBoostResult": {
        "required": [
          "status",
          "mode",
          "activeCampaigns",
          "inactiveCampaigns",
          "unknownCampaigns"
        ],
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/GetBoostResult_BoostStatus"
          },
          "mode": {
            "$ref": "#/components/schemas/GetBoostResult_BoostMode"
          },
          "activeCampaigns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "inactiveCampaigns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "unknownCampaigns": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "GetBoostResult_BoostMode": {
        "enum": [
          "Automatic",
          "Manual"
        ]
      },
      "GetBoostResult_BoostStatus": {
        "enum": [
          "Active",
          "Inactive",
          "Partial",
          "Unknown"
        ]
      },
      "GetCampaignCacheEndpoint_CampaignEntry": {
        "required": [
          "id",
          "name",
          "status",
          "priority",
          "filterCount",
          "selectionCount",
          "userScoreDimensionCount",
          "featureFlagCount",
          "rateLimitCount",
          "isPreviewEnabled",
          "isSimpleBoostingLocked"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/CampaignStatus"
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "filterCount": {
            "type": "integer",
            "format": "int32"
          },
          "selectionCount": {
            "type": "integer",
            "format": "int32"
          },
          "userScoreDimensionCount": {
            "type": "integer",
            "format": "int32"
          },
          "featureFlagCount": {
            "type": "integer",
            "format": "int32"
          },
          "rateLimitCount": {
            "type": "integer",
            "format": "int32"
          },
          "isPreviewEnabled": {
            "type": "boolean"
          },
          "isSimpleBoostingLocked": {
            "type": "boolean"
          }
        }
      },
      "GetCampaignCacheEndpoint_Output": {
        "required": [
          "count",
          "campaigns"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of cached campaigns.",
            "format": "int32"
          },
          "campaigns": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetCampaignCacheEndpoint_CampaignEntry"
                }
              }
            ],
            "description": "The list of cached campaign summaries."
          }
        }
      },
      "GetUserScoreCacheEndpoint_Output": {
        "required": [
          "count",
          "scores"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of cached user scores.",
            "format": "int32"
          },
          "scores": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            },
            "description": "The cached dimension-to-score mappings."
          }
        }
      },
      "LogicOperator": {
        "enum": [
          "And",
          "Or",
          "Not"
        ]
      },
      "PagedResultOfCampaignQueryResult": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignQueryResult"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PageInfo": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "QueryModel": {
        "type": "object",
        "properties": {
          "page": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/PageInfo"
              }
            ]
          },
          "filter": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/RootFilter"
              }
            ]
          },
          "sortCriteria": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortCriterion"
            },
            "nullable": true
          }
        }
      },
      "RootFilter": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          "logic": {
            "$ref": "#/components/schemas/LogicOperator"
          }
        }
      },
      "SortCriterion": {
        "required": [
          "propertyName",
          "direction"
        ],
        "type": "object",
        "properties": {
          "propertyName": {
            "type": "string"
          },
          "direction": {
            "$ref": "#/components/schemas/SortDirection"
          }
        }
      },
      "SortDirection": {
        "enum": [
          "Asc",
          "Desc"
        ]
      },
      "UpdateCampaignModel": {
        "type": "object",
        "properties": {
          "priority": {
            "type": "integer",
            "description": "The new priority value for the campaign.",
            "format": "int32",
            "nullable": true
          },
          "requiresBooster": {
            "type": "boolean",
            "description": "Whether the campaign requires booster.",
            "nullable": true
          }
        },
        "description": "The model to update campaign properties."
      },
      "UpdatePriorityModel": {
        "required": [
          "priority"
        ],
        "type": "object",
        "properties": {
          "priority": {
            "type": "integer",
            "description": "The new priority value for the campaign.",
            "format": "int32"
          }
        },
        "description": "The model to update the campaign priority."
      },
      "ValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "JWT Authorization header using the Bearer scheme",
        "scheme": "bearer",
        "bearerFormat": "Json Web Token"
      },
      "OpenIdConnect": {
        "type": "openIdConnect",
        "description": "OpenId Connect connection flow",
        "openIdConnectUrl": "https://auth.rabbitdata.ch/.well-known/openid-configuration"
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth2 authorization header using the Bearer scheme",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.rabbitdata.ch/connect/authorize",
            "tokenUrl": "https://auth.rabbitdata.ch/connect/token",
            "refreshUrl": "https://auth.rabbitdata.ch/connect/token",
            "scopes": {
              "openid": "OpenID",
              "profile": "Profile",
              "email": "Email"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "Bearer": [ ],
      "OpenIdConnect": [
        "openid",
        "profile",
        "email"
      ],
      "OAuth2": [
        "openid",
        "profile",
        "email"
      ]
    }
  ],
  "tags": [
    {
      "name": "Campaign"
    }
  ]
}