{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Identity API",
    "description": "The API for the Rapidata Identity service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Rapidata.Identity.API"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/capabilities/{capability}/grantees": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Lists the grant tuples on a capability, one cursor page at a time.",
        "description": "Covers both organization-level and direct customer grants. Follow nextCursor to page.",
        "parameters": [
          {
            "name": "capability",
            "in": "path",
            "description": "The capability to inspect.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Capability"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "The opaque cursor from the previous page; omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCapabilityGranteesEndpoint_CursorPagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/customers/{customerId}/capabilities": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Lists the capabilities a customer holds.",
        "description": "capabilities are grants held through organization membership.",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The customer to inspect.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerCapabilitiesEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations/{organizationId}/capabilities": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Lists the capabilities granted to an organization.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The organization to inspect.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrganizationCapabilitiesEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations/{organizationId}/capabilities/{capability}": {
      "put": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Grants a capability to an organization.",
        "description": "Idempotent: re-granting an existing grant is a no-op.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The organization to grant the capability to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "capability",
            "in": "path",
            "description": "The capability to grant.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Capability"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Revokes an organization's capability grant.",
        "description": "Idempotent: revoking a grant that does not exist is a no-op.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The organization to revoke the capability from.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "capability",
            "in": "path",
            "description": "The capability to revoke.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Capability"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/client": {
      "post": {
        "tags": [
          "Client"
        ],
        "summary": "Creates a new client for the current customer.",
        "requestBody": {
          "description": "The client creation payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateClientEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/client/{clientId}": {
      "delete": {
        "tags": [
          "Client"
        ],
        "summary": "Deletes a client.",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The id of the client to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Client"
        ],
        "summary": "Gets the details of a specific client.",
        "operationId": "Identity.GetClient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The id of the client to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/clients": {
      "get": {
        "tags": [
          "Client"
        ],
        "summary": "Queries clients for the current customer.",
        "description": "Clients are service credentials that allow automated processes to authenticate against the API.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "display_name",
                  "-display_name",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "Filter by client_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "display_name",
            "in": "query",
            "description": "Filter by display_name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryClientsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/client/register": {
      "post": {
        "tags": [
          "Client"
        ],
        "summary": "Registers a new client using the OpenID Connect Dynamic Client Registration protocol.",
        "description": "Follows RFC 7591.",
        "requestBody": {
          "description": "The dynamic client registration request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DynamicClientRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Queries customers with filtering and pagination.",
        "description": "Results are scoped to customers that belong to the caller's organization.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "email",
                  "-email",
                  "organization_name",
                  "-organization_name"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter by email.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "organization_name",
            "in": "query",
            "description": "Filter by organization_name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "organization_id",
            "in": "query",
            "description": "Filter by organization_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryCustomersEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/identity/bridge-token": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Creates a pair of read and write bridge token keys for a client.",
        "description": "The write key stores the authentication result and the read key retrieves it.",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "The client ID to create the keys for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBridgeTokenEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Reads the bridge token keys for a given read key.",
        "description": "Returns 200 with the keys when available, 202 when they are not yet available, or 404 when not found.",
        "parameters": [
          {
            "name": "readKey",
            "in": "query",
            "description": "The read key to read the bridge token keys for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBridgeTokenEndpoint_KeysOutput"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBridgeTokenEndpoint_NotAvailableOutput"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/identity/google-one-tap": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Signs in a user using a token received from Google One Tap.",
        "description": "Redirects to the register confirmation page when the account requires email confirmation.",
        "requestBody": {
          "description": "The body of the request containing the id token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleOneTapLoginEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleOneTapLoginEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/identity/referrer": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Stores the referrer in a cookie for later use during sign-up.",
        "parameters": [
          {
            "name": "referrer",
            "in": "query",
            "description": "The referrer value to store.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/newsletter/subscribe": {
      "post": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Signs an email address up to the newsletter.",
        "requestBody": {
          "description": "The email to subscribe and a recaptcha token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeToNewsletterEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/newsletter/unsubscribe": {
      "post": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Removes an email address from the newsletter.",
        "requestBody": {
          "description": "The email to unsubscribe and a recaptcha token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnsubscribeFromNewsletterEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations/accept-invitation": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "Accepts the invitation identified by the token.",
        "description": "Responds with 409 when the invitation is expired, already used, or was issued to a different\n email than the calling customer's.",
        "requestBody": {
          "description": "The invitation token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptOrgInvitationEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptOrgInvitationEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations/{organizationId}/members/{customerId}/role": {
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Sets the given member's org-scoped role.",
        "description": "Responds with 404 when the customer is not a member and 409 when changing the role of the\n organization's last owner.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The id of the organization.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "The id of the member whose role changes.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The new role.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeOrgMemberRoleEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "Creates an organization and makes the calling customer its owner.",
        "description": "The calling customer becomes both the owner and the billing customer. Responds with 400 when\n the slug is already taken.",
        "requestBody": {
          "description": "The organization to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrganizationEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Returns a paged list of the caller's organizations, each with the caller's role.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "slug",
                  "-slug"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "slug",
            "in": "query",
            "description": "Filter by slug.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryOrganizationsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations/{organizationId}": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Returns the organization with the given id.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The id of the organization to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrganizationEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Organization"
        ],
        "summary": "Updates the given organization's provided fields.",
        "description": "Only the fields present in the body are changed. Responds with 400 when the slug is already\n taken by another organization.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The id of the organization to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The fields to change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations/{organizationId}/invitations": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "Creates an invitation to join the organization.",
        "description": "Returns a single-use token the invitee presents to the accept-invitation endpoint.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The id of the organization to invite into.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The invitee email and role.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteOrgMemberEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteOrgMemberEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Returns the pending invitations of the given organization.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The id of the organization whose invitations to list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgInvitationsEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations/{organizationId}/members": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Returns the members of the given organization.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The id of the organization whose members to list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgMembersEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations/all": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Returns a paged list of every organization.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "slug",
                  "-slug",
                  "member_count",
                  "-member_count"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "slug",
            "in": "query",
            "description": "Filter by slug.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryAllOrganizationsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations/{organizationId}/members/{customerId}": {
      "delete": {
        "tags": [
          "Organization"
        ],
        "summary": "Removes the given customer's membership from the organization.",
        "description": "Responds with 404 when the customer is not a member and 409 when removing the organization's\n last owner.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The id of the organization.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "The id of the customer to remove.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations/{organizationId}/invitations/{invitationId}": {
      "delete": {
        "tags": [
          "Organization"
        ],
        "summary": "Revokes the given invitation so its token can no longer be accepted.",
        "description": "Responds with 404 when the invitation does not belong to the organization and 409 when it is\n not pending.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The id of the organization.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invitationId",
            "in": "path",
            "description": "The id of the invitation to revoke.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations/{owner}/support-slack-channel": {
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Sets the support Slack channel URL for the organization owned by the given customer.",
        "description": "A null or empty URL clears the channel. Responds with 404 when no organization is owned by the given customer.",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "description": "The customer ID that owns the organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The support Slack channel URL to set or clear.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetOrganizationSupportSlackChannelEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations/active": {
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Switches the calling customer's active organization to the given one.",
        "description": "The active organization determines the token's org claim; the change takes effect the next time\n the client refreshes its token. Responds with 403 when the caller is not a member of the target\n organization.",
        "requestBody": {
          "description": "The organization to activate.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwitchActiveOrganizationEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/identity/survey": {
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "Submits a survey for the calling customer.",
        "requestBody": {
          "description": "The survey fields to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSurveyEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AcceptOrgInvitationEndpoint_Input": {
        "required": [
          "token"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The single-use invitation token."
          }
        }
      },
      "AcceptOrgInvitationEndpoint_Output": {
        "required": [
          "organizationId",
          "membershipId"
        ],
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "The organization the customer joined."
          },
          "membershipId": {
            "type": "string",
            "description": "The id of the created membership."
          }
        }
      },
      "Capability": {
        "enum": [
          "SkipContentCheck"
        ],
        "description": "The named platform-wide capability entitlements a customer can be granted. Each maps to a\n`capability` object in the authorization graph; convert to its object id with\nstring CapabilityExtensions.ToObjectId(Capability capability). Kept as a typed enum so\ncapability grants read explicitly at call sites (and, later, on endpoint contracts) instead of\npassing raw id strings around."
      },
      "ChangeOrgMemberRoleEndpoint_Input": {
        "required": [
          "role"
        ],
        "type": "object",
        "properties": {
          "role": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OrgRole"
              }
            ],
            "description": "The org-scoped role to assign to the member."
          }
        }
      },
      "Client": {
        "required": [
          "client_id",
          "client_secret",
          "client_id_issued_at",
          "client_secret_expires_at",
          "redirect_uris",
          "grant_types",
          "response_types",
          "client_name",
          "client_uri",
          "logo_uri",
          "scope",
          "contacts",
          "tos_uri",
          "policy_uri",
          "jwks_uri",
          "jwks"
        ],
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string",
            "nullable": true
          },
          "client_id_issued_at": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "client_secret_expires_at": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "grant_types": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "response_types": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "client_name": {
            "type": "string",
            "nullable": true
          },
          "client_uri": {
            "type": "string",
            "nullable": true
          },
          "logo_uri": {
            "type": "string",
            "nullable": true
          },
          "scope": {
            "type": "string",
            "description": "String containing a space-separated list of scope values\n that the client can use when requesting access tokens.",
            "nullable": true
          },
          "contacts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              }
            ],
            "description": "Array of strings representing ways to contact people responsible for this client,\n typically email addresses."
          },
          "tos_uri": {
            "type": "string",
            "nullable": true
          },
          "policy_uri": {
            "type": "string",
            "nullable": true
          },
          "jwks_uri": {
            "type": "string",
            "nullable": true
          },
          "jwks": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/JsonWebKeySet"
              }
            ],
            "nullable": true
          }
        },
        "description": "The response containing the id and secret of a dynamically registered client.\n Additionally, it contains all registered metadata for the client."
      },
      "CreateBridgeTokenEndpoint_Output": {
        "required": [
          "readKey",
          "writeKey"
        ],
        "type": "object",
        "properties": {
          "readKey": {
            "type": "string",
            "description": "The read key used to retrieve the authentication result."
          },
          "writeKey": {
            "type": "string",
            "description": "The write key used to store the authentication result."
          }
        }
      },
      "CreateClientEndpoint_Input": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "An optional display name for the client.",
            "nullable": true
          }
        }
      },
      "CreateClientEndpoint_Output": {
        "required": [
          "clientId",
          "clientSecret"
        ],
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The id of the created client."
          },
          "clientSecret": {
            "type": "string",
            "description": "The secret of the created client."
          }
        }
      },
      "CreateOrganizationEndpoint_Input": {
        "required": [
          "name",
          "slug"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The human-readable name of the organization."
          },
          "slug": {
            "type": "string",
            "description": "A URL-safe unique identifier for the organization."
          },
          "primaryDomain": {
            "type": "string",
            "description": "The primary email domain associated with the organization, if any.",
            "nullable": true
          }
        }
      },
      "CreateOrganizationEndpoint_Output": {
        "required": [
          "organizationId"
        ],
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "The id of the created organization."
          }
        }
      },
      "DynamicClientRegistrationRequest": {
        "type": "object",
        "properties": {
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "grant_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "response_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "client_id": {
            "type": "string",
            "nullable": true
          },
          "client_name": {
            "type": "string",
            "nullable": true
          },
          "client_uri": {
            "type": "string",
            "nullable": true
          },
          "logo_uri": {
            "type": "string",
            "nullable": true
          },
          "scope": {
            "type": "string",
            "description": "String containing a space-separated list of scope values\n that the client can use when requesting access tokens.",
            "nullable": true
          },
          "contacts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              }
            ],
            "description": "Array of strings representing ways to contact people responsible for this client,\n typically email addresses."
          },
          "tos_uri": {
            "type": "string",
            "nullable": true
          },
          "policy_uri": {
            "type": "string",
            "nullable": true
          },
          "jwks_uri": {
            "type": "string",
            "nullable": true
          },
          "jwks": {
            "allOf": [
              {
                "$ref": "#/components/schemas/JsonWebKeySet"
              }
            ],
            "description": "Client's JSON Web Key Set [RFC7517] document value, which contains the client's public keys."
          }
        },
        "description": "The request body for dynamic client registration."
      },
      "GetCapabilityGranteesEndpoint_CursorPagedResultOfOutput": {
        "required": [
          "items"
        ],
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetCapabilityGranteesEndpoint_Output"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true
          }
        },
        "description": "A page of results identified by an opaque cursor rather than an offset. Used where the\nunderlying store pages by continuation token and a total count is unavailable or expensive.\nstring? CursorPagedResult&lt;T&gt;.NextCursor is null on the last page."
      },
      "GetCapabilityGranteesEndpoint_Output": {
        "required": [
          "object",
          "relation",
          "user",
          "timestamp"
        ],
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "description": "The object, as type:id."
          },
          "relation": {
            "type": "string",
            "description": "The relation."
          },
          "user": {
            "type": "string",
            "description": "The subject, as type:id[#relation]."
          },
          "timestamp": {
            "type": "string",
            "description": "When the grant was written.",
            "format": "date-time"
          }
        }
      },
      "GetCustomerCapabilitiesEndpoint_Output": {
        "required": [
          "capabilities"
        ],
        "type": "object",
        "properties": {
          "capabilities": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            ],
            "description": "Capabilities granted to the customer through organization membership."
          }
        }
      },
      "GetOrganizationCapabilitiesEndpoint_Output": {
        "required": [
          "capabilities"
        ],
        "type": "object",
        "properties": {
          "capabilities": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            ],
            "description": "The capabilities granted to the organization, held by all of its members."
          }
        }
      },
      "GetOrganizationEndpoint_Output": {
        "required": [
          "id",
          "name",
          "slug",
          "billingCustomerId",
          "primaryDomain"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the organization."
          },
          "name": {
            "type": "string",
            "description": "The human-readable name of the organization."
          },
          "slug": {
            "type": "string",
            "description": "The URL-safe unique identifier of the organization."
          },
          "billingCustomerId": {
            "type": "string",
            "description": "The customer that owns billing for the organization.",
            "format": "uuid"
          },
          "primaryDomain": {
            "type": "string",
            "description": "The primary email domain associated with the organization, if any.",
            "nullable": true
          }
        }
      },
      "GoogleOneTapLoginEndpoint_Input": {
        "required": [
          "idToken"
        ],
        "type": "object",
        "properties": {
          "idToken": {
            "type": "string",
            "description": "The id token received from the Google One Tap login."
          }
        }
      },
      "GoogleOneTapLoginEndpoint_Output": {
        "required": [
          "requiresEmailConfirmation"
        ],
        "type": "object",
        "properties": {
          "requiresEmailConfirmation": {
            "type": "boolean",
            "description": "Whether the account still requires email confirmation."
          },
          "email": {
            "type": "string",
            "description": "The email of the signed-in user, if available.",
            "nullable": true
          }
        }
      },
      "InviteOrgMemberEndpoint_Input": {
        "required": [
          "email",
          "role"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address to invite."
          },
          "role": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OrgRole"
              }
            ],
            "description": "The org-scoped role the resulting membership will confer."
          }
        }
      },
      "InviteOrgMemberEndpoint_Output": {
        "required": [
          "invitationId",
          "token",
          "expiresAt"
        ],
        "type": "object",
        "properties": {
          "invitationId": {
            "type": "string",
            "description": "The id of the created invitation."
          },
          "token": {
            "type": "string",
            "description": "The single-use token used to accept the invitation."
          },
          "expiresAt": {
            "type": "string",
            "description": "The instant after which the invitation can no longer be accepted.",
            "format": "date-time"
          }
        }
      },
      "JsonWebKey": {
        "type": "object",
        "properties": {
          "alg": {
            "type": "string",
            "nullable": true
          },
          "crv": {
            "type": "string",
            "nullable": true
          },
          "d": {
            "type": "string",
            "nullable": true
          },
          "dp": {
            "type": "string",
            "nullable": true
          },
          "dq": {
            "type": "string",
            "nullable": true
          },
          "e": {
            "type": "string",
            "nullable": true
          },
          "k": {
            "type": "string",
            "nullable": true
          },
          "key_ops": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "kid": {
            "type": "string",
            "nullable": true
          },
          "kty": {
            "type": "string",
            "nullable": true
          },
          "n": {
            "type": "string",
            "nullable": true
          },
          "oth": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "p": {
            "type": "string",
            "nullable": true
          },
          "q": {
            "type": "string",
            "nullable": true
          },
          "qi": {
            "type": "string",
            "nullable": true
          },
          "use": {
            "type": "string",
            "nullable": true
          },
          "x": {
            "type": "string",
            "nullable": true
          },
          "x5c": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "x5t": {
            "type": "string",
            "nullable": true
          },
          "x5t#S256": {
            "type": "string",
            "nullable": true
          },
          "x5u": {
            "type": "string",
            "nullable": true
          },
          "y": {
            "type": "string",
            "nullable": true
          },
          "pub": {
            "type": "string",
            "nullable": true
          },
          "priv": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "JsonWebKeySet": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonWebKey"
            },
            "nullable": true
          }
        }
      },
      "ListOrgInvitationsEndpoint_Output": {
        "required": [
          "invitations"
        ],
        "type": "object",
        "properties": {
          "invitations": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ListOrgInvitationsEndpoint_Output_Invitation"
                }
              }
            ],
            "description": "The pending invitations of the organization."
          }
        }
      },
      "ListOrgInvitationsEndpoint_Output_Invitation": {
        "required": [
          "invitationId",
          "email",
          "role",
          "expiresAt",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "invitationId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/OrgRole"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ListOrgMembersEndpoint_Output": {
        "required": [
          "members"
        ],
        "type": "object",
        "properties": {
          "members": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ListOrgMembersEndpoint_Output_Member"
                }
              }
            ],
            "description": "The members of the organization."
          }
        }
      },
      "ListOrgMembersEndpoint_Output_Member": {
        "required": [
          "customerId",
          "email",
          "role",
          "status"
        ],
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "$ref": "#/components/schemas/OrgRole"
          },
          "status": {
            "$ref": "#/components/schemas/MembershipStatus"
          }
        }
      },
      "MembershipStatus": {
        "enum": [
          "Active",
          "Suspended"
        ]
      },
      "OrgRole": {
        "enum": [
          "Owner",
          "Admin",
          "Editor",
          "Viewer"
        ]
      },
      "QueryAllOrganizationsEndpoint_Output": {
        "required": [
          "id",
          "name",
          "slug",
          "memberCount"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the organization."
          },
          "name": {
            "type": "string",
            "description": "The human-readable name of the organization."
          },
          "slug": {
            "type": "string",
            "description": "The URL-safe unique identifier of the organization."
          },
          "memberCount": {
            "type": "integer",
            "description": "The number of members the organization has.",
            "format": "int32"
          }
        }
      },
      "QueryAllOrganizationsEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryAllOrganizationsEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "QueryClientsEndpoint_Output": {
        "required": [
          "clientId",
          "displayName",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The id of the client.",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "description": "The optional display name of the client.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "The time at which the client was created.",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "QueryClientsEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryClientsEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "QueryCustomersEndpoint_Output": {
        "required": [
          "id",
          "email",
          "organizationName",
          "organizationId"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "nullable": true
          },
          "organizationName": {
            "type": "string",
            "description": "The name of the organization this customer belongs to, if any.",
            "nullable": true
          },
          "organizationId": {
            "type": "string",
            "description": "The identifier of the organization this customer belongs to, if any.",
            "format": "uuid",
            "nullable": true
          }
        }
      },
      "QueryCustomersEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryCustomersEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "QueryOrganizationsEndpoint_Output": {
        "required": [
          "id",
          "name",
          "slug",
          "role"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the organization."
          },
          "name": {
            "type": "string",
            "description": "The human-readable name of the organization."
          },
          "slug": {
            "type": "string",
            "description": "The URL-safe unique identifier of the organization."
          },
          "role": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OrgRole"
              }
            ],
            "description": "The caller's role in the organization."
          }
        }
      },
      "QueryOrganizationsEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryOrganizationsEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ReadBridgeTokenEndpoint_KeysOutput": {
        "required": [
          "accessToken",
          "expiresIn",
          "refreshToken",
          "idToken",
          "tokenType",
          "scope"
        ],
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "The issued access token.",
            "nullable": true
          },
          "expiresIn": {
            "type": "integer",
            "description": "The lifetime of the access token, in seconds.",
            "format": "int32",
            "nullable": true
          },
          "refreshToken": {
            "type": "string",
            "description": "The refresh token used to obtain new access tokens.",
            "nullable": true
          },
          "idToken": {
            "type": "string",
            "description": "The OpenID Connect ID token.",
            "nullable": true
          },
          "tokenType": {
            "type": "string",
            "description": "The type of the issued token.",
            "nullable": true
          },
          "scope": {
            "type": "string",
            "description": "The scopes granted to the issued token.",
            "nullable": true
          }
        }
      },
      "ReadBridgeTokenEndpoint_NotAvailableOutput": {
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A message indicating that the keys are not yet available."
          }
        }
      },
      "SendSurveyEndpoint_Input": {
        "required": [
          "fields"
        ],
        "type": "object",
        "properties": {
          "fields": {
            "allOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            ],
            "description": "The fields of the survey."
          }
        }
      },
      "SetOrganizationSupportSlackChannelEndpoint_Input": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The support Slack channel URL to set, or null/empty to clear it.",
            "nullable": true
          }
        }
      },
      "SubscribeToNewsletterEndpoint_Input": {
        "required": [
          "email",
          "token"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email of the user to subscribe."
          },
          "token": {
            "type": "string",
            "description": "The recaptcha token used to verify the caller is not a bot."
          }
        }
      },
      "SwitchActiveOrganizationEndpoint_Input": {
        "required": [
          "organizationId"
        ],
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "The id of the organization to activate."
          }
        }
      },
      "UnsubscribeFromNewsletterEndpoint_Input": {
        "required": [
          "email",
          "token"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email of the user to unsubscribe."
          },
          "token": {
            "type": "string",
            "description": "The recaptcha token used to verify the caller is not a bot."
          }
        }
      },
      "UpdateOrganizationEndpoint_Input": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The new human-readable name, if changing it."
          },
          "slug": {
            "type": "string",
            "description": "The new URL-safe unique identifier, if changing it."
          }
        }
      },
      "ValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "OpenIdConnect": {
        "type": "openIdConnect",
        "description": "OpenID Connect connection flow",
        "openIdConnectUrl": "https://auth.rabbitdata.ch/.well-known/openid-configuration"
      }
    }
  },
  "security": [
    {
      "OpenIdConnect": [
        "openid",
        "profile",
        "email",
        "offline_access"
      ]
    }
  ],
  "tags": [
    {
      "name": "Rapidata.Identity.API"
    }
  ]
}