{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Identity API",
    "description": "The API for the Rapidata Identity service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Rapidata.Identity.API"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/client": {
      "post": {
        "tags": [
          "Client"
        ],
        "summary": "Creates a new client for the current customer.",
        "requestBody": {
          "description": "The client creation payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateClientEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/client/{clientId}": {
      "delete": {
        "tags": [
          "Client"
        ],
        "summary": "Deletes a client.",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The id of the client to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Client"
        ],
        "summary": "Gets the details of a specific client.",
        "operationId": "Identity.GetClient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The id of the client to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/clients": {
      "get": {
        "tags": [
          "Client"
        ],
        "summary": "Queries clients for the current customer.",
        "description": "Clients are service credentials that allow automated processes to authenticate against the API.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "display_name",
                  "-display_name",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "Filter by client_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "display_name",
            "in": "query",
            "description": "Filter by display_name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryClientsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/client/register": {
      "post": {
        "tags": [
          "Client"
        ],
        "summary": "Registers a new client using the OpenID Connect Dynamic Client Registration protocol.",
        "description": "Follows RFC 7591.",
        "requestBody": {
          "description": "The dynamic client registration request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DynamicClientRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Queries customers with filtering and pagination.",
        "description": "Results are scoped to customers that belong to the caller's organization.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "email",
                  "-email",
                  "organization_name",
                  "-organization_name"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter by email.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "organization_name",
            "in": "query",
            "description": "Filter by organization_name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "organization_id",
            "in": "query",
            "description": "Filter by organization_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryCustomersEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/identity/bridge-token": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Creates a pair of read and write bridge token keys for a client.",
        "description": "The write key stores the authentication result and the read key retrieves it.",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "The client ID to create the keys for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBridgeTokenEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Reads the bridge token keys for a given read key.",
        "description": "Returns 200 with the keys when available, 202 when they are not yet available, or 404 when not found.",
        "parameters": [
          {
            "name": "readKey",
            "in": "query",
            "description": "The read key to read the bridge token keys for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBridgeTokenEndpoint_KeysOutput"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBridgeTokenEndpoint_NotAvailableOutput"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/identity/google-one-tap": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Signs in a user using a token received from Google One Tap.",
        "description": "Redirects to the register confirmation page when the account requires email confirmation.",
        "requestBody": {
          "description": "The body of the request containing the id token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleOneTapLoginEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleOneTapLoginEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/identity/referrer": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Stores the referrer in a cookie for later use during sign-up.",
        "parameters": [
          {
            "name": "referrer",
            "in": "query",
            "description": "The referrer value to store.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/newsletter/subscribe": {
      "post": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Signs an email address up to the newsletter.",
        "requestBody": {
          "description": "The email to subscribe and a recaptcha token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeToNewsletterEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/newsletter/unsubscribe": {
      "post": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Removes an email address from the newsletter.",
        "requestBody": {
          "description": "The email to unsubscribe and a recaptcha token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnsubscribeFromNewsletterEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Returns a paged list of organizations.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "domain",
                  "-domain"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Filter by domain.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner",
            "in": "query",
            "description": "Filter by owner.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryOrganizationsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/identity/survey": {
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "Submits a survey for the calling customer.",
        "requestBody": {
          "description": "The survey fields to submit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSurveyEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ClientModel": {
        "required": [
          "client_id",
          "client_secret",
          "client_id_issued_at",
          "client_secret_expires_at",
          "redirect_uris",
          "grant_types",
          "response_types",
          "client_name",
          "client_uri",
          "logo_uri",
          "scope",
          "contacts",
          "tos_uri",
          "policy_uri",
          "jwks_uri",
          "jwks"
        ],
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string",
            "nullable": true
          },
          "client_id_issued_at": {
            "type": "integer",
            "format": "int64"
          },
          "client_secret_expires_at": {
            "type": "integer",
            "format": "int64"
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "grant_types": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "response_types": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "client_name": {
            "type": "string",
            "nullable": true
          },
          "client_uri": {
            "type": "string",
            "nullable": true
          },
          "logo_uri": {
            "type": "string",
            "nullable": true
          },
          "scope": {
            "type": "string",
            "description": "String containing a space-separated list of scope values\n that the client can use when requesting access tokens.",
            "nullable": true
          },
          "contacts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              }
            ],
            "description": "Array of strings representing ways to contact people responsible for this client,\n typically email addresses."
          },
          "tos_uri": {
            "type": "string",
            "nullable": true
          },
          "policy_uri": {
            "type": "string",
            "nullable": true
          },
          "jwks_uri": {
            "type": "string",
            "nullable": true
          },
          "jwks": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/JsonWebKeySet"
              }
            ]
          }
        },
        "description": "The response containing the id and secret of a dynamically registered client.\n Additionally, it contains all registered metadata for the client."
      },
      "CreateBridgeTokenEndpoint_Output": {
        "required": [
          "readKey",
          "writeKey"
        ],
        "type": "object",
        "properties": {
          "readKey": {
            "type": "string",
            "description": "The read key used to retrieve the authentication result."
          },
          "writeKey": {
            "type": "string",
            "description": "The write key used to store the authentication result."
          }
        }
      },
      "CreateClientEndpoint_Input": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "An optional display name for the client.",
            "nullable": true
          }
        }
      },
      "CreateClientEndpoint_Output": {
        "required": [
          "clientId",
          "clientSecret"
        ],
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The id of the created client."
          },
          "clientSecret": {
            "type": "string",
            "description": "The secret of the created client."
          }
        }
      },
      "DynamicClientRegistrationRequest": {
        "type": "object",
        "properties": {
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "grant_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "response_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "client_id": {
            "type": "string",
            "nullable": true
          },
          "client_name": {
            "type": "string",
            "nullable": true
          },
          "client_uri": {
            "type": "string",
            "nullable": true
          },
          "logo_uri": {
            "type": "string",
            "nullable": true
          },
          "scope": {
            "type": "string",
            "description": "String containing a space-separated list of scope values\n that the client can use when requesting access tokens.",
            "nullable": true
          },
          "contacts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              }
            ],
            "description": "Array of strings representing ways to contact people responsible for this client,\n typically email addresses."
          },
          "tos_uri": {
            "type": "string",
            "nullable": true
          },
          "policy_uri": {
            "type": "string",
            "nullable": true
          },
          "jwks_uri": {
            "type": "string",
            "nullable": true
          },
          "jwks": {
            "allOf": [
              {
                "$ref": "#/components/schemas/JsonWebKeySet"
              }
            ],
            "description": "Client's JSON Web Key Set [RFC7517] document value, which contains the client's public keys."
          }
        },
        "description": "The request body for dynamic client registration."
      },
      "GoogleOneTapLoginEndpoint_Input": {
        "required": [
          "idToken"
        ],
        "type": "object",
        "properties": {
          "idToken": {
            "type": "string",
            "description": "The id token received from the Google One Tap login."
          }
        }
      },
      "GoogleOneTapLoginEndpoint_Output": {
        "required": [
          "requiresEmailConfirmation"
        ],
        "type": "object",
        "properties": {
          "requiresEmailConfirmation": {
            "type": "boolean",
            "description": "Whether the account still requires email confirmation."
          },
          "email": {
            "type": "string",
            "description": "The email of the signed-in user, if available.",
            "nullable": true
          }
        }
      },
      "JsonWebKey": {
        "type": "object",
        "properties": {
          "alg": {
            "type": "string",
            "nullable": true
          },
          "crv": {
            "type": "string",
            "nullable": true
          },
          "d": {
            "type": "string",
            "nullable": true
          },
          "dp": {
            "type": "string",
            "nullable": true
          },
          "dq": {
            "type": "string",
            "nullable": true
          },
          "e": {
            "type": "string",
            "nullable": true
          },
          "k": {
            "type": "string",
            "nullable": true
          },
          "key_ops": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "kid": {
            "type": "string",
            "nullable": true
          },
          "kty": {
            "type": "string",
            "nullable": true
          },
          "n": {
            "type": "string",
            "nullable": true
          },
          "oth": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "p": {
            "type": "string",
            "nullable": true
          },
          "q": {
            "type": "string",
            "nullable": true
          },
          "qi": {
            "type": "string",
            "nullable": true
          },
          "use": {
            "type": "string",
            "nullable": true
          },
          "x": {
            "type": "string",
            "nullable": true
          },
          "x5c": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "x5t": {
            "type": "string",
            "nullable": true
          },
          "x5t#S256": {
            "type": "string",
            "nullable": true
          },
          "x5u": {
            "type": "string",
            "nullable": true
          },
          "y": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "JsonWebKeySet": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonWebKey"
            },
            "nullable": true
          }
        }
      },
      "QueryClientsEndpoint_Output": {
        "required": [
          "clientId",
          "displayName",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The id of the client.",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "description": "The optional display name of the client.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "The time at which the client was created.",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "QueryClientsEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryClientsEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "QueryCustomersEndpoint_Output": {
        "required": [
          "id",
          "email",
          "organizationName",
          "organizationId"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "nullable": true
          },
          "organizationName": {
            "type": "string",
            "description": "The name of the organization this customer belongs to, if any.",
            "nullable": true
          },
          "organizationId": {
            "type": "string",
            "description": "The identifier of the organization this customer belongs to, if any.",
            "format": "uuid",
            "nullable": true
          }
        }
      },
      "QueryCustomersEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryCustomersEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "QueryOrganizationsEndpoint_Output": {
        "required": [
          "owner",
          "name",
          "domain"
        ],
        "type": "object",
        "properties": {
          "owner": {
            "type": "string",
            "description": "The customer ID of the organization owner.",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "The name of the organization."
          },
          "domain": {
            "type": "string",
            "description": "The domain associated with this organization."
          }
        }
      },
      "QueryOrganizationsEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryOrganizationsEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ReadBridgeTokenEndpoint_KeysOutput": {
        "required": [
          "accessToken",
          "expiresIn",
          "refreshToken",
          "idToken",
          "tokenType",
          "scope"
        ],
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "The issued access token.",
            "nullable": true
          },
          "expiresIn": {
            "type": "integer",
            "description": "The lifetime of the access token, in seconds.",
            "format": "int32"
          },
          "refreshToken": {
            "type": "string",
            "description": "The refresh token used to obtain new access tokens.",
            "nullable": true
          },
          "idToken": {
            "type": "string",
            "description": "The OpenID Connect ID token.",
            "nullable": true
          },
          "tokenType": {
            "type": "string",
            "description": "The type of the issued token.",
            "nullable": true
          },
          "scope": {
            "type": "string",
            "description": "The scopes granted to the issued token.",
            "nullable": true
          }
        }
      },
      "ReadBridgeTokenEndpoint_NotAvailableOutput": {
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A message indicating that the keys are not yet available."
          }
        }
      },
      "SendSurveyEndpoint_Input": {
        "required": [
          "fields"
        ],
        "type": "object",
        "properties": {
          "fields": {
            "allOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            ],
            "description": "The fields of the survey."
          }
        }
      },
      "SubscribeToNewsletterEndpoint_Input": {
        "required": [
          "email",
          "token"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email of the user to subscribe."
          },
          "token": {
            "type": "string",
            "description": "The recaptcha token used to verify the caller is not a bot."
          }
        }
      },
      "UnsubscribeFromNewsletterEndpoint_Input": {
        "required": [
          "email",
          "token"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email of the user to unsubscribe."
          },
          "token": {
            "type": "string",
            "description": "The recaptcha token used to verify the caller is not a bot."
          }
        }
      },
      "ValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "JWT Authorization header using the Bearer scheme",
        "scheme": "bearer",
        "bearerFormat": "Json Web Token"
      },
      "OpenIdConnect": {
        "type": "openIdConnect",
        "description": "OpenId Connect connection flow",
        "openIdConnectUrl": "https://auth.rabbitdata.ch/.well-known/openid-configuration"
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth2 authorization header using the Bearer scheme",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.rabbitdata.ch/connect/authorize",
            "tokenUrl": "https://auth.rabbitdata.ch/connect/token",
            "refreshUrl": "https://auth.rabbitdata.ch/connect/token",
            "scopes": {
              "openid": "OpenID",
              "profile": "Profile",
              "email": "Email"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "Bearer": [ ],
      "OpenIdConnect": [
        "openid",
        "profile",
        "email"
      ],
      "OAuth2": [
        "openid",
        "profile",
        "email"
      ]
    }
  ],
  "tags": [
    {
      "name": "Rapidata.Identity.API"
    }
  ]
}