{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Leaderboard API",
    "description": "The API for the Rapidata Leaderboard service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/benchmark": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Creates a benchmark.",
        "requestBody": {
          "description": "The payload describing the benchmark to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/participants": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Creates a participant in a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark the participant will be added to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The payload describing the participant to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Queries all participants within a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark whose participants will be returned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id",
                  "name",
                  "-name",
                  "status",
                  "-status"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryParticipantsByBenchmarkEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/prompt": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Adds a new prompt to a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark to add the prompt to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The payload describing the prompt to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePromptForBenchmarkEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePromptForBenchmarkEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}": {
      "delete": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Deletes a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns a single benchmark by its id.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark to load.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBenchmarkByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Updates a benchmark using patch semantics.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The patch payload describing which fields should change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/participant/{participantId}": {
      "delete": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Deletes a participant on a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark the participant belongs to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/fork": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Creates a copy of a public benchmark and all of its related entities.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark to fork.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForkBenchmarkEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/matrix": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns the pairwise vote matrix for a benchmark.",
        "description": "The matrix is returned in pandas split format.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The identifier of the benchmark.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Optional tags to filter the matrix entries.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "participantIds",
            "in": "query",
            "description": "Optional participant identifiers to include in the matrix.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "leaderboardIds",
            "in": "query",
            "description": "Optional leaderboard identifiers to scope the matrix.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring to the matrix values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteMatrixResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/combined-matrix": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns the combined pairwise vote matrix for multiple benchmarks.",
        "parameters": [
          {
            "name": "benchmarkIds",
            "in": "query",
            "description": "The identifiers of the benchmarks to combine.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring to the matrix values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCombinedBenchmarkMatrixEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/combined-standings": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns the combined standings for multiple benchmarks.",
        "parameters": [
          {
            "name": "benchmarkIds",
            "in": "query",
            "description": "The identifiers of the benchmarks to combine.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeConfidenceIntervals",
            "in": "query",
            "description": "Whether to include confidence intervals in results.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCombinedBenchmarkStandingsEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/prompts": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns the paged prompts of a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark to query.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPromptsByBenchmarkEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/standings": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Queries all standings for a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark whose standings should be queried.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "The tags to filter the standings by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "participantIds",
            "in": "query",
            "description": "The participant ids to filter by; leave empty for no filter.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "leaderboardIds",
            "in": "query",
            "description": "The leaderboard ids to filter by; leave empty for no filter.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring based on user scores.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeConfidenceIntervals",
            "in": "query",
            "description": "Whether to include confidence intervals in results.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryBenchmarkStandingsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmarks": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Queries all benchmarks of the current user.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id",
                  "name",
                  "-name",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_mail",
            "in": "query",
            "description": "Filter by owner_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryBenchmarksEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/leaderboards": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Queries all leaderboards for the given benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark whose leaderboards will be returned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id",
                  "name",
                  "-name"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryLeaderboardsByBenchmarkEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/tags": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Queries all tags within a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark whose tags will be returned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryTagsByBenchmarkEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/participants/{participantId}/submit": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Submits a participant to a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark the participant belongs to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to submit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantByBenchmarkEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/name": {
      "put": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Updates the name of a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The payload describing the new name.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkNameEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/boost": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Boosts a subset of participants within a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard to boost.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The payload describing the boost to apply.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoostLeaderboardEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Creates a new leaderboard.",
        "requestBody": {
          "description": "The current HTTP context, used for user claims.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeaderboardEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeaderboardEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/participants": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Creates a participant in a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard the participant will be added to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The payload describing the participant to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeaderboardParticipantEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeaderboardParticipantEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Queries all participants connected to a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard whose participants should be queried.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryParticipantsObsoleteEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/prompts": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Adds a new prompt to a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard to add the prompt to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The prompt text.",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePromptForLeaderboardEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}": {
      "delete": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Deletes a leaderboard by its id.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets a leaderboard by its id.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLeaderboardByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Updates a leaderboard using patch semantics.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The patch payload describing which fields should change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/combined-matrix": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Returns the combined pairwise vote matrix for multiple leaderboards.",
        "parameters": [
          {
            "name": "leaderboardIds",
            "in": "query",
            "description": "The identifiers of the leaderboards to combine.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring to the matrix values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCombinedLeaderboardMatrixEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/combined-standings": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Returns the combined standings for multiple leaderboards.",
        "parameters": [
          {
            "name": "leaderboardIds",
            "in": "query",
            "description": "The identifiers of the leaderboards to combine.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeConfidenceIntervals",
            "in": "query",
            "description": "Whether to include confidence intervals in results.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCombinedLeaderboardStandingsEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/matrix": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Returns the pairwise vote matrix for a leaderboard.",
        "description": "The matrix is returned in pandas split format.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The identifier of the leaderboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Optional tags to filter the matrix entries.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring to the matrix values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteMatrixResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/participant/{participantId}": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets a participant by its id.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard the participant belongs to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdObsoleteEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/standing/{leaderboardId}/{participantId}": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets a standing by leaderboard id and participant id.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard the standing belongs to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant whose standing should be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/runs": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Queries the runs related to a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard whose runs should be queried.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id",
                  "name",
                  "-name",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_mail",
            "in": "query",
            "description": "Filter by owner_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryLeaderboardRunsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboards": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Queries all leaderboards accessible to the current user.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id",
                  "name",
                  "-name",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "benchmark_id",
            "in": "query",
            "description": "Filter by benchmark_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryLeaderboardsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/standings": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Queries all standings for a leaderboard by its id.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard whose standings should be queried.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "The tags the standings should be filtered by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to use weighted scoring based on user scores.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeConfidenceIntervals",
            "in": "query",
            "description": "Whether to include confidence intervals in results.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryStandingsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/participants/{participantId}/submit": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Submits a participant to a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard the participant belongs to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to submit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/name": {
      "put": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Updates the name of a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The payload describing the new name.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardNameEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/response-config": {
      "put": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Updates the response configuration of a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The payload describing the new response configuration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardResponseConfigEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/participant/{participantId}/sample": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Adds a sample to a participant.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to add the sample to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The payload describing the sample to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSampleEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/participant/{participantId}/sample-new": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Adds a sample to a participant.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to add the sample to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The payload describing the sample to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleNewEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSampleNewEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/participant/{participantId}": {
      "delete": {
        "tags": [
          "Participant"
        ],
        "summary": "Deletes a participant.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Participant"
        ],
        "summary": "Gets a participant by its id.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to query.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Participant"
        ],
        "summary": "Updates a participant using patch semantics.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The patch payload describing which fields should change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/participant-sample/{sampleId}": {
      "delete": {
        "tags": [
          "Participant"
        ],
        "summary": "Deletes a participant sample.",
        "parameters": [
          {
            "name": "sampleId",
            "in": "path",
            "description": "The id of the sample to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/participant/{participantId}/disable": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Disables a participant in a benchmark.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to disable.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/participants/{participantId}/submit": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Submits a participant to a benchmark.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to submit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/participant/{participantId}/name": {
      "put": {
        "tags": [
          "Participant"
        ],
        "summary": "Updates the name of a participant.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant whose name should be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The payload containing the new participant name.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantNameEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark-prompt/{promptId}/tags": {
      "put": {
        "tags": [
          "Prompt"
        ],
        "summary": "Updates the tags associated with a prompt.",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "description": "The id of the prompt to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The new list of tags.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptTagsEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark-sample/{sampleId}": {
      "get": {
        "tags": [
          "Sample"
        ],
        "summary": "Gets a benchmark sample by its id.",
        "parameters": [
          {
            "name": "sampleId",
            "in": "path",
            "description": "The id of the sample to be retrieved.",
            "required": true,
            "schema": {
[...]
