{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Leaderboard API",
    "description": "The API for the Rapidata Leaderboard service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/benchmark/{benchmarkId}/matrix": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns the pairwise vote matrix for a benchmark.",
        "description": "The matrix is returned in pandas split format.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The identifier of the benchmark.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Optional tags to filter the matrix entries.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "participantIds",
            "in": "query",
            "description": "Optional participant identifiers to include in the matrix.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "leaderboardIds",
            "in": "query",
            "description": "Optional leaderboard identifiers to scope the matrix.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring to the matrix values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteMatrixResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/matrix": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Returns the pairwise vote matrix for a leaderboard.",
        "description": "The matrix is returned in pandas split format.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The identifier of the leaderboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Optional tags to filter the matrix entries.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring to the matrix values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteMatrixResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmarks": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Queries all benchmarks of the user.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfBenchmarkQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfBenchmarkQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfBenchmarkQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/leaderboards": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Queries all leaderboards for the current user's benchmarks.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The Id of the benchmark whoms leaderboards will be returned",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Creates a benchmark",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns a single benchmark by its ID.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetBenchmarkByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBenchmarkByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBenchmarkByIdResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Deletes a single benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Updates a benchmark using patch semantics.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/participants": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Query all participants within a benchmark",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfParticipantByBenchmark"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfParticipantByBenchmark"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfParticipantByBenchmark"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Creates a participant in a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/standings": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Queries all the standings for a benchmark by its ID.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark, which standings should be queried",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "The tags the benchmark should filter for.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "participantIds",
            "in": "query",
            "description": "The ids of the participants that should be filtered for. leave empty to not filter",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "leaderboardIds",
            "in": "query",
            "description": "The ids of the leaderboards that should be filtered for. leave empty to not filter",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to use weighted scoring based on user scores (defaults to false for backwards compatibility)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeConfidenceIntervals",
            "in": "query",
            "description": "Whether to include the confidence intervals",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByBenchmarkResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/participant/{participantId}": {
      "delete": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Deletes a participant on a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/benchmark/{benchmarkId}/name": {
      "put": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Updates the name of a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkNameModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkNameModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkNameModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/benchmark/{benchmarkId}/fork": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Creates a copy of a public benchmark and all of its related entities",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ForkBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForkBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForkBenchmarkResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/prompts": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns the paged prompts of a benchmark by its ID.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPromptByBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPromptByBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPromptByBenchmarkResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/samples/{identifier}": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns the paged prompts of a benchmark by its ID.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark to query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "The identifier to filter all samples for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "additional query settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfSampleByIdentifier"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfSampleByIdentifier"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfSampleByIdentifier"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/prompt": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Adds a new prompt to a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The benchmark id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitPromptModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitPromptModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitPromptModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkPromptResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkPromptResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkPromptResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/tags": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Query all tags within a benchmark",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark the prompts should be retrieved from",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TagsByBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsByBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsByBenchmarkResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/participants/{participantId}/submit": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Submits a participant to a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/leaderboards": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Queries all leaderboards for a specific benchmark.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets a leaderboard by its ID.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetLeaderboardByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLeaderboardByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLeaderboardByIdResult"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Updates the response config of a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "delete": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Deletes a leaderboard by its ID.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard that gets deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/name": {
      "put": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Updates the name of a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardNameModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardNameModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardNameModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/leaderboard/{leaderboardId}/response-config": {
      "put": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Updates the response config of a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardResponseConfigModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardResponseConfigModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardResponseConfigModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/leaderboard": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Creates a new leaderboard with the specified name and criteria.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeaderboardModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeaderboardModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeaderboardModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeaderboardResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeaderboardResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeaderboardResult"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/prompts": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "returns the paged prompts of a leaderboard by its ID.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPromptByBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPromptByBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPromptByBenchmarkResult"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "adds a new prompt to a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The leaderboard id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The prompt",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/leaderboard/{leaderboardId}/participants": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "queries all the participants connected to leaderboard by its ID.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfStandingByLeaderboard"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfStandingByLeaderboard"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfStandingByLeaderboard"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Creates a participant in a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/leaderboard/{leaderboardId}/standings": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "queries all the participants connected to leaderboard by its ID.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard, which standings should be queried",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "The tags the leaderboard should filter for.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to use weighted scoring based on user scores (defaults to false for backwards compatibility)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeConfidenceIntervals",
            "in": "query",
            "description": "Whether to include the confidence intervals",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByLeaderboardResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByLeaderboardResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByLeaderboardResult"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/runs": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets the runs related to a leaderboard",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfRunsByLeaderboardResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfRunsByLeaderboardResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfRunsByLeaderboardResult"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/participant/{participantId}": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets a participant by its ID.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/benchmark/standing/{leaderboardId}/{participantId}": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets a standing by leaderboardId and participantId.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/participants/{participantId}/submit": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Submits a participant to a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/leaderboard/{leaderboardId}/boost": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Boosts a subset of participants within a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "the leaderboard that should be boosted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoostLeaderboardModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BoostLeaderboardModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BoostLeaderboardModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              }
            }
          }
        }
      }
    },
    "/participant/{participantId}/sample": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Adds a sample to a participant.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to add the sample to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The model for the sample creation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/participant/{participantId}/sample-new": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Adds a sample to a participant.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to add the sample to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The model for the sample creation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      }
    },
    "/participant/{participantId}": {
      "delete": {
        "tags": [
          "Participant"
        ],
        "summary": "Deletes a participant on a benchmark.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Participant"
        ],
        "summary": "Gets a participant by it's Id.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Participant"
        ],
        "summary": "Updates a participant using patch semantics.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/participants/{participantId}/submit": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Submits a participant to a benchmark.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              }
            }
          }
        }
      }
    },
    "/participant/{participantId}/name": {
      "put": {
        "tags": [
          "Participant"
        ],
        "summary": "Updates the name of a participant",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantNameModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantNameModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantNameModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/participant-sample/{sampleId}": {
      "delete": {
        "tags": [
          "Participant"
        ],
        "summary": "Deletes a sample.",
        "parameters": [
          {
            "name": "sampleId",
            "in": "path",
            "description": "the id of the sample to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              }
            }
          }
        }
      }
    },
    "/participant/{participantId}/samples": {
      "get": {
        "tags": [
          "Participant"
        ],
        "summary": "Queries all samples of a participant.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfSampleByParticipant"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfSampleByParticipant"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfSampleByParticipant"
                }
              }
            }
          }
        }
      }
    },
    "/participant/{participantId}/disable": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "This endpoint disables a participant in a benchmark. this means that the participant will no longer actively be matched up against other participants and not collect further results. It will still be visible in the leaderboard.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to be disabled",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/benchmark-prompt/{promptId}/tags": {
      "put": {
        "tags": [
          "Prompt"
        ],
        "summary": "Updates the tags associated with a prompt.",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptTagsModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptTagsModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptTagsModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/benchmark-sample/{sampleId}": {
      "get": {
        "tags": [
          "Sample"
        ],
        "summary": "Gets a sample by its Id.",
        "parameters": [
          {
            "name": "sampleId",
            "in": "path",
            "description": "The Id of the sample to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetSampleByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSampleByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSampleByIdResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BenchmarkQueryResult": {
        "required": [
          "id",
          "name",
          "isManaged",
          "isPublic",
          "createdAt",
          "ownerMail"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isManaged": {
            "type": "boolean"
          },
          "isPublic": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "ownerMail": {
            "type": "string"
          }
        }
      },
      "BoostLeaderboardModel": {
        "required": [
          "participants",
          "totalResponses"
        ],
        "type": "object",
        "properties": {
          "participants": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The participants of the given leaderboard that should be boosted."
          },
          "totalResponses": {
            "type": "integer",
            "description": "The amount of responses in total that should be added, shared across all participants.",
            "format": "int32"
          }
        },
        "description": "The model for boosting a leaderboard."
      },
      "ComparisonOperator": {
        "enum": [
          "Equal",
          "NotEqual",
          "LessThan",
          "LessThanOrEqual",
          "GreaterThan",
          "GreaterThanOrEqual"
        ]
      },
      "ConfidenceInterval": {
        "required": [
          "lowerOffset",
          "upperOffset"
        ],
        "type": "object",
        "properties": {
          "lowerOffset": {
            "type": "number",
            "format": "double"
          },
          "upperOffset": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "CreateBenchmarkModel": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the benchmark"
          }
        },
        "description": "The model for creating a benchmark."
      },
      "CreateBenchmarkParticipantModel": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the participant."
          }
        },
        "description": "The model to create a participant in a leaderboard"
      },
      "CreateBenchmarkParticipantResult": {
        "required": [
          "participantId"
        ],
        "type": "object",
        "properties": {
          "participantId": {
            "type": "string"
          },
          "datasetId": {
            "type": "string"
          }
        }
      },
      "CreateBenchmarkPromptResult": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "CreateBenchmarkResult": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "CreateLeaderboardModel": {
        "required": [
          "name",
          "instruction",
          "showPrompt"
        ],
        "type": "object",
        "properties": {
          "benchmarkId": {
            "type": "string",
            "description": "If a leaderboard should be added to a preexisting benchmark, the benchmark Id can be provided.",
            "nullable": true
          },
          "benchmarkName": {
            "type": "string",
            "description": "If no BenchmarkId is provided a new benchmark will be created. if no name is supplied the benchmark\n will be called the same as the leaderboard.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "The name of the leaderboard."
          },
          "instruction": {
            "type": "string",
            "description": "The instruction datapoints will be matched up against."
          },
          "showPrompt": {
            "type": "boolean",
            "description": "Indicates if the prompt is shown on the rapids."
          },
          "showPromptAsset": {
            "type": "boolean",
            "description": "Whether the prompt asset should be shown on the rapids."
          },
          "responseBudget": {
            "type": "integer",
            "description": "Total amount of responses that get collected per run",
            "format": "int32"
          },
          "minResponses": {
            "type": "integer",
            "description": "The minimum amount of responses that need to be collected per comparison.",
            "format": "int32"
          },
          "isInversed": {
            "type": "boolean",
            "description": "If the results should be inversed, meaning people should select the worse model."
          },
          "validationSetId": {
            "type": "string",
            "description": "The Validation set that should be attached to every run.",
            "nullable": true
          },
          "audienceId": {
            "type": "string",
            "description": "Optional audience ID. When provided, the leaderboard will target users who have\n graduated from the audience (i.e., users with a score at or above the audience's minimum threshold).\n Cannot be specified together with Filters.",
            "nullable": true
          },
          "filters": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ListOfIUserFilterModel"
              }
            ],
            "description": "The filters will be applied on every order that is created by this leaderboard.\n Cannot be specified together with AudienceId."
          },
          "featureFlags": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ListOfFeatureFlagModel"
              }
            ],
            "description": "Feature flags that will be applied to every order that is created by this leaderboard."
          }
        },
        "description": "The CreateLeaderboardModel class represents the model for creating a leaderboard."
      },
      "CreateLeaderboardResult": {
        "required": [
          "id",
          "benchmarkId",
          "showPrompt",
          "showPromptAsset",
          "responseBudget",
          "minResponses",
          "isInversed"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "benchmarkId": {
            "type": "string"
          },
          "showPrompt": {
            "type": "boolean"
          },
          "showPromptAsset": {
            "type": "boolean"
          },
          "responseBudget": {
            "type": "integer",
            "format": "int32"
          },
          "minResponses": {
            "type": "integer",
            "format": "int32"
          },
          "isInversed": {
            "type": "boolean"
          }
        }
      },
      "CreateSampleModel": {
        "required": [
          "identifier",
          "asset"
        ],
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "The identifier used to correlate samples of different participants."
          },
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAssetInput"
              }
            ],
            "description": "The asset input for the sample."
          }
        },
        "description": "The model used to create a sample to a participant."
      },
      "FeatureFlag": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "FeatureFlagModel": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "FileType": {
        "enum": [
          "Unknown",
          "Image",
          "Video",
          "Audio"
        ]
      },
      "Filter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "nullable": true
          },
          "value": { },
          "operator": {
            "$ref": "#/components/schemas/FilterOperator"
          },
          "logic": {
            "$ref": "#/components/schemas/LogicOperator"
          },
          "filters": {
            "$ref": "#/components/schemas/ListOfFilter"
          }
        }
      },
      "FilterOperator": {
        "enum": [
          "Eq",
          "Neq",
          "Gt",
          "Gte",
          "Lt",
          "Lte",
          "Contains",
          "StartsWith",
          "EndsWith",
          "In"
        ]
      },
      "ForkBenchmarkResult": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "GetBenchmarkByIdResult": {
        "required": [
          "id",
          "name",
          "isPublic",
          "createdAt",
          "ownerId",
          "ownerMail"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "ownerId": {
            "type": "string",
            "format": "uuid"
          },
          "ownerMail": {
            "type": "string"
          }
        }
      },
      "GetLeaderboardByIdResult": {
        "required": [
          "id",
          "name",
          "instruction",
          "showPrompt",
          "showPromptAsset",
          "isInversed",
          "responseBudget",
          "minResponses",
          "filters",
          "featureFlags"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "orderId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "instruction": {
            "type": "string"
          },
          "showPrompt": {
            "type": "boolean"
          },
          "showPromptAsset": {
            "type": "boolean"
          },
          "isInversed": {
            "type": "boolean"
          },
          "responseBudget": {
            "type": "integer",
            "format": "int32"
          },
          "minResponses": {
            "type": "integer",
            "format": "int32"
          },
          "validationSetId": {
            "type": "string",
            "nullable": true
          },
          "filters": {
            "$ref": "#/components/schemas/ListOfICampaignFilter"
          },
          "featureFlags": {
            "$ref": "#/components/schemas/ListOfFeatureFlag"
          }
        }
      },
      "GetParticipantByIdResult": {
        "required": [
          "id",
          "name",
          "benchmarkId"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "benchmarkId": {
            "type": "string"
          }
        }
      },
      "GetSampleByIdResult": {
        "required": [
          "id",
          "identifier",
          "participantId",
          "participantName",
          "asset",
          "tags",
          "ownerMail"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "participantId": {
            "type": "string"
          },
          "participantName": {
            "type": "string"
          },
          "asset": {
            "$ref": "#/components/schemas/IAssetModel"
          },
          "prompt": {
            "type": "string",
            "nullable": true
          },
          "promptAsset": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/IAssetModel"
              }
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "ownerId": {
            "type": "string",
            "format": "uuid"
          },
          "ownerMail": {
            "type": "string"
          }
        }
      },
      "GetStandingByIdResult": {
        "required": [
          "id",
          "name",
          "benchmarkId",
          "status",
          "isDisabled"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "benchmarkId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/StandingStatus"
          },
          "isDisabled": {
            "type": "boolean"
          }
        }
      },
      "IAssetInput": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IAssetInputExistingAssetInput"
          },
          {
            "$ref": "#/components/schemas/IAssetInputMultiAssetInput"
          },
          {
            "$ref": "#/components/schemas/IAssetInputTextAssetInput"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ExistingAssetInput": "#/components/schemas/IAssetInputExistingAssetInput",
            "MultiAssetInput": "#/components/schemas/IAssetInputMultiAssetInput",
            "TextAssetInput": "#/components/schemas/IAssetInputTextAssetInput"
          }
        }
      },
      "IAssetInputExistingAssetInput": {
        "required": [
          "name",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ExistingAssetInput"
            ],
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ]
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetInputMultiAssetInput": {
        "required": [
          "assets",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "MultiAssetInput"
            ],
            "type": "string"
          },
          "assets": {
            "$ref": "#/components/schemas/ListOfIAssetInput"
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ]
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetInputTextAssetInput": {
        "required": [
          "text",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextAssetInput"
            ],
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ]
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IAssetModelFileAssetModel"
          },
          {
            "$ref": "#/components/schemas/IAssetModelMultiAssetModel"
          },
          {
            "$ref": "#/components/schemas/IAssetModelNullAssetModel"
          },
          {
            "$ref": "#/components/schemas/IAssetModelTextAssetModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "FileAsset": "#/components/schemas/IAssetModelFileAssetModel",
            "MultiAsset": "#/components/schemas/IAssetModelMultiAssetModel",
            "NullAsset": "#/components/schemas/IAssetModelNullAssetModel",
            "TextAsset": "#/components/schemas/IAssetModelTextAssetModel"
          }
        }
      },
      "IAssetModelFileAssetModel": {
        "required": [
          "fileName",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileAsset"
            ],
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetModelMultiAssetModel": {
        "required": [
          "assets",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "MultiAsset"
            ],
            "type": "string"
          },
          "assets": {
            "$ref": "#/components/schemas/ListOfIAssetModel"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetModelNullAssetModel": {
        "required": [
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NullAsset"
            ],
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetModelTextAssetModel": {
        "required": [
          "text",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextAsset"
            ],
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "ICampaignFilter": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ICampaignFilterAndFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterCampaignFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterCampaignSessionCountFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterCountryFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterDemographicFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterDeviceFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterLanguageFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterNewUserFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterNotFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterOrFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterResponseCountFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterUserActionRestrictionFilter"
          },
          {
            "$ref": "#/components/schemas/ICampaignFilterUserScoreFilter"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "AndFilter": "#/components/schemas/ICampaignFilterAndFilter",
            "CampaignFilter": "#/components/schemas/ICampaignFilterCampaignFilter",
            "CampaignSessionCountFilter": "#/components/schemas/ICampaignFilterCampaignSessionCountFilter",
            "CountryFilter": "#/components/schemas/ICampaignFilterCountryFilter",
            "DemographicFilter": "#/components/schemas/ICampaignFilterDemographicFilter",
            "DeviceFilter": "#/components/schemas/ICampaignFilterDeviceFilter",
            "LanguageFilter": "#/components/schemas/ICampaignFilterLanguageFilter",
            "NewUserFilter": "#/components/schemas/ICampaignFilterNewUserFilter",
            "NotFilter": "#/components/schemas/ICampaignFilterNotFilter",
            "OrFilter": "#/components/schemas/ICampaignFilterOrFilter",
            "ResponseCountFilter": "#/components/schemas/ICampaignFilterResponseCountFilter",
            "UserActionRestrictionFilter": "#/components/schemas/ICampaignFilterUserActionRestrictionFilter",
            "UserScoreFilter": "#/components/schemas/ICampaignFilterUserScoreFilter"
          }
        }
      },
      "ICampaignFilterAndFilter": {
        "required": [
          "filters",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AndFilter"
            ],
            "type": "string"
          },
          "filters": {
            "$ref": "#/components/schemas/ListOfICampaignFilter"
          },
          "executionOrder": {
            "type": "integer",
            "format": "uint32"
          },
          "innerFilters": {
            "$ref": "#/components/schemas/ListOfICampaignFilter"
          }
        }
      },
      "ICampaignFilterCampaignFilter": {
        "required": [
          "campaignIds",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CampaignFilter"
            ],
            "type": "string"
          },
          "campaignIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "executionOrder": {
            "type": "integer",
            "format": "uint32"
          }
        }
      },
      "ICampaignFilterCampaignSessionCountFilter": {
        "required": [
          "sessionCount",
          "operator",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CampaignSessionCountFilter"
            ],
            "type": "string"
          },
          "sessionCount": {
            "type": "integer",
            "format": "uint32"
          },
          "operator": {
            "$ref": "#/components/schemas/ComparisonOperator"
          },
          "executionOrder": {
            "type": "integer",
            "format": "uint32"
          }
        }
      },
      "ICampaignFilterCountryFilter": {
        "required": [
          "countries",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CountryFilter"
            ],
            "type": "string"
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "executionOrder": {
            "type": "integer",
            "format": "uint32"
          }
        }
      },
      "ICampaignFilterDemographicFilter": {
        "required": [
          "identifier",
          "values",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "DemographicFilter"
            ],
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "executionOrder": {
            "type": "integer",
            "format": "uint32"
          }
        }
      },
      "ICampaignFilterDeviceFilter": {
        "required": [
          "deviceTypes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "DeviceFilter"
            ],
            "type": "string"
          },
          "deviceTypes": {
            "type": "array",
            "items": {
              "enum": [
                "Unknown",
                "Phone",
                "Tablet"
              ]
            }
          },
          "executionOrder": {
            "type": "integer",
            "format": "uint32"
          }
        }
      },
      "ICampaignFilterLanguageFilter": {
        "required": [
          "languages",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LanguageFilter"
            ],
            "type": "string"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "executionOrder": {
            "type": "integer",
            "format": "uint32"
          }
        }
      },
      "ICampaignFilterNewUserFilter": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NewUserFilter"
            ],
            "type": "string"
          },
          "executionOrder": {
            "type": "integer",
            "format": "uint32"
          }
        }
      },
      "ICampaignFilterNotFilter": {
        "required": [
          "filter",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NotFilter"
            ],
            "type": "string"
          },
          "filter": {
            "$ref": "#/components/schemas/ICampaignFilter"
          },
          "executionOrder": {
            "type": "integer",
            "format": "uint32"
          },
          "innerFilters": {
            "$ref": "#/components/schemas/ListOfICampaignFilter"
          }
        }
      },
      "ICampaignFilterOrFilter": {
        "required": [
          "filters",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OrFilter"
            ],
            "type": "string"
          },
          "filters": {
            "$ref": "#/components/schemas/ListOfICampaignFilter"
          },
          "executionOrder": {
            "type": "integer",
            "format": "uint32"
          },
          "innerFilters": {
            "$ref": "#/components/schemas/ListOfICampaignFilter"
          }
        }
      },
      "ICampaignFilterResponseCountFilter": {
        "required": [
          "responseCount",
          "dimension",
          "operator",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ResponseCountFilter"
            ],
            "type": "string"
          },
          "responseCount": {
            "type": "integer",
            "format": "uint32"
          },
          "dimension": {
            "type": "string"
          },
          "operator": {
            "$ref": "#/components/schemas/ComparisonOperator"
          },
          "executionOrder": {
            "type": "integer",
            "format": "uint32"
          }
        }
      },
      "ICampaignFilterUserActionRestrictionFilter": {
        "required": [
          "requiredActions",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "UserActionRestrictionFilter"
            ],
            "type": "string"
          },
          "requiredActions": {
            "type": "array",
            "items": {
              "enum": [
                "Listen",
                "UseKeyboard"
              ]
            }
          },
          "executionOrder": {
            "type": "integer",
            "format": "uint32"
          }
        }
      },
      "ICampaignFilterUserScoreFilter": {
        "required": [
          "lowerbound",
          "upperbound",
          "dimension",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "UserScoreFilter"
            ],
            "type": "string"
          },
          "lowerbound": {
            "type": "number",
            "format": "double"
          },
          "upperbound": {
            "type": "number",
            "format": "double"
          },
          "dimension": {
            "type": "string"
          },
          "executionOrder": {
            "type": "integer",
            "format": "uint32"
          }
        }
      },
      "IMetadataInput": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IMetadataInputTextMetadataInput"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "TextMetadataInput": "#/components/schemas/IMetadataInputTextMetadataInput"
          }
        }
      },
      "IMetadataInputTextMetadataInput": {
        "required": [
          "text",
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextMetadataInput"
            ],
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IMetadataModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IMetadataModelClassificationMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelCountMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelFileTypeMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelImageDimensionMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelLocationMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelOriginalFilenameMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelSourceUrlMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelStreamsMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelTextMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelVideoDurationMetadataModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ClassificationMetadata": "#/components/schemas/IMetadataModelClassificationMetadataModel",
            "CountMetadata": "#/components/schemas/IMetadataModelCountMetadataModel",
            "FileTypeMetadata": "#/components/schemas/IMetadataModelFileTypeMetadataModel",
            "ImageDimensionMetadata": "#/components/schemas/IMetadataModelImageDimensionMetadataModel",
            "LocationMetadata": "#/components/schemas/IMetadataModelLocationMetadataModel",
            "OriginalFilenameMetadata": "#/components/schemas/IMetadataModelOriginalFilenameMetadataModel",
            "SourceUrlMetadataModel": "#/components/schemas/IMetadataModelSourceUrlMetadataModel",
            "StreamsMetadata": "#/components/schemas/IMetadataModelStreamsMetadataModel",
            "TextMetadata": "#/components/schemas/IMetadataModelTextMetadataModel",
            "VideoDurationMetadata": "#/components/schemas/IMetadataModelVideoDurationMetadataModel"
          }
        }
      },
      "IMetadataModelClassificationMetadataModel": {
        "required": [
          "classification",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassificationMetadata"
            ],
            "type": "string"
          },
          "classification": {
            "type": "string"
          }
        }
      },
      "IMetadataModelCountMetadataModel": {
        "required": [
          "count",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CountMetadata"
            ],
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IMetadataModelFileTypeMetadataModel": {
        "required": [
          "fileType",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileTypeMetadata"
            ],
            "type": "string"
          },
          "fileType": {
            "$ref": "#/components/schemas/FileType"
          }
        }
      },
      "IMetadataModelImageDimensionMetadataModel": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ImageDimensionMetadata"
            ],
            "type": "string"
          },
          "height": {
            "type": "integer",
            "format": "int32"
          },
          "width": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IMetadataModelLocationMetadataModel": {
        "required": [
          "x",
          "y",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocationMetadata"
            ],
            "type": "string"
          },
          "x": {
            "type": "number",
            "format": "float"
          },
          "y": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "IMetadataModelOriginalFilenameMetadataModel": {
        "required": [
          "originalFilename",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OriginalFilenameMetadata"
            ],
            "type": "string"
          },
          "originalFilename": {
            "type": "string"
          }
        }
      },
      "IMetadataModelSourceUrlMetadataModel": {
        "required": [
          "url",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SourceUrlMetadataModel"
            ],
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "IMetadataModelStreamsMetadataModel": {
        "required": [
          "hasVideo",
          "hasAudio",
          "hasSubtitles",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "StreamsMetadata"
            ],
            "type": "string"
          },
          "hasVideo": {
            "type": "boolean"
          },
          "hasAudio": {
            "type": "boolean"
          },
          "hasSubtitles": {
            "type": "boolean"
          }
        }
      },
      "IMetadataModelTextMetadataModel": {
        "required": [
          "text",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextMetadata"
            ],
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IMetadataModelVideoDurationMetadataModel": {
        "required": [
          "duration",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
[...]
