{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Leaderboard API",
    "description": "The API for the Rapidata Leaderboard service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/benchmark/{benchmarkId}/matrix": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns the pairwise vote matrix for a benchmark.",
        "description": "The matrix is returned in pandas split format.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The identifier of the benchmark.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Optional tags to filter the matrix entries.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "participantIds",
            "in": "query",
            "description": "Optional participant identifiers to include in the matrix.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "leaderboardIds",
            "in": "query",
            "description": "Optional leaderboard identifiers to scope the matrix.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring to the matrix values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteMatrixResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/combined-matrix": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns the combined pairwise vote matrix for multiple benchmarks.",
        "parameters": [
          {
            "name": "benchmarkIds",
            "in": "query",
            "description": "The identifiers of the benchmarks to combine.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring to the matrix values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCombinedBenchmarkMatrixEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/combined-standings": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns the combined standings for multiple benchmarks.",
        "parameters": [
          {
            "name": "benchmarkIds",
            "in": "query",
            "description": "The identifiers of the benchmarks to combine.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeConfidenceIntervals",
            "in": "query",
            "description": "Whether to include confidence intervals in results.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCombinedBenchmarkStandingsEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/prompts": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns the paged prompts of a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark to query.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPromptsByBenchmarkEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/combined-matrix": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Returns the combined pairwise vote matrix for multiple leaderboards.",
        "parameters": [
          {
            "name": "leaderboardIds",
            "in": "query",
            "description": "The identifiers of the leaderboards to combine.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring to the matrix values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCombinedLeaderboardMatrixEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/combined-standings": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Returns the combined standings for multiple leaderboards.",
        "parameters": [
          {
            "name": "leaderboardIds",
            "in": "query",
            "description": "The identifiers of the leaderboards to combine.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeConfidenceIntervals",
            "in": "query",
            "description": "Whether to include confidence intervals in results.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCombinedLeaderboardStandingsEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/matrix": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Returns the pairwise vote matrix for a leaderboard.",
        "description": "The matrix is returned in pandas split format.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The identifier of the leaderboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Optional tags to filter the matrix entries.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to apply weighted scoring to the matrix values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteMatrixResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark-sample/{sampleId}": {
      "get": {
        "tags": [
          "Sample"
        ],
        "summary": "Gets a benchmark sample by its id.",
        "parameters": [
          {
            "name": "sampleId",
            "in": "path",
            "description": "The id of the sample to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSampleByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/samples/{identifier}": {
      "get": {
        "tags": [
          "Sample"
        ],
        "summary": "Returns the paged samples of a benchmark filtered by an identifier.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark to query.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "The identifier to filter all samples for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSamplesByIdentifierEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/participant/{participantId}/samples": {
      "get": {
        "tags": [
          "Sample"
        ],
        "summary": "Queries all samples of a participant.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to query samples for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fillMissing",
            "in": "query",
            "description": "Whether to fill missing samples with placeholders.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSamplesByParticipantEndpoint_PagedResultOfISampleOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/benchmarks": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Queries all benchmarks of the user.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfBenchmarkQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfBenchmarkQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfBenchmarkQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/leaderboards": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Queries all leaderboards for the current user's benchmarks.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The Id of the benchmark whoms leaderboards will be returned",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Creates a benchmark",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns a single benchmark by its ID.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetBenchmarkByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBenchmarkByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBenchmarkByIdResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Deletes a single benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Updates a benchmark using patch semantics.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/participants": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Query all participants within a benchmark",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfParticipantByBenchmark"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfParticipantByBenchmark"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfParticipantByBenchmark"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Creates a participant in a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/standings": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Queries all the standings for a benchmark by its ID.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark, which standings should be queried",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "The tags the benchmark should filter for.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "participantIds",
            "in": "query",
            "description": "The ids of the participants that should be filtered for. leave empty to not filter",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "leaderboardIds",
            "in": "query",
            "description": "The ids of the leaderboards that should be filtered for. leave empty to not filter",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to use weighted scoring based on user scores (defaults to false for backwards compatibility)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeConfidenceIntervals",
            "in": "query",
            "description": "Whether to include the confidence intervals",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByBenchmarkResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/participant/{participantId}": {
      "delete": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Deletes a participant on a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/benchmark/{benchmarkId}/name": {
      "put": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Updates the name of a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkNameModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkNameModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkNameModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/benchmark/{benchmarkId}/fork": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Creates a copy of a public benchmark and all of its related entities",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ForkBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForkBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForkBenchmarkResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/prompt": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Adds a new prompt to a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The benchmark id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitPromptModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitPromptModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitPromptModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkPromptResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkPromptResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkPromptResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/tags": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Query all tags within a benchmark",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark the prompts should be retrieved from",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TagsByBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsByBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsByBenchmarkResult"
                }
              }
            }
          }
        }
      }
    },
    "/benchmark/{benchmarkId}/participants/{participantId}/submit": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Submits a participant to a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/leaderboards": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Queries all leaderboards for a specific benchmark.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets a leaderboard by its ID.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetLeaderboardByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLeaderboardByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLeaderboardByIdResult"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Updates the response config of a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "delete": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Deletes a leaderboard by its ID.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard that gets deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/name": {
      "put": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Updates the name of a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardNameModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardNameModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardNameModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/leaderboard/{leaderboardId}/response-config": {
      "put": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Updates the response config of a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardResponseConfigModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardResponseConfigModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardResponseConfigModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/leaderboard": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Creates a new leaderboard with the specified name and criteria.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeaderboardModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeaderboardModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeaderboardModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeaderboardResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeaderboardResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeaderboardResult"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/prompts": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "adds a new prompt to a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The leaderboard id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The prompt",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/leaderboard/{leaderboardId}/participants": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "queries all the participants connected to leaderboard by its ID.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfStandingByLeaderboard"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfStandingByLeaderboard"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfStandingByLeaderboard"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Creates a participant in a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/leaderboard/{leaderboardId}/standings": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "queries all the participants connected to leaderboard by its ID.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard, which standings should be queried",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "The tags the leaderboard should filter for.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "description": "Whether to use weighted scoring based on user scores (defaults to false for backwards compatibility)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeConfidenceIntervals",
            "in": "query",
            "description": "Whether to include the confidence intervals",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByLeaderboardResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByLeaderboardResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByLeaderboardResult"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/runs": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets the runs related to a leaderboard",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfRunsByLeaderboardResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfRunsByLeaderboardResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfRunsByLeaderboardResult"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/participant/{participantId}": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets a participant by its ID.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/benchmark/standing/{leaderboardId}/{participantId}": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets a standing by leaderboardId and participantId.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/{leaderboardId}/participants/{participantId}/submit": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Submits a participant to a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/leaderboard/{leaderboardId}/boost": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Boosts a subset of participants within a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "the leaderboard that should be boosted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoostLeaderboardModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BoostLeaderboardModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BoostLeaderboardModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              }
            }
          }
        }
      }
    },
    "/participant/{participantId}/sample": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Adds a sample to a participant.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to add the sample to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The model for the sample creation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/participant/{participantId}/sample-new": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Adds a sample to a participant.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to add the sample to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The model for the sample creation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      }
    },
    "/participant/{participantId}": {
      "delete": {
        "tags": [
          "Participant"
        ],
        "summary": "Deletes a participant on a benchmark.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Participant"
        ],
        "summary": "Gets a participant by it's Id.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Participant"
        ],
        "summary": "Updates a participant using patch semantics.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/participants/{participantId}/submit": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Submits a participant to a benchmark.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              }
            }
          }
        }
      }
    },
    "/participant/{participantId}/name": {
      "put": {
        "tags": [
          "Participant"
        ],
        "summary": "Updates the name of a participant",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantNameModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantNameModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantNameModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/participant-sample/{sampleId}": {
      "delete": {
        "tags": [
          "Participant"
        ],
        "summary": "Deletes a sample.",
        "parameters": [
          {
            "name": "sampleId",
            "in": "path",
            "description": "the id of the sample to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              }
            }
          }
        }
      }
    },
    "/participant/{participantId}/disable": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "This endpoint disables a participant in a benchmark. this means that the participant will no longer actively be matched up against other participants and not collect further results. It will still be visible in the leaderboard.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to be disabled",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/benchmark-prompt/{promptId}/tags": {
      "put": {
        "tags": [
          "Prompt"
        ],
        "summary": "Updates the tags associated with a prompt.",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptTagsModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptTagsModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptTagsModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BenchmarkQueryResult": {
        "required": [
          "id",
          "name",
          "isManaged",
          "isPublic",
          "createdAt",
          "ownerMail"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isManaged": {
            "type": "boolean"
          },
          "isPublic": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "ownerMail": {
            "type": "string"
          }
        }
      },
      "BoostLeaderboardModel": {
        "required": [
          "participants",
          "totalResponses"
        ],
        "type": "object",
        "properties": {
          "participants": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The participants of the given leaderboard that should be boosted."
          },
          "totalResponses": {
            "type": "integer",
            "description": "The amount of responses in total that should be added, shared across all participants.",
            "format": "int32"
          }
        },
        "description": "The model for boosting a leaderboard."
      },
      "ConfidenceInterval": {
        "required": [
          "lowerOffset",
          "upperOffset"
        ],
        "type": "object",
        "properties": {
          "lowerOffset": {
            "type": "number",
            "format": "double"
          },
          "upperOffset": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "CreateBenchmarkModel": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the benchmark"
          }
        },
        "description": "The model for creating a benchmark."
      },
      "CreateBenchmarkParticipantModel": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the participant."
          }
        },
        "description": "The model to create a participant in a leaderboard"
      },
      "CreateBenchmarkParticipantResult": {
        "required": [
          "participantId"
        ],
        "type": "object",
        "properties": {
          "participantId": {
            "type": "string"
          },
          "datasetId": {
            "type": "string"
          }
        }
      },
      "CreateBenchmarkPromptResult": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "CreateBenchmarkResult": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "CreateLeaderboardModel": {
        "required": [
          "name",
          "instruction",
          "showPrompt"
        ],
        "type": "object",
        "properties": {
          "benchmarkId": {
            "type": "string",
            "description": "If a leaderboard should be added to a preexisting benchmark, the benchmark Id can be provided.",
            "nullable": true
          },
          "benchmarkName": {
            "type": "string",
            "description": "If no BenchmarkId is provided a new benchmark will be created. if no name is supplied the benchmark\n will be called the same as the leaderboard.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "The name of the leaderboard."
          },
          "instruction": {
            "type": "string",
            "description": "The instruction datapoints will be matched up against."
          },
          "showPrompt": {
            "type": "boolean",
            "description": "Indicates if the prompt is shown on the rapids."
          },
          "showPromptAsset": {
            "type": "boolean",
            "description": "Whether the prompt asset should be shown on the rapids."
          },
          "responseBudget": {
            "type": "integer",
            "description": "Total amount of responses that get collected per run",
            "format": "int32"
          },
          "minResponses": {
            "type": "integer",
            "description": "The minimum amount of responses that need to be collected per comparison.",
            "format": "int32"
          },
          "isInversed": {
            "type": "boolean",
            "description": "If the results should be inversed, meaning people should select the worse model."
          },
          "audienceId": {
            "type": "string",
            "description": "Optional audience ID. When provided, evaluations run on the specified audience.\n Defaults to the global audience when not specified.",
            "nullable": true
          },
          "featureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                },
                "nullable": true
              }
            ],
            "description": "Feature flags that will be applied to every order that is created by this leaderboard."
          }
        },
        "description": "The CreateLeaderboardModel class represents the model for creating a leaderboard."
      },
      "CreateLeaderboardResult": {
        "required": [
          "id",
          "benchmarkId",
          "showPrompt",
          "showPromptAsset",
          "responseBudget",
          "minResponses",
          "isInversed"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "benchmarkId": {
            "type": "string"
          },
          "showPrompt": {
            "type": "boolean"
          },
          "showPromptAsset": {
            "type": "boolean"
          },
          "responseBudget": {
            "type": "integer",
            "format": "int32"
          },
          "minResponses": {
            "type": "integer",
            "format": "int32"
          },
          "isInversed": {
            "type": "boolean"
          }
        }
      },
      "CreateSampleModel": {
        "required": [
          "identifier",
          "asset"
        ],
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "The identifier used to correlate samples of different participants."
          },
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAssetInput"
              }
            ],
            "description": "The asset input for the sample."
          }
        },
        "description": "The model used to create a sample to a participant."
      },
      "FeatureFlag": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "FileType": {
        "enum": [
          "Unknown",
          "Image",
          "Video",
          "Audio"
        ]
      },
      "Filter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "nullable": true
          },
          "value": { },
          "operator": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/FilterOperator"
              }
            ]
          },
          "logic": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/LogicOperator"
              }
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            },
            "nullable": true
          }
        }
      },
      "FilterOperator": {
        "enum": [
          "Eq",
          "Neq",
          "Gt",
          "Gte",
          "Lt",
          "Lte",
          "Contains",
          "StartsWith",
          "EndsWith",
          "In",
          "NotContains",
          null
        ]
      },
      "ForkBenchmarkResult": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "GetBenchmarkByIdResult": {
        "required": [
          "id",
          "name",
          "isPublic",
          "createdAt",
          "ownerId",
          "ownerMail"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "ownerId": {
            "type": "string",
            "format": "uuid"
          },
          "ownerMail": {
            "type": "string"
          }
        }
      },
      "GetCombinedBenchmarkMatrixEndpoint_Output": {
        "required": [
          "index",
          "columns",
          "data"
        ],
        "type": "object",
        "properties": {
          "index": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Row participant names."
          },
          "columns": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Column participant names."
          },
          "data": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "double"
                  }
                }
              }
            ],
            "description": "NxN matrix where Data[i][j] = wins of Index[i] over Columns[j]."
          }
        },
        "description": "Combined benchmark matrix output in pandas split format."
      },
      "GetCombinedBenchmarkStandingsEndpoint_Output": {
        "required": [
          "items"
        ],
        "type": "object",
        "properties": {
          "items": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetCombinedBenchmarkStandingsEndpoint_OutputItem"
                }
              }
            ],
            "description": "The standings items."
          }
        },
        "description": "Combined benchmark standings output."
      },
      "GetCombinedBenchmarkStandingsEndpoint_OutputItem": {
        "required": [
          "id",
          "name",
          "status",
          "score",
          "wins",
          "totalMatches",
          "isDisabled"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/StandingStatus"
          },
          "score": {
            "type": "number",
            "format": "double"
          },
          "wins": {
            "type": "number",
            "format": "double"
          },
          "totalMatches": {
            "type": "number",
            "format": "double"
          },
          "isDisabled": {
            "type": "boolean"
          },
          "confidenceInterval": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ConfidenceInterval"
              }
            ]
          }
        }
      },
      "GetCombinedLeaderboardMatrixEndpoint_Output": {
        "required": [
          "index",
          "columns",
          "data"
        ],
        "type": "object",
        "properties": {
          "index": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Row participant names."
          },
          "columns": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Column participant names."
          },
          "data": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "double"
                  }
                }
              }
            ],
            "description": "NxN matrix where Data[i][j] = wins of Index[i] over Columns[j]."
          }
        },
        "description": "Combined leaderboard matrix output in pandas split format."
      },
      "GetCombinedLeaderboardStandingsEndpoint_Output": {
        "required": [
          "items"
        ],
        "type": "object",
        "properties": {
          "items": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetCombinedLeaderboardStandingsEndpoint_OutputItem"
                }
              }
            ],
            "description": "The standings items."
          }
        },
        "description": "Combined leaderboard standings output."
      },
      "GetCombinedLeaderboardStandingsEndpoint_OutputItem": {
        "required": [
          "id",
          "name",
          "status",
          "score",
          "wins",
          "totalMatches",
          "isDisabled"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/StandingStatus"
          },
          "score": {
            "type": "number",
            "format": "double"
          },
          "wins": {
            "type": "number",
            "format": "double"
          },
          "totalMatches": {
            "type": "number",
            "format": "double"
          },
          "isDisabled": {
            "type": "boolean"
          },
          "confidenceInterval": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ConfidenceInterval"
              }
            ]
          }
        }
      },
      "GetLeaderboardByIdResult": {
        "required": [
          "id",
          "name",
          "instruction",
          "showPrompt",
          "showPromptAsset",
          "isInversed",
          "responseBudget",
          "minResponses",
          "audienceId",
          "featureFlags"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "instruction": {
            "type": "string"
          },
          "showPrompt": {
            "type": "boolean"
          },
          "showPromptAsset": {
            "type": "boolean"
          },
          "isInversed": {
            "type": "boolean"
          },
          "responseBudget": {
            "type": "integer",
            "format": "int32"
          },
          "minResponses": {
            "type": "integer",
            "format": "int32"
          },
          "audienceId": {
            "type": "string"
          },
          "jobDefinitionId": {
            "type": "string",
            "nullable": true
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureFlag"
            }
          }
        }
      },
      "GetParticipantByIdResult": {
        "required": [
          "id",
          "name",
          "benchmarkId"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "benchmarkId": {
            "type": "string"
          }
        }
      },
      "GetPromptsByBenchmarkEndpoint_Output": {
        "required": [
          "id",
          "identifier",
          "createdAt",
          "tags"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the prompt."
          },
          "prompt": {
            "type": "string",
            "description": "The prompt text.",
            "nullable": true
          },
          "promptAsset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAssetModel"
              }
            ],
            "description": "The optional asset associated with the prompt."
          },
          "identifier": {
            "type": "string",
            "description": "The identifier associated with the prompt."
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the prompt was created.",
            "format": "date-time"
          },
          "tags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The tags associated with the prompt."
          }
        }
      },
      "GetPromptsByBenchmarkEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetPromptsByBenchmarkEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetSampleByIdEndpoint_Output": {
        "required": [
          "id",
          "identifier",
          "participantId",
          "participantName",
          "asset",
          "tags",
          "ownerMail"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the sample."
          },
          "identifier": {
            "type": "string",
            "description": "The identifier used to correlate samples of different participants."
          },
          "participantId": {
            "type": "string",
            "description": "The id of the participant that owns the sample."
          },
          "participantName": {
            "type": "string",
            "description": "The name of the participant that owns the sample."
          },
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAssetModel"
              }
            ],
            "description": "The asset associated with the sample."
          },
          "prompt": {
            "type": "string",
            "description": "An optional prompt associated with the sample.",
            "nullable": true
          },
          "promptAsset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAssetModel"
              }
            ],
            "description": "An optional prompt asset associated with the sample."
          },
          "tags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The tags associated with the sample."
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the sample was created.",
            "format": "date-time"
          },
          "ownerId": {
            "type": "string",
            "description": "The id of the customer that owns the sample.",
            "format": "uuid"
          },
          "ownerMail": {
            "type": "string",
            "description": "The mail of the customer that owns the sample."
          }
        }
      },
      "GetSamplesByIdentifierEndpoint_Output": {
        "required": [
          "id",
          "identifier",
          "participantId",
          "participantName",
          "asset",
          "tags",
          "ownerMail"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the sample."
          },
          "identifier": {
            "type": "string",
            "description": "The identifier used to correlate samples of different participants."
          },
          "participantId": {
            "type": "string",
            "description": "The id of the participant that owns the sample."
          },
          "participantName": {
            "type": "string",
            "description": "The name of the participant that owns the sample."
          },
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAssetModel"
              }
            ],
            "description": "The asset associated with the sample."
          },
          "prompt": {
            "type": "string",
            "description": "An optional prompt associated with the sample.",
            "nullable": true
          },
          "promptAsset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAssetModel"
              }
            ],
            "description": "An optional prompt asset associated with the sample."
          },
          "tags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The tags associated with the sample."
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the sample was created.",
            "format": "date-time"
          },
          "ownerId": {
            "type": "string",
            "description": "The id of the customer that owns the sample.",
            "format": "uuid"
          },
          "ownerMail": {
            "type": "string",
            "description": "The mail of the customer that owns the sample."
          }
        }
      },
      "GetSamplesByIdentifierEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetSamplesByIdentifierEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetSamplesByParticipantEndpoint_ISampleOutput": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/GetSamplesByParticipantEndpoint_ISampleOutputGetSamplesByParticipantEndpoint_SampleOutput"
          },
          {
            "$ref": "#/components/schemas/GetSamplesByParticipantEndpoint_ISampleOutputGetSamplesByParticipantEndpoint_PlaceholderSampleOutput"
          }
        ],
        "description": "Represents a sample returned for a participant.",
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "SampleOutput": "#/components/schemas/GetSamplesByParticipantEndpoint_ISampleOutputGetSamplesByParticipantEndpoint_SampleOutput",
            "PlaceholderSampleOutput": "#/components/schemas/GetSamplesByParticipantEndpoint_ISampleOutputGetSamplesByParticipantEndpoint_PlaceholderSampleOutput"
          }
        }
      },
      "GetSamplesByParticipantEndpoint_ISampleOutputGetSamplesByParticipantEndpoint_PlaceholderSampleOutput": {
        "required": [
          "identifier",
          "tags",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PlaceholderSampleOutput"
            ],
            "type": "string"
          },
          "identifier": {
            "type": "string",
            "description": "The identifier used to correlate samples of different participants."
          },
          "prompt": {
            "type": "string",
            "description": "An optional prompt associated with the sample.",
            "nullable": true
          },
          "promptAsset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAssetModel"
              }
            ],
            "description": "An optional prompt asset associated with the sample."
          },
          "tags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The tags associated with the sample."
          }
        }
      },
      "GetSamplesByParticipantEndpoint_ISampleOutputGetSamplesByParticipantEndpoint_SampleOutput": {
        "required": [
          "id",
          "identifier",
          "asset",
          "tags",
          "ownerMail",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SampleOutput"
            ],
            "type": "string"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the sample."
          },
          "identifier": {
            "type": "string",
            "description": "The identifier used to correlate samples of different participants."
          },
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAssetModel"
              }
            ],
[...]
