{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Order API",
    "description": "The API for the Rapidata Order service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/feedback": {
      "post": {
        "tags": [
          "Feedback"
        ],
        "summary": "Submits feedback about our services.",
        "requestBody": {
          "description": "The feedback payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitFeedbackEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Creates a new job definition.",
        "description": "A preview pipeline is automatically created and returned in the response.",
        "requestBody": {
          "description": "The job definition parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobDefinitionEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJobDefinitionEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Creates a new job from a job definition and audience.",
        "description": "If the audience is not already recruiting, recruiting is started automatically.\n The RecruitingStarted field indicates whether this happened.",
        "requestBody": {
          "description": "The job creation parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJobEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}/revision": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Creates a new revision for an existing job definition.",
        "description": "Unspecified fields are inherited from the previous revision. Workflow and Referee must be\n provided together if either is specified.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to create a revision for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The revision parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobRevisionEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJobRevisionEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets the latest revision for a job definition.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobRevisionEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}": {
      "delete": {
        "tags": [
          "Job"
        ],
        "summary": "Deletes a job definition and all its revisions.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets a job definition by its id.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobDefinitionByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Job"
        ],
        "summary": "Updates a job definition.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The fields to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJobDefinitionEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}": {
      "delete": {
        "tags": [
          "Job"
        ],
        "summary": "Deletes a job.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets a job by its id.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Job"
        ],
        "summary": "Updates a job.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The fields to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJobEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/download-results": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Downloads the results of a job as a file attachment.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to download results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/results": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets the results of a job as a JSON string.",
        "description": "For file download, use the download-results endpoint instead.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to get results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}/revision/{revisionNumber}": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets a specific revision for a job definition.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revisionNumber",
            "in": "path",
            "description": "The revision number to retrieve.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobRevisionEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definitions": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Queries job definitions visible to the caller.",
        "description": "Results are scoped to the caller's customer unless the caller is allowed to view all job definitions.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "definition_id",
            "in": "query",
            "description": "Filter by definition_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "definition_type",
            "in": "query",
            "description": "Filter by definition_type.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "Filter by owner_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_mail",
            "in": "query",
            "description": "Filter by owner_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryJobDefinitionsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}/revisions": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Queries the revisions of a specific job definition.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "revision_number",
                  "-revision_number",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "revision_number",
            "in": "query",
            "description": "Filter by revision_number.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryJobRevisionsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Queries jobs visible to the caller.",
        "description": "Results are scoped to the caller's customer unless the caller is allowed to view all jobs.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "created_at",
                  "-created_at",
                  "status",
                  "-status"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "job_id",
            "in": "query",
            "description": "Filter by job_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "definition_id",
            "in": "query",
            "description": "Filter by definition_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "audience_id",
            "in": "query",
            "description": "Filter by audience_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryJobsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}/approve": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Approves a submitted order so the pipeline can start processing it.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order to approve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}/clone": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Clones an existing public order.",
        "description": "The order to clone must be marked as public.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order to clone.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The clone order details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneOrderEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloneOrderEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/complex": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Creates a new order with a custom pipeline configuration.",
        "requestBody": {
          "description": "The complex order creation details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComplexOrderEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateComplexOrderEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Creates a new order with the given configuration.",
        "description": "Once created, use the returned dataset ID to fill the dataset with datapoints,\n then submit the order for processing.",
        "requestBody": {
          "description": "The order creation configuration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/unsupported": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Creates a notification for an unsupported order type.",
        "requestBody": {
          "description": "The unsupported order details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUnsupportedOrderEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}": {
      "delete": {
        "tags": [
          "Order"
        ],
        "summary": "Deletes an order and its associated resources.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieves the details of a specific order.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Order"
        ],
        "summary": "Updates the name or preceding order of an order.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The properties to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}/download-results": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Aggregates the results of an order and returns them as a file attachment.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}/results": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Aggregates the results of an order and returns them as a JSON string.",
        "description": "For file download, use the download-results endpoint instead.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/orders/public": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieves all publicly available orders.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublicOrdersEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}/demo": {
      "patch": {
        "tags": [
          "Order"
        ],
        "summary": "Marks or unmarks an order as a demo.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isDemo",
            "in": "query",
            "description": "Whether to mark or unmark the order as a demo.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}/pause": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Pauses an order, stopping all campaigns from processing.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order to pause.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}/preview": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Starts preview mode for an order so labelers' experience can be inspected.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order to preview.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional preview configuration.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "nullable": true
                  },
                  {
                    "$ref": "#/components/schemas/PreviewOrderEndpoint_Input"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/orders/aggregated-overview": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieves orders aggregated by customer with total amounts and most recent order information.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "amount",
                  "-amount",
                  "last7_days",
                  "-last7_days",
                  "last_order_date",
                  "-last_order_date",
                  "customer_mail",
                  "-customer_mail"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "customer_mail",
            "in": "query",
            "description": "Filter by customer_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "last_order_date",
            "in": "query",
            "description": "Filter by last_order_date.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "last_order_name",
            "in": "query",
            "description": "Filter by last_order_name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryAggregatedOrdersEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "order_name",
                  "-order_name",
                  "order_date",
                  "-order_date",
                  "state",
                  "-state"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "order_name",
            "in": "query",
            "description": "Filter by order_name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "order_date",
            "in": "query",
            "description": "Filter by order_date.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "customer_mail",
            "in": "query",
            "description": "Filter by customer_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "is_public",
            "in": "query",
            "description": "Filter by is_public.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryOrdersEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}/resume": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Resumes a paused order, restarting all campaigns.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order to resume.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}/retry": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Retries processing of a failed order.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order to retry.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}/share": {
      "patch": {
        "tags": [
          "Order"
        ],
        "summary": "Marks or unmarks an order as public.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isPublic",
            "in": "query",
            "description": "Whether to mark or unmark the order as public.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}/submit": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Submits an order for processing.",
        "description": "Once submitted, the order will be locked and no further changes can be made.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order to submit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional submission configuration.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "nullable": true
                  },
                  {
                    "$ref": "#/components/schemas/SubmitOrderEndpoint_Input"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}/unlock": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Unlocks a cloned order so it can be modified.",
        "description": "Unlocking clones the entire dataset and its datapoints.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order to unlock.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnlockOrderEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgeUserFilterModel_AgeGroup": {
        "enum": [
          "0-17",
          "18-29",
          "30-39",
          "40-49",
          "50-64",
          "65+"
        ]
      },
      "AggregatorType": {
        "enum": [
          "NonCommittal",
          "MajorityVote",
          "SimpleMatchup",
          "LocateCluster",
          "Classification",
          "Locate",
          "BoundingBox",
          "Line",
          "Transcription",
          "SinglePointLocate",
          "FreeText",
          "Scrub",
          "Ranking",
          "MultiRanking",
          null
        ]
      },
      "AudienceJobState": {
        "enum": [
          "Submitted",
          "Running",
          "Completed",
          "Failed",
          "ManualApproval"
        ]
      },
      "Category": {
        "required": [
          "label",
          "value"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "CloneOrderEndpoint_Input": {
        "required": [
          "orderName"
        ],
        "type": "object",
        "properties": {
          "orderName": {
            "type": "string",
            "description": "The name of the new cloned order."
          }
        }
      },
      "CloneOrderEndpoint_Output": {
        "required": [
          "orderId"
        ],
        "type": "object",
        "properties": {
          "datasetId": {
            "type": "string",
            "description": "The dataset ID of the cloned order.",
            "nullable": true
          },
          "orderId": {
            "type": "string",
            "description": "The ID of the newly cloned order."
          }
        }
      },
      "ComparisonOperator": {
        "enum": [
          "Equal",
          "NotEqual",
          "LessThan",
          "LessThanOrEqual",
          "GreaterThan",
          "GreaterThanOrEqual"
        ]
      },
      "ConditionalValidationSelection_ValidationChance": {
        "required": [
          "userScoreThreshold",
          "chance",
          "rapidCount"
        ],
        "type": "object",
        "properties": {
          "userScoreThreshold": {
            "type": "number",
            "format": "double"
          },
          "chance": {
            "type": "number",
            "format": "double"
          },
          "rapidCount": {
            "type": "integer",
            "format": "int32"
          },
          "selections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ISelection"
            },
            "nullable": true
          }
        }
      },
      "CreateComplexOrderEndpoint_Input": {
        "required": [
          "orderName",
          "pipeline"
        ],
        "type": "object",
        "properties": {
          "orderName": {
            "type": "string",
            "description": "The name of the order."
          },
          "pipeline": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IPipelineModel"
              }
            ],
            "description": "The pipeline configuration to use."
          },
          "isDemo": {
            "type": "boolean",
            "description": "Whether the order is a demo."
          },
          "precedingOrderId": {
            "type": "string",
            "description": "Optional ID of the order that must complete before this order starts processing.",
            "nullable": true
          }
        }
      },
      "CreateComplexOrderEndpoint_Output": {
        "required": [
          "orderId",
          "pipelineId"
        ],
        "type": "object",
        "properties": {
          "datasetId": {
            "type": "string",
            "description": "The dataset ID of the created order.",
            "nullable": true
          },
          "orderId": {
            "type": "string",
            "description": "The ID of the created order."
          },
          "campaignId": {
            "type": "string",
            "description": "The campaign ID of the created order.",
            "nullable": true
          },
          "pipelineId": {
            "type": "string",
            "description": "The pipeline ID of the created order."
          }
        }
      },
      "CreateJobDefinitionEndpoint_Input": {
        "required": [
          "definitionName",
          "workflow",
          "referee",
          "datasetId"
        ],
        "type": "object",
        "properties": {
          "definitionName": {
            "type": "string",
            "description": "The name of the definition."
          },
          "workflow": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IOrderWorkflowInputModel"
              }
            ],
            "description": "The workflow configuration."
          },
          "referee": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IRefereeModel"
              }
            ],
            "description": "The referee configuration."
          },
          "datasetId": {
            "type": "string",
            "description": "The dataset id."
          },
          "featureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                },
                "nullable": true
              }
            ],
            "description": "The feature flags. Deprecated: use RapidFeatureFlags instead.",
            "deprecated": true
          },
          "rapidFeatureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                }
              }
            ],
            "description": "The feature flags that apply to each rapid created by this definition."
          },
          "campaignFeatureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                }
              }
            ],
            "description": "The feature flags that apply to the campaign (session-wide) for this definition."
          },
          "aggregatorType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AggregatorType"
              }
            ],
            "description": "The aggregator type."
          }
        },
        "description": "The input for the create job definition endpoint."
      },
      "CreateJobDefinitionEndpoint_Output": {
        "required": [
          "definitionId",
          "pipelineId"
        ],
        "type": "object",
        "properties": {
          "definitionId": {
            "type": "string",
            "description": "The id of the created job definition."
          },
          "pipelineId": {
            "type": "string",
            "description": "The id of the created preview pipeline."
          }
        },
        "description": "The result when a job definition has been created."
      },
      "CreateJobEndpoint_Input": {
        "required": [
          "jobDefinitionId",
          "audienceId"
        ],
        "type": "object",
        "properties": {
          "jobDefinitionId": {
            "type": "string",
            "description": "The id of the job definition to use."
          },
          "audienceId": {
            "type": "string",
            "description": "The id of the audience to target."
          },
          "revisionNumber": {
            "type": "integer",
            "description": "The revision number to use. If not specified, the latest revision will be used.",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "The name of the job. If not specified, defaults to \"{definition name}:{revision number}\".",
            "nullable": true
          },
          "priority": {
            "type": "integer",
            "description": "The priority of the job. Higher values mean higher priority. Default is 50.",
            "format": "int32"
          }
        },
        "description": "The input for the create job endpoint."
      },
      "CreateJobEndpoint_Output": {
        "required": [
          "jobId",
          "recruitingStarted"
        ],
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "description": "The id of the created job."
          },
          "recruitingStarted": {
            "type": "boolean",
            "description": "Whether recruiting was automatically started for the audience."
          }
        },
        "description": "The result when a job has been created."
      },
      "CreateJobRevisionEndpoint_Input": {
        "type": "object",
        "properties": {
          "workflow": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IOrderWorkflowInputModel"
              }
            ],
            "description": "The workflow configuration. If not provided, inherits from the previous revision.\n Must be provided together with Referee if either is specified."
          },
          "referee": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IRefereeModel"
              }
            ],
            "description": "The referee configuration. If not provided, inherits from the previous revision.\n Must be provided together with Workflow if either is specified."
          },
          "datasetId": {
            "type": "string",
            "description": "The dataset id. If not provided, inherits from the previous revision."
          },
          "featureFlags": {
            "allOf": [
              {
                "allOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FeatureFlag"
                    }
                  }
                ]
              }
            ],
            "description": "The feature flags. Deprecated: use RapidFeatureFlags instead.\n If not provided, inherits from the previous revision.",
            "deprecated": true
          },
          "rapidFeatureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                }
              }
            ],
            "description": "The rapid-level feature flags applied to each rapid created by this revision.\n If not provided, inherits from the previous revision."
          },
          "campaignFeatureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                }
              }
            ],
            "description": "The campaign-level (session-wide) feature flags for this revision.\n If not provided, inherits from the previous revision."
          },
          "aggregatorType": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AggregatorType"
              },
              {
                "nullable": true
              }
            ],
            "description": "The aggregator type. If not provided, inherits from the previous revision."
          }
        },
        "description": "The input for the create job revision endpoint."
      },
      "CreateJobRevisionEndpoint_Output": {
        "required": [
          "revisionNumber",
          "pipelineId"
        ],
        "type": "object",
        "properties": {
          "revisionNumber": {
            "type": "integer",
            "description": "The revision number of the created job revision.",
            "format": "int32"
          },
          "pipelineId": {
            "type": "string",
            "description": "The id of the created preview pipeline."
          }
        },
        "description": "The result when a job revision has been created."
      },
      "CreateOrderEndpoint_Output": {
        "required": [
          "orderId",
          "pipelineId"
        ],
        "type": "object",
        "properties": {
          "datasetId": {
            "type": "string",
            "description": "The dataset ID of the created order.",
            "nullable": true
          },
          "orderId": {
            "type": "string",
            "description": "The ID of the created order."
          },
          "campaignId": {
            "type": "string",
            "description": "The campaign ID of the created order.",
            "nullable": true
          },
          "pipelineId": {
            "type": "string",
            "description": "The pipeline ID of the created order."
          }
        }
      },
      "CreateOrderModel": {
        "required": [
          "orderName",
          "workflow",
          "referee"
        ],
        "type": "object",
        "properties": {
          "orderName": {
            "type": "string",
            "description": "The name is used as an identifier for an order and can be freely chosen."
          },
          "workflow": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IOrderWorkflowInputModel"
              }
            ],
            "description": "The workflow helps to determine the tasks that need to be completed by the users."
          },
          "referee": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IRefereeModel"
              }
            ],
            "description": "The referee is used to determine how many votes will be collected."
          },
          "aggregator": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AggregatorType"
              }
            ],
            "description": "The aggregator is used to determine how the data will be aggregated. The default behavior is enough for most cases"
          },
          "featureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                },
                "nullable": true
              }
            ],
            "description": "The feature flags are used to enable or disable certain features.",
            "deprecated": true
          },
          "rapidFeatureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                },
                "nullable": true
              }
            ],
            "description": "The feature flags that apply to each rapid created by this order."
          },
          "campaignFeatureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                },
                "nullable": true
              }
            ],
            "description": "The feature flags that apply to the campaign (session-wide) for this order."
          },
          "priority": {
            "type": "integer",
            "description": "The priority is used to prioritize over other orders.",
            "format": "int32"
          },
          "stickyState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StickyState"
              }
            ],
            "description": "Indicates if the underlying campaign should be sticky."
          },
          "stickyConfig": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StickyConfig"
              }
            ],
            "description": "Configuration for sticky campaign behavior. Takes precedence over StickyState if both are provided."
          },
          "userScoreDimensions": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              }
            ],
            "description": "The user score dimensions are used to determine the score of the responses from the user."
          },
          "demographicKeys": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              }
            ],
            "description": "The demographic keys are used to determine which demographics to store on the responses from the user."
          },
          "userFilters": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IUserFilterModel"
                },
                "nullable": true
              }
            ],
            "description": "The user filters are used to restrict the order to only collect votes from a specific demographic."
          },
          "validationSetId": {
            "type": "string",
            "description": "The validation set id can be changed to point to a specific validation set. if not provided a sane default will be\n used.",
            "nullable": true
          },
          "selections": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ISelection"
                },
                "nullable": true
              }
            ],
            "description": "The selections are used to determine which tasks are shown to a user."
          },
          "retrievalMode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RetrievalMode"
              }
            ],
            "description": "The retrieval mode defines how rapids are retrieved from the active labeling pool."
          },
          "maxIterations": {
            "type": "integer",
            "description": "The maximum number of times a user is allowed to see the same rapid.",
            "format": "int32"
          },
          "precedingOrderId": {
            "type": "string",
            "description": "Optional ID of the order that must complete before this order starts processing.",
            "nullable": true
          }
        },
        "description": "This model is used to create a simple order"
      },
      "CreateUnsupportedOrderEndpoint_Input": {
        "required": [
          "orderName",
          "dataType",
          "labelType"
        ],
        "type": "object",
        "properties": {
          "orderName": {
            "type": "string",
            "description": "The name of the order."
          },
          "dataType": {
            "type": "string",
            "description": "The type of data that was attempted to be ordered."
          },
          "labelType": {
            "type": "string",
            "description": "The type of labels that were attempted to be ordered."
          }
        }
      },
      "DefinitionType": {
        "enum": [
          "Unknown",
          "Classify",
          "Compare",
          "BoundingBox",
          "Line",
          "Polygon",
          "Locate",
          "Transcription",
          "NamedEntity",
          "FreeText",
          "Scrub",
          "Ranking",
          "GroupedRanking",
          "Evaluation"
        ]
      },
      "DeviceType": {
        "enum": [
          "Unknown",
          "Phone",
          "Tablet"
        ]
      },
      "EloConfigModel": {
        "required": [
          "startingScore",
          "kFactor",
          "scalingFactor"
        ],
        "type": "object",
        "properties": {
          "startingScore": {
            "type": "integer",
            "format": "int32"
          },
          "kFactor": {
            "type": "integer",
            "format": "int32"
          },
          "scalingFactor": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "FeatureFlag": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "GenderUserFilterModel_Gender": {
        "enum": [
          "Male",
          "Female",
          "Other"
        ]
      },
      "GetJobByIdEndpoint_Output": {
        "required": [
          "jobId",
          "name",
          "definitionId",
[...]
