{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Order API",
    "description": "The API for the Rapidata Order service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/job/definition": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Creates a new job definition.",
        "description": "A preview pipeline is automatically created and returned in the response.",
        "requestBody": {
          "description": "The job definition parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobDefinitionEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJobDefinitionEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Creates a new job from a job definition and audience.",
        "description": "If the audience is not already recruiting, recruiting is started automatically.\n The RecruitingStarted field indicates whether this happened.",
        "requestBody": {
          "description": "The job creation parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJobEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}/revision": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Creates a new revision for an existing job definition.",
        "description": "Unspecified fields are inherited from the previous revision. Workflow and Referee must be\n provided together if either is specified.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to create a revision for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The revision parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobRevisionEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJobRevisionEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets the latest revision for a job definition.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobRevisionEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}": {
      "delete": {
        "tags": [
          "Job"
        ],
        "summary": "Deletes a job definition and all its revisions.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets a job definition by its id.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobDefinitionByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Job"
        ],
        "summary": "Updates a job definition.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The fields to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJobDefinitionEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/download-results": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Downloads the results of a job as a file attachment.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to download results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets a job by its id.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Job"
        ],
        "summary": "Updates a job.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The fields to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJobEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/results": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets the results of a job as a JSON string.",
        "description": "For file download, use the download-results endpoint instead.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to get results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}/revision/{revisionNumber}": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets a specific revision for a job definition.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revisionNumber",
            "in": "path",
            "description": "The revision number to retrieve.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobRevisionEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/feedback": {
      "post": {
        "tags": [
          "Feedback"
        ],
        "summary": "Submits feedback about our services.",
        "requestBody": {
          "description": "The body content of the request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/job/definitions": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Queries job definitions based on filter, page, and sort criteria.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "The parameters for filtering, paging, and sorting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryJobDefinitionsResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryJobDefinitionsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryJobDefinitionsResult"
                }
              }
            }
          }
        }
      }
    },
    "/job/definition/{definitionId}/revisions": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Queries job revisions for a specific definition based on filter, page, and sort criteria.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "The parameters for filtering, paging, and sorting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryJobRevisionsResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryJobRevisionsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryJobRevisionsResult"
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Queries jobs based on filter, page, and sort criteria.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "The parameters for filtering, paging, and sorting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryJobsResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryJobsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryJobsResult"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Queries orders based on a filter, page, and sort criteria.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "The parameters for filtering, paging, and sorting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfOrderModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfOrderModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfOrderModel"
                }
              }
            }
          }
        }
      }
    },
    "/orders/aggregated-overview": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieves the orders aggregated by customer, with total amounts and most recent order informations.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfAggregatedOrdersModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfAggregatedOrdersModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfAggregatedOrdersModel"
                }
              }
            }
          }
        }
      }
    },
    "/orders/public": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieves orders that are public and can be cloned by any user.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublicOrdersResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublicOrdersResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublicOrdersResult"
                }
              }
            }
          }
        }
      }
    },
    "/order/{orderId}": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieves an order by its id.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderByIdResult"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Order"
        ],
        "summary": "Updates properties of an order.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The body content of the request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "delete": {
        "tags": [
          "Order"
        ],
        "summary": "Deletes an order.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/order/{orderId}/results": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Aggregates the results of an order and returns the result as a json body.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/order/{orderId}/download-results": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Aggregates the results of an order and returns it as a file attachment.",
        "description": "Returns the aggregated result as a file with a given name.\n The annotated type of the response represents the content type of the file.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FileStreamResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileStreamResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileStreamResult"
                }
              }
            }
          }
        }
      }
    },
    "/order": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Used to create a new order.",
        "requestBody": {
          "description": "The body request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResult"
                }
              }
            }
          }
        }
      }
    },
    "/order/complex": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Creates a new order with a custom pipeline.",
        "requestBody": {
          "description": "The body content of the request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComplexOrderModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComplexOrderModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComplexOrderModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateComplexOrderResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateComplexOrderResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateComplexOrderResult"
                }
              }
            }
          }
        }
      }
    },
    "/order/unsupported": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Notifies the admins that a user wants to create an order with an unsupported label type or data type.",
        "requestBody": {
          "description": "The body content of the request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUnsupportedOrderModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUnsupportedOrderModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUnsupportedOrderModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/order/{orderId}/clone": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Clones an existing order.",
        "description": "In order to clone an order, the existing order must be marked as public.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order to clone",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The body content of the request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneOrderModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneOrderModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CloneOrderModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CloneOrderResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloneOrderResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloneOrderResult"
                }
              }
            }
          }
        }
      }
    },
    "/order/{orderId}/unlock": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Unlocks a newly cloned order.",
        "description": "When an order is cloned only the necessary information is copied.\n In order to make changes to the order, it must be unlocked first.\n Unlocking the order will clone the entire dataset and its datapoints.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order to unlock",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnlockOrderResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnlockOrderResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnlockOrderResult"
                }
              }
            }
          }
        }
      }
    },
    "/order/{orderId}/demo": {
      "patch": {
        "tags": [
          "Order"
        ],
        "summary": "Updates whether an order is a demo or not.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isDemo",
            "in": "query",
            "description": "Whether to mark or unmark the order as a demo",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/order/{orderId}/share": {
      "patch": {
        "tags": [
          "Order"
        ],
        "summary": "Updates whether an order is public or not.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isPublic",
            "in": "query",
            "description": "Whether to mark or unmark the order as public",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/order/{orderId}/submit": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Submits an order for approval.",
        "description": "Once an order is created its order id and dataset id is returned.\n The dataset id can be used to fill the dataset with data points.\n Once submitted, the order will be locked and no further changes can be made.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order to submit",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The model containing additional information for the submission.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "nullable": true
                  },
                  {
                    "$ref": "#/components/schemas/SubmitOrderModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "oneOf": [
                  {
                    "nullable": true
                  },
                  {
                    "$ref": "#/components/schemas/SubmitOrderModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "oneOf": [
                  {
                    "nullable": true
                  },
                  {
                    "$ref": "#/components/schemas/SubmitOrderModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/order/{orderId}/approve": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Approves an order that has been submitted for manual approval.",
        "description": "An order is submitted for manual approval when the automatic approval process could not automatically\n determine if the order is safe to process.\n Once an order is approved, the pipeline will start processing the order.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order to approve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/order/{orderId}/name": {
      "patch": {
        "tags": [
          "Order"
        ],
        "summary": "Updates the name of an order.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The body content of the request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderNameModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderNameModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderNameModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/order/{orderId}/retry": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Retries a failed order.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order to retry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/order/{orderId}/pause": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Pauses an order that is processing. Meaning all campaigns in the order will be paused.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order to pause",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/order/{orderId}/preview": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Puts the order into preview mode, where one can inspect what our labelers receive.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order to submit",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The model containing additional information for the preview.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "nullable": true
                  },
                  {
                    "$ref": "#/components/schemas/PreviewOrderModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "oneOf": [
                  {
                    "nullable": true
                  },
                  {
                    "$ref": "#/components/schemas/PreviewOrderModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "oneOf": [
                  {
                    "nullable": true
                  },
                  {
                    "$ref": "#/components/schemas/PreviewOrderModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/order/{orderId}/resume": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Resumes a paused order. Meaning all campaigns in the order will be resumed.",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The id of the order to resume",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AggregatedOrdersModel": {
        "required": [
          "amount",
          "last7Days",
          "lastOrderDate",
          "lastOrderName",
          "lastOrderId",
          "customerMail"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int32"
          },
          "last7Days": {
            "type": "integer",
            "format": "int32"
          },
          "lastOrderDate": {
            "type": "string",
            "format": "date-time"
          },
          "lastOrderName": {
            "type": "string"
          },
          "lastOrderId": {
            "type": "string"
          },
          "customerMail": {
            "type": "string"
          }
        }
      },
      "AggregatorType": {
        "enum": [
          "NonCommittal",
          "MajorityVote",
          "SimpleMatchup",
          "LocateCluster",
          "Classification",
          "Locate",
          "BoundingBox",
          "Line",
          "Transcription",
          "SinglePointLocate",
          "FreeText",
          "Scrub",
          "Ranking",
          "MultiRanking",
          null
        ],
        "description": "The aggregator type."
      },
      "AttachCategoryRapidBlueprint_Category": {
        "required": [
          "label",
          "value"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "AttachCategoryRapidBlueprint_ListOfAttachCategoryRapidBlueprint_Category": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AttachCategoryRapidBlueprint_Category"
        }
      },
      "AudienceJobState": {
        "enum": [
          "Running",
          "Completed",
          "Failed"
        ]
      },
      "CloneOrderModel": {
        "required": [
          "orderName"
        ],
        "type": "object",
        "properties": {
          "orderName": {
            "type": "string",
            "description": "The name of the new order"
          }
        },
        "description": "The model for cloning an existing order."
      },
      "CloneOrderResult": {
        "required": [
          "orderId"
        ],
        "type": "object",
        "properties": {
          "datasetId": {
            "type": "string",
            "nullable": true
          },
          "orderId": {
            "type": "string"
          }
        }
      },
      "ComparisonOperator": {
        "enum": [
          "Equal",
          "NotEqual",
          "LessThan",
          "LessThanOrEqual",
          "GreaterThan",
          "GreaterThanOrEqual"
        ]
      },
      "ConditionalValidationSelection_ListOfConditionalValidationSelection_ValidationChance": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ConditionalValidationSelection_ValidationChance"
        }
      },
      "ConditionalValidationSelection_ValidationChance": {
        "required": [
          "userScoreThreshold",
          "chance",
          "rapidCount"
        ],
        "type": "object",
        "properties": {
          "userScoreThreshold": {
            "type": "number",
            "format": "double"
          },
          "chance": {
            "type": "number",
            "format": "double"
          },
          "rapidCount": {
            "type": "integer",
            "format": "int32"
          },
          "selections": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ListOfISelection"
              }
            ]
          }
        }
      },
      "CreateComplexOrderModel": {
        "required": [
          "orderName",
          "pipeline"
        ],
        "type": "object",
        "properties": {
          "orderName": {
            "type": "string",
            "description": "The name of the order"
          },
          "pipeline": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IPipelineModel"
              }
            ],
            "description": "The pipeline to use"
          },
          "isDemo": {
            "type": "boolean",
            "description": "Whether the order is public"
          },
          "precedingOrderId": {
            "type": "string",
            "description": "Optional ID of the order that must complete before this order starts processing.",
            "nullable": true
          }
        },
        "description": "The model for creating a new order with a custom pipeline."
      },
      "CreateComplexOrderResult": {
        "required": [
          "orderId",
          "pipelineId"
        ],
        "type": "object",
        "properties": {
          "datasetId": {
            "type": "string",
            "nullable": true
          },
          "orderId": {
            "type": "string"
          },
          "campaignId": {
            "type": "string",
            "nullable": true
          },
          "pipelineId": {
            "type": "string"
          }
        }
      },
      "CreateJobDefinitionEndpoint_Input": {
        "required": [
          "definitionName",
          "workflow",
          "referee",
          "datasetId"
        ],
        "type": "object",
        "properties": {
          "definitionName": {
            "type": "string",
            "description": "The name of the definition."
          },
          "workflow": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IOrderWorkflowModel"
              }
            ],
            "description": "The workflow configuration."
          },
          "referee": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IRefereeModel"
              }
            ],
            "description": "The referee configuration."
          },
          "datasetId": {
            "type": "string",
            "description": "The dataset id."
          },
          "featureFlags": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ListOfFeatureFlag"
              }
            ],
            "description": "The feature flags."
          },
          "aggregatorType": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/AggregatorType"
              }
            ]
          }
        },
        "description": "The input for the create job definition endpoint."
      },
      "CreateJobDefinitionEndpoint_Output": {
        "required": [
          "definitionId",
          "pipelineId"
        ],
        "type": "object",
        "properties": {
          "definitionId": {
            "type": "string",
            "description": "The id of the created job definition."
          },
          "pipelineId": {
            "type": "string",
            "description": "The id of the created preview pipeline."
          }
        },
        "description": "The result when a job definition has been created."
      },
      "CreateJobEndpoint_Input": {
        "required": [
          "jobDefinitionId",
          "audienceId"
        ],
        "type": "object",
        "properties": {
          "jobDefinitionId": {
            "type": "string",
            "description": "The id of the job definition to use."
          },
          "audienceId": {
            "type": "string",
            "description": "The id of the audience to target."
          },
          "revisionNumber": {
            "type": "integer",
            "description": "The revision number to use. If not specified, the latest revision will be used.",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "The name of the job. If not specified, defaults to \"{definition name}:{revision number}\".",
            "nullable": true
          },
          "priority": {
            "type": "integer",
            "description": "The priority of the job. Higher values mean higher priority. Default is 50.",
            "format": "int32"
          }
        },
        "description": "The input for the create job endpoint."
      },
      "CreateJobEndpoint_Output": {
        "required": [
          "jobId",
          "recruitingStarted"
        ],
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "description": "The id of the created job."
          },
          "recruitingStarted": {
            "type": "boolean",
            "description": "Whether recruiting was automatically started for the audience."
          }
        },
        "description": "The result when a job has been created."
      },
      "CreateJobRevisionEndpoint_Input": {
        "type": "object",
        "properties": {
          "workflow": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IOrderWorkflowModel"
              },
              {
                "nullable": true
              }
            ],
            "description": "The workflow configuration. If not provided, inherits from the previous revision.\n Must be provided together with Referee if either is specified."
          },
          "referee": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IRefereeModel"
              },
              {
                "nullable": true
              }
            ],
            "description": "The referee configuration. If not provided, inherits from the previous revision.\n Must be provided together with Workflow if either is specified."
          },
          "datasetId": {
            "type": "string",
            "description": "The dataset id. If not provided, inherits from the previous revision.",
            "nullable": true
          },
          "featureFlags": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ListOfFeatureFlag"
              },
              {
                "nullable": true
              }
            ],
            "description": "The feature flags. If not provided, inherits from the previous revision."
          },
          "aggregatorType": {
            "enum": [
              "NonCommittal",
              "MajorityVote",
              "SimpleMatchup",
              "LocateCluster",
              "Classification",
              "Locate",
              "BoundingBox",
              "Line",
              "Transcription",
              "SinglePointLocate",
              "FreeText",
              "Scrub",
              "Ranking",
              "MultiRanking",
              null
            ],
            "description": "The aggregator type. If not provided, inherits from the previous revision."
          }
        },
        "description": "The input for the create job revision endpoint."
      },
      "CreateJobRevisionEndpoint_Output": {
        "required": [
          "revisionNumber",
          "pipelineId"
        ],
        "type": "object",
        "properties": {
          "revisionNumber": {
            "type": "integer",
            "description": "The revision number of the created job revision.",
            "format": "int32"
          },
          "pipelineId": {
            "type": "string",
            "description": "The id of the created preview pipeline."
          }
        },
        "description": "The result when a job revision has been created."
      },
      "CreateOrderModel": {
        "required": [
          "orderName",
          "workflow",
          "referee"
        ],
        "type": "object",
        "properties": {
          "orderName": {
            "type": "string",
            "description": "The name is used as an identifier for an order and can be freely chosen."
          },
          "workflow": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IOrderWorkflowModel"
              }
            ],
            "description": "The workflow helps to determine the tasks that need to be completed by the users."
          },
          "referee": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IRefereeModel"
              }
            ],
            "description": "The referee is used to determine how many votes will be collected."
          },
          "aggregator": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/AggregatorType"
              }
            ]
          },
          "featureFlags": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ListOfFeatureFlagModel"
              }
            ],
            "description": "The feature flags are used to enable or disable certain features."
          },
          "priority": {
            "type": "integer",
            "description": "The priority is used to prioritize over other orders.",
            "format": "int32"
          },
          "stickyState": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/StickyState"
              }
            ]
          },
          "stickyConfig": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StickyConfig"
              }
            ],
            "description": "Configuration for sticky campaign behavior. Takes precedence over StickyState if both are provided."
          },
          "userScoreDimensions": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The user score dimensions are used to determine the score of the responses from the user."
          },
          "demographicKeys": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The demographic keys are used to determine which demographics to store on the responses from the user."
          },
          "userFilters": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ListOfIUserFilterModel"
              }
            ],
            "description": "The user filters are used to restrict the order to only collect votes from a specific demographic."
          },
          "validationSetId": {
            "type": "string",
            "description": "The validation set id can be changed to point to a specific validation set. if not provided a sane default will be\n used.",
            "nullable": true
          },
          "selections": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ListOfISelection"
              }
            ],
            "description": "The selections are used to determine which tasks are shown to a user."
          },
          "retrievalMode": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/RetrievalMode"
              }
            ]
          },
          "maxIterations": {
            "type": "integer",
            "description": "The maximum number of times a user is allowed to see the same rapid.",
            "format": "int32"
          },
          "precedingOrderId": {
            "type": "string",
            "description": "Optional ID of the order that must complete before this order starts processing.",
            "nullable": true
          }
        },
        "description": "This model is used to create a simple order"
      },
      "CreateOrderResult": {
        "required": [
          "orderId",
          "pipelineId"
        ],
        "type": "object",
        "properties": {
          "datasetId": {
            "type": "string",
            "nullable": true
          },
          "orderId": {
            "type": "string"
          },
          "campaignId": {
            "type": "string",
            "nullable": true
          },
          "pipelineId": {
            "type": "string"
          }
        }
      },
      "CreateUnsupportedOrderModel": {
        "required": [
          "orderName",
          "dataType",
          "labelType"
        ],
        "type": "object",
        "properties": {
          "orderName": {
            "type": "string",
            "description": "The name of the order"
          },
          "dataType": {
            "type": "string",
            "description": "The type of the data that was attempted to be ordered"
          },
          "labelType": {
            "type": "string",
            "description": "The type of the labels that were attempted to be ordered"
          }
        },
        "description": "The model for creating an order with an unsupported label type or data type."
      },
      "DefinitionType": {
        "enum": [
          "Unknown",
          "Classify",
          "Compare",
          "BoundingBox",
          "Line",
          "Polygon",
          "Locate",
          "Transcription",
          "NamedEntity",
          "FreeText",
          "Scrub",
          "Ranking",
          "GroupedRanking",
          "Evaluation"
        ],
        "description": "The type of the job definition."
      },
      "EloConfigModel": {
        "type": "object",
        "properties": {
          "startingElo": {
            "type": "integer",
            "format": "int32"
          },
          "kFactor": {
            "type": "integer",
            "format": "int32"
          },
          "scalingFactor": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "FeatureFlag": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "FeatureFlagModel": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "FeedbackModel": {
        "required": [
          "feedback"
        ],
        "type": "object",
        "properties": {
          "feedback": {
            "type": "string",
            "description": "The feedback"
          },
          "email": {
            "type": "string",
            "description": "The email of the user submitting the feedback",
            "nullable": true
          },
          "token": {
            "type": "string",
            "description": "The recaptcha token of the user submitting the feedback",
            "nullable": true
          }
        },
        "description": "The model for submitting feedback."
      },
      "FileStreamResult": {
        "type": "string",
        "format": "binary"
      },
      "Filter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "nullable": true
          },
          "value": { },
          "operator": {
            "$ref": "#/components/schemas/FilterOperator"
          },
          "logic": {
            "$ref": "#/components/schemas/LogicOperator"
          },
          "filters": {
            "$ref": "#/components/schemas/ListOfFilter"
          }
        }
      },
      "FilterOperator": {
        "enum": [
          "Eq",
          "Neq",
          "Gt",
          "Gte",
          "Lt",
          "Lte",
          "Contains",
          "StartsWith",
          "EndsWith",
          "In"
        ]
      },
      "GetJobByIdEndpoint_Output": {
        "required": [
          "jobId",
          "name",
          "definitionId",
          "audienceId",
          "revisionNumber",
          "pipelineId",
          "status",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "description": "The job id."
          },
          "name": {
            "type": "string",
            "description": "The job name."
          },
          "definitionId": {
            "type": "string",
            "description": "The job definition id."
          },
          "audienceId": {
            "type": "string",
            "description": "The audience id."
          },
          "revisionNumber": {
            "type": "integer",
            "description": "The revision number.",
            "format": "int32"
          },
          "pipelineId": {
            "type": "string",
            "description": "The pipeline id."
          },
          "status": {
            "type": "string",
            "description": "The job status."
          },
          "completedAt": {
            "type": "string",
            "description": "The timestamp when the job was completed.",
            "format": "date-time",
            "nullable": true
          },
          "resultFileName": {
            "type": "string",
            "description": "The file name of the result.",
            "nullable": true
          },
          "failedAt": {
            "type": "string",
            "description": "The timestamp when the job failed.",
            "format": "date-time",
            "nullable": true
          },
          "failureMessage": {
            "type": "string",
            "description": "The failure message.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "The creation timestamp.",
            "format": "date-time"
          }
        },
        "description": "The result when a job has been retrieved."
      },
      "GetJobDefinitionByIdEndpoint_Output": {
        "required": [
          "definitionId",
          "name",
          "definitionType",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "definitionId": {
            "type": "string",
            "description": "The job definition id."
          },
          "name": {
            "type": "string",
            "description": "The name of the job definition."
          },
          "definitionType": {
            "$ref": "#/components/schemas/DefinitionType"
          },
          "createdAt": {
            "type": "string",
            "description": "The creation timestamp.",
            "format": "date-time"
          }
        },
        "description": "The result when a job definition has been retrieved."
      },
      "GetJobRevisionEndpoint_Output": {
        "required": [
          "definitionId",
          "revisionNumber",
          "state",
          "pipelineId",
          "datasetId",
          "workflow",
          "referee",
          "featureFlags",
          "createdAt",
          "createdById",
          "createdByMail"
        ],
        "type": "object",
        "properties": {
          "definitionId": {
            "type": "string",
            "description": "The job definition id."
          },
          "revisionNumber": {
            "type": "integer",
            "description": "The revision number.",
            "format": "int32"
          },
          "state": {
            "$ref": "#/components/schemas/JobDefinitionRevisionState"
          },
          "pipelineId": {
            "type": "string",
            "description": "The pipeline id."
          },
          "datasetId": {
            "type": "string",
            "description": "The dataset id."
          },
          "aggregatorType": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/AggregatorType"
              }
            ]
          },
          "workflow": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IOrderWorkflowModel"
              }
            ],
            "description": "The workflow configuration. Can be used directly to create a new revision."
          },
          "referee": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IRefereeModel"
              }
            ],
            "description": "The referee configuration. Can be used directly to create a new revision."
          },
          "featureFlags": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ListOfFeatureFlag"
              }
            ],
            "description": "The feature flags."
          },
          "createdAt": {
            "type": "string",
            "description": "The creation timestamp.",
            "format": "date-time"
          },
          "createdById": {
            "type": "string",
            "description": "The id of the user who created the revision.",
            "format": "uuid"
          },
          "createdByMail": {
            "type": "string",
            "description": "The email of the user who created the revision."
          }
        },
        "description": "The result when a job revision has been retrieved."
      },
      "GetOrderByIdResult": {
        "required": [
          "orderName",
          "customerMail",
          "orderDate",
          "state",
          "pipelineId",
          "isLocked",
          "isPublic"
        ],
        "type": "object",
        "properties": {
          "orderName": {
            "type": "string"
          },
          "customerMail": {
            "type": "string"
          },
          "orderDate": {
            "type": "string",
            "format": "date-time"
          },
          "state": {
            "type": "string"
          },
          "pipelineId": {
            "type": "string"
          },
          "isLocked": {
            "type": "boolean"
          },
          "isPublic": {
            "type": "boolean"
          },
          "failureMessage": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GetPublicOrdersResult": {
        "required": [
          "orders"
        ],
        "type": "object",
        "properties": {
          "orders": {
            "$ref": "#/components/schemas/ListOfPublicOrderModel"
          }
        }
      },
      "IAssetInput": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IAssetInputExistingAssetInput"
          },
          {
            "$ref": "#/components/schemas/IAssetInputMultiAssetInput"
          },
          {
            "$ref": "#/components/schemas/IAssetInputTextAssetInput"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ExistingAssetInput": "#/components/schemas/IAssetInputExistingAssetInput",
            "MultiAssetInput": "#/components/schemas/IAssetInputMultiAssetInput",
            "TextAssetInput": "#/components/schemas/IAssetInputTextAssetInput"
          }
        }
      },
      "IAssetInputExistingAssetInput": {
        "required": [
          "name",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ExistingAssetInput"
            ],
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ]
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetInputMultiAssetInput": {
        "required": [
          "assets",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "MultiAssetInput"
            ],
            "type": "string"
          },
          "assets": {
            "$ref": "#/components/schemas/ListOfIAssetInput"
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ]
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetInputTextAssetInput": {
        "required": [
          "text",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextAssetInput"
            ],
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ]
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IDatasetModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IDatasetModelCloneDatasetModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "CloneDatasetModel": "#/components/schemas/IDatasetModelCloneDatasetModel"
          }
        }
      },
      "IDatasetModelCloneDatasetModel": {
        "required": [
          "datasetToCloneId",
          "datasetName",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CloneDatasetModel"
            ],
            "type": "string"
          },
          "datasetToCloneId": {
            "type": "string"
          },
          "datasetName": {
            "type": "string"
          }
        }
      },
      "IMetadataInput": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IMetadataInputTextMetadataInput"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "TextMetadataInput": "#/components/schemas/IMetadataInputTextMetadataInput"
          }
        }
      },
      "IMetadataInputTextMetadataInput": {
        "required": [
          "text",
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextMetadataInput"
            ],
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IOrderWorkflowModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IOrderWorkflowModelCompareWorkflowModel"
          },
          {
            "$ref": "#/components/schemas/IOrderWorkflowModelEvaluationWorkflowModel"
          },
          {
            "$ref": "#/components/schemas/IOrderWorkflowModelGroupedRankingWorkflowModel"
          },
          {
            "$ref": "#/components/schemas/IOrderWorkflowModelSimpleWorkflowModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "CompareWorkflow": "#/components/schemas/IOrderWorkflowModelCompareWorkflowModel",
            "EvaluationWorkflow": "#/components/schemas/IOrderWorkflowModelEvaluationWorkflowModel",
            "GroupedRankingWorkflow": "#/components/schemas/IOrderWorkflowModelGroupedRankingWorkflowModel",
            "SimpleWorkflow": "#/components/schemas/IOrderWorkflowModelSimpleWorkflowModel"
          }
        }
      },
      "IOrderWorkflowModelCompareWorkflowModel": {
        "required": [
          "criteria",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareWorkflow"
            ],
            "type": "string"
          },
          "criteria": {
            "type": "string"
          },
          "pairMakerConfig": {
            "$ref": "#/components/schemas/IPairMakerConfigModel"
          },
          "eloConfig": {
            "$ref": "#/components/schemas/EloConfigModel"
          },
          "rankingConfig": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/IRankingConfigModel"
              }
            ]
          },
          "context": {
            "type": "string",
            "nullable": true
          },
          "contextAsset": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/IAssetInput"
              }
            ]
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/Metadata_ListOfMetadata_IOrderMetadataInput"
              }
            ]
          },
          "featureFlags": {
            "$ref": "#/components/schemas/ListOfFeatureFlag"
          }
        }
      },
      "IOrderWorkflowModelEvaluationWorkflowModel": {
        "required": [
          "validationSetId",
          "shouldAcceptIncorrect",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "EvaluationWorkflow"
            ],
            "type": "string"
          },
          "validationSetId": {
            "type": "string"
          },
          "shouldAcceptIncorrect": {
            "type": "boolean"
          },
          "featureFlags": {
            "$ref": "#/components/schemas/ListOfFeatureFlag"
          }
        }
      },
      "IOrderWorkflowModelGroupedRankingWorkflowModel": {
        "required": [
          "criteria",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "GroupedRankingWorkflow"
            ],
            "type": "string"
          },
          "criteria": {
            "type": "string"
          },
          "pairMakerConfig": {
            "$ref": "#/components/schemas/IPairMakerConfigModel"
          },
          "eloConfig": {
            "$ref": "#/components/schemas/EloConfigModel"
          },
          "rankingConfig": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/IRankingConfigModel"
              }
            ]
          },
          "contexts": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "contextAssets": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/IAssetInput"
            },
            "nullable": true
          },
          "featureFlags": {
            "$ref": "#/components/schemas/ListOfFeatureFlag"
          },
          "maxParallelism": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IOrderWorkflowModelSimpleWorkflowModel": {
        "required": [
          "blueprint",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SimpleWorkflow"
            ],
            "type": "string"
          },
          "blueprint": {
            "$ref": "#/components/schemas/IRapidBlueprint"
          },
          "batchSize": {
            "type": "integer",
            "format": "int32"
          },
          "featureFlags": {
            "$ref": "#/components/schemas/ListOfFeatureFlag"
          }
        }
      },
      "IPairMakerConfigModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IPairMakerConfigModelOnlinePairMakerConfigModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "OnlinePairMaker": "#/components/schemas/IPairMakerConfigModelOnlinePairMakerConfigModel"
          }
        }
      },
      "IPairMakerConfigModelOnlinePairMakerConfigModel": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OnlinePairMaker"
            ],
            "type": "string"
          },
          "randomMatchesRatio": {
            "type": "number",
            "format": "float"
          },
          "totalComparisonBudget": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IPipelineArtifactModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IPipelineArtifactModelCreateDatasetArtifactModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "CreateDatasetArtifactModel": "#/components/schemas/IPipelineArtifactModelCreateDatasetArtifactModel"
          }
        }
      },
      "IPipelineArtifactModelCreateDatasetArtifactModel": {
        "required": [
          "identifier",
          "dataset",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CreateDatasetArtifactModel"
            ],
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "dataset": {
            "$ref": "#/components/schemas/IDatasetModel"
          }
        }
      },
      "IPipelineModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IPipelineModelCreateSimplePipelineModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "CreateSimplePipelineModel": "#/components/schemas/IPipelineModelCreateSimplePipelineModel"
          }
        }
      },
      "IPipelineModelCreateSimplePipelineModel": {
        "required": [
          "artifacts",
          "pipelineSteps",
          "namePrefix",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CreateSimplePipelineModel"
            ],
            "type": "string"
          },
          "artifacts": {
            "$ref": "#/components/schemas/ListOfIPipelineArtifactModel"
          },
          "pipelineSteps": {
            "$ref": "#/components/schemas/ListOfIPipelineStepModel"
          },
          "namePrefix": {
            "type": "string"
          }
        }
      },
      "IPipelineStepModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IPipelineStepModelDatasetEvaluationStepModel"
          },
          {
            "$ref": "#/components/schemas/IPipelineStepModelSendCompletionMailStepModel"
          },
          {
            "$ref": "#/components/schemas/IPipelineStepModelWorkflowAggregationStepModel"
          },
          {
            "$ref": "#/components/schemas/IPipelineStepModelWorkflowLabelingStepModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "DatasetEvaluationStepModel": "#/components/schemas/IPipelineStepModelDatasetEvaluationStepModel",
            "SendCompletionMailStepModel": "#/components/schemas/IPipelineStepModelSendCompletionMailStepModel",
            "WorkflowAggregationStepModel": "#/components/schemas/IPipelineStepModelWorkflowAggregationStepModel",
            "WorkflowLabelingStepModel": "#/components/schemas/IPipelineStepModelWorkflowLabelingStepModel"
          }
        }
      },
      "IPipelineStepModelDatasetEvaluationStepModel": {
        "required": [
          "datasetArtifactId",
          "aggregationResultFileArtifactId",
          "evaluationResultFileArtifactId",
          "receiver",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "DatasetEvaluationStepModel"
            ],
            "type": "string"
          },
          "datasetArtifactId": {
            "type": "string"
          },
          "aggregationResultFileArtifactId": {
            "type": "string"
          },
          "evaluationResultFileArtifactId": {
            "type": "string"
          },
          "receiver": {
            "type": "string"
          }
        }
      },
      "IPipelineStepModelSendCompletionMailStepModel": {
        "required": [
          "receiver",
          "resultsFileArtifactIdentifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SendCompletionMailStepModel"
            ],
            "type": "string"
          },
          "receiver": {
            "type": "string"
          },
          "resultsFileArtifactIdentifier": {
            "type": "string"
          }
        }
      },
      "IPipelineStepModelWorkflowAggregationStepModel": {
        "required": [
          "campaignArtifactId",
          "workflowArtifactId",
          "fileArtifactId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "WorkflowAggregationStepModel"
            ],
            "type": "string"
          },
          "campaignArtifactId": {
            "type": "string"
          },
          "workflowArtifactId": {
            "type": "string"
          },
          "fileArtifactId": {
            "type": "string"
          },
          "aggregatorType": {
            "$ref": "#/components/schemas/AggregatorType"
          }
        }
      },
      "IPipelineStepModelWorkflowLabelingStepModel": {
        "required": [
          "workflowArtifactId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "WorkflowLabelingStepModel"
            ],
            "type": "string"
          },
          "workflowArtifactId": {
            "type": "string"
          }
        }
      },
      "IRankingConfigModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRankingConfigModelBradleyTerryRankingConfigModel"
          },
          {
            "$ref": "#/components/schemas/IRankingConfigModelEloConfigModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "BradleyTerryRankingConfig": "#/components/schemas/IRankingConfigModelBradleyTerryRankingConfigModel",
            "EloConfig": "#/components/schemas/IRankingConfigModelEloConfigModel"
          }
        }
      },
      "IRankingConfigModelBradleyTerryRankingConfigModel": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BradleyTerryRankingConfig"
            ],
            "type": "string"
          },
          "startingScore": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IRankingConfigModelEloConfigModel": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "EloConfig"
            ],
            "type": "string"
          },
          "startingElo": {
            "type": "integer",
            "format": "int32"
          },
          "kFactor": {
            "type": "integer",
            "format": "int32"
          },
          "scalingFactor": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IRapidBlueprint": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintScrubRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintPolygonRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintLocateRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintLineRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintCompareRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "TranscriptionBlueprint": "#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint",
            "ScrubBlueprint": "#/components/schemas/IRapidBlueprintScrubRapidBlueprint",
            "PolygonBlueprint": "#/components/schemas/IRapidBlueprintPolygonRapidBlueprint",
            "NamedEntityBlueprint": "#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint",
            "LocateBlueprint": "#/components/schemas/IRapidBlueprintLocateRapidBlueprint",
            "LineBlueprint": "#/components/schemas/IRapidBlueprintLineRapidBlueprint",
            "FreeTextBlueprint": "#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint",
            "CompareBlueprint": "#/components/schemas/IRapidBlueprintCompareRapidBlueprint",
            "ClassifyBlueprint": "#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint",
            "BoundingBoxBlueprint": "#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint"
          }
        }
      },
      "IRapidBlueprintAttachCategoryRapidBlueprint": {
        "required": [
          "title",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassifyBlueprint"
            ],
            "type": "string"
          },
          "possibleCategories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "categories": {
            "$ref": "#/components/schemas/AttachCategoryRapidBlueprint_ListOfAttachCategoryRapidBlueprint_Category"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintBoundingBoxRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BoundingBoxBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintCompareRapidBlueprint": {
        "required": [
          "criteria",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareBlueprint"
            ],
            "type": "string"
          },
          "criteria": {
            "type": "string"
          },
          "indexIdentifiers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IRapidBlueprintFreeTextRapidBlueprint": {
        "required": [
          "question",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FreeTextBlueprint"
            ],
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "shouldValidateResponse": {
            "type": "boolean"
          },
          "validationSystemPrompt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IRapidBlueprintLineRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LineBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintLocateRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocateBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintNamedEntityRapidBlueprint": {
        "required": [
          "target",
          "classes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NamedEntityBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "classes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IRapidBlueprintPolygonRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PolygonBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintScrubRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ScrubBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintTranscriptionRapidBlueprint": {
        "required": [
          "title",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TranscriptionBlueprint"
            ],
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IRefereeModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRefereeModelBudgetRefereeModel"
          },
          {
            "$ref": "#/components/schemas/IRefereeModelEarlyStoppingRefereeModel"
          },
          {
            "$ref": "#/components/schemas/IRefereeModelNaiveRefereeModel"
          },
          {
            "$ref": "#/components/schemas/IRefereeModelQuorumRefereeModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "BudgetReferee": "#/components/schemas/IRefereeModelBudgetRefereeModel",
            "EarlyStoppingReferee": "#/components/schemas/IRefereeModelEarlyStoppingRefereeModel",
            "NaiveReferee": "#/components/schemas/IRefereeModelNaiveRefereeModel",
            "QuorumReferee": "#/components/schemas/IRefereeModelQuorumRefereeModel"
          }
        }
      },
      "IRefereeModelBudgetRefereeModel": {
        "required": [
          "totalBudget",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BudgetReferee"
            ],
            "type": "string"
          },
          "totalBudget": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IRefereeModelEarlyStoppingRefereeModel": {
        "required": [
          "maxVotes",
          "threshold",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "EarlyStoppingReferee"
            ],
            "type": "string"
          },
          "maxVotes": {
            "type": "integer",
            "format": "int32"
          },
          "threshold": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "IRefereeModelNaiveRefereeModel": {
        "required": [
          "totalVotes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NaiveReferee"
            ],
            "type": "string"
          },
          "totalVotes": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IRefereeModelQuorumRefereeModel": {
        "required": [
          "maxVotes",
          "threshold",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "QuorumReferee"
            ],
            "type": "string"
          },
          "maxVotes": {
            "type": "integer",
            "format": "int32"
          },
          "threshold": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ISelection": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ISelectionAbTestSelection"
          },
          {
            "$ref": "#/components/schemas/ISelectionCappedSelection"
          },
          {
            "$ref": "#/components/schemas/ISelectionConditionalValidationSelection"
          },
          {
            "$ref": "#/components/schemas/ISelectionDemographicSelection"
          },
          {
            "$ref": "#/components/schemas/ISelectionEffortCappedSelection"
          },
          {
            "$ref": "#/components/schemas/ISelectionLabelingSelection"
          },
          {
            "$ref": "#/components/schemas/ISelectionShufflingSelection"
          },
          {
            "$ref": "#/components/schemas/ISelectionStaticSelection"
          },
          {
            "$ref": "#/components/schemas/ISelectionValidationSelection"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "AbTestSelection": "#/components/schemas/ISelectionAbTestSelection",
            "CappedSelection": "#/components/schemas/ISelectionCappedSelection",
            "ConditionalValidationSelection": "#/components/schemas/ISelectionConditionalValidationSelection",
            "DemographicSelection": "#/components/schemas/ISelectionDemographicSelection",
            "EffortCappedSelection": "#/components/schemas/ISelectionEffortCappedSelection",
            "LabelingSelection": "#/components/schemas/ISelectionLabelingSelection",
            "ShufflingSelection": "#/components/schemas/ISelectionShufflingSelection",
            "StaticSelection": "#/components/schemas/ISelectionStaticSelection",
            "ValidationSelection": "#/components/schemas/ISelectionValidationSelection"
          }
        }
      },
      "ISelectionAbTestSelection": {
        "required": [
          "a",
          "b",
          "_t"
[...]
