{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Order API",
    "description": "The API for the Rapidata Order service",
    "version": "2026.09.03.0112-2cb34ca"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/feedback": {
      "post": {
        "tags": [
          "Feedback"
        ],
        "summary": "Submits feedback about our services.",
        "requestBody": {
          "description": "The feedback payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitFeedbackEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/approve": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Approves a job in manual review so its pipeline can start processing.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The ID of the job to approve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}/clone": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Clones a job definition into a new, private definition owned by the caller.",
        "description": "The clone's first revision copies the configuration of the source definition's latest\n revision and references the same dataset. Jobs, runs and earlier revisions are not\n copied. A preview pipeline is automatically created and returned in the response.\n Omit the name to derive it from the source definition.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to clone.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The clone job definition parameters.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CloneJobDefinitionEndpoint_Input"
                  }
                ],
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloneJobDefinitionEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Creates a new job definition.",
        "description": "A preview pipeline is automatically created and returned in the response.",
        "requestBody": {
          "description": "The job definition parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobDefinitionEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJobDefinitionEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Creates a new job from a job definition and audience.",
        "description": "If the audience is not already recruiting, recruiting is started automatically.\n The RecruitingStarted field indicates whether this happened.",
        "requestBody": {
          "description": "The job creation parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJobEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}/revision": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Creates a new revision for an existing job definition.",
        "description": "Unspecified fields are inherited from the previous revision. Workflow and Referee must be\n provided together if either is specified.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to create a revision for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The revision parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobRevisionEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJobRevisionEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets the latest revision for a job definition.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobRevisionEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/shares": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Grants a customer viewer or editor access to a job by their email.",
        "description": "Granting editor access implies viewing. Re-sharing at the same level is idempotent.\n An email with no matching account is accepted and grants nothing; the response does not\n distinguish it from a successful share, so callers cannot probe which emails have accounts.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to share.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The email to share with and the access level to grant.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobShareEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Returns each customer a job is shared with, together with their access level.",
        "description": "The email is resolved for display and may be null if the account can no longer be resolved.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetJobSharesEndpoint_Output"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}": {
      "delete": {
        "tags": [
          "Job"
        ],
        "summary": "Deletes a job definition and all its revisions.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets a job definition by its id.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobDefinitionByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Job"
        ],
        "summary": "Updates a job definition.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The fields to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJobDefinitionEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}": {
      "delete": {
        "tags": [
          "Job"
        ],
        "summary": "Deletes a job.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets a job by its id.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Job"
        ],
        "summary": "Updates a job.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The fields to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJobEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/download-results": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Downloads the results of a job as a file attachment.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to download results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/ab-summary": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets the A/B winner summary for a job's comparison labelling.",
        "description": "Scoped to the job's labelling server-side; returns 404 when the job has no labelling task.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to summarise.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useUserScore",
            "in": "query",
            "description": "Whether to weight wins by the annotator's user score.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobAbSummaryEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/cost-estimate": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Estimates the cost of running a job to completion.",
        "description": "The estimate multiplies a representative per-response cost sampled from the job's rapids by\n the total number of responses its referee requires. Returns 409 while the estimate is not\n yet available because the job has no rapids, or when the referee is unbounded.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to estimate.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobCostEstimateEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/datapoints": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets the datapoints of the dataset backing a job.",
        "description": "Scoped server-side to the job's own dataset; returns 404 when the job has no dataset.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job whose datapoints to list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobDatapointsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}/cost-estimate": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Estimates the cost of running a job definition's latest revision to completion.",
        "description": "The estimate multiplies a representative per-response cost sampled from the definition's\n rapids by the total number of responses its referee requires. Returns 409 while the estimate\n is not yet available because no rapids exist, or when the referee is unbounded.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition to estimate.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobDefinitionCostEstimateEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/shares/organizations": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Returns each organization a job is shared with, together with its access level.",
        "description": "The name is resolved for display and is empty if the organization can no longer be resolved.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetJobOrganizationSharesEndpoint_Output"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Grants every member of an organization viewer or editor access to a job.",
        "description": "The grant follows organization membership, so members who join later inherit the access.\n Granting editor access implies viewing. Re-sharing at the same level is idempotent.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to share.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The organization to share with and the access level to grant.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareJobWithOrganizationEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/progress": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets the labelling progress for a job.",
        "description": "Scoped to the job's labelling server-side; returns 404 when the job has no labelling task.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job to get progress for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobProgressEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/responses": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets the most recent responses for a job.",
        "description": "Scoped to the job's labelling server-side; returns 404 when the job has no labelling task.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job whose responses to list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of responses to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The order to return responses in.",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobResponsesEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/results/{rapidId}/navigation": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets the anchor rapid plus its neighbours within the job's filtered results.",
        "description": "The job scopes the results server-side; returns 404 when the job has no labelling task.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rapidId",
            "in": "path",
            "description": "The anchor rapid id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "states",
            "in": "query",
            "description": "Optional rapid states to filter the slice by.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RapidState"
              }
            }
          },
          {
            "name": "window",
            "in": "query",
            "description": "The number of neighbours to return on each side.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 3
            }
          },
          {
            "name": "includeNotAccepted",
            "in": "query",
            "description": "Whether to include not-yet-accepted rapids.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeOverflow",
            "in": "query",
            "description": "Whether to include overflow rapids.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobResultNavigationEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/results": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets the results grid for a job.",
        "description": "Resolves the job's rapid type server-side and returns the matching result shape (rapid\n cards, ranking datapoints, or grouped rankings). Returns 404 when the job has no\n labelling task.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job whose results to list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "states",
            "in": "query",
            "description": "Optional rapid states to filter by (rapid-card results only).",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RapidState"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IJobResults"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}/revision/{revisionNumber}": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Gets a specific revision for a job definition.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revisionNumber",
            "in": "path",
            "description": "The revision number to retrieve.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobRevisionEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/pause": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Pauses a job, stopping all of its campaigns from processing.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The ID of the job to pause.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/jobs/aggregated-overview": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Retrieves jobs aggregated by customer with total counts and most recent job information.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "amount",
                  "-amount",
                  "last7_days",
                  "-last7_days",
                  "last_job_date",
                  "-last_job_date",
                  "owner_mail",
                  "-owner_mail"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "owner_mail",
            "in": "query",
            "description": "Filter by owner_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "last_job_date",
            "in": "query",
            "description": "Filter by last_job_date.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "last_job_name",
            "in": "query",
            "description": "Filter by last_job_name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryAggregatedJobsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definitions": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Queries job definitions visible to the caller.",
        "description": "Results are scoped to the caller's organization unless the caller is allowed to view all job definitions.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "definition_id",
            "in": "query",
            "description": "Filter by definition_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "definition_type",
            "in": "query",
            "description": "Filter by definition_type.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "Filter by owner_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_mail",
            "in": "query",
            "description": "Filter by owner_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryJobDefinitionsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}/revisions": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Queries the revisions of a specific job definition.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The id of the job definition.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "revision_number",
                  "-revision_number",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "revision_number",
            "in": "query",
            "description": "Filter by revision_number.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryJobRevisionsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Queries jobs visible to the caller: owned, shared with them, or both.",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "Which jobs to return: owned by the caller's organization, shared with the caller, or both.",
            "schema": {
              "$ref": "#/components/schemas/JobScope"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "created_at",
                  "-created_at",
                  "state",
                  "-state",
                  "owner_mail",
                  "-owner_mail",
                  "progress",
                  "-progress"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "job_definition_id",
            "in": "query",
            "description": "Filter by job_definition_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "audience_id",
            "in": "query",
            "description": "Filter by audience_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "campaign_id",
            "in": "query",
            "description": "Filter by campaign_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_mail",
            "in": "query",
            "description": "Filter by owner_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryJobsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definitions/public": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Queries job definitions that have been shared publicly, regardless of owner, so they can be\n reused as templates.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "definition_id",
            "in": "query",
            "description": "Filter by definition_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "definition_type",
            "in": "query",
            "description": "Filter by definition_type.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "Filter by owner_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_mail",
            "in": "query",
            "description": "Filter by owner_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryPublicJobDefinitionsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/rapids/restart": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Restarts the given rapids of a job.",
        "description": "The old rapids are rejected (their billed responses refunded) and soft-deleted, then cloned\n into a new target group. Results regenerate automatically once the replacements finish\n collecting; the job dips below 100% progress during re-collection and climbs back. Idempotent\n per original rapid — a repeated call reuses the existing replacement.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The rapids to restart.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestartRapidsEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/resume": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Resumes a job, restarting all of its campaigns.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The ID of the job to resume.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/retry": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Retries processing of a failed job.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The ID of the job to retry.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/shares/organizations/{organizationId}": {
      "delete": {
        "tags": [
          "Job"
        ],
        "summary": "Removes an organization's viewer and editor access to a job.",
        "description": "Idempotent: revoking a share that does not exist succeeds with no effect. Members who also\n hold a direct customer share keep that access.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "The id of the organization whose access is revoked.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/shares/{customerId}": {
      "delete": {
        "tags": [
          "Job"
        ],
        "summary": "Removes a customer's viewer and editor access to a job.",
        "description": "Idempotent: revoking a share that does not exist succeeds with no effect.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "The id of the customer whose access is revoked.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/definition/{definitionId}/share": {
      "patch": {
        "tags": [
          "Job"
        ],
        "summary": "Marks or unmarks a job definition as a public template that other users can discover and run.",
        "parameters": [
          {
            "name": "definitionId",
            "in": "path",
            "description": "The ID of the job definition.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isPublic",
            "in": "query",
            "description": "Whether to mark or unmark the definition as public.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/job/{jobId}/share": {
      "patch": {
        "tags": [
          "Job"
        ],
        "summary": "Marks or unmarks a job as public so its results can be shared with other users.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The ID of the job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isPublic",
            "in": "query",
            "description": "Whether to mark or unmark the job as public.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": true
      }
    },
    "/job/{jobId}/visibility": {
      "patch": {
        "tags": [
          "Job"
        ],
        "summary": "Marks or unmarks a job as public so its results are viewable via a link.",
        "description": "Public visibility is distinct from per-customer sharing (/job/{jobId}/shares): this\n makes results readable by anyone, whereas sharing grants a specific customer access.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The id of the job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isPublic",
            "in": "query",
            "description": "Whether to mark or unmark the job as public.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{orderId}/approve": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Approves a submitted order so the pipeline can start processing it.",
[...]
