{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Pipeline API",
    "description": "The API for the Rapidata Pipeline service",
    "version": "2026.07.24.1303-b3d1ec7"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/pipeline/{pipelineId}": {
      "get": {
        "tags": [
          "Pipeline"
        ],
        "summary": "Gets a pipeline by its id.",
        "parameters": [
          {
            "name": "pipelineId",
            "in": "path",
            "description": "The id of the pipeline to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPipelineByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/pipeline/preliminary-download/{preliminaryDownloadId}": {
      "get": {
        "tags": [
          "Pipeline"
        ],
        "summary": "Streams the preliminary download file when ready.",
        "description": "Returns 202 while the download is still processing.",
        "parameters": [
          {
            "name": "preliminaryDownloadId",
            "in": "path",
            "description": "The id of the preliminary download to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pipeline/{pipelineId}/preliminary-download": {
      "post": {
        "tags": [
          "Pipeline"
        ],
        "summary": "Initiates a preliminary download of the pipeline.",
        "parameters": [
          {
            "name": "pipelineId",
            "in": "path",
            "description": "The id of the pipeline to initiate the download for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Whether to email the caller when the download is ready.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartPreliminaryDownloadEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartPreliminaryDownloadEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AttachCategoryRapidBlueprint_Category": {
        "required": [
          "label",
          "value"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "FeatureFlag": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "FileType": {
        "enum": [
          "Unknown",
          "Image",
          "Video",
          "Audio"
        ]
      },
      "GetPipelineByIdEndpoint_Output": {
        "required": [
          "artifacts",
          "featureFlags"
        ],
        "type": "object",
        "properties": {
          "artifacts": {
            "allOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/IArtifact"
                }
              }
            ],
            "description": "The artifacts attached to the pipeline, keyed by their role."
          },
          "featureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                }
              }
            ],
            "description": "The feature flags enabled for the pipeline."
          }
        }
      },
      "IArtifact": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IArtifactCampaignArtifact"
          },
          {
            "$ref": "#/components/schemas/IArtifactDatasetArtifact"
          },
          {
            "$ref": "#/components/schemas/IArtifactFileArtifact"
          },
          {
            "$ref": "#/components/schemas/IArtifactWorkflowArtifact"
          },
          {
            "$ref": "#/components/schemas/IArtifactWorkflowConfigArtifact"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "CampaignArtifactModel": "#/components/schemas/IArtifactCampaignArtifact",
            "DatasetArtifactModel": "#/components/schemas/IArtifactDatasetArtifact",
            "FileArtifactModel": "#/components/schemas/IArtifactFileArtifact",
            "WorkflowArtifactModel": "#/components/schemas/IArtifactWorkflowArtifact",
            "WorkflowConfigArtifactModel": "#/components/schemas/IArtifactWorkflowConfigArtifact"
          }
        }
      },
      "IArtifactCampaignArtifact": {
        "required": [
          "campaignId",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CampaignArtifactModel"
            ],
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IArtifactDatasetArtifact": {
        "required": [
          "datasetId",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "DatasetArtifactModel"
            ],
            "type": "string"
          },
          "datasetId": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IArtifactFileArtifact": {
        "required": [
          "fileName",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileArtifactModel"
            ],
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IArtifactWorkflowArtifact": {
        "required": [
          "workflowId",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "WorkflowArtifactModel"
            ],
            "type": "string"
          },
          "workflowId": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IArtifactWorkflowConfigArtifact": {
        "required": [
          "workflowConfig",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "WorkflowConfigArtifactModel"
            ],
            "type": "string"
          },
          "workflowConfig": {
            "$ref": "#/components/schemas/IWorkflowConfig"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IPipelineAsset": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IPipelineAssetPipelineFileAsset"
          },
          {
            "$ref": "#/components/schemas/IPipelineAssetPipelineMultiAsset"
          },
          {
            "$ref": "#/components/schemas/IPipelineAssetPipelineNullAsset"
          },
          {
            "$ref": "#/components/schemas/IPipelineAssetPipelineTextAsset"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "FileAsset": "#/components/schemas/IPipelineAssetPipelineFileAsset",
            "MultiAsset": "#/components/schemas/IPipelineAssetPipelineMultiAsset",
            "NullAsset": "#/components/schemas/IPipelineAssetPipelineNullAsset",
            "TextAsset": "#/components/schemas/IPipelineAssetPipelineTextAsset"
          }
        }
      },
      "IPipelineAssetPipelineFileAsset": {
        "required": [
          "fileName",
          "metadata",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileAsset"
            ],
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/IPipelineMetadata"
            }
          }
        }
      },
      "IPipelineAssetPipelineMultiAsset": {
        "required": [
          "assets",
          "metadata",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "MultiAsset"
            ],
            "type": "string"
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IPipelineAsset"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/IPipelineMetadata"
            }
          }
        }
      },
      "IPipelineAssetPipelineNullAsset": {
        "required": [
          "metadata",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NullAsset"
            ],
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/IPipelineMetadata"
            }
          }
        }
      },
      "IPipelineAssetPipelineTextAsset": {
        "required": [
          "text",
          "metadata",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextAsset"
            ],
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/IPipelineMetadata"
            }
          }
        }
      },
      "IPipelineMetadata": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IPipelineMetadataPipelineClassificationMetadata"
          },
          {
            "$ref": "#/components/schemas/IPipelineMetadataPipelineCountMetadata"
          },
          {
            "$ref": "#/components/schemas/IPipelineMetadataPipelineDurationMetadata"
          },
          {
            "$ref": "#/components/schemas/IPipelineMetadataPipelineFileTypeMetadata"
          },
          {
            "$ref": "#/components/schemas/IPipelineMetadataPipelineImageDimensionMetadata"
          },
          {
            "$ref": "#/components/schemas/IPipelineMetadataPipelineLocationMetadata"
          },
          {
            "$ref": "#/components/schemas/IPipelineMetadataPipelineOriginalFilenameMetadata"
          },
          {
            "$ref": "#/components/schemas/IPipelineMetadataPipelineSourceUrlMetadata"
          },
          {
            "$ref": "#/components/schemas/IPipelineMetadataPipelineStreamsMetadata"
          },
          {
            "$ref": "#/components/schemas/IPipelineMetadataPipelineTextMetadata"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ClassificationMetadata": "#/components/schemas/IPipelineMetadataPipelineClassificationMetadata",
            "CountMetadata": "#/components/schemas/IPipelineMetadataPipelineCountMetadata",
            "DurationMetadata": "#/components/schemas/IPipelineMetadataPipelineDurationMetadata",
            "FileTypeMetadata": "#/components/schemas/IPipelineMetadataPipelineFileTypeMetadata",
            "ImageDimensionMetadata": "#/components/schemas/IPipelineMetadataPipelineImageDimensionMetadata",
            "LocationMetadata": "#/components/schemas/IPipelineMetadataPipelineLocationMetadata",
            "OriginalFilenameMetadata": "#/components/schemas/IPipelineMetadataPipelineOriginalFilenameMetadata",
            "SourceUrlMetadata": "#/components/schemas/IPipelineMetadataPipelineSourceUrlMetadata",
            "StreamsMetadata": "#/components/schemas/IPipelineMetadataPipelineStreamsMetadata",
            "TextMetadata": "#/components/schemas/IPipelineMetadataPipelineTextMetadata"
          }
        }
      },
      "IPipelineMetadataPipelineClassificationMetadata": {
        "required": [
          "classification",
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassificationMetadata"
            ],
            "type": "string"
          },
          "classification": {
            "type": "string"
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IPipelineMetadataPipelineCountMetadata": {
        "required": [
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CountMetadata"
            ],
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IPipelineMetadataPipelineDurationMetadata": {
        "required": [
          "duration",
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "DurationMetadata"
            ],
            "type": "string"
          },
          "duration": {
            "type": "string",
            "format": "date-time"
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IPipelineMetadataPipelineFileTypeMetadata": {
        "required": [
          "fileType",
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileTypeMetadata"
            ],
            "type": "string"
          },
          "fileType": {
            "$ref": "#/components/schemas/FileType"
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IPipelineMetadataPipelineImageDimensionMetadata": {
        "required": [
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ImageDimensionMetadata"
            ],
            "type": "string"
          },
          "height": {
            "type": "integer",
            "format": "int32"
          },
          "width": {
            "type": "integer",
            "format": "int32"
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IPipelineMetadataPipelineLocationMetadata": {
        "required": [
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocationMetadata"
            ],
            "type": "string"
          },
          "x": {
            "type": "number",
            "format": "float"
          },
          "y": {
            "type": "number",
            "format": "float"
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IPipelineMetadataPipelineOriginalFilenameMetadata": {
        "required": [
          "originalFilename",
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OriginalFilenameMetadata"
            ],
            "type": "string"
          },
          "originalFilename": {
            "type": "string"
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IPipelineMetadataPipelineSourceUrlMetadata": {
        "required": [
          "url",
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SourceUrlMetadata"
            ],
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IPipelineMetadataPipelineStreamsMetadata": {
        "required": [
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "StreamsMetadata"
            ],
            "type": "string"
          },
          "hasAudio": {
            "type": "boolean"
          },
          "hasVideo": {
            "type": "boolean"
          },
          "hasSubtitles": {
            "type": "boolean"
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IPipelineMetadataPipelineTextMetadata": {
        "required": [
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextMetadata"
            ],
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IPipelinePairMakerConfig": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IPipelinePairMakerConfigPipelineFullPermutationPairMakerConfig"
          },
          {
            "$ref": "#/components/schemas/IPipelinePairMakerConfigPipelineOnlinePairMakerConfig"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "FullPermutationPairMakerConfig": "#/components/schemas/IPipelinePairMakerConfigPipelineFullPermutationPairMakerConfig",
            "OnlinePairMakerConfig": "#/components/schemas/IPipelinePairMakerConfigPipelineOnlinePairMakerConfig"
          }
        }
      },
      "IPipelinePairMakerConfigPipelineFullPermutationPairMakerConfig": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FullPermutationPairMakerConfig"
            ],
            "type": "string"
          }
        }
      },
      "IPipelinePairMakerConfigPipelineOnlinePairMakerConfig": {
        "required": [
          "randomMatchesRatio",
          "totalComparisonBudget",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OnlinePairMakerConfig"
            ],
            "type": "string"
          },
          "randomMatchesRatio": {
            "type": "number",
            "format": "float"
          },
          "totalComparisonBudget": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IPipelineRankingConfig": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IPipelineRankingConfigPipelineBradleyTerryRankingConfig"
          },
          {
            "$ref": "#/components/schemas/IPipelineRankingConfigPipelineEloRankingConfig"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "BradleyTerryRankingConfig": "#/components/schemas/IPipelineRankingConfigPipelineBradleyTerryRankingConfig",
            "EloRankingConfig": "#/components/schemas/IPipelineRankingConfigPipelineEloRankingConfig"
          }
        }
      },
      "IPipelineRankingConfigPipelineBradleyTerryRankingConfig": {
        "required": [
          "startingScore",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BradleyTerryRankingConfig"
            ],
            "type": "string"
          },
          "startingScore": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IPipelineRankingConfigPipelineEloRankingConfig": {
        "required": [
          "startingElo",
          "kFactor",
          "scalingFactor",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "EloRankingConfig"
            ],
            "type": "string"
          },
          "startingElo": {
            "type": "integer",
            "format": "int32"
          },
          "kFactor": {
            "type": "integer",
            "format": "int32"
          },
          "scalingFactor": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IRapidBlueprint": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintCompareRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintLineRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintLocateRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintPolygonRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintScrubRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ClassifyBlueprint": "#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint",
            "BoundingBoxBlueprint": "#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint",
            "CompareBlueprint": "#/components/schemas/IRapidBlueprintCompareRapidBlueprint",
            "FreeTextBlueprint": "#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint",
            "LineBlueprint": "#/components/schemas/IRapidBlueprintLineRapidBlueprint",
            "LocateBlueprint": "#/components/schemas/IRapidBlueprintLocateRapidBlueprint",
            "NamedEntityBlueprint": "#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint",
            "PolygonBlueprint": "#/components/schemas/IRapidBlueprintPolygonRapidBlueprint",
            "ScrubBlueprint": "#/components/schemas/IRapidBlueprintScrubRapidBlueprint",
            "TranscriptionBlueprint": "#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint"
          }
        }
      },
      "IRapidBlueprintAttachCategoryRapidBlueprint": {
        "required": [
          "categories",
          "title",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassifyBlueprint"
            ],
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttachCategoryRapidBlueprint_Category"
            }
          },
          "possibleCategories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintBoundingBoxRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BoundingBoxBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintCompareRapidBlueprint": {
        "required": [
          "criteria",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareBlueprint"
            ],
            "type": "string"
          },
          "criteria": {
            "type": "string"
          },
          "indexIdentifiers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        }
      },
      "IRapidBlueprintFreeTextRapidBlueprint": {
        "required": [
          "question",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FreeTextBlueprint"
            ],
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "shouldValidateResponse": {
            "type": "boolean",
            "nullable": true
          },
          "validationSystemPrompt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IRapidBlueprintLineRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LineBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintLocateRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocateBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintNamedEntityRapidBlueprint": {
        "required": [
          "target",
          "classes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NamedEntityBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "classes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IRapidBlueprintPolygonRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PolygonBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintScrubRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ScrubBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintTranscriptionRapidBlueprint": {
        "required": [
          "title",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TranscriptionBlueprint"
            ],
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IRefereeConfig": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRefereeConfigBudgetRefereeConfig"
          },
          {
            "$ref": "#/components/schemas/IRefereeConfigNaiveRefereeConfig"
          },
          {
            "$ref": "#/components/schemas/IRefereeConfigNeverEndingRefereeConfig"
          },
          {
            "$ref": "#/components/schemas/IRefereeConfigProbabilisticAttachCategoryRefereeConfig"
          },
          {
            "$ref": "#/components/schemas/IRefereeConfigQuorumRefereeConfig"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "BudgetRefereeConfig": "#/components/schemas/IRefereeConfigBudgetRefereeConfig",
            "NaiveRefereeConfig": "#/components/schemas/IRefereeConfigNaiveRefereeConfig",
            "NeverEndingRefereeConfig": "#/components/schemas/IRefereeConfigNeverEndingRefereeConfig",
            "ProbabilisticAttachCategoryRefereeConfig": "#/components/schemas/IRefereeConfigProbabilisticAttachCategoryRefereeConfig",
            "QuorumRefereeConfig": "#/components/schemas/IRefereeConfigQuorumRefereeConfig"
          }
        }
      },
      "IRefereeConfigBudgetRefereeConfig": {
        "required": [
          "totalBudget",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BudgetRefereeConfig"
            ],
            "type": "string"
          },
          "totalBudget": {
            "type": "integer",
            "format": "int32"
          },
          "totalServeBudget": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "IRefereeConfigNaiveRefereeConfig": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NaiveRefereeConfig"
            ],
            "type": "string"
          },
          "responsesRequired": {
            "type": "integer",
            "format": "int32"
          },
          "guessesRequired": {
            "type": "integer",
            "format": "int32",
            "deprecated": true
          }
        }
      },
      "IRefereeConfigNeverEndingRefereeConfig": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NeverEndingRefereeConfig"
            ],
            "type": "string"
          }
        }
      },
      "IRefereeConfigProbabilisticAttachCategoryRefereeConfig": {
        "required": [
          "threshold",
          "maxVotes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ProbabilisticAttachCategoryRefereeConfig"
            ],
            "type": "string"
          },
          "threshold": {
            "type": "number",
            "format": "double"
          },
          "maxVotes": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IRefereeConfigQuorumRefereeConfig": {
        "required": [
          "maxVotes",
          "threshold",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "QuorumRefereeConfig"
            ],
            "type": "string"
          },
          "maxVotes": {
            "type": "integer",
            "format": "int32"
          },
          "threshold": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IWorkflowConfig": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IWorkflowConfigEvaluationWorkflowConfig"
          },
          {
            "$ref": "#/components/schemas/IWorkflowConfigGroupedRankingWorkflowConfig"
          },
          {
            "$ref": "#/components/schemas/IWorkflowConfigRankingWorkflowConfig"
          },
          {
            "$ref": "#/components/schemas/IWorkflowConfigSimpleWorkflowConfig"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "EvaluationWorkflowConfig": "#/components/schemas/IWorkflowConfigEvaluationWorkflowConfig",
            "GroupedRankingWorkflowConfig": "#/components/schemas/IWorkflowConfigGroupedRankingWorkflowConfig",
            "RankingWorkflowConfig": "#/components/schemas/IWorkflowConfigRankingWorkflowConfig",
            "SimpleWorkflowConfig": "#/components/schemas/IWorkflowConfigSimpleWorkflowConfig"
          }
        }
      },
      "IWorkflowConfigEvaluationWorkflowConfig": {
        "required": [
          "validationSetId",
          "referee",
          "shouldAcceptIncorrect",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "EvaluationWorkflowConfig"
            ],
            "type": "string"
          },
          "validationSetId": {
            "type": "string"
          },
          "referee": {
            "$ref": "#/components/schemas/IRefereeConfig"
          },
          "shouldAcceptIncorrect": {
            "type": "boolean"
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureFlag"
            },
            "nullable": true
          }
        }
      },
      "IWorkflowConfigGroupedRankingWorkflowConfig": {
        "required": [
          "criteria",
          "referee",
          "targetCountryCodes",
          "maxParallelism",
          "pairMakerConfig",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "GroupedRankingWorkflowConfig"
            ],
            "type": "string"
          },
          "criteria": {
            "type": "string"
          },
          "referee": {
            "$ref": "#/components/schemas/IRefereeConfig"
          },
          "targetCountryCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "contexts": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true,
            "deprecated": true
          },
          "contextAssets": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/IPipelineAsset"
            },
            "nullable": true,
            "deprecated": true
          },
          "maxParallelism": {
            "type": "integer",
            "format": "int32"
          },
          "rankingConfig": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IPipelineRankingConfig"
              }
            ],
            "nullable": true
          },
          "eloConfig": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PipelineEloRankingConfig"
              }
            ],
            "deprecated": true
          },
          "pairMakerConfig": {
            "$ref": "#/components/schemas/IPipelinePairMakerConfig"
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureFlag"
            },
            "nullable": true
          }
        }
      },
      "IWorkflowConfigRankingWorkflowConfig": {
        "required": [
          "criteria",
          "referee",
          "pairMakerConfig",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "RankingWorkflowConfig"
            ],
            "type": "string"
          },
          "criteria": {
            "type": "string"
          },
          "referee": {
            "$ref": "#/components/schemas/IRefereeConfig"
          },
          "context": {
            "type": "string",
            "nullable": true
          },
          "contextAsset": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IPipelineAsset"
              }
            ],
            "nullable": true
          },
          "rankingConfig": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IPipelineRankingConfig"
              }
            ],
            "nullable": true
          },
          "eloConfig": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PipelineEloRankingConfig"
              }
            ],
            "deprecated": true
          },
          "pairMakerConfig": {
            "$ref": "#/components/schemas/IPipelinePairMakerConfig"
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureFlag"
            },
            "nullable": true
          }
        }
      },
      "IWorkflowConfigSimpleWorkflowConfig": {
        "required": [
          "referee",
          "blueprint",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SimpleWorkflowConfig"
            ],
            "type": "string"
          },
          "referee": {
            "$ref": "#/components/schemas/IRefereeConfig"
          },
          "blueprint": {
            "$ref": "#/components/schemas/IRapidBlueprint"
          },
          "batchSize": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureFlag"
            },
            "nullable": true
          }
        }
      },
      "MetadataVisibilities": {
        "type": "array",
        "items": {
          "enum": [
            "None",
            "Users",
            "Customers",
            "Admins",
            "Dashboard",
            "All"
          ],
          "type": "string"
        }
      },
      "PipelineEloRankingConfig": {
        "required": [
          "startingElo",
          "kFactor",
          "scalingFactor"
        ],
        "type": "object",
        "properties": {
          "startingElo": {
            "type": "integer",
            "format": "int32"
          },
          "kFactor": {
            "type": "integer",
            "format": "int32"
          },
          "scalingFactor": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "StartPreliminaryDownloadEndpoint_Input": {
        "type": "object",
        "properties": {
          "sendEmail": {
            "type": "boolean",
            "description": "Whether to email the user when the download is ready."
          }
        }
      },
      "StartPreliminaryDownloadEndpoint_Output": {
        "required": [
          "downloadId"
        ],
        "type": "object",
        "properties": {
          "downloadId": {
            "type": "string",
            "description": "The id of the preliminary download that was initiated."
          }
        }
      },
      "ValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "OpenIdConnect": {
        "type": "openIdConnect",
        "description": "OpenID Connect connection flow",
        "openIdConnectUrl": "https://auth.rabbitdata.ch/.well-known/openid-configuration"
      }
    }
  },
  "security": [
    {
      "OpenIdConnect": [
        "openid",
        "profile",
        "email",
        "offline_access"
      ]
    }
  ]
}