{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Asset API",
    "description": "The API for the Rapidata Asset service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "tags": [
    {
      "name": "Asset",
      "x-displayName": "Asset"
    },
    {
      "name": "Audience",
      "x-displayName": "Audience"
    },
    {
      "name": "Campaign",
      "x-displayName": "Campaign"
    },
    {
      "name": "Datapoint",
      "x-displayName": "Datapoint"
    },
    {
      "name": "Dataset",
      "x-displayName": "Dataset"
    },
    {
      "name": "Rapidata.Identity.API",
      "x-displayName": "Rapidata.Identity.API"
    },
    {
      "name": "Client",
      "x-displayName": "Client"
    },
    {
      "name": "Identity",
      "x-displayName": "Identity"
    },
    {
      "name": "Newsletter",
      "x-displayName": "Newsletter"
    },
    {
      "name": "Survey",
      "x-displayName": "Survey"
    },
    {
      "name": "Benchmark",
      "x-displayName": "Benchmark"
    },
    {
      "name": "Leaderboard",
      "x-displayName": "Leaderboard"
    },
    {
      "name": "Participant",
      "x-displayName": "Participant"
    },
    {
      "name": "Prompt",
      "x-displayName": "Prompt"
    },
    {
      "name": "Sample",
      "x-displayName": "Sample"
    },
    {
      "name": "Feedback",
      "x-displayName": "Feedback"
    },
    {
      "name": "Job",
      "x-displayName": "Job"
    },
    {
      "name": "Order",
      "x-displayName": "Order"
    },
    {
      "name": "Pipeline",
      "x-displayName": "Pipeline"
    },
    {
      "name": "CustomerRapid",
      "x-displayName": "CustomerRapid"
    },
    {
      "name": "UserRapid",
      "x-displayName": "UserRapid"
    },
    {
      "name": "ValidationSet",
      "x-displayName": "ValidationSet"
    },
    {
      "name": "CompareWorkflow",
      "x-displayName": "CompareWorkflow"
    },
    {
      "name": "EvaluationWorkflow",
      "x-displayName": "EvaluationWorkflow"
    },
    {
      "name": "GroupedRankingWorkflow",
      "x-displayName": "GroupedRankingWorkflow"
    },
    {
      "name": "SimpleWorkflow",
      "x-displayName": "SimpleWorkflow"
    },
    {
      "name": "Workflow",
      "x-displayName": "Workflow"
    }
  ],
  "paths": {
    "/asset/file": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Uploads a single asset to S3 and returns the asset details.",
        "description": "This endpoint allows uploading a single file to S3 storage with the asset creator.\n The uploaded asset will be stored using the configured S3 settings and a unique filename will be generated.",
        "requestBody": {
          "description": "The file to upload to S3.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/asset/url": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Uploads a single asset to S3 and returns the asset details.",
        "description": "This endpoint allows uploading a single file to S3 storage with the asset creator.\n The uploaded asset will be stored using the configured S3 settings and a unique filename will be generated.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The url of the file to upload to S3.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/asset/{fileName}/metadata": {
      "get": {
        "tags": [
          "Asset"
        ],
        "summary": "Gets the metadata for an asset by file name.",
        "description": "This endpoint retrieves metadata information for an asset stored in S3.\n The metadata includes details such as content type, size, creation date, and custom metadata fields.",
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "description": "The name of the file to retrieve metadata for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileMetadataResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileMetadataResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileMetadataResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/recruit": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Starts recruiting users for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audiences": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Queries all available audiences.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryAudiencesResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryAudiencesResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryAudiencesResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Gets an audience by its Id.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The id of the audience to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceByIdResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Audience"
        ],
        "summary": "Patches an existing audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAudienceRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAudienceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAudienceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Creates a new empty audience.",
        "description": "An audience is a group of users that are trained to solve particular tasks.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAudienceRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAudienceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAudienceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAudienceResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAudienceResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAudienceResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/rapids": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Queries all rapids for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryRapidsForAudienceResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryRapidsForAudienceResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryRapidsForAudienceResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/rapid": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Adds a new rapid to be used to train users for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRapidToAudienceModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRapidToAudienceModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddRapidToAudienceModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaign/monitor": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "The monitor endpoint is used to monitor the health of the service",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Queries orders based on a filter, page, and sort criteria.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "The parameters for filtering, paging, and sorting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfCampaignQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfCampaignQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfCampaignQueryResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaign/{campaignId}/pause": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Pauses a campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "id of the campaign that should be paused",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaign/{campaignId}/resume": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Resumes a campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "id of the campaign that should be paused",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaign/{campaignId}": {
      "patch": {
        "tags": [
          "Campaign"
        ],
        "summary": "Updates a campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "id of the campaign to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "model containing the updates",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaign/{campaignId}/priority": {},
    "/campaign/boost/status": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Gets the status of the boost.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaign/boost": {
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Updates the boost with manual boosts.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBoostModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBoostModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBoostModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset": {
      "post": {
        "tags": [
          "Dataset"
        ],
        "summary": "Creates a new empty dataset.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatasetEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDatasetEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/datapoint/{datapointId}": {
      "get": {
        "tags": [
          "Datapoint"
        ],
        "summary": "Gets a datapoint by its id.",
        "parameters": [
          {
            "name": "datapointId",
            "in": "path",
            "description": "The id of the datapoint to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatapointByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatapointByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatapointByIdResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Datapoint"
        ],
        "summary": "Deletes a datapoint by its id.",
        "parameters": [
          {
            "name": "datapointId",
            "in": "path",
            "description": "The id of the datapoint to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset/{datasetId}": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "Gets a dataset by its id.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The id of the dataset to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatasetByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatasetByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatasetByIdResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset/{datasetId}/datapoints": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "Gets all datapoints of a dataset.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The id of the dataset to get the datapoints of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "The query model to filter, sort, and paginate the results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryDatapointsByDatasetIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryDatapointsByDatasetIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryDatapointsByDatasetIdResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset/{datasetId}/progress": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "Gets the upload progress of a dataset.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The id of the dataset to get the progress of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatasetProgressResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatasetProgressResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatasetProgressResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset/{datasetId}/datapoints/failed": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "Gets a list of all datapoints that failed to upload.",
        "description": "A datapoint usually fails to upload when using a deferred upload mechanism such as when providing a URL\n and the URL is not accessible.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The id of the dataset to get the failed datapoints of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetFailedDatapointsResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFailedDatapointsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFailedDatapointsResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset/{datasetId}/datapoint": {
      "post": {
        "tags": [
          "Dataset"
        ],
        "summary": "Creates a datapoint with JSON body.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The id of the dataset to create the datapoint in.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The datapoint model containing asset, metadata, and sort index.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatapointModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatapointModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatapointModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDatapointResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDatapointResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDatapointResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset/{datasetId}/name": {
      "patch": {
        "tags": [
          "Dataset"
        ],
        "summary": "Updates the name of a dataset.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The id of the dataset to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The body of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatasetNameModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatasetNameModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatasetNameModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/": {
      "get": {
        "tags": [
          "Rapidata.Identity.API"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/clients": {
      "get": {
        "tags": [
          "Client"
        ],
        "summary": "Queries the clients for the current customer.",
        "description": "A client allows a customer to authenticate with the APIs without using their own credentials.\n This is useful for creating service accounts or other automated processes,\n as when using the Rapidata Python SDK.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfClientsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfClientsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfClientsQueryResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/client/{clientId}": {
      "get": {
        "tags": [
          "Client"
        ],
        "summary": "Gets a specific client by its ID.",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The ID of the client to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClientModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Client"
        ],
        "summary": "Deletes a customers' client.",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The id of the client to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/client": {
      "post": {
        "tags": [
          "Client"
        ],
        "summary": "Creates a new client for the current customer.",
        "requestBody": {
          "description": "The model for creating a new client.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerClientResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerClientResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerClientResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/client/register": {
      "post": {
        "tags": [
          "Client"
        ],
        "summary": "Registers a new client dynamically.",
        "description": "The implementation of this method follows the OpenID Connect Dynamic Client Registration.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DynamicClientRegistrationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DynamicClientRegistrationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DynamicClientRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClientModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/identity/bridge-token": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Creates a pair of read and write keys for a client.\n The write key is used to store the authentication result.\n The read key is used to retrieve the authentication result.",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "The client ID to create the keys for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBridgeTokenResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBridgeTokenResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBridgeTokenResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Tries to read the bridge token keys for a given read key.\n The read key is used to retrieve the authentication result written by the write key.",
        "parameters": [
          {
            "name": "readKey",
            "in": "query",
            "description": "The read key to read the bridge token keys for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBridgeTokenKeysResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBridgeTokenKeysResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBridgeTokenKeysResult"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NotAvailableYetResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAvailableYetResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAvailableYetResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/identity/referrer": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Sets the referrer for the current customer.",
        "parameters": [
          {
            "name": "referrer",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/identity/google-one-tap": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Signs in a user using a token received from Google One Tap.",
        "requestBody": {
          "description": "The body of the request containing the id token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleOneTapLoginModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleOneTapLoginModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleOneTapLoginModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/newsletter/subscribe": {
      "post": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Signs a user up to the newsletter.",
        "requestBody": {
          "description": "The model containing the email of a user and recaptcha token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsletterModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsletterModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NewsletterModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/newsletter/unsubscribe": {
      "post": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Unsubscribes a user from the newsletter.",
        "requestBody": {
          "description": "The model containing the email of a user and recaptcha token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsletterModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsletterModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NewsletterModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/identity/survey": {
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "Sends a survey.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSurveyModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSurveyModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SendSurveyModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/benchmarks": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Queries all benchmarks of the user.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfBenchmarkQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfBenchmarkQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfBenchmarkQueryResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/benchmark/{benchmarkId}/leaderboards": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Queries all leaderboards for the current user's benchmarks.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The Id of the benchmark whoms leaderboards will be returned",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/benchmark": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Creates a benchmark",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/benchmark/{benchmarkId}": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns a single benchmark by its ID.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetBenchmarkByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBenchmarkByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBenchmarkByIdResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Deletes a single benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Updates a benchmark using patch semantics.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBenchmarkModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/benchmark/{benchmarkId}/participants": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Query all participants within a benchmark",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfParticipantByBenchmark"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfParticipantByBenchmark"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfParticipantByBenchmark"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Creates a participant in a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBenchmarkParticipantModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkParticipantResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/benchmark/{benchmarkId}/standings": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "participantIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "leaderboardIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeConfidenceIntervals",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByBenchmarkResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/benchmark/{benchmarkId}/participant/{participantId}": {},
    "/benchmark/{benchmarkId}/name": {},
    "/benchmark/{benchmarkId}/fork": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Creates a copy of a public benchmark and all of its related entities",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ForkBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForkBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForkBenchmarkResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/benchmark/{benchmarkId}/prompts": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns the paged prompts of a benchmark by its ID.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPromptByBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPromptByBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfPromptByBenchmarkResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/benchmark/{benchmarkId}/samples/{identifier}": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Returns the paged prompts of a benchmark by its ID.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark to query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "The identifier to filter all samples for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "additional query settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfSampleByIdentifier"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfSampleByIdentifier"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfSampleByIdentifier"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/benchmark/{benchmarkId}/prompt": {
      "post": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Adds a new prompt to a benchmark.",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The benchmark id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitPromptModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitPromptModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitPromptModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkPromptResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkPromptResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBenchmarkPromptResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/benchmark/{benchmarkId}/tags": {
      "get": {
        "tags": [
          "Benchmark"
        ],
        "summary": "Query all tags within a benchmark",
        "parameters": [
          {
            "name": "benchmarkId",
            "in": "path",
            "description": "The id of the benchmark the prompts should be retrieved from",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TagsByBenchmarkResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsByBenchmarkResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsByBenchmarkResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/benchmark/{benchmarkId}/participants/{participantId}/submit": {},
    "/leaderboards": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Queries all leaderboards for a specific benchmark.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeaderboardsQueryResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/leaderboard/{leaderboardId}": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets a leaderboard by its ID.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetLeaderboardByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLeaderboardByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLeaderboardByIdResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Updates the response config of a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeaderboardModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Deletes a leaderboard by its ID.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The id of the leaderboard that gets deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/leaderboard/{leaderboardId}/name": {},
    "/leaderboard/{leaderboardId}/response-config": {},
    "/leaderboard": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Creates a new leaderboard with the specified name and criteria.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeaderboardModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeaderboardModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeaderboardModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeaderboardResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeaderboardResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeaderboardResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/leaderboard/{leaderboardId}/prompts": {},
    "/leaderboard/{leaderboardId}/participants": {},
    "/leaderboard/{leaderboardId}/standings": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "useWeightedScoring",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeConfidenceIntervals",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByLeaderboardResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByLeaderboardResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandingsByLeaderboardResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/leaderboard/{leaderboardId}/runs": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets the runs related to a leaderboard",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfRunsByLeaderboardResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfRunsByLeaderboardResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfRunsByLeaderboardResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/leaderboard/{leaderboardId}/participant/{participantId}": {},
    "/benchmark/standing/{leaderboardId}/{participantId}": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Gets a standing by leaderboardId and participantId.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingByIdResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/leaderboard/{leaderboardId}/participants/{participantId}/submit": {},
    "/leaderboard/{leaderboardId}/boost": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Boosts a subset of participants within a leaderboard.",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "the leaderboard that should be boosted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoostLeaderboardModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BoostLeaderboardModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BoostLeaderboardModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/participant/{participantId}/sample": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Adds a sample to a participant.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "The id of the participant to add the sample to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The model for the sample creation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSampleModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/participant/{participantId}/sample-new": {},
    "/participant/{participantId}": {
      "delete": {
        "tags": [
          "Participant"
        ],
        "summary": "Deletes a participant on a benchmark.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Participant"
        ],
        "summary": "Gets a participant by it's Id.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantByIdResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Participant"
        ],
        "summary": "Updates a participant using patch semantics.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/participants/{participantId}/submit": {
      "post": {
        "tags": [
          "Participant"
        ],
        "summary": "Submits a participant to a benchmark.",
        "parameters": [
          {
            "name": "participantId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitParticipantResult"
                }
              },
              "application/json": {
[...]
