{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Asset API",
    "description": "The API for the Rapidata Asset service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "tags": [
    {
      "name": "Asset",
      "x-displayName": "Asset"
    },
    {
      "name": "BatchUpload",
      "x-displayName": "BatchUpload"
    },
    {
      "name": "Audience",
      "x-displayName": "Audience"
    },
    {
      "name": "Examples",
      "x-displayName": "Examples"
    },
    {
      "name": "Cache",
      "x-displayName": "Cache"
    },
    {
      "name": "Campaign",
      "x-displayName": "Campaign"
    },
    {
      "name": "ExternalAudience",
      "x-displayName": "ExternalAudience"
    },
    {
      "name": "OwnerTierOverride",
      "x-displayName": "OwnerTierOverride"
    },
    {
      "name": "ContextShortening",
      "x-displayName": "ContextShortening"
    },
    {
      "name": "Datapoints",
      "x-displayName": "Datapoints"
    },
    {
      "name": "Dataset",
      "x-displayName": "Dataset"
    },
    {
      "name": "DatasetGroup",
      "x-displayName": "DatasetGroup"
    },
    {
      "name": "Flow",
      "x-displayName": "Flow"
    },
    {
      "name": "FlowItem",
      "x-displayName": "FlowItem"
    },
    {
      "name": "RankingFlow",
      "x-displayName": "RankingFlow"
    },
    {
      "name": "RankingFlowItem",
      "x-displayName": "RankingFlowItem"
    },
    {
      "name": "Rapidata.Identity.API",
      "x-displayName": "Rapidata.Identity.API"
    },
    {
      "name": "Capabilities",
      "x-displayName": "Capabilities"
    },
    {
      "name": "Client",
      "x-displayName": "Client"
    },
    {
      "name": "Customer",
      "x-displayName": "Customer"
    },
    {
      "name": "Identity",
      "x-displayName": "Identity"
    },
    {
      "name": "Newsletter",
      "x-displayName": "Newsletter"
    },
    {
      "name": "Organization",
      "x-displayName": "Organization"
    },
    {
      "name": "Survey",
      "x-displayName": "Survey"
    },
    {
      "name": "Benchmark",
      "x-displayName": "Benchmark"
    },
    {
      "name": "SampleGeneration",
      "x-displayName": "SampleGeneration"
    },
    {
      "name": "Faucet",
      "x-displayName": "Faucet"
    },
    {
      "name": "Replicate",
      "x-displayName": "Replicate"
    },
    {
      "name": "Leaderboard",
      "x-displayName": "Leaderboard"
    },
    {
      "name": "Participant",
      "x-displayName": "Participant"
    },
    {
      "name": "Prompt",
      "x-displayName": "Prompt"
    },
    {
      "name": "Sample",
      "x-displayName": "Sample"
    },
    {
      "name": "Feedback",
      "x-displayName": "Feedback"
    },
    {
      "name": "Job",
      "x-displayName": "Job"
    },
    {
      "name": "Order",
      "x-displayName": "Order"
    },
    {
      "name": "Billing",
      "x-displayName": "Billing"
    },
    {
      "name": "ExternalServicePrices",
      "x-displayName": "ExternalServicePrices"
    },
    {
      "name": "Reconciliation",
      "x-displayName": "Reconciliation"
    },
    {
      "name": "Settings",
      "x-displayName": "Settings"
    },
    {
      "name": "VolumeDiscount",
      "x-displayName": "VolumeDiscount"
    },
    {
      "name": "BillingAccount",
      "x-displayName": "BillingAccount"
    },
    {
      "name": "Invoice",
      "x-displayName": "Invoice"
    },
    {
      "name": "Payment",
      "x-displayName": "Payment"
    },
    {
      "name": "Pipeline",
      "x-displayName": "Pipeline"
    },
    {
      "name": "CustomerRapid",
      "x-displayName": "CustomerRapid"
    },
    {
      "name": "GlobalText",
      "x-displayName": "GlobalText"
    },
    {
      "name": "Rapid",
      "x-displayName": "Rapid"
    },
    {
      "name": "UserRapid",
      "x-displayName": "UserRapid"
    },
    {
      "name": "ValidationFeedback",
      "x-displayName": "ValidationFeedback"
    },
    {
      "name": "Signal",
      "x-displayName": "Signal"
    },
    {
      "name": "Translation",
      "x-displayName": "Translation"
    },
    {
      "name": "ValidationSet",
      "x-displayName": "ValidationSet"
    },
    {
      "name": "Evaluation",
      "x-displayName": "Evaluation"
    },
    {
      "name": "GroupedRanking",
      "x-displayName": "GroupedRanking"
    },
    {
      "name": "Ranking",
      "x-displayName": "Ranking"
    },
    {
      "name": "SimpleWorkflow",
      "x-displayName": "SimpleWorkflow"
    },
    {
      "name": "Workflow",
      "x-displayName": "Workflow"
    }
  ],
  "paths": {
    "/asset/compress": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Compresses an uploaded image and returns the WebP result.",
        "description": "Compression metrics are returned in response headers: X-Original-Size, X-Compressed-Size,\n X-Processing-Time-Ms, X-Original-Dimensions, X-Output-Dimensions.",
        "parameters": [
          {
            "name": "quality",
            "in": "query",
            "description": "The compression quality from 1 to 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 85
            }
          },
          {
            "name": "maxdim",
            "in": "query",
            "description": "The maximum dimension (width or height) of the output image.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 800
            }
          }
        ],
        "requestBody": {
          "description": "The image file to compress.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/asset/file": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Uploads a file to our system and returns the new file name used internally.",
        "parameters": [
          {
            "name": "compress",
            "in": "query",
            "description": "When set, forces image compression on or off for this upload, overriding the configured default.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quality",
            "in": "query",
            "description": "WebP quality (1..100) to use when compression runs. Falls back to the configured default when null.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "maxdim",
            "in": "query",
            "description": "Maximum width or height in pixels when compression runs. Falls back to the configured default when null.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The file to upload",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/asset/url": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Downloads a file from the provided URL, stores it in our system and returns the new file name used internally.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The url of the file to upload.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "compress",
            "in": "query",
            "description": "When set, forces image compression on or off for this upload, overriding the configured default.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quality",
            "in": "query",
            "description": "WebP quality (1..100) to use when compression runs. Falls back to the configured default when null.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "maxdim",
            "in": "query",
            "description": "Maximum width or height in pixels when compression runs. Falls back to the configured default when null.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileFromUrlEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/asset/batch-upload/{batchUploadId}/abort": {
      "post": {
        "tags": [
          "BatchUpload"
        ],
        "summary": "Aborts the specified batch upload.",
        "description": "URLs already processed will not be reverted. Only remaining URLs are prevented from processing.",
        "parameters": [
          {
            "name": "batchUploadId",
            "in": "path",
            "description": "The identifier of the batch upload to abort.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/asset/batch-upload": {
      "post": {
        "tags": [
          "BatchUpload"
        ],
        "summary": "Creates a batch upload and queues processing for each URL.",
        "description": "Each URL is processed asynchronously. Use the batch upload status or result endpoints to track progress.",
        "requestBody": {
          "description": "The list of URLs to include in the batch upload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchUploadEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBatchUploadEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/asset/batch-upload/{batchUploadId}": {
      "get": {
        "tags": [
          "BatchUpload"
        ],
        "summary": "Gets the full result of a batch upload including all items.",
        "parameters": [
          {
            "name": "batchUploadId",
            "in": "path",
            "description": "The identifier of the batch upload to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBatchUploadResultEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/asset/batch-upload/status": {
      "get": {
        "tags": [
          "BatchUpload"
        ],
        "summary": "Gets aggregated status for batch uploads identified by IDs or a correlation ID.",
        "parameters": [
          {
            "name": "batchUploadIds",
            "in": "query",
            "description": "The identifiers of the batch uploads to query.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "correlationId",
            "in": "query",
            "description": "A client-supplied identifier to look up related batch uploads.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBatchUploadStatusEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/owner": {
      "patch": {
        "tags": [
          "Audience"
        ],
        "summary": "Changes the owner of the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The new owner information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAudienceOwnerEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Creates a new empty audience.",
        "requestBody": {
          "description": "The properties of the audience to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAudienceEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAudienceEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{baseAudienceId}/filter": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Creates a filtered view on the given base audience by applying a filter on top of its\n graduates. Returns an audience id that can be used in job creation just like a regular\n audience id; no new onboarding is required.",
        "parameters": [
          {
            "name": "baseAudienceId",
            "in": "path",
            "description": "The id of the dimension audience whose graduates the filter is applied on top of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The filter to apply to the base audience.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFilteredAudienceEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFilteredAudienceEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}": {
      "delete": {
        "tags": [
          "Audience"
        ],
        "summary": "Deletes the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Returns the audience with the specified id.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Audience"
        ],
        "summary": "Patches an existing audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The audience properties to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAudienceEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAudienceEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/inactivity-sync/{syncId}": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Returns the audience inactivity sync with the given id.",
        "parameters": [
          {
            "name": "syncId",
            "in": "path",
            "description": "The unique identifier of the inactivity sync.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceInactivitySyncByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/state-recalculation/{recalculationId}": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Returns the audience state recalculation with the given id.",
        "parameters": [
          {
            "name": "recalculationId",
            "in": "path",
            "description": "The unique identifier of the recalculation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceStateRecalculationByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/user-metrics": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Gets the count of users in each state for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceUserStateMetricsResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/inactivity-sync": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Returns the most recent audience inactivity sync for the given audience, regardless of state.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLatestAudienceInactivitySyncEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Starts a new inactivity sync for the given audience.",
        "description": "Returns 400 if the audience does not have inactivity drop days configured.\n If a sync is already Pending for this audience, its id is returned and no new run is\n created. If one is currently Processing, it is aborted and replaced. Failed,\n Completed, and Aborted runs are left untouched and a fresh run is created.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartAudienceInactivitySyncEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/state-recalculation": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Returns the most recent audience state recalculation for the given audience, regardless of state.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLatestAudienceStateRecalculationEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Starts a new audience state recalculation for the given audience.",
        "description": "If a recalculation is already Pending for this audience, its id is returned and no new\n run is created. If one is currently Processing, it is aborted and replaced. Failed,\n Completed, and Aborted runs are left untouched and a fresh run is created.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartAudienceStateRecalculationEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/initialize-users": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Uploads a CSV file containing user IDs and scores, then processes it in the background\n to seed the audience with those users.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience to initialize.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A CSV file with columns: userId, score.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/pause-distillation": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Pauses the distillation campaign for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/jobs": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Queries jobs for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "created_at",
                  "-created_at",
                  "status",
                  "-status"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "job_id",
            "in": "query",
            "description": "Filter by job_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "definition_id",
            "in": "query",
            "description": "Filter by definition_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryAudienceJobsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audiences": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Queries all audiences visible to the caller.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "created_at",
                  "-created_at",
                  "status",
                  "-status",
                  "qualified_user_count",
                  "-qualified_user_count"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "is_public",
            "in": "query",
            "description": "Filter by is_public.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "is_distilling",
            "in": "query",
            "description": "Filter by is_distilling.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_mail",
            "in": "query",
            "description": "Filter by owner_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryAudiencesEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/rebuild-distilling-campaign": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Rebuilds the distilling campaign for the specified audience.",
        "description": "Recalculates campaign filters and selections based on the audience's current settings\n (demographic filters, exit conditions, etc.).",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/reconcile-user-counts": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Enqueues a background job that reconciles audience-row state derived\n from audience_state_counts.",
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/recreate-external-audiences": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Recreates external audiences for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Configuration for which external audiences to recreate.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecreateExternalAudiencesEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/resume-distillation": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Resumes the distillation campaign for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/recruit": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Starts recruiting users for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/boost-config": {
      "patch": {
        "tags": [
          "Audience"
        ],
        "summary": "Updates the boost configuration for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The boost configuration values to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBoostConfigEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBoostConfigEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/example": {
      "post": {
        "tags": [
          "Examples"
        ],
        "summary": "Adds a new example to an audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The example data to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddExampleToAudienceEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddExampleToAudienceEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/example/{exampleId}": {
      "delete": {
        "tags": [
          "Examples"
        ],
        "summary": "Deletes the specified audience example.",
        "parameters": [
          {
            "name": "exampleId",
            "in": "path",
            "description": "The unique identifier of the example to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAudienceExampleEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/examples": {
      "get": {
        "tags": [
          "Examples"
        ],
        "summary": "Queries all examples for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "sort_index",
                  "-sort_index"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "Filter by visibility.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "is_common_sense",
            "in": "query",
            "description": "Filter by is_common_sense.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryExamplesForAudienceEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/example/{exampleId}": {
      "patch": {
        "tags": [
          "Examples"
        ],
        "summary": "Updates an example's properties within an audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exampleId",
            "in": "path",
            "description": "The unique identifier of the example to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The example properties to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAudienceExampleEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/campaign/cache/campaigns": {
      "get": {
        "tags": [
          "Cache"
        ],
        "summary": "Returns the current state of the in-memory campaign cache.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignCacheEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/campaign/cache/user-scores": {
      "get": {
        "tags": [
          "Cache"
        ],
        "summary": "Returns the current state of the in-memory default user score cache.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserScoreCacheEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/campaign/boost": {},
    "/campaign/program": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Creates a program campaign from the given stream program.",
        "description": "The program is validated before the campaign is persisted; a malformed graph\n (missing root, dangling references, cycles, unreachable nodes) is rejected. The\n campaign starts in the Created status; move it to Active to start serving sessions.",
        "requestBody": {
          "description": "The campaign and its stream program.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProgramCampaignEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProgramCampaignEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/campaign/boost/insights": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Returns an attributed view of the aggregated boosting profile.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostInsightsEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/campaign/boost/status": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Returns the current boost status including active and inactive campaigns.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostStatusEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/campaign/{campaignId}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieves the details of a specific campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The ID of the campaign.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Campaign"
        ],
        "summary": "Updates the specified campaign's properties.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The identifier of the campaign to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The properties to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/campaign/boost/{externalCampaignId}/fast-bid-multiplier": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Returns the fast bid multiplier currently applied to an external booster campaign.",
        "description": "Returns the downstream system's default (1.0) if the multiplier has never been set\n for the campaign.",
        "parameters": [
          {
            "name": "externalCampaignId",
            "in": "path",
            "description": "The external booster campaign id to read.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFastBidMultiplierEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Sets the fast bid multiplier for a single external booster campaign to an arbitrary value.",
        "description": "Bypasses the level→multiplier mapping. Intended for live testing and one-off\n operational tweaks. Value must be in [0, 50]; 0 effectively pauses delivery on the\n campaign without changing its status. The response reports the multiplier the\n downstream system confirms is applied.",
        "parameters": [
          {
            "name": "externalCampaignId",
            "in": "path",
            "description": "The external booster campaign id to update.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The desired multiplier value.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetFastBidMultiplierEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetFastBidMultiplierEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/campaign/monitor": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Exercises the rapid-bag pipeline with a synthetic user profile so the health of\n the campaign monitoring path can be probed externally.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/campaign/{campaignId}/pause": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Pauses the specified campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The identifier of the campaign to pause.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/campaign/boost/preheat": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Triggers a preheat pass for the boost subsystem so warm caches are ready before\n traffic spikes.",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OpenIdConnect": [
              "openid",
              "profile",
              "email",
              "offline_access"
            ]
          }
        ]
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Queries campaigns with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "priority",
                  "-priority",
                  "status",
                  "-status",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
[...]
