{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Rapid API",
    "description": "The API for the Rapidata Rapid service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/rapid/demographic": {
      "post": {
        "tags": [
          "CustomerRapid"
        ],
        "summary": "Creates a new demographic rapid.",
        "requestBody": {
          "description": "The demographic rapid payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDemographicRapidEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDemographicRapidEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/{rapidId}": {
      "delete": {
        "tags": [
          "CustomerRapid"
        ],
        "summary": "Deletes a rapid.",
        "parameters": [
          {
            "name": "rapidId",
            "in": "path",
            "description": "The id of the rapid to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/global-responses": {
      "get": {
        "tags": [
          "CustomerRapid"
        ],
        "summary": "Gets the most recent public responses across all customers.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGlobalResponsesEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/{rapidId}/responses": {
      "get": {
        "tags": [
          "CustomerRapid"
        ],
        "summary": "Gets all responses for a given rapid.",
        "parameters": [
          {
            "name": "rapidId",
            "in": "path",
            "description": "The rapid to get the responses for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetResponsesForRapidEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapids/flagged": {
      "get": {
        "tags": [
          "CustomerRapid"
        ],
        "summary": "Queries all rapids that have been flagged.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id",
                  "completed_at",
                  "-completed_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "correlation_id",
            "in": "query",
            "description": "Filter by correlation_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "Filter by owner_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Filter by key.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "completed_at",
            "in": "query",
            "description": "Filter by completed_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryFlaggedRapidsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/{correlationId}/validation-potential": {
      "get": {
        "tags": [
          "CustomerRapid"
        ],
        "summary": "Queries rapids that may be eligible for validation-set creation.",
        "parameters": [
          {
            "name": "correlationId",
            "in": "path",
            "description": "The correlation id whose rapids should be considered.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minResponses",
            "in": "query",
            "description": "The minimum response count for a rapid to qualify.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "minConfidence",
            "in": "query",
            "description": "The minimum confidence for a rapid to qualify.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "targetGroupId",
            "in": "query",
            "description": "An optional subgroup of rapids to restrict the query to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "rapid_id",
            "in": "query",
            "description": "Filter by rapid_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "response_count",
            "in": "query",
            "description": "Filter by response_count.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "confidence",
            "in": "query",
            "description": "Filter by confidence.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationRapidEligibilityEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/{rapidId}/unflag": {
      "post": {
        "tags": [
          "CustomerRapid"
        ],
        "summary": "Unflags a flagged rapid.",
        "description": "The rapid is returned to the active labeling pool and cannot be flagged again.",
        "parameters": [
          {
            "name": "rapidId",
            "in": "path",
            "description": "The id of the rapid to unflag.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/validation/{rapidId}": {
      "patch": {
        "tags": [
          "CustomerRapid"
        ],
        "summary": "Updates the validation information of a rapid.",
        "parameters": [
          {
            "name": "rapidId",
            "in": "path",
            "description": "The id of the rapid to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The fields to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateValidationRapidEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/global-text": {
      "post": {
        "tags": [
          "GlobalText"
        ],
        "summary": "Creates a new global text entry.",
        "requestBody": {
          "description": "The payload describing the entry to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGlobalTextEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGlobalTextEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "GlobalText"
        ],
        "summary": "Returns every global text entry.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllGlobalTextsEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/global-text/{globalTextId}": {
      "delete": {
        "tags": [
          "GlobalText"
        ],
        "summary": "Deletes a global text entry.",
        "parameters": [
          {
            "name": "globalTextId",
            "in": "path",
            "description": "The id of the global text entry to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "GlobalText"
        ],
        "summary": "Updates a global text entry using patch semantics.",
        "parameters": [
          {
            "name": "globalTextId",
            "in": "path",
            "description": "The id of the global text entry to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The patch payload describing which fields should change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGlobalTextEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/{rapidId}/navigation": {
      "get": {
        "tags": [
          "Rapid"
        ],
        "summary": "Gets the anchor rapid and its surrounding rapids within the results slice, in the order\n and filter the results grid renders, so the explorer can step neighbour-to-neighbour.",
        "description": "Navigation follows the grid's default order (flagged rapids first, then by id) over the\n given correlation slice. Returns 404 when the rapid is not part of the filtered slice.",
        "parameters": [
          {
            "name": "rapidId",
            "in": "path",
            "description": "The rapid to anchor navigation on.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "correlationId",
            "in": "query",
            "description": "The correlation id whose result slice to navigate.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "states",
            "in": "query",
            "description": "Optional rapid states to filter by; all states are included when omitted.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RapidState"
              }
            }
          },
          {
            "name": "window",
            "in": "query",
            "description": "The maximum number of neighbours to return on each side.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 3
            }
          },
          {
            "name": "includeNotAccepted",
            "in": "query",
            "description": "When true, not-accepted responses count toward the anchor's sample and aggregation.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeOverflow",
            "in": "query",
            "description": "When true, overflow responses count toward the anchor's sample and aggregation.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRapidNavigationEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/compare-ab-summary/{correlationId}/recalculate": {
      "post": {
        "tags": [
          "Rapid"
        ],
        "summary": "Recalculates the compare AB summary counters of a correlation from scratch.",
        "description": "Admin-only verification/repair tool. The counters are normally maintained by rapid\n completion and rejection events; this overwrites them with freshly aggregated values.",
        "parameters": [
          {
            "name": "correlationId",
            "in": "path",
            "description": "The correlation (workflow) id to recalculate.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/{rapidId}/reject": {
      "post": {
        "tags": [
          "Rapid"
        ],
        "summary": "Rejects a completed rapid, marking its results as invalid.",
        "description": "Valid from the Done, Labeling, Paused or Flagged state. Rejection propagates staleness to\n dependent entities.",
        "parameters": [
          {
            "name": "rapidId",
            "in": "path",
            "description": "The identifier of the rapid to reject.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/response": {
      "post": {
        "tags": [
          "UserRapid"
        ],
        "summary": "Submits a response for a rapid.",
        "requestBody": {
          "description": "The submitted result and session index.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserResponseEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddUserResponseEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/report/{reportId}": {
      "get": {
        "tags": [
          "UserRapid"
        ],
        "summary": "Inspects a report's dump so that it can be replayed or restored.",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "The id of the report to inspect.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InspectReportEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/rapid-bag/is-valid": {
      "get": {
        "tags": [
          "UserRapid"
        ],
        "summary": "Returns whether the rapid bag associated with the current user is still valid.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IsRapidBagValidEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/{rapidId}/report": {
      "post": {
        "tags": [
          "UserRapid"
        ],
        "summary": "Reports an issue with a rapid.",
        "parameters": [
          {
            "name": "rapidId",
            "in": "path",
            "description": "The rapid to report.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The report payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportRapidEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/skip": {
      "post": {
        "tags": [
          "UserRapid"
        ],
        "summary": "Records that the user skipped the specified rapid.",
        "requestBody": {
          "description": "The id of the rapid being skipped and the session index.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkipRapidEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkipRapidEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rapid/{rapidId}/validation-feedback": {
      "post": {
        "tags": [
          "ValidationFeedback"
        ],
        "summary": "Submits feedback for a validation rapid outcome.",
        "parameters": [
          {
            "name": "rapidId",
            "in": "path",
            "description": "The ID of the rapid to provide feedback for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The feedback input.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateValidationFeedbackEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "ValidationFeedback"
        ],
        "summary": "Queries validation feedbacks for a rapid.",
        "parameters": [
          {
            "name": "rapidId",
            "in": "path",
            "description": "The ID of the rapid to query feedbacks for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by user_id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "feedback",
            "in": "query",
            "description": "Filter by feedback.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationFeedbacksEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddUserResponseEndpoint_Input": {
        "required": [
          "sessionIndex",
          "result"
        ],
        "type": "object",
        "properties": {
          "sessionIndex": {
            "type": "integer",
            "description": "The index of the session when the result was submitted.",
            "format": "int32"
          },
          "result": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IRapidResult"
              }
            ],
            "description": "The result submitted by the user."
          }
        }
      },
      "AddUserResponseEndpoint_Output": {
        "required": [
          "isAccepted",
          "userScore"
        ],
        "type": "object",
        "properties": {
          "isAccepted": {
            "type": "boolean",
            "description": "Whether the response was accepted."
          },
          "validationTruth": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IValidationTruth"
              }
            ],
            "description": "The validation truth applied to the response, if any."
          },
          "explanation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TranslatedString"
              }
            ],
            "description": "An optional translated explanation for the user."
          },
          "userScore": {
            "type": "number",
            "description": "The user's score after processing this response.",
            "format": "double"
          },
          "nextRapid": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IRapid"
              }
            ],
            "description": "The next rapid to solve when the session streams its rapids and continues.\n Null when there is nothing further to solve."
          }
        }
      },
      "AttachCategoryRapid_Category": {
        "required": [
          "value",
          "label"
        ],
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "label": {
            "$ref": "#/components/schemas/TranslatedString"
          }
        }
      },
      "BoundingBoxResult_Box": {
        "type": "object",
        "properties": {
          "xMin": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "yMin": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "xMax": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "yMax": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "ClassifyPayload": {
        "required": [
          "categories",
          "title"
        ],
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClassifyPayload_Category"
            }
          },
          "title": {
            "type": "string"
          }
        }
      },
      "ClassifyPayload_Category": {
        "required": [
          "label"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CreateDemographicRapidEndpoint_Input": {
        "required": [
          "key",
          "payload"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "The identifier of the demographic classification."
          },
          "payload": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ClassifyPayload"
              }
            ],
            "description": "The payload for the classification."
          },
          "featureFlags": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FeatureFlag"
                },
                "nullable": true
              }
            ],
            "description": "Optional feature flags to apply to the rapid."
          },
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAssetInput"
              }
            ],
            "description": "An optional asset to associate with the rapid."
          },
          "context": {
            "type": "string",
            "description": "An optional text context to show to the user.",
            "nullable": true
          },
          "contextAsset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAssetInput"
              }
            ],
            "description": "An optional asset to use as context to show to the user."
          }
        }
      },
      "CreateDemographicRapidEndpoint_Output": {
        "required": [
          "rapidId"
        ],
        "type": "object",
        "properties": {
          "rapidId": {
            "type": "string",
            "description": "The id of the created rapid."
          }
        }
      },
      "CreateGlobalTextEndpoint_Input": {
        "required": [
          "key",
          "englishText"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "The human-readable key used to look up the text from translations."
          },
          "englishText": {
            "type": "string",
            "description": "The English source text that all translations derive from."
          }
        }
      },
      "CreateGlobalTextEndpoint_Output": {
        "required": [
          "globalTextId"
        ],
        "type": "object",
        "properties": {
          "globalTextId": {
            "type": "string",
            "description": "The unique identifier of the created global text entry."
          }
        }
      },
      "CreateValidationFeedbackEndpoint_Input": {
        "required": [
          "feedback"
        ],
        "type": "object",
        "properties": {
          "feedback": {
            "type": "string",
            "description": "The feedback text."
          }
        }
      },
      "FeatureFlag": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "FileType": {
        "enum": [
          "Unknown",
          "Image",
          "Video",
          "Audio"
        ]
      },
      "GetAllGlobalTextsEndpoint_Output": {
        "required": [
          "globalTexts"
        ],
        "type": "object",
        "properties": {
          "globalTexts": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetAllGlobalTextsEndpoint_Output_Item"
                }
              }
            ],
            "description": "The list of global text entries."
          }
        }
      },
      "GetAllGlobalTextsEndpoint_Output_Item": {
        "required": [
          "id",
          "key",
          "englishText"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "englishText": {
            "type": "string"
          }
        }
      },
      "GetGlobalResponsesEndpoint_Output": {
        "required": [
          "responses"
        ],
        "type": "object",
        "properties": {
          "responses": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetGlobalResponsesEndpoint_Output_Response"
                }
              }
            ],
            "description": "The most recent public responses."
          }
        }
      },
      "GetGlobalResponsesEndpoint_Output_Response": {
        "required": [
          "id",
          "userId",
          "country"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "age": {
            "type": "string",
            "nullable": true
          },
          "occupation": {
            "type": "string",
            "nullable": true
          },
          "gender": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GetRapidNavigationEndpoint_Card": {
        "required": [
          "rapidId",
          "asset",
          "state",
          "payload",
          "responses",
          "totalResponseCount"
        ],
        "type": "object",
        "properties": {
          "rapidId": {
            "type": "string"
          },
          "asset": {
            "$ref": "#/components/schemas/IAsset"
          },
          "state": {
            "$ref": "#/components/schemas/RapidState"
          },
          "payload": {
            "$ref": "#/components/schemas/IRapidPayload"
          },
          "responses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRapidNavigationEndpoint_Card_Response"
            }
          },
          "totalResponseCount": {
            "type": "integer",
            "format": "int64"
          },
          "context": {
            "type": "string",
            "nullable": true
          },
          "contextAsset": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "nullable": true
          },
          "decisiveness": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "aggregation": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IResponseAggregation"
              }
            ],
            "nullable": true
          }
        }
      },
      "GetRapidNavigationEndpoint_Card_Response": {
        "required": [
          "id",
          "userId",
          "country",
          "language",
          "result",
          "userScore",
          "userScores",
          "demographicInformation"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/IRapidResult"
          },
          "userScore": {
            "type": "number",
            "format": "double"
          },
          "userScores": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            }
          },
          "demographicInformation": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "GetRapidNavigationEndpoint_Item": {
        "required": [
          "rapidId",
          "asset",
          "state"
        ],
        "type": "object",
        "properties": {
          "rapidId": {
            "type": "string"
          },
          "asset": {
            "$ref": "#/components/schemas/IAsset"
          },
          "state": {
            "$ref": "#/components/schemas/RapidState"
          }
        }
      },
      "GetRapidNavigationEndpoint_Output": {
        "required": [
          "current",
          "previous",
          "next",
          "index",
          "total"
        ],
        "type": "object",
        "properties": {
          "current": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GetRapidNavigationEndpoint_Card"
              }
            ],
            "description": "The anchor rapid, carrying the same fields a results-grid card renders."
          },
          "previous": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetRapidNavigationEndpoint_Item"
                }
              }
            ],
            "description": "The rapids preceding the anchor in grid order, at most window entries,\n ordered ascending with the neighbour adjacent to the anchor last."
          },
          "next": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetRapidNavigationEndpoint_Item"
                }
              }
            ],
            "description": "The rapids following the anchor in grid order, at most window entries,\n in ascending order."
          },
          "index": {
            "type": "integer",
            "description": "The 1-based position of the anchor within the filtered slice.",
            "format": "int64"
          },
          "total": {
            "type": "integer",
            "description": "The total number of rapids in the filtered slice.",
            "format": "int64"
          }
        }
      },
      "GetResponsesForRapidEndpoint_Output": {
        "required": [
          "rapidId",
          "asset",
          "responses",
          "state"
        ],
        "type": "object",
        "properties": {
          "rapidId": {
            "type": "string",
            "description": "The id of the rapid."
          },
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "description": "The asset of the rapid."
          },
          "responses": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetResponsesForRapidEndpoint_Output_Response"
                }
              }
            ],
            "description": "The list of responses for the rapid."
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RapidState"
              }
            ],
            "description": "The state of the rapid."
          }
        }
      },
      "GetResponsesForRapidEndpoint_Output_Response": {
        "required": [
          "id",
          "userId",
          "country",
          "result",
          "userScore",
          "userScores",
          "demographicInformation"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/IRapidResult"
          },
          "userScore": {
            "type": "number",
            "format": "double"
          },
          "userScores": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            }
          },
          "demographicInformation": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "IAsset": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IAssetFileAsset"
          },
          {
            "$ref": "#/components/schemas/IAssetMultiAsset"
          },
          {
            "$ref": "#/components/schemas/IAssetNullAsset"
          },
          {
            "$ref": "#/components/schemas/IAssetTextAsset"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "FileAsset": "#/components/schemas/IAssetFileAsset",
            "MultiAsset": "#/components/schemas/IAssetMultiAsset",
            "NullAsset": "#/components/schemas/IAssetNullAsset",
            "TextAsset": "#/components/schemas/IAssetTextAsset"
          }
        }
      },
      "IAssetFileAsset": {
        "required": [
          "fileName",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileAsset"
            ],
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetInput": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IAssetInputExistingAssetInput"
          },
          {
            "$ref": "#/components/schemas/IAssetInputMultiAssetInput"
          },
          {
            "$ref": "#/components/schemas/IAssetInputTextAssetInput"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ExistingAssetInput": "#/components/schemas/IAssetInputExistingAssetInput",
            "MultiAssetInput": "#/components/schemas/IAssetInputMultiAssetInput",
            "TextAssetInput": "#/components/schemas/IAssetInputTextAssetInput"
          }
        }
      },
      "IAssetInputExistingAssetInput": {
        "required": [
          "name",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ExistingAssetInput"
            ],
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ],
            "nullable": true
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetInputMultiAssetInput": {
        "required": [
          "assets",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "MultiAssetInput"
            ],
            "type": "string"
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAssetInput"
            }
          },
          "metadata": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ],
            "nullable": true
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetInputTextAssetInput": {
        "required": [
          "text",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextAssetInput"
            ],
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ],
            "nullable": true
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetMultiAsset": {
        "required": [
          "assets",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "MultiAsset"
            ],
            "type": "string"
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAsset"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetNullAsset": {
        "required": [
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NullAsset"
            ],
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetTextAsset": {
        "required": [
          "text",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextAsset"
            ],
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IMetadata": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IMetadataClassificationMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataCountMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataFileTypeMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataImageDimensionMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataLocationMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataOriginalFilenameMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataSourceUrlMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataStreamsMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataTextMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataVideoDurationMetadata"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ClassificationMetadata": "#/components/schemas/IMetadataClassificationMetadata",
            "CountMetadata": "#/components/schemas/IMetadataCountMetadata",
            "FileTypeMetadata": "#/components/schemas/IMetadataFileTypeMetadata",
            "ImageDimensionMetadata": "#/components/schemas/IMetadataImageDimensionMetadata",
            "LocationMetadata": "#/components/schemas/IMetadataLocationMetadata",
            "OriginalFilenameMetadata": "#/components/schemas/IMetadataOriginalFilenameMetadata",
            "SourceUrlMetadataModel": "#/components/schemas/IMetadataSourceUrlMetadata",
            "StreamsMetadata": "#/components/schemas/IMetadataStreamsMetadata",
            "TextMetadata": "#/components/schemas/IMetadataTextMetadata",
            "VideoDurationMetadata": "#/components/schemas/IMetadataVideoDurationMetadata"
          }
        }
      },
      "IMetadataClassificationMetadata": {
        "required": [
          "classification",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassificationMetadata"
            ],
            "type": "string"
          },
          "classification": {
            "type": "string"
          }
        }
      },
      "IMetadataCountMetadata": {
        "required": [
          "count",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CountMetadata"
            ],
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IMetadataFileTypeMetadata": {
        "required": [
          "fileType",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileTypeMetadata"
            ],
            "type": "string"
          },
          "fileType": {
            "$ref": "#/components/schemas/FileType"
          }
        }
      },
      "IMetadataImageDimensionMetadata": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ImageDimensionMetadata"
            ],
            "type": "string"
          },
          "height": {
            "type": "integer",
            "format": "int32"
          },
          "width": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IMetadataInput": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IMetadataInputTextMetadataInput"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "TextMetadataInput": "#/components/schemas/IMetadataInputTextMetadataInput"
          }
        }
      },
      "IMetadataInputTextMetadataInput": {
        "required": [
          "text",
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextMetadataInput"
            ],
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IMetadataLocationMetadata": {
        "required": [
          "x",
          "y",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocationMetadata"
            ],
            "type": "string"
          },
          "x": {
            "type": "number",
            "format": "float"
          },
          "y": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "IMetadataOriginalFilenameMetadata": {
        "required": [
          "originalFilename",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OriginalFilenameMetadata"
            ],
            "type": "string"
          },
          "originalFilename": {
            "type": "string"
          }
        }
      },
      "IMetadataSourceUrlMetadata": {
        "required": [
          "url",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SourceUrlMetadataModel"
            ],
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "IMetadataStreamsMetadata": {
        "required": [
          "hasVideo",
          "hasAudio",
          "hasSubtitles",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "StreamsMetadata"
            ],
            "type": "string"
          },
          "hasVideo": {
            "type": "boolean"
          },
          "hasAudio": {
            "type": "boolean"
          },
          "hasSubtitles": {
            "type": "boolean"
          }
        }
      },
      "IMetadataTextMetadata": {
        "required": [
          "text",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextMetadata"
            ],
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IMetadataVideoDurationMetadata": {
        "required": [
          "duration",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "VideoDurationMetadata"
            ],
            "type": "string"
          },
          "duration": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InspectReportEndpoint_Output": {
        "type": "object",
        "properties": {
          "dump": {
            "type": "string",
            "description": "The captured dump, if any.",
            "nullable": true
          }
        }
      },
      "IRapid": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRapidAttachCategoryRapid"
          },
          {
            "$ref": "#/components/schemas/IRapidBoundingBoxRapid"
          },
          {
            "$ref": "#/components/schemas/IRapidCompareRapid"
          },
          {
            "$ref": "#/components/schemas/IRapidFreeTextRapid"
          },
          {
            "$ref": "#/components/schemas/IRapidLineRapid"
          },
          {
            "$ref": "#/components/schemas/IRapidLocateRapid"
          },
          {
            "$ref": "#/components/schemas/IRapidNamedEntityRapid"
          },
          {
            "$ref": "#/components/schemas/IRapidPolygonRapid"
          },
          {
            "$ref": "#/components/schemas/IRapidScrubRapid"
          },
          {
            "$ref": "#/components/schemas/IRapidTranscriptionRapid"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "AttachCategoryRapidModel": "#/components/schemas/IRapidAttachCategoryRapid",
            "BoundingBoxRapidModel": "#/components/schemas/IRapidBoundingBoxRapid",
            "CompareRapidModel": "#/components/schemas/IRapidCompareRapid",
            "FreeTextRapidModel": "#/components/schemas/IRapidFreeTextRapid",
            "LineRapidModel": "#/components/schemas/IRapidLineRapid",
            "LocateRapidModel": "#/components/schemas/IRapidLocateRapid",
            "NamedEntityRapidModel": "#/components/schemas/IRapidNamedEntityRapid",
            "PolygonRapidModel": "#/components/schemas/IRapidPolygonRapid",
            "ScrubRapidModel": "#/components/schemas/IRapidScrubRapid",
            "TranscriptionRapidModel": "#/components/schemas/IRapidTranscriptionRapid"
          }
        }
      },
      "IRapidAttachCategoryRapid": {
        "required": [
          "categories",
          "title",
          "asset",
          "featureFlags",
          "id",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AttachCategoryRapidModel"
            ],
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttachCategoryRapid_Category"
            }
          },
          "title": {
            "$ref": "#/components/schemas/TranslatedString"
          },
          "asset": {
            "$ref": "#/components/schemas/IAsset"
          },
          "context": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TranslatedString"
              }
            ],
            "nullable": true
          },
          "contextAsset": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "nullable": true
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureFlag"
            }
          },
          "id": {
            "type": "string"
          }
        }
      },
      "IRapidBoundingBoxRapid": {
        "required": [
          "target",
          "asset",
          "featureFlags",
          "id",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BoundingBoxRapidModel"
            ],
            "type": "string"
          },
          "target": {
            "$ref": "#/components/schemas/TranslatedString"
          },
          "asset": {
            "$ref": "#/components/schemas/IAsset"
          },
          "context": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TranslatedString"
              }
            ],
            "nullable": true
          },
          "contextAsset": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "nullable": true
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureFlag"
            }
          },
          "id": {
            "type": "string"
          }
        }
      },
      "IRapidCompareRapid": {
        "required": [
          "criteria",
          "asset",
          "featureFlags",
          "id",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareRapidModel"
            ],
            "type": "string"
          },
          "criteria": {
            "$ref": "#/components/schemas/TranslatedString"
          },
          "asset": {
            "$ref": "#/components/schemas/IAsset"
          },
          "context": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TranslatedString"
              }
            ],
            "nullable": true
          },
          "contextAsset": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "nullable": true
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureFlag"
            }
          },
          "id": {
            "type": "string"
          }
        }
      },
      "IRapidFreeTextRapid": {
        "required": [
          "question",
          "asset",
          "featureFlags",
          "id",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FreeTextRapidModel"
            ],
            "type": "string"
          },
          "question": {
            "$ref": "#/components/schemas/TranslatedString"
          },
          "asset": {
            "$ref": "#/components/schemas/IAsset"
          },
          "context": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TranslatedString"
              }
            ],
            "nullable": true
          },
          "contextAsset": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "nullable": true
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureFlag"
            }
          },
          "id": {
            "type": "string"
          }
        }
      },
      "IRapidLineRapid": {
        "required": [
          "target",
          "asset",
          "featureFlags",
          "id",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LineRapidModel"
            ],
            "type": "string"
          },
          "target": {
            "$ref": "#/components/schemas/TranslatedString"
          },
          "asset": {
            "$ref": "#/components/schemas/IAsset"
          },
          "context": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TranslatedString"
              }
            ],
            "nullable": true
          },
          "contextAsset": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "nullable": true
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureFlag"
            }
          },
          "id": {
            "type": "string"
          }
        }
      },
      "IRapidLocateRapid": {
        "required": [
          "target",
          "asset",
          "featureFlags",
          "id",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocateRapidModel"
            ],
            "type": "string"
          },
          "target": {
            "$ref": "#/components/schemas/TranslatedString"
          },
          "asset": {
            "$ref": "#/components/schemas/IAsset"
          },
          "context": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TranslatedString"
              }
            ],
            "nullable": true
          },
          "contextAsset": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "nullable": true
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureFlag"
            }
          },
          "id": {
            "type": "string"
          }
        }
      },
      "IRapidNamedEntityRapid": {
        "required": [
          "target",
          "classes",
          "asset",
          "featureFlags",
          "id",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NamedEntityRapidModel"
            ],
            "type": "string"
          },
          "target": {
            "$ref": "#/components/schemas/TranslatedString"
          },
          "classes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranslatedString"
            }
          },
          "asset": {
            "$ref": "#/components/schemas/IAsset"
          },
          "context": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TranslatedString"
              }
            ],
            "nullable": true
          },
          "contextAsset": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "nullable": true
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureFlag"
            }
          },
          "id": {
            "type": "string"
          }
        }
      },
      "IRapidPayload": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRapidPayloadBoundingBoxPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadClassifyPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadComparePayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadFreeTextPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadLinePayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadLocatePayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadNamedEntityPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadPolygonPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadScrubPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadTranscriptionPayload"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "BoundingBoxPayload": "#/components/schemas/IRapidPayloadBoundingBoxPayload",
            "ClassifyPayload": "#/components/schemas/IRapidPayloadClassifyPayload",
            "ComparePayload": "#/components/schemas/IRapidPayloadComparePayload",
            "FreeTextPayload": "#/components/schemas/IRapidPayloadFreeTextPayload",
            "LinePayload": "#/components/schemas/IRapidPayloadLinePayload",
            "LocatePayload": "#/components/schemas/IRapidPayloadLocatePayload",
            "NamedEntityPayload": "#/components/schemas/IRapidPayloadNamedEntityPayload",
            "PolygonPayload": "#/components/schemas/IRapidPayloadPolygonPayload",
            "ScrubPayload": "#/components/schemas/IRapidPayloadScrubPayload",
            "TranscriptionPayload": "#/components/schemas/IRapidPayloadTranscriptionPayload"
          }
        }
      },
      "IRapidPayloadBoundingBoxPayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BoundingBoxPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadClassifyPayload": {
        "required": [
          "categories",
          "title",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassifyPayload"
            ],
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClassifyPayload_Category"
            }
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadComparePayload": {
        "required": [
          "criteria",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ComparePayload"
            ],
            "type": "string"
          },
          "criteria": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadFreeTextPayload": {
        "required": [
          "question",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FreeTextPayload"
            ],
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "shouldValidateResponse": {
            "type": "boolean"
          },
          "validationSystemPrompt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IRapidPayloadLinePayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LinePayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadLocatePayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocatePayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadNamedEntityPayload": {
        "required": [
          "target",
          "classes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NamedEntityPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "classes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IRapidPayloadPolygonPayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PolygonPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadScrubPayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ScrubPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadTranscriptionPayload": {
        "required": [
          "title",
          "transcription",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TranscriptionPayload"
            ],
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "transcription": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranscriptionPayload_TranscriptionWord"
            }
          }
        }
      },
      "IRapidPolygonRapid": {
        "required": [
          "target",
          "asset",
          "featureFlags",
          "id",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PolygonRapidModel"
            ],
            "type": "string"
          },
          "target": {
            "$ref": "#/components/schemas/TranslatedString"
          },
          "asset": {
            "$ref": "#/components/schemas/IAsset"
          },
          "context": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TranslatedString"
              }
            ],
            "nullable": true
          },
          "contextAsset": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "nullable": true
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureFlag"
            }
          },
          "id": {
            "type": "string"
          }
        }
      },
      "IRapidResult": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRapidResultAttachCategoryResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultBoundingBoxResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultCompareResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultFreeTextResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultLineResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultLocateResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultNamedEntityResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultPolygonResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultScrubResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultSkipResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultTranscriptionResult"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "AttachCategoryResult": "#/components/schemas/IRapidResultAttachCategoryResult",
            "BoundingBoxResult": "#/components/schemas/IRapidResultBoundingBoxResult",
            "CompareResult": "#/components/schemas/IRapidResultCompareResult",
            "FreeTextResult": "#/components/schemas/IRapidResultFreeTextResult",
            "LineResult": "#/components/schemas/IRapidResultLineResult",
            "LocateResult": "#/components/schemas/IRapidResultLocateResult",
            "NamedEntityResult": "#/components/schemas/IRapidResultNamedEntityResult",
            "PolygonResult": "#/components/schemas/IRapidResultPolygonResult",
            "ScrubResult": "#/components/schemas/IRapidResultScrubResult",
            "SkipResult": "#/components/schemas/IRapidResultSkipResult",
            "TranscriptionResult": "#/components/schemas/IRapidResultTranscriptionResult"
          }
        }
      },
      "IRapidResultAttachCategoryResult": {
        "required": [
          "rapidId",
          "category",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AttachCategoryResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "IRapidResultBoundingBoxResult": {
        "required": [
          "rapidId",
          "boundingBoxes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BoundingBoxResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "boundingBoxes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoundingBoxResult_Box"
            }
          }
        }
      },
      "IRapidResultCompareResult": {
        "required": [
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "winners": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IRapidResultFreeTextResult": {
        "required": [
          "rapidId",
          "answer",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FreeTextResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "answer": {
            "type": "string"
          }
        }
      },
      "IRapidResultLineResult": {
        "required": [
          "rapidId",
          "lines",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LineResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineResult_Line"
            }
          }
        }
      },
      "IRapidResultLocateResult": {
        "required": [
          "rapidId",
          "coordinates",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocateResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "coordinates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocateCoordinate"
            }
          }
        }
      },
      "IRapidResultNamedEntityResult": {
        "required": [
          "rapidId",
          "classifications",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NamedEntityResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "classifications": {
            "type": "array",
            "items": {
[...]
