{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Asset API",
    "description": "The API for the Rapidata Asset service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "tags": [
    {
      "name": "Asset",
      "x-displayName": "Asset"
    },
    {
      "name": "BatchUpload",
      "x-displayName": "BatchUpload"
    },
    {
      "name": "Audience",
      "x-displayName": "Audience"
    },
    {
      "name": "Rapids",
      "x-displayName": "Rapids"
    },
    {
      "name": "Campaign",
      "x-displayName": "Campaign"
    },
    {
      "name": "Datapoint",
      "x-displayName": "Datapoint"
    },
    {
      "name": "Dataset",
      "x-displayName": "Dataset"
    },
    {
      "name": "Flow",
      "x-displayName": "Flow"
    },
    {
      "name": "FlowItem",
      "x-displayName": "FlowItem"
    },
    {
      "name": "RankingFlow",
      "x-displayName": "RankingFlow"
    },
    {
      "name": "RankingFlowItem",
      "x-displayName": "RankingFlowItem"
    },
    {
      "name": "Rapidata.Identity.API",
      "x-displayName": "Rapidata.Identity.API"
    },
    {
      "name": "Client",
      "x-displayName": "Client"
    },
    {
      "name": "Identity",
      "x-displayName": "Identity"
    },
    {
      "name": "Newsletter",
      "x-displayName": "Newsletter"
    },
    {
      "name": "Survey",
      "x-displayName": "Survey"
    },
    {
      "name": "Customer",
      "x-displayName": "Customer"
    },
    {
      "name": "Benchmark",
      "x-displayName": "Benchmark"
    },
    {
      "name": "Leaderboard",
      "x-displayName": "Leaderboard"
    },
    {
      "name": "Participant",
      "x-displayName": "Participant"
    },
    {
      "name": "Prompt",
      "x-displayName": "Prompt"
    },
    {
      "name": "Sample",
      "x-displayName": "Sample"
    },
    {
      "name": "Feedback",
      "x-displayName": "Feedback"
    },
    {
      "name": "Job",
      "x-displayName": "Job"
    },
    {
      "name": "Order",
      "x-displayName": "Order"
    },
    {
      "name": "Pipeline",
      "x-displayName": "Pipeline"
    },
    {
      "name": "CustomerRapid",
      "x-displayName": "CustomerRapid"
    },
    {
      "name": "UserRapid",
      "x-displayName": "UserRapid"
    },
    {
      "name": "Rapid",
      "x-displayName": "Rapid"
    },
    {
      "name": "ValidationSet",
      "x-displayName": "ValidationSet"
    },
    {
      "name": "CompareWorkflow",
      "x-displayName": "CompareWorkflow"
    },
    {
      "name": "EvaluationWorkflow",
      "x-displayName": "EvaluationWorkflow"
    },
    {
      "name": "GroupedRankingWorkflow",
      "x-displayName": "GroupedRankingWorkflow"
    },
    {
      "name": "SimpleWorkflow",
      "x-displayName": "SimpleWorkflow"
    },
    {
      "name": "Workflow",
      "x-displayName": "Workflow"
    }
  ],
  "paths": {
    "/asset/compress": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Compresses an uploaded image and returns the WebP result.",
        "description": "Compression metrics are returned in response headers: X-Original-Size, X-Compressed-Size,\n X-Processing-Time-Ms, X-Original-Dimensions, X-Output-Dimensions.",
        "parameters": [
          {
            "name": "library",
            "in": "query",
            "description": "The compression library to use.",
            "schema": {
              "$ref": "#/components/schemas/CompressionLibrary"
            }
          },
          {
            "name": "quality",
            "in": "query",
            "description": "The compression quality from 1 to 100.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 85
            }
          },
          {
            "name": "maxdim",
            "in": "query",
            "description": "The maximum dimension (width or height) of the output image.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 800
            }
          }
        ],
        "requestBody": {
          "description": "The image file to compress.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/asset/batch-upload/{batchUploadId}/abort": {
      "post": {
        "tags": [
          "BatchUpload"
        ],
        "summary": "Aborts the specified batch upload.",
        "description": "URLs already processed will not be reverted. Only remaining URLs are prevented from processing.",
        "parameters": [
          {
            "name": "batchUploadId",
            "in": "path",
            "description": "The identifier of the batch upload to abort.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/asset/batch-upload": {
      "post": {
        "tags": [
          "BatchUpload"
        ],
        "summary": "Creates a batch upload and queues processing for each URL.",
        "description": "Each URL is processed asynchronously. Use the batch upload status or result endpoints to track progress.",
        "requestBody": {
          "description": "The list of URLs to include in the batch upload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchUploadEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBatchUploadEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/asset/batch-upload/{batchUploadId}": {
      "get": {
        "tags": [
          "BatchUpload"
        ],
        "summary": "Gets the full result of a batch upload including all items.",
        "parameters": [
          {
            "name": "batchUploadId",
            "in": "path",
            "description": "The identifier of the batch upload to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBatchUploadResultEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/asset/batch-upload/status": {
      "get": {
        "tags": [
          "BatchUpload"
        ],
        "summary": "Gets aggregated status for one or more batch uploads.",
        "parameters": [
          {
            "name": "batchUploadIds",
            "in": "query",
            "description": "The identifiers of the batch uploads to query.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBatchUploadStatusEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/asset/file": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Uploads a single asset to S3 and returns the asset details.",
        "description": "This endpoint allows uploading a single file to S3 storage with the asset creator.\n The uploaded asset will be stored using the configured S3 settings and a unique filename will be generated.",
        "requestBody": {
          "description": "The file to upload to S3.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/asset/url": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Uploads a single asset to S3 and returns the asset details.",
        "description": "This endpoint allows uploading a single file to S3 storage with the asset creator.\n The uploaded asset will be stored using the configured S3 settings and a unique filename will be generated.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The url of the file to upload to S3.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/asset/{fileName}/metadata": {
      "get": {
        "tags": [
          "Asset"
        ],
        "summary": "Gets the metadata for an asset by file name.",
        "description": "This endpoint retrieves metadata information for an asset stored in S3.\n The metadata includes details such as content type, size, creation date, and custom metadata fields.",
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "description": "The name of the file to retrieve metadata for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileMetadataResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileMetadataResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileMetadataResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}": {
      "delete": {
        "tags": [
          "Audience"
        ],
        "summary": "Deletes the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Gets an audience by its Id.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The id of the audience to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceByIdResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Audience"
        ],
        "summary": "Patches an existing audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAudienceRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAudienceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAudienceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/user-metrics": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Gets the count of users in each state for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudienceUserStateMetricsResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/pause-distillation": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Pauses the distillation campaign for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/jobs": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Queries jobs for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryJobsResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/rebuild-distilling-campaign": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Rebuilds the distilling campaign for the specified audience.",
        "description": "Recalculates campaign filters and selections based on the audience's current settings\n (demographic filters, exit conditions, etc.).",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/resume-distillation": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Resumes the distillation campaign for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/recruit": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Starts recruiting users for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/boost-config": {
      "patch": {
        "tags": [
          "Audience"
        ],
        "summary": "Updates the boost configuration for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The boost configuration values to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBoostConfigEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/rapid/{rapidId}": {
      "patch": {
        "tags": [
          "Rapids"
        ],
        "summary": "Updates a rapid's validation properties within an audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The unique identifier of the audience.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rapidId",
            "in": "path",
            "description": "The unique identifier of the rapid to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The rapid validation properties to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAudienceRapidEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audiences": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Queries all available audiences.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryAudiencesResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryAudiencesResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryAudiencesResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Creates a new empty audience.",
        "description": "An audience is a group of users that are trained to solve particular tasks.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAudienceRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAudienceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAudienceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAudienceResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAudienceResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAudienceResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/rapids": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "Queries all rapids for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryRapidsForAudienceResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryRapidsForAudienceResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryRapidsForAudienceResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/audience/{audienceId}/rapid": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Adds a new rapid to be used to train users for the specified audience.",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRapidToAudienceModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRapidToAudienceModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddRapidToAudienceModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaign/monitor": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "The monitor endpoint is used to monitor the health of the service",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Queries orders based on a filter, page, and sort criteria.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "The parameters for filtering, paging, and sorting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfCampaignQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfCampaignQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfCampaignQueryResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaign/{campaignId}/pause": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Pauses a campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "id of the campaign that should be paused",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaign/{campaignId}/resume": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Resumes a campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "id of the campaign that should be paused",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaign/{campaignId}": {
      "patch": {
        "tags": [
          "Campaign"
        ],
        "summary": "Updates a campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "id of the campaign to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "model containing the updates",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaign/{campaignId}/priority": {
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Updates the priority of a campaign.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "id of the campaign to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "model containing the new priority",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePriorityModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePriorityModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePriorityModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true,
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaign/boost/status": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Gets the status of the boost.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBoostResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/campaign/boost": {
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Updates the boost with manual boosts.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBoostModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBoostModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBoostModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset": {
      "post": {
        "tags": [
          "Dataset"
        ],
        "summary": "Creates a new empty dataset.",
        "requestBody": {
          "description": "The dataset creation parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatasetEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDatasetEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/datapoint/{datapointId}": {
      "get": {
        "tags": [
          "Datapoint"
        ],
        "summary": "Gets a datapoint by its id.",
        "parameters": [
          {
            "name": "datapointId",
            "in": "path",
            "description": "The id of the datapoint to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatapointByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatapointByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatapointByIdResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Datapoint"
        ],
        "summary": "Deletes a datapoint by its id.",
        "parameters": [
          {
            "name": "datapointId",
            "in": "path",
            "description": "The id of the datapoint to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset/{datasetId}": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "Gets a dataset by its id.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The id of the dataset to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatasetByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatasetByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatasetByIdResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset/{datasetId}/datapoints": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "Gets all datapoints of a dataset.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The id of the dataset to get the datapoints of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "The query model to filter, sort, and paginate the results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryDatapointsByDatasetIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryDatapointsByDatasetIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfQueryDatapointsByDatasetIdResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset/{datasetId}/progress": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "Gets the upload progress of a dataset.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The id of the dataset to get the progress of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatasetProgressResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatasetProgressResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDatasetProgressResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset/{datasetId}/datapoints/failed": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "summary": "Gets a list of all datapoints that failed to upload.",
        "description": "A datapoint usually fails to upload when using a deferred upload mechanism such as when providing a URL\n and the URL is not accessible.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The id of the dataset to get the failed datapoints of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetFailedDatapointsResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFailedDatapointsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFailedDatapointsResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset/{datasetId}/datapoint": {
      "post": {
        "tags": [
          "Dataset"
        ],
        "summary": "Creates a datapoint with JSON body.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The id of the dataset to create the datapoint in.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The datapoint model containing asset, metadata, and sort index.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatapointModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatapointModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatapointModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDatapointResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDatapointResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDatapointResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/dataset/{datasetId}/name": {
      "patch": {
        "tags": [
          "Dataset"
        ],
        "summary": "Updates the name of a dataset.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "The id of the dataset to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The body of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatasetNameModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatasetNameModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatasetNameModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/flow/{flowId}": {
      "delete": {
        "tags": [
          "Flow"
        ],
        "summary": "Deletes a flow.",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "description": "The ID of the flow to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Flow"
        ],
        "summary": "Retrieves a flow by its ID.",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "description": "The ID of the flow to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/flow": {
      "get": {
        "tags": [
          "Flow"
        ],
        "summary": "Queries flows with filtering and pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryFlowsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/flow/item/{flowItemId}/stop": {
      "post": {
        "tags": [
          "FlowItem"
        ],
        "summary": "Stops the specified flow item and triggers partial result processing.",
        "parameters": [
          {
            "name": "flowItemId",
            "in": "path",
            "description": "The ID of the flow item to stop.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/flow/ranking": {
      "post": {
        "tags": [
          "RankingFlow"
        ],
        "summary": "Creates a new ranking flow.",
        "requestBody": {
          "description": "The ranking flow creation parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFlowEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFlowEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/flow/ranking/{flowId}/config": {
      "patch": {
        "tags": [
          "RankingFlow"
        ],
        "summary": "Updates the configuration of a ranking flow.",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "description": "The ID of the ranking flow to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The configuration fields to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConfigEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/flow/ranking/{flowId}/item": {
      "post": {
        "tags": [
          "RankingFlowItem"
        ],
        "summary": "Creates a new flow item for the specified flow.",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "description": "The ID of the flow to create the item in.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The flow item creation parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFlowItemEndpoint_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFlowItemEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "RankingFlowItem"
        ],
        "summary": "Queries flow items for a flow.",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "description": "The ID of the flow to query items for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "state",
                  "-state",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter by created_at.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryFlowItemsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/flow/ranking/item/{flowItemId}": {
      "get": {
        "tags": [
          "RankingFlowItem"
        ],
        "summary": "Retrieves a flow item by its ID.",
        "parameters": [
          {
            "name": "flowItemId",
            "in": "path",
            "description": "The ID of the flow item to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowItemByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/flow/ranking/item/{flowItemId}/results": {
      "get": {
        "tags": [
          "RankingFlowItem"
        ],
        "summary": "Returns ranking results with Elo scores for a completed flow item.",
        "description": "Returns 409 Conflict if the flow item is not yet completed or has no associated workflow.",
        "parameters": [
          {
            "name": "flowItemId",
            "in": "path",
            "description": "The ID of the flow item to get results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRankingFlowItemResultsEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/flow/ranking/item/{flowItemId}/vote-matrix": {
      "get": {
        "tags": [
          "RankingFlowItem"
        ],
        "summary": "Retrieves the pairwise vote matrix for a completed flow item.",
        "description": "Returns 409 Conflict if the flow item is not completed or has no associated workflow.",
        "parameters": [
          {
            "name": "flowItemId",
            "in": "path",
            "description": "The ID of the flow item to get the vote matrix for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRankingFlowItemVoteMatrixEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/": {
      "get": {
        "tags": [
          "Rapidata.Identity.API"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/customers": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Queries customers with filtering and pagination.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryCustomersEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/clients": {
      "get": {
        "tags": [
          "Client"
        ],
        "summary": "Queries the clients for the current customer.",
        "description": "A client allows a customer to authenticate with the APIs without using their own credentials.\n This is useful for creating service accounts or other automated processes,\n as when using the Rapidata Python SDK.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfClientsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfClientsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfClientsQueryResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/client/{clientId}": {
      "get": {
        "tags": [
          "Client"
        ],
        "summary": "Gets a specific client by its ID.",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The ID of the client to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClientModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Client"
        ],
        "summary": "Deletes a customers' client.",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The id of the client to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/client": {
      "post": {
        "tags": [
          "Client"
        ],
        "summary": "Creates a new client for the current customer.",
        "requestBody": {
          "description": "The model for creating a new client.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerClientResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerClientResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerClientResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/client/register": {
      "post": {
        "tags": [
          "Client"
        ],
        "summary": "Registers a new client dynamically.",
        "description": "The implementation of this method follows the OpenID Connect Dynamic Client Registration.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DynamicClientRegistrationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DynamicClientRegistrationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DynamicClientRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClientModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/identity/bridge-token": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Creates a pair of read and write keys for a client.\n The write key is used to store the authentication result.\n The read key is used to retrieve the authentication result.",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "The client ID to create the keys for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBridgeTokenResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBridgeTokenResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBridgeTokenResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Tries to read the bridge token keys for a given read key.\n The read key is used to retrieve the authentication result written by the write key.",
        "parameters": [
          {
            "name": "readKey",
            "in": "query",
            "description": "The read key to read the bridge token keys for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBridgeTokenKeysResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBridgeTokenKeysResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBridgeTokenKeysResult"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NotAvailableYetResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAvailableYetResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAvailableYetResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    },
    "/identity/referrer": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Sets the referrer for the current customer.",
        "parameters": [
          {
            "name": "referrer",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Bearer": [],
            "OpenIdConnect": [
              "openid",
              "profile",
              "email"
            ],
[...]
