{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Validation API",
    "description": "The API for the Rapidata Validation service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/validation-sets": {
      "get": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Queries available validation sets based on the provided filter, paging and sorting criteria.",
        "parameters": [
          {
            "name": "model",
            "in": "query",
            "description": "The model containing the query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfValidationSetModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfValidationSetModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfValidationSetModel"
                }
              }
            }
          }
        }
      }
    },
    "/validation-set/recommended": {
      "get": {
        "tags": [
          "ValidationSet"
        ],
        "parameters": [
          {
            "name": "assetType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AssetType"
            }
          },
          {
            "name": "modality",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/RapidModality"
            }
          },
          {
            "name": "promptType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/PromptType"
            }
          },
          {
            "name": "instruction",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetRecommendedValidationSetResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRecommendedValidationSetResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRecommendedValidationSetResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/validation-set/{validationSetId}": {
      "delete": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Gets a validation set by the id.",
        "parameters": [
          {
            "name": "validationSetId",
            "in": "path",
            "description": "The id of the validation set to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Gets a validation set by the id.",
        "parameters": [
          {
            "name": "validationSetId",
            "in": "path",
            "description": "The id of the validation set to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetValidationSetByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetValidationSetByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetValidationSetByIdResult"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Updates different characteristics of a validation set.",
        "parameters": [
          {
            "name": "validationSetId",
            "in": "path",
            "description": "The Id of the validation set to update the dimensions for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The body request for updating the shouldAlert property.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateValidationSetModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateValidationSetModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateValidationSetModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/validation-sets/available": {
      "get": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Gets the available validation sets for the current user.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetAvailableValidationSetsResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAvailableValidationSetsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAvailableValidationSetsResult"
                }
              }
            }
          }
        }
      }
    },
    "/validation-set": {
      "post": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Creates a new empty validation set.",
        "requestBody": {
          "description": "The body request for creating a new validation set.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateValidationSetModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateValidationSetModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateValidationSetModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmptyValidationSetResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmptyValidationSetResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmptyValidationSetResult"
                }
              }
            }
          }
        }
      }
    },
    "/validation-set/{validationSetId}/rapids": {
      "get": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Queries the validation rapids for a specific validation set.",
        "parameters": [
          {
            "name": "validationSetId",
            "in": "path",
            "description": "The validation set to query.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "The request formatted as a JSON in the query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetValidationRapidsResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetValidationRapidsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetValidationRapidsResult"
                }
              }
            }
          }
        }
      }
    },
    "/validation-set/{validationSetId}/rapid": {
      "post": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Adds a new validation rapid to the validation set using JSON body.",
        "parameters": [
          {
            "name": "validationSetId",
            "in": "path",
            "description": "The validation set to add a rapid to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The validation rapid data including asset, payload, and metadata.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddValidationRapidModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddValidationRapidModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddValidationRapidModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/validation-set/{validationSetId}/rapid-new": {
      "post": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Adds a new validation rapid to the validation set using JSON body.",
        "parameters": [
          {
            "name": "validationSetId",
            "in": "path",
            "description": "The validation set to add a rapid to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The validation rapid data including asset, payload, and metadata.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddValidationRapidNewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddValidationRapidNewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddValidationRapidNewModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/validation-set/{validationSetId}/update-labeling-hints": {
      "post": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Refreshes the labeling hints for a validation set.",
        "description": "This will sample the rapids in the validation set and update the labeling hints based on the sampled rapids.",
        "parameters": [
          {
            "name": "validationSetId",
            "in": "path",
            "description": "The id of the validation set to update the labeling hints for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/validation-set/{validationSetId}/visibility": {
      "patch": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Updates the visibility of a validation set.",
        "description": "Public validation sets are used to automatically add a validation set to an order if no validation set is specified.",
        "parameters": [
          {
            "name": "validationSetId",
            "in": "path",
            "description": "The id of the validation set to update the visibility for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isPublic",
            "in": "query",
            "description": "Whether the validation set should be public or private.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/validation-set/{validationSetId}/dimensions": {
      "patch": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Updates the dimensions of all rapids within a validation set.",
        "parameters": [
          {
            "name": "validationSetId",
            "in": "path",
            "description": "The Id of the validation set to update the dimensions for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The body request for updating the dimensions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDimensionsModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDimensionsModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDimensionsModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/validation-set/{validationSetId}/shouldalert": {
      "patch": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Updates the dimensions of all rapids within a validation set.",
        "parameters": [
          {
            "name": "validationSetId",
            "in": "path",
            "description": "The Id of the validation set to update the dimensions for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The body request for updating the shouldAlert property.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShouldAlertModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShouldAlertModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShouldAlertModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    },
    "/validation-set/{validationSetId}/export": {
      "get": {
        "tags": [
          "ValidationSet"
        ],
        "summary": "Exports all rapids of a validation-set to a file.",
        "parameters": [
          {
            "name": "validationSetId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FileStreamResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileStreamResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileStreamResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddValidationRapidModel": {
        "required": [
          "asset",
          "payload"
        ],
        "type": "object",
        "properties": {
          "asset": {
            "$ref": "#/components/schemas/IAssetInput"
          },
          "payload": {
            "$ref": "#/components/schemas/IRapidPayload"
          },
          "truth": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/IValidationTruth"
              }
            ]
          },
          "randomCorrectProbability": {
            "type": "number",
            "format": "double"
          },
          "explanation": {
            "type": "string",
            "nullable": true
          },
          "context": {
            "type": "string",
            "nullable": true
          },
          "contextAsset": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/IAssetInput"
              }
            ]
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ListOfIValidationMetadataInput"
              }
            ]
          },
          "featureFlags": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ListOfFeatureFlagModel"
              }
            ]
          }
        }
      },
      "AddValidationRapidNewModel": {
        "required": [
          "asset",
          "payload",
          "metadata",
          "truth",
          "randomCorrectProbability",
          "explanation"
        ],
        "type": "object",
        "properties": {
          "asset": {
            "$ref": "#/components/schemas/IAssetInput"
          },
          "payload": {
            "$ref": "#/components/schemas/IRapidPayload"
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ListOfIValidationMetadataInput"
              }
            ]
          },
          "truth": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/IValidationTruth"
              }
            ]
          },
          "randomCorrectProbability": {
            "type": "number",
            "format": "double"
          },
          "explanation": {
            "type": "string",
            "nullable": true
          },
          "featureFlags": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ListOfFeatureFlagModel"
              }
            ]
          }
        }
      },
      "AssetType": {
        "type": "array",
        "items": {
          "enum": [
            "None",
            "Image",
            "Video",
            "Audio",
            "Text"
          ],
          "type": "string"
        }
      },
      "BoxShape": {
        "type": "object",
        "properties": {
          "xMin": {
            "type": "number",
            "format": "double"
          },
          "yMin": {
            "type": "number",
            "format": "double"
          },
          "xMax": {
            "type": "number",
            "format": "double"
          },
          "yMax": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ClassifyPayload_Category": {
        "required": [
          "label",
          "value"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "CreateEmptyValidationSetResult": {
        "required": [
          "validationSetId"
        ],
        "type": "object",
        "properties": {
          "validationSetId": {
            "type": "string"
          }
        }
      },
      "CreateValidationSetModel": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "EntityTagHeaderValue": {
        "type": "object",
        "properties": {
          "tag": {
            "$ref": "#/components/schemas/StringSegment"
          },
          "isWeak": {
            "type": "boolean"
          }
        }
      },
      "FeatureFlagModel": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "FileStreamResult": {
        "type": "object",
        "properties": {
          "fileStream": {
            "$ref": "#/components/schemas/Stream"
          },
          "contentType": {
            "type": "string",
            "nullable": true
          },
          "fileDownloadName": {
            "type": "string",
            "nullable": true
          },
          "lastModified": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "entityTag": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/EntityTagHeaderValue"
              }
            ]
          },
          "enableRangeProcessing": {
            "type": "boolean"
          }
        }
      },
      "FileType": {
        "enum": [
          "Unknown",
          "Image",
          "Video",
          "Audio"
        ]
      },
      "Filter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "nullable": true
          },
          "value": { },
          "operator": {
            "$ref": "#/components/schemas/FilterOperator"
          },
          "logic": {
            "$ref": "#/components/schemas/LogicOperator"
          },
          "filters": {
            "$ref": "#/components/schemas/ListOfFilter"
          }
        }
      },
      "FilterOperator": {
        "enum": [
          "Eq",
          "Neq",
          "Gt",
          "Gte",
          "Lt",
          "Lte",
          "Contains",
          "StartsWith",
          "EndsWith",
          "In"
        ]
      },
      "GetAvailableValidationSetsResult": {
        "required": [
          "validationSets"
        ],
        "type": "object",
        "properties": {
          "validationSets": {
            "$ref": "#/components/schemas/ListOfValidationSetOverviewModel"
          }
        }
      },
      "GetRecommendedValidationSetResult": {
        "required": [
          "validationSets"
        ],
        "type": "object",
        "properties": {
          "validationSets": {
            "$ref": "#/components/schemas/ListOfValidationSetModel"
          }
        }
      },
      "GetValidationRapidsResult": {
        "required": [
          "id",
          "type",
          "asset",
          "payload",
          "correctValidationCount",
          "invalidValidationCount",
          "state"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "asset": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/IAssetModel"
              }
            ]
          },
          "truth": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/IValidationTruth"
              }
            ]
          },
          "payload": {
            "$ref": "#/components/schemas/IRapidPayload"
          },
          "context": {
            "type": "string",
            "nullable": true
          },
          "contextAsset": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/IAssetModel"
              }
            ]
          },
          "correctValidationCount": {
            "type": "integer",
            "format": "int32"
          },
          "invalidValidationCount": {
            "type": "integer",
            "format": "int32"
          },
          "explanation": {
            "type": "string",
            "nullable": true
          },
          "randomCorrectProbability": {
            "type": "number",
            "format": "double"
          },
          "state": {
            "$ref": "#/components/schemas/RapidState"
          }
        }
      },
      "GetValidationSetByIdResult": {
        "required": [
          "id",
          "name",
          "isPublic",
          "ownerMail",
          "ownerId",
          "dimensions",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          },
          "ownerMail": {
            "type": "string"
          },
          "ownerId": {
            "type": "string",
            "format": "uuid"
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IAssetInput": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IAssetInputExistingAssetInput"
          },
          {
            "$ref": "#/components/schemas/IAssetInputMultiAssetInput"
          },
          {
            "$ref": "#/components/schemas/IAssetInputTextAssetInput"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ExistingAssetInput": "#/components/schemas/IAssetInputExistingAssetInput",
            "MultiAssetInput": "#/components/schemas/IAssetInputMultiAssetInput",
            "TextAssetInput": "#/components/schemas/IAssetInputTextAssetInput"
          }
        }
      },
      "IAssetInputExistingAssetInput": {
        "required": [
          "name",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ExistingAssetInput"
            ],
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ]
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetInputMultiAssetInput": {
        "required": [
          "assets",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "MultiAssetInput"
            ],
            "type": "string"
          },
          "assets": {
            "$ref": "#/components/schemas/ListOfIAssetInput"
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ]
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetInputTextAssetInput": {
        "required": [
          "text",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextAssetInput"
            ],
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/MetadataInputCollection"
              }
            ]
          },
          "identifier": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IAssetModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IAssetModelFileAssetModel"
          },
          {
            "$ref": "#/components/schemas/IAssetModelMultiAssetModel"
          },
          {
            "$ref": "#/components/schemas/IAssetModelNullAssetModel"
          },
          {
            "$ref": "#/components/schemas/IAssetModelTextAssetModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "FileAsset": "#/components/schemas/IAssetModelFileAssetModel",
            "MultiAsset": "#/components/schemas/IAssetModelMultiAssetModel",
            "NullAsset": "#/components/schemas/IAssetModelNullAssetModel",
            "TextAsset": "#/components/schemas/IAssetModelTextAssetModel"
          }
        }
      },
      "IAssetModelFileAssetModel": {
        "required": [
          "fileName",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileAsset"
            ],
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetModelMultiAssetModel": {
        "required": [
          "assets",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "MultiAsset"
            ],
            "type": "string"
          },
          "assets": {
            "$ref": "#/components/schemas/ListOfIAssetModel"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetModelNullAssetModel": {
        "required": [
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NullAsset"
            ],
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetModelTextAssetModel": {
        "required": [
          "text",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextAsset"
            ],
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IMetadataInput": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IMetadataInputTextMetadataInput"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "TextMetadataInput": "#/components/schemas/IMetadataInputTextMetadataInput"
          }
        }
      },
      "IMetadataInputTextMetadataInput": {
        "required": [
          "text",
          "visibilities",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextMetadataInput"
            ],
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "visibilities": {
            "$ref": "#/components/schemas/MetadataVisibilities"
          }
        }
      },
      "IMetadataModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IMetadataModelClassificationMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelCountMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelFileTypeMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelImageDimensionMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelLocationMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelOriginalFilenameMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelSourceUrlMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelStreamsMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelTextMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelVideoDurationMetadataModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ClassificationMetadata": "#/components/schemas/IMetadataModelClassificationMetadataModel",
            "CountMetadata": "#/components/schemas/IMetadataModelCountMetadataModel",
            "FileTypeMetadata": "#/components/schemas/IMetadataModelFileTypeMetadataModel",
            "ImageDimensionMetadata": "#/components/schemas/IMetadataModelImageDimensionMetadataModel",
            "LocationMetadata": "#/components/schemas/IMetadataModelLocationMetadataModel",
            "OriginalFilenameMetadata": "#/components/schemas/IMetadataModelOriginalFilenameMetadataModel",
            "SourceUrlMetadataModel": "#/components/schemas/IMetadataModelSourceUrlMetadataModel",
            "StreamsMetadata": "#/components/schemas/IMetadataModelStreamsMetadataModel",
            "TextMetadata": "#/components/schemas/IMetadataModelTextMetadataModel",
            "VideoDurationMetadata": "#/components/schemas/IMetadataModelVideoDurationMetadataModel"
          }
        }
      },
      "IMetadataModelClassificationMetadataModel": {
        "required": [
          "classification",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassificationMetadata"
            ],
            "type": "string"
          },
          "classification": {
            "type": "string"
          }
        }
      },
      "IMetadataModelCountMetadataModel": {
        "required": [
          "count",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CountMetadata"
            ],
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IMetadataModelFileTypeMetadataModel": {
        "required": [
          "fileType",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileTypeMetadata"
            ],
            "type": "string"
          },
          "fileType": {
            "$ref": "#/components/schemas/FileType"
          }
        }
      },
      "IMetadataModelImageDimensionMetadataModel": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ImageDimensionMetadata"
            ],
            "type": "string"
          },
          "height": {
            "type": "integer",
            "format": "int32"
          },
          "width": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IMetadataModelLocationMetadataModel": {
        "required": [
          "x",
          "y",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocationMetadata"
            ],
            "type": "string"
          },
          "x": {
            "type": "number",
            "format": "float"
          },
          "y": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "IMetadataModelOriginalFilenameMetadataModel": {
        "required": [
          "originalFilename",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OriginalFilenameMetadata"
            ],
            "type": "string"
          },
          "originalFilename": {
            "type": "string"
          }
        }
      },
      "IMetadataModelSourceUrlMetadataModel": {
        "required": [
          "url",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SourceUrlMetadataModel"
            ],
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "IMetadataModelStreamsMetadataModel": {
        "required": [
          "hasVideo",
          "hasAudio",
          "hasSubtitles",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "StreamsMetadata"
            ],
            "type": "string"
          },
          "hasVideo": {
            "type": "boolean"
          },
          "hasAudio": {
            "type": "boolean"
          },
          "hasSubtitles": {
            "type": "boolean"
          }
        }
      },
      "IMetadataModelTextMetadataModel": {
        "required": [
          "text",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextMetadata"
            ],
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IMetadataModelVideoDurationMetadataModel": {
        "required": [
          "duration",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "VideoDurationMetadata"
            ],
            "type": "string"
          },
          "duration": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IRapidPayload": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRapidPayloadTranscriptionPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadScrubPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadPolygonPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadNamedEntityPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadLocatePayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadLinePayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadFreeTextPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadComparePayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadClassifyPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadBoundingBoxPayload"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "TranscriptionPayload": "#/components/schemas/IRapidPayloadTranscriptionPayload",
            "ScrubPayload": "#/components/schemas/IRapidPayloadScrubPayload",
            "PolygonPayload": "#/components/schemas/IRapidPayloadPolygonPayload",
            "NamedEntityPayload": "#/components/schemas/IRapidPayloadNamedEntityPayload",
            "LocatePayload": "#/components/schemas/IRapidPayloadLocatePayload",
            "LinePayload": "#/components/schemas/IRapidPayloadLinePayload",
            "FreeTextPayload": "#/components/schemas/IRapidPayloadFreeTextPayload",
            "ComparePayload": "#/components/schemas/IRapidPayloadComparePayload",
            "ClassifyPayload": "#/components/schemas/IRapidPayloadClassifyPayload",
            "BoundingBoxPayload": "#/components/schemas/IRapidPayloadBoundingBoxPayload"
          }
        }
      },
      "IRapidPayloadBoundingBoxPayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BoundingBoxPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadClassifyPayload": {
        "required": [
          "categories",
          "title",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassifyPayload"
            ],
            "type": "string"
          },
          "categories": {
            "$ref": "#/components/schemas/ListOfClassifyPayload_Category"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadComparePayload": {
        "required": [
          "criteria",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ComparePayload"
            ],
            "type": "string"
          },
          "criteria": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadFreeTextPayload": {
        "required": [
          "question",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FreeTextPayload"
            ],
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "validationSystemPrompt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IRapidPayloadLinePayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LinePayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadLocatePayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocatePayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadNamedEntityPayload": {
        "required": [
          "target",
          "classes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NamedEntityPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "classes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IRapidPayloadPolygonPayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PolygonPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadScrubPayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ScrubPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadTranscriptionPayload": {
        "required": [
          "title",
          "transcription",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TranscriptionPayload"
            ],
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "transcription": {
            "$ref": "#/components/schemas/ListOfTranscriptionWord"
          }
        }
      },
      "IValidationMetadataInput": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IValidationMetadataInputPromptMetadataInput"
          },
          {
            "$ref": "#/components/schemas/IValidationMetadataInputPromptAssetMetadataInput"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "PromptMetadataInput": "#/components/schemas/IValidationMetadataInputPromptMetadataInput",
            "PromptAssetMetadataInput": "#/components/schemas/IValidationMetadataInputPromptAssetMetadataInput"
          }
        }
      },
      "IValidationMetadataInputPromptAssetMetadataInput": {
        "required": [
          "asset",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PromptAssetMetadataInput"
            ],
            "type": "string"
          },
          "asset": {
            "$ref": "#/components/schemas/IAssetInput"
          }
        }
      },
      "IValidationMetadataInputPromptMetadataInput": {
        "required": [
          "prompt",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PromptMetadataInput"
            ],
            "type": "string"
          },
          "prompt": {
            "type": "string"
          }
        }
      },
      "IValidationTruth": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IValidationTruthTranscriptionTruth"
          },
          {
            "$ref": "#/components/schemas/IValidationTruthScrubTruth"
          },
          {
            "$ref": "#/components/schemas/IValidationTruthPolygonTruth"
          },
          {
            "$ref": "#/components/schemas/IValidationTruthNamedEntityTruth"
          },
          {
            "$ref": "#/components/schemas/IValidationTruthLocateBoxTruth"
          },
          {
            "$ref": "#/components/schemas/IValidationTruthLineTruth"
          },
          {
            "$ref": "#/components/schemas/IValidationTruthEmptyValidationTruth"
          },
          {
            "$ref": "#/components/schemas/IValidationTruthCompareTruth"
          },
          {
            "$ref": "#/components/schemas/IValidationTruthMultiCompareTruth"
          },
          {
            "$ref": "#/components/schemas/IValidationTruthSkipTruth"
          },
          {
            "$ref": "#/components/schemas/IValidationTruthAttachCategoryTruth"
          },
          {
            "$ref": "#/components/schemas/IValidationTruthBoundingBoxTruth"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "TranscriptionTruth": "#/components/schemas/IValidationTruthTranscriptionTruth",
            "ScrubTruth": "#/components/schemas/IValidationTruthScrubTruth",
            "PolygonTruth": "#/components/schemas/IValidationTruthPolygonTruth",
            "NamedEntityTruth": "#/components/schemas/IValidationTruthNamedEntityTruth",
            "LocateBoxTruth": "#/components/schemas/IValidationTruthLocateBoxTruth",
            "LineTruth": "#/components/schemas/IValidationTruthLineTruth",
            "EmptyValidationTruth": "#/components/schemas/IValidationTruthEmptyValidationTruth",
            "CompareTruth": "#/components/schemas/IValidationTruthCompareTruth",
            "MultiCompareTruth": "#/components/schemas/IValidationTruthMultiCompareTruth",
            "SkipTruth": "#/components/schemas/IValidationTruthSkipTruth",
            "AttachCategoryTruth": "#/components/schemas/IValidationTruthAttachCategoryTruth",
            "BoundingBoxTruth": "#/components/schemas/IValidationTruthBoundingBoxTruth"
          }
        }
      },
      "IValidationTruthAttachCategoryTruth": {
        "required": [
          "correctCategories",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AttachCategoryTruth"
            ],
            "type": "string"
          },
          "correctCategories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IValidationTruthBoundingBoxTruth": {
        "required": [
          "xMin",
          "yMin",
          "xMax",
          "yMax",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BoundingBoxTruth"
            ],
            "type": "string"
          },
          "xMin": {
            "type": "number",
            "format": "double"
          },
          "yMin": {
            "type": "number",
            "format": "double"
          },
          "xMax": {
            "type": "number",
            "format": "double"
          },
          "yMax": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "IValidationTruthCompareTruth": {
        "required": [
          "winnerId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareTruth"
            ],
            "type": "string"
          },
          "winnerId": {
            "type": "string"
          }
        }
      },
      "IValidationTruthEmptyValidationTruth": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "EmptyValidationTruth"
            ],
            "type": "string"
          }
        }
      },
      "IValidationTruthLineTruth": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LineTruth"
            ],
            "type": "string"
          }
        }
      },
      "IValidationTruthLocateBoxTruth": {
        "required": [
          "boundingBoxes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocateBoxTruth"
            ],
            "type": "string"
          },
          "boundingBoxes": {
            "$ref": "#/components/schemas/ListOfBoxShape"
          }
        }
      },
      "IValidationTruthMultiCompareTruth": {
        "required": [
          "correctCombinations",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "MultiCompareTruth"
            ],
            "type": "string"
          },
          "correctCombinations": {
            "$ref": "#/components/schemas/ListOfListOfString"
          }
        }
      },
      "IValidationTruthNamedEntityTruth": {
        "required": [
          "classifications",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NamedEntityTruth"
            ],
            "type": "string"
          },
          "classifications": {
            "$ref": "#/components/schemas/ListOfNamedClassification"
          }
        }
      },
      "IValidationTruthPolygonTruth": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PolygonTruth"
            ],
            "type": "string"
          }
        }
      },
      "IValidationTruthScrubTruth": {
        "required": [
          "validRanges",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ScrubTruth"
            ],
            "type": "string"
          },
          "validRanges": {
            "$ref": "#/components/schemas/ListOfScrubRange"
          }
        }
      },
      "IValidationTruthSkipTruth": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SkipTruth"
            ],
            "type": "string"
          }
        }
      },
      "IValidationTruthTranscriptionTruth": {
        "required": [
          "correctWords",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TranscriptionTruth"
            ],
            "type": "string"
          },
          "correctWords": {
            "$ref": "#/components/schemas/ListOfTranscriptionWord"
          },
          "strictGrading": {
            "type": "boolean",
            "nullable": true
          },
          "requiredPrecision": {
            "type": "number",
            "format": "double"
          },
          "requiredCompleteness": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ListOfBoxShape": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BoxShape"
        }
      },
      "ListOfClassifyPayload_Category": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ClassifyPayload_Category"
        }
      },
      "ListOfFeatureFlagModel": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/FeatureFlagModel"
        }
      },
      "ListOfFilter": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Filter"
        }
      },
      "ListOfGetValidationRapidsResult": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/GetValidationRapidsResult"
        }
      },
      "ListOfIAssetInput": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/IAssetInput"
        }
      },
      "ListOfIAssetModel": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/IAssetModel"
        }
      },
      "ListOfIValidationMetadataInput": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/IValidationMetadataInput"
        }
      },
      "ListOfListOfString": {
        "type": "array",
        "items": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "ListOfNamedClassification": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/NamedClassification"
        }
      },
      "ListOfScrubRange": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ScrubRange"
        }
      },
      "ListOfSortCriterion": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SortCriterion"
        }
      },
      "ListOfTranscriptionWord": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TranscriptionWord"
        }
      },
      "ListOfValidationSetModel": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ValidationSetModel"
        }
      },
      "ListOfValidationSetOverviewModel": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ValidationSetOverviewModel"
        }
      },
      "LogicOperator": {
        "enum": [
          "And",
          "Or",
          "Not"
        ]
      },
      "MetadataInputCollection": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/IMetadataInput"
        }
      },
      "MetadataModelCollection": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/IMetadataModel"
        }
      },
      "MetadataVisibilities": {
        "type": "array",
        "items": {
          "enum": [
            "None",
            "Users",
            "Customers",
            "Admins",
            "Dashboard",
            "All"
          ],
          "type": "string"
        }
      },
      "NamedClassification": {
        "required": [
          "start",
          "end",
          "classification"
        ],
        "type": "object",
        "properties": {
          "start": {
            "type": "integer",
            "format": "int32"
          },
          "end": {
            "type": "integer",
            "format": "int32"
          },
          "classification": {
            "type": "string"
          }
        }
      },
      "OptionOfboolean": {
        "type": "boolean",
        "nullable": true
      },
      "OptionOfIReadOnlyListOfstring": {
        "oneOf": [
          {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "nullable": true
          }
        ]
      },
      "OptionOfstring": {
        "type": "string",
        "nullable": true
      },
      "PagedResultOfGetValidationRapidsResult": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "$ref": "#/components/schemas/ListOfGetValidationRapidsResult"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PagedResultOfValidationSetModel": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "$ref": "#/components/schemas/ListOfValidationSetModel"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PageInfo": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PromptType": {
        "type": "array",
        "items": {
          "enum": [
            "None",
            "Text",
            "Asset"
          ],
          "type": "string"
        }
      },
      "QueryModel": {
        "type": "object",
        "properties": {
          "page": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/PageInfo"
              }
            ]
          },
          "filter": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/RootFilter"
              }
            ]
          },
          "sortCriteria": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ListOfSortCriterion"
              }
            ]
          }
        }
      },
      "RapidModality": {
        "type": "array",
        "items": {
          "enum": [
            "None",
            "BoundingBox",
            "Classify",
            "Compare",
            "FreeText",
            "Line",
            "Locate",
            "NamedEntity",
            "Polygon",
            "Scrub",
            "Transcription"
          ],
          "type": "string"
        }
      },
      "RapidState": {
        "enum": [
          "Labeling",
          "Paused",
          "Incomplete",
          "Flagged",
          "Done",
          "None"
        ]
      },
      "RootFilter": {
        "type": "object",
        "properties": {
          "filters": {
            "$ref": "#/components/schemas/ListOfFilter"
          },
          "logic": {
            "$ref": "#/components/schemas/LogicOperator"
          }
        }
      },
      "ScrubRange": {
        "required": [
          "start",
          "end"
        ],
        "type": "object",
        "properties": {
          "start": {
            "type": "integer",
            "format": "int32"
          },
          "end": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SortCriterion": {
        "required": [
          "propertyName",
          "direction"
        ],
        "type": "object",
        "properties": {
          "propertyName": {
            "type": "string"
          },
          "direction": {
            "$ref": "#/components/schemas/SortDirection"
          }
        }
      },
      "SortDirection": {
        "enum": [
          "Asc",
          "Desc"
        ]
      },
      "Stream": {
        "type": "string",
        "format": "binary"
      },
      "StringSegment": {
        "type": "object",
        "properties": {
          "buffer": {
            "type": "string",
            "nullable": true
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          },
          "length": {
            "type": "integer",
            "format": "int32"
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "hasValue": {
            "type": "boolean"
          }
        }
      },
      "TranscriptionWord": {
        "required": [
          "word",
          "wordIndex"
        ],
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "wordIndex": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "UpdateDimensionsModel": {
        "required": [
          "dimensions"
        ],
        "type": "object",
        "properties": {
          "dimensions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateShouldAlertModel": {
        "required": [
          "shouldAlert"
        ],
        "type": "object",
        "properties": {
          "shouldAlert": {
            "type": "boolean"
          }
        }
      },
      "UpdateValidationSetModel": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/OptionOfstring"
          },
          "dimensions": {
            "$ref": "#/components/schemas/OptionOfIReadOnlyListOfstring"
          },
          "shouldAlert": {
            "$ref": "#/components/schemas/OptionOfboolean"
          },
          "isPublic": {
            "$ref": "#/components/schemas/OptionOfboolean"
          },
          "isFlagOverruled": {
            "$ref": "#/components/schemas/OptionOfboolean"
          }
        }
      },
      "ValidationSetModel": {
        "required": [
          "id",
          "name",
          "assetType",
          "modality",
          "promptType",
          "isPublic",
          "ownerId",
          "ownerMail",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "assetType": {
            "$ref": "#/components/schemas/AssetType"
          },
          "modality": {
            "$ref": "#/components/schemas/RapidModality"
          },
          "promptType": {
            "$ref": "#/components/schemas/PromptType"
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isPublic": {
            "type": "boolean"
          },
          "ownerId": {
            "type": "string",
            "format": "uuid"
          },
          "ownerMail": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ValidationSetOverviewModel": {
        "required": [
          "id",
          "name",
          "ownerId"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "ownerId": {
            "type": "string",
            "format": "uuid"
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "JWT Authorization header using the Bearer scheme",
        "scheme": "bearer",
        "bearerFormat": "Json Web Token"
      },
      "OpenIdConnect": {
        "type": "openIdConnect",
        "description": "OpenId Connect connection flow",
        "openIdConnectUrl": "https://auth.rabbitdata.ch/.well-known/openid-configuration"
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth2 authorization header using the Bearer scheme",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.rabbitdata.ch/connect/authorize",
            "tokenUrl": "https://auth.rabbitdata.ch/connect/token",
            "refreshUrl": "https://auth.rabbitdata.ch/connect/token",
            "scopes": {
              "openid": "OpenID",
              "profile": "Profile",
              "email": "Email"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "Bearer": [ ],
      "OpenIdConnect": [
        "openid",
        "profile",
        "email"
      ],
      "OAuth2": [
        "openid",
        "profile",
        "email"
      ]
    }
  ],
  "tags": [
    {
      "name": "ValidationSet"
    }
  ]
}