{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Workflow API",
    "description": "The API for the Rapidata Workflow service",
    "version": "2026.07.24.1303-b3d1ec7"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/workflow/evaluation/{workflowId}/results": {
      "get": {
        "tags": [
          "Evaluation"
        ],
        "summary": "Gets the results for an evaluation workflow.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "states",
            "in": "query",
            "description": "Optional list of rapid states to filter by. If not provided, all states are included.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RapidState"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkflowResultsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/workflow/grouped-ranking/{workflowId}/results": {
      "get": {
        "tags": [
          "GroupedRanking"
        ],
        "summary": "Gets the result overview for a grouped ranking workflow.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "state",
                  "-state",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGroupedRankingWorkflowResultsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/workflow/compare/{workflowId}/results": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "Gets the result overview for a ranking workflow.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id",
                  "score",
                  "-score"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRankingWorkflowResultsEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/workflow/simple/{workflowId}/results": {
      "get": {
        "tags": [
          "SimpleWorkflow"
        ],
        "summary": "Gets the result overview for a simple workflow.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "states",
            "in": "query",
            "description": "Optional list of rapid states to include in the results.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RapidState"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "-id",
                  "state",
                  "-state",
                  "decisiveness",
                  "-decisiveness"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSimpleWorkflowResultsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/workflow/{workflowId}": {
      "delete": {
        "tags": [
          "Workflow"
        ],
        "summary": "Deletes a workflow by its id.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Returns the workflow identified by workflowId.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "Identifier of the workflow to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkflowByIdEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/workflow/{workflowId}/compare-ab-summary": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Returns the number of times each asset index won across the workflow's rapids.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the summary for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useUserScore",
            "in": "query",
            "description": "Whether to use the user score to determine the winner.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompareAbSummaryEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/workflow/{workflowId}/progress": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Gets the progress of a workflow.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the progress for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkflowProgressEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/workflow/{workflowId}/responses": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Gets the most recent or oldest responses for a workflow, across any rapid.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the responses for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of responses to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Whether the oldest or most recent responses should be returned.",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkflowResponsesEndpoint_Output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/workflows": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Queries workflows based on the provided filter, page, and sort criteria.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The 1-based page index.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer"
            },
            "x-parameter-group": "page"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields. Prefix with - for descending order (e.g. -created_at).",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "-name",
                  "state",
                  "-state",
                  "created_at",
                  "-created_at"
                ],
                "type": "string"
              }
            },
            "x-parameter-group": "sort"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by id.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "owner_mail",
            "in": "query",
            "description": "Filter by owner_mail.",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string"
                },
                "neq": {
                  "type": "string"
                },
                "gt": {
                  "type": "string"
                },
                "gte": {
                  "type": "string"
                },
                "lt": {
                  "type": "string"
                },
                "lte": {
                  "type": "string"
                },
                "contains": {
                  "type": "string"
                },
                "starts_with": {
                  "type": "string"
                },
                "ends_with": {
                  "type": "string"
                },
                "in": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "not_contains": {
                  "type": "string"
                }
              }
            },
            "x-parameter-group": "filters"
          },
          {
            "name": "logic",
            "in": "query",
            "description": "How to combine the field filters: \"and\" (default) requires every filter to match, \"or\" requires any of them to match.",
            "schema": {
              "enum": [
                "and",
                "or"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryWorkflowsEndpoint_PagedResultOfOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AttachCategoryWorkflowRapidBlueprint_Category": {
        "required": [
          "label",
          "value"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "BoundingBoxResult_Box": {
        "type": "object",
        "properties": {
          "xMin": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "yMin": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "xMax": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "yMax": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "ClassifyPayload_Category": {
        "required": [
          "label"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "FileType": {
        "enum": [
          "Unknown",
          "Image",
          "Video",
          "Audio"
        ]
      },
      "GetCompareAbSummaryEndpoint_Output": {
        "required": [
          "winCounter",
          "allTargetGroupsCompleted"
        ],
        "type": "object",
        "properties": {
          "winCounter": {
            "allOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "number",
                  "format": "double"
                }
              }
            ],
            "description": "The number of times each asset index was the winner."
          },
          "allTargetGroupsCompleted": {
            "type": "boolean",
            "description": "Whether all target groups for this workflow are completed."
          }
        }
      },
      "GetGroupedRankingWorkflowResultsEndpoint_Output": {
        "required": [
          "id",
          "name",
          "state",
          "pairMakerInformation"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the sub-workflow."
          },
          "name": {
            "type": "string",
            "description": "The name of the sub-workflow."
          },
          "state": {
            "type": "string",
            "description": "The state of the sub-workflow."
          },
          "pairMakerInformation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IPairMakerInformation"
              }
            ],
            "description": "Information about the pair-maker used by the sub-workflow."
          }
        }
      },
      "GetGroupedRankingWorkflowResultsEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetGroupedRankingWorkflowResultsEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetRankingWorkflowResultsEndpoint_Datapoint": {
        "required": [
          "workflowDatapointId",
          "asset",
          "elo"
        ],
        "type": "object",
        "properties": {
          "workflowDatapointId": {
            "type": "string"
          },
          "asset": {
            "$ref": "#/components/schemas/IAsset"
          },
          "elo": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetRankingWorkflowResultsEndpoint_Output": {
        "required": [
          "total",
          "page",
          "pageSize",
          "totalVotes",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "The total number of items in the result.",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "description": "The current page.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of the page.",
            "format": "int32"
          },
          "totalVotes": {
            "type": "integer",
            "description": "The total number of votes across all datapoints.",
            "format": "int64"
          },
          "items": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetRankingWorkflowResultsEndpoint_Datapoint"
                }
              }
            ],
            "description": "The datapoints on the current page."
          }
        }
      },
      "GetSimpleWorkflowResultsEndpoint_Output": {
        "required": [
          "rapidId",
          "payload",
          "asset",
          "responses",
          "totalResponseCount",
          "state"
        ],
        "type": "object",
        "properties": {
          "rapidId": {
            "type": "string",
            "description": "The id of the rapid."
          },
          "payload": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IRapidPayload"
              }
            ],
            "description": "The payload of the rapid."
          },
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "description": "The asset of the rapid."
          },
          "responses": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetSimpleWorkflowResultsEndpoint_ResponseOutput"
                }
              }
            ],
            "description": "The (possibly capped) list of responses for the rapid."
          },
          "totalResponseCount": {
            "type": "integer",
            "description": "The true number of matching responses for this rapid, regardless of whether the\n returned Responses list was capped.",
            "format": "int64"
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RapidState"
              }
            ],
            "description": "The state of the rapid."
          },
          "context": {
            "type": "string",
            "description": "The optional textual context of the rapid.",
            "nullable": true
          },
          "contextAsset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "description": "The optional asset shown as context to the user."
          },
          "decisiveness": {
            "type": "number",
            "description": "The decisiveness of the rapid.",
            "format": "double",
            "nullable": true
          },
          "aggregation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IResponseAggregation"
              }
            ],
            "description": "Per-payload-type aggregation over all matching responses (computed before sampling).\n Populated for Compare and Classify rapids; null otherwise."
          }
        }
      },
      "GetSimpleWorkflowResultsEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetSimpleWorkflowResultsEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetSimpleWorkflowResultsEndpoint_ResponseOutput": {
        "required": [
          "id",
          "userId",
          "country",
          "language",
          "result",
          "userScore",
          "userScores",
          "demographicInformation"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/IRapidResult"
          },
          "userScore": {
            "type": "number",
            "format": "double"
          },
          "userScores": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            }
          },
          "demographicInformation": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "GetWorkflowByIdEndpoint_Output": {
        "required": [
          "workflow"
        ],
        "type": "object",
        "properties": {
          "workflow": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IWorkflow"
              }
            ],
            "description": "The workflow."
          }
        }
      },
      "GetWorkflowProgressEndpoint_Output": {
        "required": [
          "completionPercentage",
          "total",
          "completed",
          "state"
        ],
        "type": "object",
        "properties": {
          "completionPercentage": {
            "type": "number",
            "description": "The percentage of workflow datapoints that have been completed.",
            "format": "double"
          },
          "total": {
            "type": "integer",
            "description": "The total number of datapoints in the workflow.",
            "format": "int64"
          },
          "completed": {
            "type": "integer",
            "description": "The number of datapoints that have been completed.",
            "format": "int64"
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WorkflowState"
              }
            ],
            "description": "The current state of the workflow."
          }
        }
      },
      "GetWorkflowResponsesEndpoint_Output": {
        "required": [
          "responses"
        ],
        "type": "object",
        "properties": {
          "responses": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetWorkflowResponsesEndpoint_Response"
                }
              }
            ],
            "description": "The responses for the workflow."
          }
        }
      },
      "GetWorkflowResponsesEndpoint_Response": {
        "required": [
          "id",
          "userId",
          "country",
          "language",
          "result",
          "userScore",
          "userScores",
          "demographicInformation"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/IRapidResult"
          },
          "userScore": {
            "type": "number",
            "format": "double"
          },
          "userScores": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            }
          },
          "demographicInformation": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "GetWorkflowResultsEndpoint_Output": {
        "required": [
          "rapidId",
          "payload",
          "asset",
          "responses",
          "totalResponseCount",
          "state"
        ],
        "type": "object",
        "properties": {
          "rapidId": {
            "type": "string",
            "description": "The id of the rapid."
          },
          "payload": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IRapidPayload"
              }
            ],
            "description": "The payload of the rapid."
          },
          "asset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "description": "The asset of the rapid."
          },
          "responses": {
            "allOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetWorkflowResultsEndpoint_ResponseOutput"
                }
              }
            ],
            "description": "The (possibly capped) list of responses for the rapid."
          },
          "totalResponseCount": {
            "type": "integer",
            "description": "The true number of matching responses for this rapid, regardless of whether the\n returned Responses list was capped.",
            "format": "int64"
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RapidState"
              }
            ],
            "description": "The state of the rapid."
          },
          "context": {
            "type": "string",
            "description": "The optional textual context of the rapid.",
            "nullable": true
          },
          "contextAsset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "description": "The optional asset shown as context to the user."
          },
          "decisiveness": {
            "type": "number",
            "description": "The decisiveness of the rapid.",
            "format": "double",
            "nullable": true
          },
          "aggregation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IResponseAggregation"
              }
            ],
            "description": "Per-payload-type aggregation over all matching responses (computed before sampling).\n Populated for Compare and Classify rapids; null otherwise."
          }
        }
      },
      "GetWorkflowResultsEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetWorkflowResultsEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetWorkflowResultsEndpoint_ResponseOutput": {
        "required": [
          "id",
          "userId",
          "country",
          "language",
          "result",
          "userScore",
          "userScores",
          "demographicInformation"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/IRapidResult"
          },
          "userScore": {
            "type": "number",
            "format": "double"
          },
          "userScores": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            }
          },
          "demographicInformation": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "IAsset": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IAssetFileAsset"
          },
          {
            "$ref": "#/components/schemas/IAssetMultiAsset"
          },
          {
            "$ref": "#/components/schemas/IAssetNullAsset"
          },
          {
            "$ref": "#/components/schemas/IAssetTextAsset"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "FileAsset": "#/components/schemas/IAssetFileAsset",
            "MultiAsset": "#/components/schemas/IAssetMultiAsset",
            "NullAsset": "#/components/schemas/IAssetNullAsset",
            "TextAsset": "#/components/schemas/IAssetTextAsset"
          }
        }
      },
      "IAssetFileAsset": {
        "required": [
          "fileName",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileAsset"
            ],
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetMultiAsset": {
        "required": [
          "assets",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "MultiAsset"
            ],
            "type": "string"
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAsset"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetNullAsset": {
        "required": [
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NullAsset"
            ],
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetTextAsset": {
        "required": [
          "text",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextAsset"
            ],
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IMetadata": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IMetadataClassificationMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataCountMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataFileTypeMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataImageDimensionMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataLocationMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataOriginalFilenameMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataSourceUrlMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataStreamsMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataTextMetadata"
          },
          {
            "$ref": "#/components/schemas/IMetadataVideoDurationMetadata"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ClassificationMetadata": "#/components/schemas/IMetadataClassificationMetadata",
            "CountMetadata": "#/components/schemas/IMetadataCountMetadata",
            "FileTypeMetadata": "#/components/schemas/IMetadataFileTypeMetadata",
            "ImageDimensionMetadata": "#/components/schemas/IMetadataImageDimensionMetadata",
            "LocationMetadata": "#/components/schemas/IMetadataLocationMetadata",
            "OriginalFilenameMetadata": "#/components/schemas/IMetadataOriginalFilenameMetadata",
            "SourceUrlMetadataModel": "#/components/schemas/IMetadataSourceUrlMetadata",
            "StreamsMetadata": "#/components/schemas/IMetadataStreamsMetadata",
            "TextMetadata": "#/components/schemas/IMetadataTextMetadata",
            "VideoDurationMetadata": "#/components/schemas/IMetadataVideoDurationMetadata"
          }
        }
      },
      "IMetadataClassificationMetadata": {
        "required": [
          "classification",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassificationMetadata"
            ],
            "type": "string"
          },
          "classification": {
            "type": "string"
          }
        }
      },
      "IMetadataCountMetadata": {
        "required": [
          "count",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CountMetadata"
            ],
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IMetadataFileTypeMetadata": {
        "required": [
          "fileType",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileTypeMetadata"
            ],
            "type": "string"
          },
          "fileType": {
            "$ref": "#/components/schemas/FileType"
          }
        }
      },
      "IMetadataImageDimensionMetadata": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ImageDimensionMetadata"
            ],
            "type": "string"
          },
          "height": {
            "type": "integer",
            "format": "int32"
          },
          "width": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IMetadataLocationMetadata": {
        "required": [
          "x",
          "y",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocationMetadata"
            ],
            "type": "string"
          },
          "x": {
            "type": "number",
            "format": "float"
          },
          "y": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "IMetadataOriginalFilenameMetadata": {
        "required": [
          "originalFilename",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OriginalFilenameMetadata"
            ],
            "type": "string"
          },
          "originalFilename": {
            "type": "string"
          }
        }
      },
      "IMetadataSourceUrlMetadata": {
        "required": [
          "url",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SourceUrlMetadataModel"
            ],
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "IMetadataStreamsMetadata": {
        "required": [
          "hasVideo",
          "hasAudio",
          "hasSubtitles",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "StreamsMetadata"
            ],
            "type": "string"
          },
          "hasVideo": {
            "type": "boolean"
          },
          "hasAudio": {
            "type": "boolean"
          },
          "hasSubtitles": {
            "type": "boolean"
          }
        }
      },
      "IMetadataTextMetadata": {
        "required": [
          "text",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextMetadata"
            ],
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IMetadataVideoDurationMetadata": {
        "required": [
          "duration",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "VideoDurationMetadata"
            ],
            "type": "string"
          },
          "duration": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IPairMakerInformation": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IPairMakerInformationFullPermutationPairMakerInformation"
          },
          {
            "$ref": "#/components/schemas/IPairMakerInformationOnlinePairMakerInformation"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "FullPermutationPairMakerInformation": "#/components/schemas/IPairMakerInformationFullPermutationPairMakerInformation",
            "OnlinePairMakerInformation": "#/components/schemas/IPairMakerInformationOnlinePairMakerInformation"
          }
        }
      },
      "IPairMakerInformationFullPermutationPairMakerInformation": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FullPermutationPairMakerInformation"
            ],
            "type": "string"
          }
        }
      },
      "IPairMakerInformationOnlinePairMakerInformation": {
        "required": [
          "randomMatchesRatio",
          "totalComparisonBudget",
          "currentComparisonBudget",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OnlinePairMakerInformation"
            ],
            "type": "string"
          },
          "randomMatchesRatio": {
            "type": "number",
            "format": "float"
          },
          "totalComparisonBudget": {
            "type": "integer",
            "format": "int32"
          },
          "currentComparisonBudget": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IRankingConfig": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRankingConfigBradleyTerryRankingConfig"
          },
          {
            "$ref": "#/components/schemas/IRankingConfigEloConfig"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "BradleyTerryRankingConfig": "#/components/schemas/IRankingConfigBradleyTerryRankingConfig",
            "EloConfig": "#/components/schemas/IRankingConfigEloConfig"
          }
        }
      },
      "IRankingConfigBradleyTerryRankingConfig": {
        "required": [
          "startingScore",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BradleyTerryRankingConfig"
            ],
            "type": "string"
          },
          "startingScore": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IRankingConfigEloConfig": {
        "required": [
          "startingScore",
          "kFactor",
          "scalingFactor",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "EloConfig"
            ],
            "type": "string"
          },
          "startingScore": {
            "type": "integer",
            "format": "int32"
          },
          "kFactor": {
            "type": "integer",
            "format": "int32"
          },
          "scalingFactor": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IRapidPayload": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRapidPayloadBoundingBoxPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadClassifyPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadComparePayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadFreeTextPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadLinePayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadLocatePayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadNamedEntityPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadPolygonPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadScrubPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadTranscriptionPayload"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "BoundingBoxPayload": "#/components/schemas/IRapidPayloadBoundingBoxPayload",
            "ClassifyPayload": "#/components/schemas/IRapidPayloadClassifyPayload",
            "ComparePayload": "#/components/schemas/IRapidPayloadComparePayload",
            "FreeTextPayload": "#/components/schemas/IRapidPayloadFreeTextPayload",
            "LinePayload": "#/components/schemas/IRapidPayloadLinePayload",
            "LocatePayload": "#/components/schemas/IRapidPayloadLocatePayload",
            "NamedEntityPayload": "#/components/schemas/IRapidPayloadNamedEntityPayload",
            "PolygonPayload": "#/components/schemas/IRapidPayloadPolygonPayload",
            "ScrubPayload": "#/components/schemas/IRapidPayloadScrubPayload",
            "TranscriptionPayload": "#/components/schemas/IRapidPayloadTranscriptionPayload"
          }
        }
      },
      "IRapidPayloadBoundingBoxPayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BoundingBoxPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadClassifyPayload": {
        "required": [
          "categories",
          "title",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassifyPayload"
            ],
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClassifyPayload_Category"
            }
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadComparePayload": {
        "required": [
          "criteria",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ComparePayload"
            ],
            "type": "string"
          },
          "criteria": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadFreeTextPayload": {
        "required": [
          "question",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FreeTextPayload"
            ],
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "shouldValidateResponse": {
            "type": "boolean"
          },
          "validationSystemPrompt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IRapidPayloadLinePayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LinePayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadLocatePayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocatePayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadNamedEntityPayload": {
        "required": [
          "target",
          "classes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NamedEntityPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "classes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IRapidPayloadPolygonPayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PolygonPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadScrubPayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ScrubPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadTranscriptionPayload": {
        "required": [
          "title",
          "transcription",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TranscriptionPayload"
            ],
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "transcription": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranscriptionPayload_TranscriptionWord"
            }
          }
        }
      },
      "IRapidResult": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRapidResultAttachCategoryResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultBoundingBoxResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultCompareResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultFreeTextResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultLineResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultLocateResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultNamedEntityResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultPolygonResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultScrubResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultSkipResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultTranscriptionResult"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "AttachCategoryResult": "#/components/schemas/IRapidResultAttachCategoryResult",
            "BoundingBoxResult": "#/components/schemas/IRapidResultBoundingBoxResult",
            "CompareResult": "#/components/schemas/IRapidResultCompareResult",
            "FreeTextResult": "#/components/schemas/IRapidResultFreeTextResult",
            "LineResult": "#/components/schemas/IRapidResultLineResult",
            "LocateResult": "#/components/schemas/IRapidResultLocateResult",
            "NamedEntityResult": "#/components/schemas/IRapidResultNamedEntityResult",
            "PolygonResult": "#/components/schemas/IRapidResultPolygonResult",
            "ScrubResult": "#/components/schemas/IRapidResultScrubResult",
            "SkipResult": "#/components/schemas/IRapidResultSkipResult",
            "TranscriptionResult": "#/components/schemas/IRapidResultTranscriptionResult"
          }
        }
      },
      "IRapidResultAttachCategoryResult": {
        "required": [
          "rapidId",
          "category",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AttachCategoryResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "IRapidResultBoundingBoxResult": {
        "required": [
          "rapidId",
          "boundingBoxes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BoundingBoxResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "boundingBoxes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoundingBoxResult_Box"
            }
          }
        }
      },
      "IRapidResultCompareResult": {
        "required": [
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "winners": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IRapidResultFreeTextResult": {
        "required": [
          "rapidId",
          "answer",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FreeTextResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "answer": {
            "type": "string"
          }
        }
      },
      "IRapidResultLineResult": {
        "required": [
          "rapidId",
          "lines",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LineResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineResult_Line"
            }
          }
        }
      },
      "IRapidResultLocateResult": {
        "required": [
          "rapidId",
          "coordinates",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocateResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "coordinates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocateCoordinate"
            }
          }
        }
      },
      "IRapidResultNamedEntityResult": {
        "required": [
          "rapidId",
          "classifications",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NamedEntityResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "classifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedEntityResult_NamedClassification"
            }
          }
        }
      },
      "IRapidResultPolygonResult": {
        "required": [
          "rapidId",
          "shapes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PolygonResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "shapes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PolygonResult_Shape"
            }
          }
        }
      },
      "IRapidResultScrubResult": {
        "required": [
          "rapidId",
          "timestamps",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ScrubResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "timestamps": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "IRapidResultSkipResult": {
        "required": [
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SkipResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          }
        }
      },
      "IRapidResultTranscriptionResult": {
        "required": [
          "rapidId",
          "selectedWords",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TranscriptionResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          },
          "selectedWords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranscriptionResult_TranscriptionWord"
            }
          }
        }
      },
      "IRefereeConfig": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRefereeConfigBudgetRefereeConfig"
          },
          {
            "$ref": "#/components/schemas/IRefereeConfigNaiveRefereeConfig"
          },
          {
            "$ref": "#/components/schemas/IRefereeConfigNeverEndingRefereeConfig"
          },
          {
            "$ref": "#/components/schemas/IRefereeConfigProbabilisticAttachCategoryRefereeConfig"
          },
          {
            "$ref": "#/components/schemas/IRefereeConfigQuorumRefereeConfig"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "BudgetRefereeConfig": "#/components/schemas/IRefereeConfigBudgetRefereeConfig",
            "NaiveRefereeConfig": "#/components/schemas/IRefereeConfigNaiveRefereeConfig",
            "NeverEndingRefereeConfig": "#/components/schemas/IRefereeConfigNeverEndingRefereeConfig",
            "ProbabilisticAttachCategoryRefereeConfig": "#/components/schemas/IRefereeConfigProbabilisticAttachCategoryRefereeConfig",
            "QuorumRefereeConfig": "#/components/schemas/IRefereeConfigQuorumRefereeConfig"
          }
        }
      },
      "IRefereeConfigBudgetRefereeConfig": {
        "required": [
          "totalBudget",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BudgetRefereeConfig"
            ],
            "type": "string"
          },
          "totalBudget": {
            "type": "integer",
            "format": "int32"
          },
          "totalServeBudget": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "IRefereeConfigNaiveRefereeConfig": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NaiveRefereeConfig"
            ],
            "type": "string"
          },
          "responsesRequired": {
            "type": "integer",
            "format": "int32"
          },
          "guessesRequired": {
            "type": "integer",
            "format": "int32",
            "deprecated": true
          }
        }
      },
      "IRefereeConfigNeverEndingRefereeConfig": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NeverEndingRefereeConfig"
            ],
            "type": "string"
          }
        }
      },
      "IRefereeConfigProbabilisticAttachCategoryRefereeConfig": {
        "required": [
          "threshold",
          "maxVotes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ProbabilisticAttachCategoryRefereeConfig"
            ],
            "type": "string"
          },
          "threshold": {
            "type": "number",
            "format": "double"
          },
          "maxVotes": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IRefereeConfigQuorumRefereeConfig": {
        "required": [
          "maxVotes",
          "threshold",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "QuorumRefereeConfig"
            ],
            "type": "string"
          },
          "maxVotes": {
            "type": "integer",
            "format": "int32"
          },
          "threshold": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IResponseAggregation": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IResponseAggregationClassifyAggregation"
          },
          {
            "$ref": "#/components/schemas/IResponseAggregationCompareAggregation"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ClassifyAggregation": "#/components/schemas/IResponseAggregationClassifyAggregation",
            "CompareAggregation": "#/components/schemas/IResponseAggregationCompareAggregation"
          }
        }
      },
      "IResponseAggregationClassifyAggregation": {
        "required": [
          "categoryTallies",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassifyAggregation"
            ],
            "type": "string"
          },
          "categoryTallies": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ResponseTally"
            }
          }
        }
      },
      "IResponseAggregationCompareAggregation": {
        "required": [
          "winnerTallies",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareAggregation"
            ],
            "type": "string"
          },
          "winnerTallies": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ResponseTally"
            }
          }
        }
      },
      "IWorkflow": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IWorkflowEvaluationWorkflow"
          },
          {
            "$ref": "#/components/schemas/IWorkflowGroupedRankingWorkflow"
          },
          {
            "$ref": "#/components/schemas/IWorkflowRankingWorkflow"
          },
          {
            "$ref": "#/components/schemas/IWorkflowSimpleWorkflow"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "EvaluationWorkflow": "#/components/schemas/IWorkflowEvaluationWorkflow",
            "GroupedRankingWorkflowModel": "#/components/schemas/IWorkflowGroupedRankingWorkflow",
            "RankingWorkflowModel": "#/components/schemas/IWorkflowRankingWorkflow",
            "SimpleWorkflowModel": "#/components/schemas/IWorkflowSimpleWorkflow"
          }
        }
      },
      "IWorkflowEvaluationWorkflow": {
        "required": [
          "id",
          "validationSetId",
          "state",
          "referee",
          "name",
          "ownerMail",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "EvaluationWorkflow"
            ],
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "validationSetId": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/WorkflowState"
          },
          "referee": {
            "$ref": "#/components/schemas/IRefereeConfig"
          },
          "name": {
            "type": "string"
          },
          "ownerMail": {
            "type": "string",
            "nullable": true
          },
          "organizationId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IWorkflowGroupedRankingWorkflow": {
        "required": [
          "id",
          "referee",
          "state",
          "criteria",
          "name",
          "ownerMail",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "GroupedRankingWorkflowModel"
            ],
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "referee": {
            "$ref": "#/components/schemas/IRefereeConfig"
          },
          "state": {
            "$ref": "#/components/schemas/WorkflowState"
          },
          "criteria": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "ownerMail": {
            "type": "string",
            "nullable": true
          },
          "organizationId": {
            "type": "string",
            "nullable": true
          },
          "rankingConfig": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IRankingConfig"
              }
            ],
            "nullable": true
          }
        }
      },
      "IWorkflowRankingWorkflow": {
        "required": [
          "id",
          "referee",
          "pairMakerInformation",
          "state",
          "criteria",
          "name",
          "context",
          "contextAsset",
          "ownerMail",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "RankingWorkflowModel"
            ],
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "referee": {
            "$ref": "#/components/schemas/IRefereeConfig"
          },
          "pairMakerInformation": {
            "$ref": "#/components/schemas/IPairMakerInformation"
          },
          "state": {
            "$ref": "#/components/schemas/WorkflowState"
          },
          "criteria": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "rankingConfig": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IRankingConfig"
              }
            ],
            "nullable": true
          },
          "context": {
            "type": "string",
            "nullable": true
          },
          "contextAsset": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/IAsset"
              }
            ],
            "nullable": true
          },
          "ownerMail": {
            "type": "string",
            "nullable": true
          },
          "organizationId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IWorkflowRapidBlueprint": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IWorkflowRapidBlueprintAttachCategoryWorkflowRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IWorkflowRapidBlueprintBoundingBoxWorkflowRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IWorkflowRapidBlueprintCompareWorkflowRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IWorkflowRapidBlueprintFreeTextWorkflowRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IWorkflowRapidBlueprintLineWorkflowRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IWorkflowRapidBlueprintLocateWorkflowRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IWorkflowRapidBlueprintNamedEntityWorkflowRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IWorkflowRapidBlueprintPolygonWorkflowRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IWorkflowRapidBlueprintScrubWorkflowRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IWorkflowRapidBlueprintTranscriptionWorkflowRapidBlueprint"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ClassifyBlueprint": "#/components/schemas/IWorkflowRapidBlueprintAttachCategoryWorkflowRapidBlueprint",
            "BoundingBoxBlueprint": "#/components/schemas/IWorkflowRapidBlueprintBoundingBoxWorkflowRapidBlueprint",
            "CompareBlueprint": "#/components/schemas/IWorkflowRapidBlueprintCompareWorkflowRapidBlueprint",
            "FreeTextBlueprint": "#/components/schemas/IWorkflowRapidBlueprintFreeTextWorkflowRapidBlueprint",
            "LineBlueprint": "#/components/schemas/IWorkflowRapidBlueprintLineWorkflowRapidBlueprint",
            "LocateBlueprint": "#/components/schemas/IWorkflowRapidBlueprintLocateWorkflowRapidBlueprint",
            "NamedEntityBlueprint": "#/components/schemas/IWorkflowRapidBlueprintNamedEntityWorkflowRapidBlueprint",
            "PolygonBlueprint": "#/components/schemas/IWorkflowRapidBlueprintPolygonWorkflowRapidBlueprint",
            "ScrubBlueprint": "#/components/schemas/IWorkflowRapidBlueprintScrubWorkflowRapidBlueprint",
            "TranscriptionBlueprint": "#/components/schemas/IWorkflowRapidBlueprintTranscriptionWorkflowRapidBlueprint"
          }
        }
      },
      "IWorkflowRapidBlueprintAttachCategoryWorkflowRapidBlueprint": {
        "required": [
          "categories",
          "title",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassifyBlueprint"
            ],
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttachCategoryWorkflowRapidBlueprint_Category"
            }
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IWorkflowRapidBlueprintBoundingBoxWorkflowRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BoundingBoxBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IWorkflowRapidBlueprintCompareWorkflowRapidBlueprint": {
        "required": [
          "criteria",
          "indexIdentifiers",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareBlueprint"
            ],
            "type": "string"
          },
          "criteria": {
            "type": "string"
          },
          "indexIdentifiers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IWorkflowRapidBlueprintFreeTextWorkflowRapidBlueprint": {
        "required": [
          "question",
          "shouldValidateResponse",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FreeTextBlueprint"
            ],
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "shouldValidateResponse": {
            "type": "boolean"
          },
          "validationSystemPrompt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IWorkflowRapidBlueprintLineWorkflowRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LineBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IWorkflowRapidBlueprintLocateWorkflowRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocateBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IWorkflowRapidBlueprintNamedEntityWorkflowRapidBlueprint": {
        "required": [
          "target",
          "classes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NamedEntityBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "classes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IWorkflowRapidBlueprintPolygonWorkflowRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PolygonBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IWorkflowRapidBlueprintScrubWorkflowRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ScrubBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IWorkflowRapidBlueprintTranscriptionWorkflowRapidBlueprint": {
        "required": [
          "title",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TranscriptionBlueprint"
            ],
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IWorkflowSimpleWorkflow": {
        "required": [
          "id",
          "state",
          "blueprint",
          "referee",
          "name",
          "ownerMail",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SimpleWorkflowModel"
            ],
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/WorkflowState"
          },
          "blueprint": {
            "$ref": "#/components/schemas/IWorkflowRapidBlueprint"
          },
          "referee": {
            "$ref": "#/components/schemas/IRefereeConfig"
          },
          "name": {
            "type": "string"
          },
          "ownerMail": {
            "type": "string",
            "nullable": true
          },
          "organizationId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "LineResult_Line": {
        "required": [
          "size",
          "points"
        ],
        "type": "object",
        "properties": {
          "size": {
            "type": "number",
            "format": "double"
          },
          "points": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineResult_LinePoint"
            }
          }
        }
      },
      "LineResult_LinePoint": {
        "required": [
          "x",
          "y"
        ],
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "format": "double"
          },
          "y": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "LocateCoordinate": {
        "required": [
          "x",
          "y"
        ],
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "format": "double"
          },
          "y": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "MetadataModelCollection": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/IMetadata"
        }
      },
      "NamedEntityResult_NamedClassification": {
        "required": [
          "start",
          "end",
          "classification"
        ],
        "type": "object",
        "properties": {
          "start": {
            "type": "integer",
            "format": "int32"
          },
          "end": {
            "type": "integer",
            "format": "int32"
          },
          "classification": {
            "type": "string"
          }
        }
      },
      "PolygonResult_Coordinate": {
        "required": [
          "x",
          "y"
        ],
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "y": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "PolygonResult_Shape": {
        "required": [
          "edges"
        ],
        "type": "object",
        "properties": {
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PolygonResult_Coordinate"
            }
          }
        }
      },
      "QueryWorkflowsEndpoint_Output": {
        "required": [
          "workflow"
        ],
        "type": "object",
        "properties": {
          "workflow": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IWorkflow"
              }
            ],
            "description": "The workflow."
          }
        }
      },
      "QueryWorkflowsEndpoint_PagedResultOfOutput": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryWorkflowsEndpoint_Output"
            }
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "RapidState": {
        "enum": [
          "Labeling",
          "Paused",
          "Incomplete",
          "Flagged",
          "Done",
          "None",
          "Rejected"
        ]
      },
      "ResponseTally": {
        "required": [
          "count",
          "userScoreSum"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int64"
          },
          "userScoreSum": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "SortDirection": {
        "enum": [
          "Asc",
          "Desc"
        ]
      },
      "TranscriptionPayload_TranscriptionWord": {
        "required": [
          "word",
          "wordIndex"
        ],
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "wordIndex": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "TranscriptionResult_TranscriptionWord": {
        "required": [
          "word",
          "wordIndex"
        ],
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "wordIndex": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "WorkflowState": {
        "enum": [
          "Created",
          "Started",
          "Labeling",
          "Paused",
          "Done",
          "Failed"
        ]
      }
    },
    "securitySchemes": {
      "OpenIdConnect": {
        "type": "openIdConnect",
        "description": "OpenID Connect connection flow",
        "openIdConnectUrl": "https://auth.rabbitdata.ch/.well-known/openid-configuration"
      }
    }
  },
  "security": [
    {
      "OpenIdConnect": [
        "openid",
        "profile",
        "email",
        "offline_access"
      ]
    }
  ]
}