{
  "openapi": "3.0.4",
  "info": {
    "title": "Rapidata Workflow API",
    "description": "The API for the Rapidata Workflow service",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rabbitdata.ch/"
    }
  ],
  "paths": {
    "/workflow/compare/{workflowId}/results": {
      "get": {
        "tags": [
          "CompareWorkflow"
        ],
        "summary": "Get the result overview for a compare workflow.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "The model for the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompareWorkflowResultsModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetCompareWorkflowResultsResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetCompareWorkflowResultsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetCompareWorkflowResultsResult"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/evaluation/{workflowId}/results": {
      "get": {
        "tags": [
          "EvaluationWorkflow"
        ],
        "summary": "Get the results for an evaluation workflow.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "The body of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEvaluationWorkflowResultsModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetWorkflowResultsResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetWorkflowResultsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetWorkflowResultsResult"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/grouped-ranking/{workflowId}/results": {
      "get": {
        "tags": [
          "GroupedRankingWorkflow"
        ],
        "summary": "Get the result overview for a multi compare workflow.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "The model for the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGroupedRankingWorkflowResultsModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetGroupedRankingWorkflowResultsResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetGroupedRankingWorkflowResultsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetGroupedRankingWorkflowResultsResult"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/simple/{workflowId}/results": {
      "get": {
        "tags": [
          "SimpleWorkflow"
        ],
        "summary": "Get the result overview for a simple workflow.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the results for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "The model for the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSimpleWorkflowResultsModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetWorkflowResultsResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetWorkflowResultsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfGetWorkflowResultsResult"
                }
              }
            }
          }
        }
      }
    },
    "/workflows": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Queries workflows based on the provided filter, page, and sort criteria.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "The model containing the filter, page, and sort criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryModel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfIWorkflowModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfIWorkflowModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfIWorkflowModel"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/{workflowId}": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Get a workflow by its ID.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkflowByIdResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkflowByIdResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkflowByIdResult"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/{workflowId}/progress": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Get the progress of a workflow.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the progress for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkflowProgressResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkflowProgressResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkflowProgressResult"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/{workflowId}/compare-ab-summary": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Calculates a summary of the results for a simple compare workflow.\n The summary includes the number of times an asset at each index was the winner.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the summary for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useUserScore",
            "in": "query",
            "description": "Whether to use the user score to determine the winner.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompareAbSummaryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompareAbSummaryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompareAbSummaryResult"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/{workflowId}/responses": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Gets the limit most recent or oldest responses for a workflow.\n The responses are not guaranteed to be of any specific rapid.\n Instead, this endpoint returns all responses to any rapid in the workflow.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "The ID of the workflow to get the responses for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of responses to get.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Whether the oldest or most recent responses should be returned.",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetResponsesResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetResponsesResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetResponsesResult"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/delete": {
      "delete": {
        "tags": [
          "Workflow"
        ],
        "summary": "Deletes a workflow.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the workflow to delete.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AttachCategoryRapidBlueprint_Category": {
        "required": [
          "label",
          "value"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "BoxShape": {
        "type": "object",
        "properties": {
          "xMin": {
            "type": "number",
            "format": "double"
          },
          "yMin": {
            "type": "number",
            "format": "double"
          },
          "xMax": {
            "type": "number",
            "format": "double"
          },
          "yMax": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ClassifyPayload_Category": {
        "required": [
          "label",
          "value"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "EloConfig": {
        "type": "object",
        "properties": {
          "startingElo": {
            "type": "integer",
            "format": "int32"
          },
          "kFactor": {
            "type": "integer",
            "format": "int32"
          },
          "scalingFactor": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "FileType": {
        "enum": [
          "Unknown",
          "Image",
          "Video",
          "Audio"
        ]
      },
      "Filter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "nullable": true
          },
          "value": { },
          "operator": {
            "$ref": "#/components/schemas/FilterOperator"
          },
          "logic": {
            "$ref": "#/components/schemas/LogicOperator"
          },
          "filters": {
            "$ref": "#/components/schemas/ListOfFilter"
          }
        }
      },
      "FilterOperator": {
        "enum": [
          "Eq",
          "Neq",
          "Gt",
          "Gte",
          "Lt",
          "Lte",
          "Contains",
          "StartsWith",
          "EndsWith",
          "In"
        ]
      },
      "GetCompareAbSummaryResult": {
        "required": [
          "winCounter"
        ],
        "type": "object",
        "properties": {
          "winCounter": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            }
          }
        }
      },
      "GetCompareWorkflowResultsModel": {
        "type": "object",
        "properties": {
          "page": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/PageInfo"
              }
            ]
          },
          "sortCriteria": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ListOfSortCriterion"
              }
            ]
          }
        }
      },
      "GetCompareWorkflowResultsResult": {
        "required": [
          "workflowDatapointId",
          "asset",
          "elo"
        ],
        "type": "object",
        "properties": {
          "workflowDatapointId": {
            "type": "string"
          },
          "asset": {
            "$ref": "#/components/schemas/IAssetModel"
          },
          "elo": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetEvaluationWorkflowResultsModel": {
        "type": "object",
        "properties": {
          "page": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/PageInfo"
              }
            ]
          },
          "states": {
            "type": "array",
            "items": {
              "enum": [
                "Labeling",
                "Paused",
                "Incomplete",
                "Flagged",
                "Done",
                "None"
              ]
            }
          },
          "sortCriteria": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ListOfSortCriterion"
              }
            ]
          }
        }
      },
      "GetGroupedRankingWorkflowResultsModel": {
        "type": "object",
        "properties": {
          "page": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/PageInfo"
              }
            ]
          },
          "sortCriteria": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ListOfSortCriterion"
              }
            ]
          }
        }
      },
      "GetGroupedRankingWorkflowResultsResult": {
        "required": [
          "id",
          "name",
          "state",
          "pairMakerInformation"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "pairMakerInformation": {
            "$ref": "#/components/schemas/IPairMakerInformation"
          }
        }
      },
      "GetResponsesResult": {
        "required": [
          "responses"
        ],
        "type": "object",
        "properties": {
          "responses": {
            "$ref": "#/components/schemas/ListOfGetResponsesResult_Response"
          }
        }
      },
      "GetResponsesResult_Response": {
        "required": [
          "id",
          "userId",
          "country",
          "result",
          "userScore",
          "userScores",
          "demographicInformation"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/IRapidResult"
          },
          "userScore": {
            "type": "number",
            "format": "double"
          },
          "userScores": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            }
          },
          "demographicInformation": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "GetSimpleWorkflowResultsModel": {
        "type": "object",
        "properties": {
          "page": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/PageInfo"
              }
            ]
          },
          "states": {
            "type": "array",
            "items": {
              "enum": [
                "Labeling",
                "Paused",
                "Incomplete",
                "Flagged",
                "Done",
                "None"
              ]
            }
          },
          "sortCriteria": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ListOfSortCriterion"
              }
            ]
          }
        }
      },
      "GetWorkflowByIdResult": {
        "required": [
          "workflow"
        ],
        "type": "object",
        "properties": {
          "workflow": {
            "$ref": "#/components/schemas/IWorkflowModel"
          }
        }
      },
      "GetWorkflowProgressResult": {
        "required": [
          "completionPercentage",
          "total",
          "completed",
          "state"
        ],
        "type": "object",
        "properties": {
          "completionPercentage": {
            "type": "number",
            "format": "double"
          },
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "completed": {
            "type": "integer",
            "format": "int64"
          },
          "state": {
            "$ref": "#/components/schemas/WorkflowState"
          }
        }
      },
      "GetWorkflowResultsResult": {
        "required": [
          "rapidId",
          "payload",
          "asset",
          "responses",
          "state"
        ],
        "type": "object",
        "properties": {
          "rapidId": {
            "type": "string"
          },
          "payload": {
            "$ref": "#/components/schemas/IRapidPayload"
          },
          "asset": {
            "$ref": "#/components/schemas/IAssetModel"
          },
          "responses": {
            "$ref": "#/components/schemas/ListOfGetWorkflowResultsResult_Response"
          },
          "state": {
            "$ref": "#/components/schemas/RapidState"
          },
          "context": {
            "type": "string",
            "nullable": true
          },
          "contextAsset": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/IAssetModel"
              }
            ]
          }
        }
      },
      "GetWorkflowResultsResult_Response": {
        "required": [
          "id",
          "userId",
          "country",
          "result",
          "userScore",
          "userScores",
          "demographicInformation"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/IRapidResult"
          },
          "userScore": {
            "type": "number",
            "format": "double"
          },
          "userScores": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            }
          },
          "demographicInformation": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "IAssetModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IAssetModelFileAssetModel"
          },
          {
            "$ref": "#/components/schemas/IAssetModelMultiAssetModel"
          },
          {
            "$ref": "#/components/schemas/IAssetModelNullAssetModel"
          },
          {
            "$ref": "#/components/schemas/IAssetModelTextAssetModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "FileAsset": "#/components/schemas/IAssetModelFileAssetModel",
            "MultiAsset": "#/components/schemas/IAssetModelMultiAssetModel",
            "NullAsset": "#/components/schemas/IAssetModelNullAssetModel",
            "TextAsset": "#/components/schemas/IAssetModelTextAssetModel"
          }
        }
      },
      "IAssetModelFileAssetModel": {
        "required": [
          "fileName",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileAsset"
            ],
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetModelMultiAssetModel": {
        "required": [
          "assets",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "MultiAsset"
            ],
            "type": "string"
          },
          "assets": {
            "$ref": "#/components/schemas/ListOfIAssetModel"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetModelNullAssetModel": {
        "required": [
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NullAsset"
            ],
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IAssetModelTextAssetModel": {
        "required": [
          "text",
          "metadata",
          "identifier",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextAsset"
            ],
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataModelCollection"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "IMetadataModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IMetadataModelClassificationMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelCountMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelFileTypeMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelImageDimensionMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelLocationMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelOriginalFilenameMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelSourceUrlMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelStreamsMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelTextMetadataModel"
          },
          {
            "$ref": "#/components/schemas/IMetadataModelVideoDurationMetadataModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "ClassificationMetadata": "#/components/schemas/IMetadataModelClassificationMetadataModel",
            "CountMetadata": "#/components/schemas/IMetadataModelCountMetadataModel",
            "FileTypeMetadata": "#/components/schemas/IMetadataModelFileTypeMetadataModel",
            "ImageDimensionMetadata": "#/components/schemas/IMetadataModelImageDimensionMetadataModel",
            "LocationMetadata": "#/components/schemas/IMetadataModelLocationMetadataModel",
            "OriginalFilenameMetadata": "#/components/schemas/IMetadataModelOriginalFilenameMetadataModel",
            "SourceUrlMetadataModel": "#/components/schemas/IMetadataModelSourceUrlMetadataModel",
            "StreamsMetadata": "#/components/schemas/IMetadataModelStreamsMetadataModel",
            "TextMetadata": "#/components/schemas/IMetadataModelTextMetadataModel",
            "VideoDurationMetadata": "#/components/schemas/IMetadataModelVideoDurationMetadataModel"
          }
        }
      },
      "IMetadataModelClassificationMetadataModel": {
        "required": [
          "classification",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassificationMetadata"
            ],
            "type": "string"
          },
          "classification": {
            "type": "string"
          }
        }
      },
      "IMetadataModelCountMetadataModel": {
        "required": [
          "count",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CountMetadata"
            ],
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IMetadataModelFileTypeMetadataModel": {
        "required": [
          "fileType",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FileTypeMetadata"
            ],
            "type": "string"
          },
          "fileType": {
            "$ref": "#/components/schemas/FileType"
          }
        }
      },
      "IMetadataModelImageDimensionMetadataModel": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ImageDimensionMetadata"
            ],
            "type": "string"
          },
          "height": {
            "type": "integer",
            "format": "int32"
          },
          "width": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IMetadataModelLocationMetadataModel": {
        "required": [
          "x",
          "y",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocationMetadata"
            ],
            "type": "string"
          },
          "x": {
            "type": "number",
            "format": "float"
          },
          "y": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "IMetadataModelOriginalFilenameMetadataModel": {
        "required": [
          "originalFilename",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OriginalFilenameMetadata"
            ],
            "type": "string"
          },
          "originalFilename": {
            "type": "string"
          }
        }
      },
      "IMetadataModelSourceUrlMetadataModel": {
        "required": [
          "url",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SourceUrlMetadataModel"
            ],
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "IMetadataModelStreamsMetadataModel": {
        "required": [
          "hasVideo",
          "hasAudio",
          "hasSubtitles",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "StreamsMetadata"
            ],
            "type": "string"
          },
          "hasVideo": {
            "type": "boolean"
          },
          "hasAudio": {
            "type": "boolean"
          },
          "hasSubtitles": {
            "type": "boolean"
          }
        }
      },
      "IMetadataModelTextMetadataModel": {
        "required": [
          "text",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TextMetadata"
            ],
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IMetadataModelVideoDurationMetadataModel": {
        "required": [
          "duration",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "VideoDurationMetadata"
            ],
            "type": "string"
          },
          "duration": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IPairMakerInformation": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IPairMakerInformationOnlinePairMakerInformation"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "OnlinePairMakerInformation": "#/components/schemas/IPairMakerInformationOnlinePairMakerInformation"
          }
        }
      },
      "IPairMakerInformationOnlinePairMakerInformation": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "OnlinePairMakerInformation"
            ],
            "type": "string"
          },
          "randomMatchesRatio": {
            "type": "number",
            "format": "float"
          },
          "totalComparisonBudget": {
            "type": "integer",
            "format": "int32"
          },
          "currentComparisonBudget": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IRapidBlueprint": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintScrubRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintPolygonRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintLocateRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintLineRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintCompareRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint"
          },
          {
            "$ref": "#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "TranscriptionBlueprint": "#/components/schemas/IRapidBlueprintTranscriptionRapidBlueprint",
            "ScrubBlueprint": "#/components/schemas/IRapidBlueprintScrubRapidBlueprint",
            "PolygonBlueprint": "#/components/schemas/IRapidBlueprintPolygonRapidBlueprint",
            "NamedEntityBlueprint": "#/components/schemas/IRapidBlueprintNamedEntityRapidBlueprint",
            "LocateBlueprint": "#/components/schemas/IRapidBlueprintLocateRapidBlueprint",
            "LineBlueprint": "#/components/schemas/IRapidBlueprintLineRapidBlueprint",
            "FreeTextBlueprint": "#/components/schemas/IRapidBlueprintFreeTextRapidBlueprint",
            "CompareBlueprint": "#/components/schemas/IRapidBlueprintCompareRapidBlueprint",
            "ClassifyBlueprint": "#/components/schemas/IRapidBlueprintAttachCategoryRapidBlueprint",
            "BoundingBoxBlueprint": "#/components/schemas/IRapidBlueprintBoundingBoxRapidBlueprint"
          }
        }
      },
      "IRapidBlueprintAttachCategoryRapidBlueprint": {
        "required": [
          "title",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassifyBlueprint"
            ],
            "type": "string"
          },
          "possibleCategories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "categories": {
            "$ref": "#/components/schemas/ListOfAttachCategoryRapidBlueprint_Category"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintBoundingBoxRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BoundingBoxBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintCompareRapidBlueprint": {
        "required": [
          "criteria",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareBlueprint"
            ],
            "type": "string"
          },
          "criteria": {
            "type": "string"
          },
          "indexIdentifiers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IRapidBlueprintFreeTextRapidBlueprint": {
        "required": [
          "question",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FreeTextBlueprint"
            ],
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "shouldValidateResponse": {
            "type": "boolean"
          },
          "validationSystemPrompt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IRapidBlueprintLineRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LineBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintLocateRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocateBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintNamedEntityRapidBlueprint": {
        "required": [
          "target",
          "classes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NamedEntityBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "classes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IRapidBlueprintPolygonRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PolygonBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintScrubRapidBlueprint": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ScrubBlueprint"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidBlueprintTranscriptionRapidBlueprint": {
        "required": [
          "title",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TranscriptionBlueprint"
            ],
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IRapidPayload": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRapidPayloadTranscriptionPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadScrubPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadPolygonPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadNamedEntityPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadLocatePayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadLinePayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadFreeTextPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadComparePayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadClassifyPayload"
          },
          {
            "$ref": "#/components/schemas/IRapidPayloadBoundingBoxPayload"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "TranscriptionPayload": "#/components/schemas/IRapidPayloadTranscriptionPayload",
            "ScrubPayload": "#/components/schemas/IRapidPayloadScrubPayload",
            "PolygonPayload": "#/components/schemas/IRapidPayloadPolygonPayload",
            "NamedEntityPayload": "#/components/schemas/IRapidPayloadNamedEntityPayload",
            "LocatePayload": "#/components/schemas/IRapidPayloadLocatePayload",
            "LinePayload": "#/components/schemas/IRapidPayloadLinePayload",
            "FreeTextPayload": "#/components/schemas/IRapidPayloadFreeTextPayload",
            "ComparePayload": "#/components/schemas/IRapidPayloadComparePayload",
            "ClassifyPayload": "#/components/schemas/IRapidPayloadClassifyPayload",
            "BoundingBoxPayload": "#/components/schemas/IRapidPayloadBoundingBoxPayload"
          }
        }
      },
      "IRapidPayloadBoundingBoxPayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BoundingBoxPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadClassifyPayload": {
        "required": [
          "categories",
          "title",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ClassifyPayload"
            ],
            "type": "string"
          },
          "categories": {
            "$ref": "#/components/schemas/ListOfClassifyPayload_Category"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadComparePayload": {
        "required": [
          "criteria",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ComparePayload"
            ],
            "type": "string"
          },
          "criteria": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadFreeTextPayload": {
        "required": [
          "question",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FreeTextPayload"
            ],
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "shouldValidateResponse": {
            "type": "boolean"
          },
          "validationSystemPrompt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IRapidPayloadLinePayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LinePayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadLocatePayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocatePayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadNamedEntityPayload": {
        "required": [
          "target",
          "classes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NamedEntityPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "classes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IRapidPayloadPolygonPayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PolygonPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadScrubPayload": {
        "required": [
          "target",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ScrubPayload"
            ],
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "IRapidPayloadTranscriptionPayload": {
        "required": [
          "title",
          "transcription",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TranscriptionPayload"
            ],
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "transcription": {
            "$ref": "#/components/schemas/ListOfTranscriptionWord"
          }
        }
      },
      "IRapidResult": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRapidResultTranscriptionResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultScrubResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultPolygonResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultNamedEntityResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultLocateResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultLineResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultFreeTextResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultCompareResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultSkipResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultAttachCategoryResult"
          },
          {
            "$ref": "#/components/schemas/IRapidResultBoundingBoxResult"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "TranscriptionResult": "#/components/schemas/IRapidResultTranscriptionResult",
            "ScrubResult": "#/components/schemas/IRapidResultScrubResult",
            "PolygonResult": "#/components/schemas/IRapidResultPolygonResult",
            "NamedEntityResult": "#/components/schemas/IRapidResultNamedEntityResult",
            "LocateResult": "#/components/schemas/IRapidResultLocateResult",
            "LineResult": "#/components/schemas/IRapidResultLineResult",
            "FreeTextResult": "#/components/schemas/IRapidResultFreeTextResult",
            "CompareResult": "#/components/schemas/IRapidResultCompareResult",
            "SkipResult": "#/components/schemas/IRapidResultSkipResult",
            "AttachCategoryResult": "#/components/schemas/IRapidResultAttachCategoryResult",
            "BoundingBoxResult": "#/components/schemas/IRapidResultBoundingBoxResult"
          }
        }
      },
      "IRapidResultAttachCategoryResult": {
        "required": [
          "category",
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "AttachCategoryResult"
            ],
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          }
        }
      },
      "IRapidResultBoundingBoxResult": {
        "required": [
          "boundingBoxes",
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "BoundingBoxResult"
            ],
            "type": "string"
          },
          "boundingBoxes": {
            "$ref": "#/components/schemas/ListOfBoxShape"
          },
          "rapidId": {
            "type": "string"
          }
        }
      },
      "IRapidResultCompareResult": {
        "required": [
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareResult"
            ],
            "type": "string"
          },
          "winners": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rapidId": {
            "type": "string"
          }
        }
      },
      "IRapidResultFreeTextResult": {
        "required": [
          "answer",
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "FreeTextResult"
            ],
            "type": "string"
          },
          "answer": {
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          }
        }
      },
      "IRapidResultLineResult": {
        "required": [
          "lines",
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LineResult"
            ],
            "type": "string"
          },
          "lines": {
            "$ref": "#/components/schemas/ListOfLineResult_Line"
          },
          "rapidId": {
            "type": "string"
          }
        }
      },
      "IRapidResultLocateResult": {
        "required": [
          "coordinates",
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "LocateResult"
            ],
            "type": "string"
          },
          "coordinates": {
            "$ref": "#/components/schemas/ListOfLocateCoordinate"
          },
          "rapidId": {
            "type": "string"
          }
        }
      },
      "IRapidResultNamedEntityResult": {
        "required": [
          "classifications",
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NamedEntityResult"
            ],
            "type": "string"
          },
          "classifications": {
            "$ref": "#/components/schemas/ListOfNamedClassification"
          },
          "rapidId": {
            "type": "string"
          }
        }
      },
      "IRapidResultPolygonResult": {
        "required": [
          "shapes",
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "PolygonResult"
            ],
            "type": "string"
          },
          "shapes": {
            "$ref": "#/components/schemas/ListOfPolygonResult_Shape"
          },
          "rapidId": {
            "type": "string"
          }
        }
      },
      "IRapidResultScrubResult": {
        "required": [
          "timestamps",
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ScrubResult"
            ],
            "type": "string"
          },
          "timestamps": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "rapidId": {
            "type": "string"
          }
        }
      },
      "IRapidResultSkipResult": {
        "required": [
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SkipResult"
            ],
            "type": "string"
          },
          "rapidId": {
            "type": "string"
          }
        }
      },
      "IRapidResultTranscriptionResult": {
        "required": [
          "selectedWords",
          "rapidId",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "TranscriptionResult"
            ],
            "type": "string"
          },
          "selectedWords": {
            "$ref": "#/components/schemas/ListOfTranscriptionWord"
          },
          "rapidId": {
            "type": "string"
          }
        }
      },
      "IRefereeConfig": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IRefereeConfigNaiveRefereeConfig"
          },
          {
            "$ref": "#/components/schemas/IRefereeConfigNeverEndingRefereeConfig"
          },
          {
            "$ref": "#/components/schemas/IRefereeConfigProbabilisticAttachCategoryRefereeConfig"
          },
          {
            "$ref": "#/components/schemas/IRefereeConfigQuorumRefereeConfig"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "NaiveRefereeConfig": "#/components/schemas/IRefereeConfigNaiveRefereeConfig",
            "NeverEndingRefereeConfig": "#/components/schemas/IRefereeConfigNeverEndingRefereeConfig",
            "ProbabilisticAttachCategoryRefereeConfig": "#/components/schemas/IRefereeConfigProbabilisticAttachCategoryRefereeConfig",
            "QuorumRefereeConfig": "#/components/schemas/IRefereeConfigQuorumRefereeConfig"
          }
        }
      },
      "IRefereeConfigNaiveRefereeConfig": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NaiveRefereeConfig"
            ],
            "type": "string"
          },
          "guessesRequired": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IRefereeConfigNeverEndingRefereeConfig": {
        "required": [
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "NeverEndingRefereeConfig"
            ],
            "type": "string"
          }
        }
      },
      "IRefereeConfigProbabilisticAttachCategoryRefereeConfig": {
        "required": [
          "threshold",
          "maxVotes",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "ProbabilisticAttachCategoryRefereeConfig"
            ],
            "type": "string"
          },
          "threshold": {
            "type": "number",
            "format": "double"
          },
          "maxVotes": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IRefereeConfigQuorumRefereeConfig": {
        "required": [
          "maxVotes",
          "threshold",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "QuorumRefereeConfig"
            ],
            "type": "string"
          },
          "maxVotes": {
            "type": "integer",
            "format": "int32"
          },
          "threshold": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "IWorkflowModel": {
        "required": [
          "_t"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/IWorkflowModelCompareWorkflowModel"
          },
          {
            "$ref": "#/components/schemas/IWorkflowModelEvaluationWorkflowModel"
          },
          {
            "$ref": "#/components/schemas/IWorkflowModelGroupedRankingWorkflowModel"
          },
          {
            "$ref": "#/components/schemas/IWorkflowModelSimpleWorkflowModel"
          }
        ],
        "discriminator": {
          "propertyName": "_t",
          "mapping": {
            "CompareWorkflowModel": "#/components/schemas/IWorkflowModelCompareWorkflowModel",
            "EvaluationWorkflow": "#/components/schemas/IWorkflowModelEvaluationWorkflowModel",
            "GroupedRankingWorkflowModel": "#/components/schemas/IWorkflowModelGroupedRankingWorkflowModel",
            "SimpleWorkflowModel": "#/components/schemas/IWorkflowModelSimpleWorkflowModel"
          }
        }
      },
      "IWorkflowModelCompareWorkflowModel": {
        "required": [
          "id",
          "referee",
          "pairMakerInformation",
          "state",
          "criteria",
          "name",
          "eloConfig",
          "context",
          "contextAsset",
          "ownerMail",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "CompareWorkflowModel"
            ],
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "referee": {
            "$ref": "#/components/schemas/IRefereeConfig"
          },
          "pairMakerInformation": {
            "$ref": "#/components/schemas/IPairMakerInformation"
          },
          "state": {
            "type": "string"
          },
          "criteria": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "eloConfig": {
            "$ref": "#/components/schemas/EloConfig"
          },
          "context": {
            "type": "string",
            "nullable": true
          },
          "contextAsset": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/IAssetModel"
              }
            ]
          },
          "ownerMail": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IWorkflowModelEvaluationWorkflowModel": {
        "required": [
          "id",
          "validationSetId",
          "state",
          "referee",
          "name",
          "ownerMail",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "EvaluationWorkflow"
            ],
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "validationSetId": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "referee": {
            "$ref": "#/components/schemas/IRefereeConfig"
          },
          "name": {
            "type": "string"
          },
          "ownerMail": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IWorkflowModelGroupedRankingWorkflowModel": {
        "required": [
          "id",
          "referee",
          "state",
          "criteria",
          "name",
          "ownerMail",
          "eloConfig",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "GroupedRankingWorkflowModel"
            ],
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "referee": {
            "$ref": "#/components/schemas/IRefereeConfig"
          },
          "state": {
            "type": "string"
          },
          "criteria": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "ownerMail": {
            "type": "string",
            "nullable": true
          },
          "eloConfig": {
            "$ref": "#/components/schemas/EloConfig"
          }
        }
      },
      "IWorkflowModelSimpleWorkflowModel": {
        "required": [
          "id",
          "state",
          "blueprint",
          "referee",
          "name",
          "ownerMail",
          "_t"
        ],
        "properties": {
          "_t": {
            "enum": [
              "SimpleWorkflowModel"
            ],
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "blueprint": {
            "$ref": "#/components/schemas/IRapidBlueprint"
          },
          "referee": {
            "$ref": "#/components/schemas/IRefereeConfig"
          },
          "name": {
            "type": "string"
          },
          "ownerMail": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "LineResult_Line": {
        "required": [
          "size",
          "points"
        ],
        "type": "object",
        "properties": {
          "size": {
            "type": "number",
            "format": "double"
          },
          "points": {
            "$ref": "#/components/schemas/ListOfLineResult_LinePoint"
          }
        }
      },
      "LineResult_LinePoint": {
        "required": [
          "x",
          "y"
        ],
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "format": "double"
          },
          "y": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ListOfAttachCategoryRapidBlueprint_Category": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AttachCategoryRapidBlueprint_Category"
        }
      },
      "ListOfBoxShape": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BoxShape"
        }
      },
      "ListOfClassifyPayload_Category": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ClassifyPayload_Category"
        }
      },
      "ListOfFilter": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Filter"
        }
      },
      "ListOfGetCompareWorkflowResultsResult": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/GetCompareWorkflowResultsResult"
        }
      },
      "ListOfGetGroupedRankingWorkflowResultsResult": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/GetGroupedRankingWorkflowResultsResult"
        }
      },
      "ListOfGetResponsesResult_Response": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/GetResponsesResult_Response"
        }
      },
      "ListOfGetWorkflowResultsResult": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/GetWorkflowResultsResult"
        }
      },
      "ListOfGetWorkflowResultsResult_Response": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/GetWorkflowResultsResult_Response"
        }
      },
      "ListOfIAssetModel": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/IAssetModel"
        }
      },
      "ListOfIWorkflowModel": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/IWorkflowModel"
        }
      },
      "ListOfLineResult_Line": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/LineResult_Line"
        }
      },
      "ListOfLineResult_LinePoint": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/LineResult_LinePoint"
        }
      },
      "ListOfLocateCoordinate": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/LocateCoordinate"
        }
      },
      "ListOfNamedClassification": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/NamedClassification"
        }
      },
      "ListOfPolygonResult_Coordinate": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PolygonResult_Coordinate"
        }
      },
      "ListOfPolygonResult_Shape": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PolygonResult_Shape"
        }
      },
      "ListOfSortCriterion": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SortCriterion"
        }
      },
      "ListOfTranscriptionWord": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TranscriptionWord"
        }
      },
      "LocateCoordinate": {
        "required": [
          "x",
          "y"
        ],
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "format": "double"
          },
          "y": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "LogicOperator": {
        "enum": [
          "And",
          "Or",
          "Not"
        ]
      },
      "MetadataModelCollection": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/IMetadataModel"
        }
      },
      "NamedClassification": {
        "required": [
          "start",
          "end",
          "classification"
        ],
        "type": "object",
        "properties": {
          "start": {
            "type": "integer",
            "format": "int32"
          },
          "end": {
            "type": "integer",
            "format": "int32"
          },
          "classification": {
            "type": "string"
          }
        }
      },
      "PagedResultOfGetCompareWorkflowResultsResult": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "$ref": "#/components/schemas/ListOfGetCompareWorkflowResultsResult"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PagedResultOfGetGroupedRankingWorkflowResultsResult": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "$ref": "#/components/schemas/ListOfGetGroupedRankingWorkflowResultsResult"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PagedResultOfGetWorkflowResultsResult": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "$ref": "#/components/schemas/ListOfGetWorkflowResultsResult"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PagedResultOfIWorkflowModel": {
        "required": [
          "total",
          "page",
          "pageSize",
          "items"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "$ref": "#/components/schemas/ListOfIWorkflowModel"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PageInfo": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PolygonResult_Coordinate": {
        "required": [
          "x",
          "y"
        ],
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "format": "double"
          },
          "y": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "PolygonResult_Shape": {
        "required": [
          "edges"
        ],
        "type": "object",
        "properties": {
          "edges": {
            "$ref": "#/components/schemas/ListOfPolygonResult_Coordinate"
          }
        }
      },
      "QueryModel": {
        "type": "object",
        "properties": {
          "page": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/PageInfo"
              }
            ]
          },
          "filter": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/RootFilter"
              }
            ]
          },
          "sortCriteria": {
            "oneOf": [
              {
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ListOfSortCriterion"
              }
            ]
          }
        }
      },
      "RapidState": {
        "enum": [
          "Labeling",
          "Paused",
          "Incomplete",
          "Flagged",
          "Done",
          "None"
        ]
      },
      "RootFilter": {
        "type": "object",
        "properties": {
          "filters": {
            "$ref": "#/components/schemas/ListOfFilter"
          },
          "logic": {
            "$ref": "#/components/schemas/LogicOperator"
          }
        }
      },
      "SortCriterion": {
        "required": [
          "propertyName",
          "direction"
        ],
        "type": "object",
        "properties": {
          "propertyName": {
            "type": "string"
          },
          "direction": {
            "$ref": "#/components/schemas/SortDirection"
          }
        }
      },
      "SortDirection": {
        "enum": [
          "Asc",
          "Desc"
        ]
      },
      "TranscriptionWord": {
        "required": [
          "word",
          "wordIndex"
        ],
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "wordIndex": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "WorkflowState": {
        "enum": [
          "Created",
          "Started",
          "Labeling",
          "Paused",
          "Done",
          "Failed"
        ]
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "JWT Authorization header using the Bearer scheme",
        "scheme": "bearer",
        "bearerFormat": "Json Web Token"
      },
      "OpenIdConnect": {
        "type": "openIdConnect",
        "description": "OpenId Connect connection flow",
        "openIdConnectUrl": "https://auth.rabbitdata.ch/.well-known/openid-configuration"
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth2 authorization header using the Bearer scheme",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.rabbitdata.ch/connect/authorize",
            "tokenUrl": "https://auth.rabbitdata.ch/connect/token",
            "refreshUrl": "https://auth.rabbitdata.ch/connect/token",
            "scopes": {
              "openid": "OpenID",
              "profile": "Profile",
              "email": "Email"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "Bearer": [ ],
      "OpenIdConnect": [
        "openid",
        "profile",
        "email"
      ],
      "OAuth2": [
        "openid",
        "profile",
        "email"
      ]
    }
  ],
  "tags": [
    {
      "name": "CompareWorkflow"
    },
    {
      "name": "EvaluationWorkflow"
    },
    {
      "name": "GroupedRankingWorkflow"
    },
    {
      "name": "SimpleWorkflow"
    },
    {
      "name": "Workflow"
    }
  ]
}