name: Python Type Checking with Pyright

on:
  pull_request:
    branches: [main, 2.x]
    types: [opened, synchronize, reopened]

jobs:
  type-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      
      - run: uv sync
      
      - uses: jakebailey/pyright-action@v2
        with:
          version: v1.1.396
          working-directory: src/rapidata/rapidata_client
