name: Python Type Checking with Pyright

on:
  pull_request:
    branches: [main, 2.x]
    types: [opened, synchronize, reopened]

jobs:
  type-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - run: pipx install poetry
      - uses: actions/setup-python@v5
        with:
          cache: 'poetry'
      
      - run: poetry install
      - run: echo "$(poetry env info --path)/bin" >> $GITHUB_PATH
      
      - uses: jakebailey/pyright-action@v2
        with:
          version: v1.1.396
          working-directory: src/rapidata/rapidata_client
